@charset "UTF-8";
/*-- reset.CSS --*/
html,body{width:100%; height:auto; margin:0; padding:0;}
html{font-size: 100%; color:#1C1C1C; background: #ffffff;}
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, input, p, blockquote, fieldset, div, section, a{margin: 0;padding: 0; box-sizing: border-box;}
h3, h4{font-weight: bold;}
ul li, ol li{list-style: none;}
table{margin: 0;padding: 0;font-size: 100%;}
caption{text-align: left;}
table, pre, code, select, textarea, kbd, var, ins, del, samp{font-size: 100%;}
address,cite,dfn,em,strong,var,th,ins,del,samp{font-weight: normal;font-style: normal;}
img{border:none; display: block; width: 100%;}
a, a:visited{color:#1C1C1C; text-decoration: none; }
a:hover{text-decoration: none; }
body{
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
    color: #1C1C1C;
    font-size: 62.5%;
    font-size: 14px;
    line-height: 1.5;
    font-family: "Roboto", "Noto Sans JP", sans-serif;
}

/*-- style.CSS --*/
.bg-sfblue{ background: #0d9dda;}
.txt-sfblue{ color: #0d9dda;}

.bg-gray{ background: #EFF4FA;}
.bg-blue{ background: #0D7EDA;}
.bg-green{ color: #03BE75;}

.bg-gray-grade{ background: linear-gradient(180deg, rgba(243,248,254,1) 0%, rgba(230,243,247,1) 100%);}
.bg-blue-grade{ background: linear-gradient(180deg, rgba(13,126,218,1) 0%, rgba(0,188,196,1) 100%);;}

.txt-white{ color: #FFF;}
.txt-navy{ color: #042D4E;}
.txt-blue{ color: #0D7EDA;}
.txt-green{ color: #03BE75;}
.txt-yellow{ color: #F6FF79;}

.txt-bold{ font-weight: bold;}
.marker{ background: linear-gradient(transparent 50%, #F6FF79 50%);}

.lp-wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.pc-wrap {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding: 0 4%;
    background: url("../images/bg_pc_mv.jpg") no-repeat;
    background-size: cover;
    background-position: center top;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.sp-wrap {
    width: 30%;
    min-width: 360px;
    margin: 0 auto;
    background: #FFF;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateY(0) translateX(-50%);
    transform: translateY(0) translateX(-50%);
    z-index: 9000;
}
header{
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
}
.header-in{
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1.h1-logo{
    width: 20%;
}
p.header-btn{
   width: 44%;
}
p.header-btn a{ 
    width: 100%;
    padding: 12px 5px 10px;
    display: block;
    font-size: 14px;
    text-align: center;
    color: #FFF;
    background: #03BE75 url("../images/icon_mail_w.svg") no-repeat;
    background-size: 18px;
    background-position: center right 8%;
    border-radius: 200px;
    padding-right:9%;
}
.footer-in{
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}
.footer-in p.copyright{
    color: #A9B3BA;
    font-size: 12px;
    text-align: center;
}
/*-- .pc-wrapのみ --*/
.pc-logo{
    width: 25%;
    max-width: 140px;
    margin-top: 30px;
}
ul.pc-link {
    margin-top: 5%;
    margin-left: 1.5%;
}
ul.pc-link li{
    margin-bottom: 3%;
}
ul.pc-link li a{
    font-size: 12px;
}
ul.pc-link li a span{
    display: block;
    color: #A9B3BA;
    font-size: 17px;
}
.pc-box-right{
    position: absolute;
    right: 5.5%;
    bottom: 7%;
}
.pc-copy{
    color: #E3E6EE;
    font-family: "Libre Baskerville", serif;
    font-size: 2.0vw;
    text-align: right;
}
.pc-copy span{
    margin-top: 2%;
    color: #D3D7DF;
    display: block;
    font-size: 7.4vw;
    line-height: 0.8;
}
.pc-wrap p.header-btn{
    width: 70%;
    margin: 10% 0 0 auto;
}

/*-- common style --*/
h2.h2-common{
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
h2.h2-common span{
    margin-bottom: 10px;
    display: block;
    color: #A9B3BA;
    font-size: 17px;
    font-weight: 400;
}
h2.h2-common::after{
    content: "";
    width: 40px;
    height: 3px;
    margin: 15px auto 0;
    display: block;
    background: #0D7EDA;
}
.sec-common{
    width: 100%;
    margin: 0 auto;
    padding: 60px 5% 60px;
}
p.contact-btn{
    margin: 20px auto 0;
}
p.contact-btn a{ 
    width: 100%;
    padding: 12px 5px 10px;
    display: block;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    background: #F25344 url("../images/icon_arrow_w.svg") no-repeat;
    background-size: 10px;
    background-position: center right 15px;
    border-radius: 200px;
    transition: 0.3s;
}
p.contact-btn a:hover{ 
    opacity: 0.7;
}
/*-- CTA style --*/
.sec-cta{
    width: 100%;
    margin: 0 auto;
    padding: 40px 5% 40px;
}
.sec-cta h2.h2-cta{
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F6FF79;
    font-size: 24px;
    text-align: center;
}
.sec-cta h2.h2-cta::before, .sec-cta h2.h2-cta::after {
    width: 2px;
    height: 72px;
    content: '';
    background: #F6FF79;
}
.sec-cta h2.h2-cta::before {
    margin-right: 30px;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}
.sec-cta h2.h2-cta::after {
    margin-left: 30px;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}
.sec-cta p.sec-cta-tel{
    color: #FFF;
    font-size: 40px;
    text-align: center;
}
.sec-cta p.sec-cta-tel a{color: #FFF;}
.sec-cta p.sec-cta-tel span{
    display: block;
    font-size: 14px;
}
.sec-cta p.sec-cta-tel::before{
    width: 35px;
    height: 35px;
    margin-top: -5px;
    margin-right: 10px;
    background: url("../images/ icon_tel.svg") no-repeat;
    content: "";
    display: inline-block;
    vertical-align: middle;
}
/*-- parts style --*/
p.txt-common{
    margin: 0 auto 15px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 1.8;
}
p.txt-subtll{
    margin: 30px auto;
    padding: 10px 5px;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 200px;
}
.img-common{
    width: 100%;
    margin: 0 auto;
}
.box-detail-img{
    width: 90%;
    margin: 0 auto 10px;
}
.box-white{
    width: 100%;
    margin: 0 auto;
    padding: 2.5% 5%;
    background: #FFF;
    border-radius: 10px;
}
.box-detail{
    width: 100%;
    margin: 0 auto 20px;
    padding: 20px 5% 30px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 14px 0px rgba(127, 130, 132, 0.25);
}

p.box-detail-ttl{
    margin: 0 auto 10px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}
p.box-detail-txt{
    font-size: 15px;
    text-align: center;
}
ul.box-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul.box-list li{
    width: calc((100% - 15px)/2);
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 20px 10px;
    background: #FFF;
    border-radius: 10px;
}
ul.box-list li:nth-child(even),ul.box-list li:last-child{
    margin-right: 0;
}
ul.box-list li .box-list-img{
    width: 85%;
    margin: 0 auto;
}
ul.box-list li p.box-list-ttl{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

ul.txt-list{
    width: 100%;
    margin: 15px auto;
}
ul.txt-list li{
    margin-bottom: 5px;
    padding-left: 28px;
    font-size: 16px;
}
ul.txt-list li::before{
    width: 20px;
    height: 20px;
    margin-top: -4px;
    margin-left: -28px;
    margin-right: 8px;
    background: url("../images/icon_check.svg") no-repeat;
    background-size: 20px;
    content: '';
    display: inline-block;
    vertical-align: middle;
}
/*-- MV style --*/
.mv{
    background: #0D7EDA url("../images/bg_mv01.png") no-repeat;
    background-size: 100%;
    background-position: top right;
}
.mv-in{
    width: 90%;
    margin: 0 auto;
    padding: 80px 0 60px;
    text-align: center;
}
.mv-img{
    width: 70%;
    margin: 0 auto;
}
p.mv-copy{
    margin-bottom: 5px;
    font-size: 42px;
    font-weight: 800;
    line-height: 1.3;
    position: relative;
}
p.mv-copy span.large{
    font-size: 62px;
}
p.mv-copy:after {
    width: 80px;
    height: 12px;
    margin: 7px auto;
    content: '';
    display: block;
    background: url("../images/icon_mv_h2_arrow.svg") no-repeat;
}
p.mv-copy-sub{
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 800;
}
p.mv-txt{
    color: #FFF;
    font-size: 17px;
    font-weight: 500;
}
.mv p.contact-btn{
    width: 100%;
    margin: 30px auto 0;
}

.sec2{
    background: url("../images/bg_slack01.jpg") no-repeat,url("../images/bg_slack02.jpg") no-repeat;
    background-size: 135%,110%;
    background-position: top 5% left 50%,bottom center;
}