@charset "UTF-8";
/* CSS Document */
@media screen and (max-width: 768px) {
.h2-wrap{flex-direction: row}
}
/*------------------------------------------------------------------------------------------------
    feature3
--------------------------------------------------------------------------------------------------*/
.main-wrap .sec-inn-s .article-wrap .lead-wrap{
	font-size:1.7rem;
	font-weight: 400;
	line-height: 3;
}
.main-wrap .sec-inn-s .article-wrap .lead-wrap img{
	width:62.5%;
	margin: 0 auto
}
.main-wrap .sec-inn-s .article-wrap .lead-wrap p{
	margin-top: 75px
}



@media screen and (max-width:1023px) {


}
@media screen and (max-width: 768px) {
.main-wrap .sec-inn-s .article-wrap .lead-wrap{
	font-size:3.8vw;
	font-weight: 400;
	line-height: 2.5;
}
.main-wrap .sec-inn-s .article-wrap .lead-wrap img{
	width:75%;
	margin: 0 auto
}
.main-wrap .sec-inn-s .article-wrap .lead-wrap p{
	margin-top: 10vw
}

}


