@charset "UTF-8";
/* CSS Document */


.feature-ttl-txt{
	width:8.3vw;
	max-width: 100px;
	height:8.3vw;
	max-height:  100px;
	background: #477740;
	border-radius: 50%;
	color:#fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center
}
.feature-ttl-txt .txt-ja{font-size:1.08vw;font-weight: 500}
.feature-ttl-txt .txt-en{font-size:0.7vw;font-weight: 500;letter-spacing: 0.1em}
.feature-ttl-txt .txt-no{font-size:3.08vw;line-height: 1}

@media screen and (min-width:1200px) {
.feature-ttl-txt .txt-ja{font-size:1.3rem;font-weight: 500}
.feature-ttl-txt .txt-en{font-size:0.9rem;font-weight: 500;letter-spacing: 0.1em}
.feature-ttl-txt .txt-no{font-size:3.7rem;line-height: 1}
}
@media screen and (max-width: 768px) {
	.feature-ttl-txt{
	width:20vw;
	max-width: inherit;
	height:20vw;
	max-height:  inherit;
}
.feature-ttl-txt .txt-ja{font-size:3.2vw;font-weight: 500}
.feature-ttl-txt .txt-en{font-size:2.0vw;font-weight: 500;letter-spacing: 0.1em}
.feature-ttl-txt .txt-no{font-size:8vw;line-height: 1}

}
/*------------------------------------------------------------------------------------------------
    index
--------------------------------------------------------------------------------------------------*/

.feature-list-wrap{
	display: flex;
	justify-content: space-between
}

.feature-list-wrap:not(:last-child){
	margin-bottom:  7.5vw
}

.feature-list-wrap >div{
	width:46%
}

.feature-list-wrap .img-box{
	position: relative
}

.feature-list-wrap .l-box .feature-ttl-txt{
	position: absolute;
	top:5%;
	right:-10%
}
.feature-list-wrap .r-box .feature-ttl-txt{
	position: absolute;
	top:5%;
	left:-10%
}

.feature-list-wrap .txt-box{
	padding-top: 5%
}
.feature-list-wrap .txt-box .ttl-txt{
	font-size:2.8rem;
	font-weight: 600;
	padding-bottom: 5%
}
.feature-list-wrap .txt-box .normal-txt{
	line-height: 2.5;
	padding-bottom: 5%
}


@media screen and (min-width:1200px) {

	.feature-wrap:not(:last-child){
		margin-bottom:  90px
	}


}

@media screen and (max-width: 768px) {
	.feature-list-wrap{
		flex-direction: column
	}

.feature-list-wrap:not(:last-child){
	margin-bottom:  16vw
}

	.feature-list-wrap >div{
		width:100%
	}

	.feature-list-wrap .img-box{
		order: 1
	}
	.feature-list-wrap .img-box img{
		width:75%;
		margin: 0 auto
	}

	.feature-list-wrap .l-box .feature-ttl-txt{
		position: absolute;
		top:auto;
		bottom:0.5vw;
		right:8vw;

	}
	.feature-list-wrap .r-box .feature-ttl-txt{
		position: absolute;
		top:auto;
		bottom:0.5vw;
		left:8vw;

	}

	.feature-list-wrap .txt-box{
		order: 2;
		padding-top: 8vw
	}
	
	.feature-list-wrap .txt-box .ttl-txt{
		font-size:6vw;
		font-weight: 600;
		padding-bottom: 5vw
	}
	.feature-list-wrap .txt-box .normal-txt{
		line-height: 2;
		padding-bottom: 5vw;
		font-size:3.6vw
	}


}


/*------------------------------------------------------------------------------------------------
    下層 共通
--------------------------------------------------------------------------------------------------*/

.h2-wrap{
	display: flex;
	align-items: center;
	justify-content: flex-start
}
.h2-wrap h2{
	font-size:3.3vw;
	font-weight: 700;
	padding-left:2%;
	white-space: nowrap
}


.h2-wrap .feature-ttl-txt{
	width:8.3vw;
	max-width: 100px;
	height:8.3vw;
	max-height:  100px;
	background: #477740;
	border-radius: 50%;
	color:#fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center
}
.h2-wrap .feature-ttl-txt .txt-ja{font-size:1.08vw;font-weight: 500}
.h2-wrap .feature-ttl-txt .txt-en{font-size:0.7vw;font-weight: 500;letter-spacing: 0.1em}
.h2-wrap .feature-ttl-txt .txt-no{font-size:3.08vw;line-height: 1}

h3{
	font-size:4.2rem;
	font-weight: 600;
	line-height: 1.5;
	padding-bottom: 0.8em
}
h3 span{display: inline-block}

h4{
	font-weight: 600;
	font-size:3.5rem;
	line-height: 1.6;
}


 
@media screen and (min-width:1200px) {
.h2-wrap h2{font-size:4.0rem;}
	
.h2-wrap .feature-ttl-txt .txt-ja{font-size:1.3rem;font-weight: 500}
.h2-wrap .feature-ttl-txt .txt-en{font-size:0.9rem;font-weight: 500;letter-spacing: 0.1em}
.h2-wrap .feature-ttl-txt .txt-no{font-size:3.7rem;line-height: 1}
}
@media screen and (max-width: 768px) {
	.h2-wrap{
		display:inline-flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-left: 3vw;
		padding-bottom: 5vw
	}
	.h2-wrap h2{
		font-size:4.8vw;
		padding-left:1vw;
		text-shadow: 1px 1px 3px #fff,-1px -1px 3px #fff,1px 1px 3px #fff,-1px -1px 3px #fff,1px 1px 3px #fff,-1px -1px 3px #fff;

	}


	.h2-wrap .feature-ttl-txt{
		width:14vw;
		max-width: inherit;
		height:14vw;
		max-height:  inherit;
	}
	.h2-wrap .feature-ttl-txt .txt-ja{font-size:2.6vw;font-weight: 500}
	.h2-wrap .feature-ttl-txt .txt-en{font-size:1.8vw;font-weight: 500;letter-spacing: 0em}
	.h2-wrap .feature-ttl-txt .txt-no{font-size:4.6vw;line-height: 1}
	
	h3{
		font-size:4.8vw;
	}
	h4{
		font-size:4.2vw
	}


}





