@charset "UTF-8";

/* ------------------------------------------------
                 EXHIBITION INFO
--------------------------------------------------- */

/*---------- EXHIBITION INFO ----------*/
.sec-exhibition {
	padding: 20px 0 75px;
}


.sec-exhibition ul.exhibition-list {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.sec-exhibition ul.exhibition-list li {
	width: 31%;
	margin: 0 3.5% 40px 0;
	display: flex;
	background: #fff;
}
.sec-exhibition ul.exhibition-list li:nth-child(3n) { margin-right: 0;}
.sec-exhibition ul.exhibition-list li a {
	width: 100%;
	padding-bottom: 25px;
	display: flex;
	flex-direction: column;
}

.sec-exhibition ul.exhibition-list li .exhibition-ttl{
	width: 100%;
	padding: 25px 25px 0;
	font-size: 20px;
	font-weight: bold;
}

.sec-exhibition ul.exhibition-list li .exhibition-date {
	width: 100%;
	margin-top: 15px;
	padding: 0 25px;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 500;
}
.sec-exhibition ul.exhibition-list li .exhibition-place {
	width: 100%;
	margin-top: 15px;
	padding: 0 25px;
	font-size: 16px;
}

.sec-exhibition .pager-wrap {
	width: 100%;
	margin: 50px auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sec-exhibition .pager-wrap a {
	width: 60px;
	height: 60px;
	margin: 0 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #212121;
}
.sec-exhibition .pager-wrap a.pager-prev {
	background-image: url("../../img/common/icon_arrow_prev.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 24px;
}
.sec-exhibition .pager-wrap a.pager-next {
	background-image: url("../../img/common/icon_arrow_next.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 24px;
}


@media (max-width: 768px) {
	.sec-exhibition {
		padding: 2vw 0 12vw;
	}
	
	.sec-exhibition ul.exhibition-list {
		width: 100%;
		max-width: 1100px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
	}
	.sec-exhibition ul.exhibition-list li {
		width: 48%;
		margin: 0 4% 8vw 0;
		display: flex;
		background: #fff;
	}
	.sec-exhibition ul.exhibition-list li:nth-child(3n) { margin-right: 4%;}
	.sec-exhibition ul.exhibition-list li:nth-child(2n) { margin-right: 0;}
	
	.sec-exhibition ul.exhibition-list li a {
		width: 100%;
		padding-bottom: 4vw;
	}

	.sec-exhibition ul.exhibition-list li .exhibition-ttl{
		width: 100%;
		padding: 4vw 4vw 0;
		font-size: 3.6vw;
	}

	.sec-exhibition ul.exhibition-list li .exhibition-date {
		width: 100%;
		margin-top: 3vw;
		padding: 0 4vw;
		font-size: 3.4vw;
	}
	.sec-exhibition ul.exhibition-list li .exhibition-place {
		width: 100%;
		margin-top: 3vw;
		padding: 0 4vw;
		font-size: 3.4vw;
	}


	.sec-exhibition .pager-wrap {
		width: 100%;
		margin: 4vw auto 0;
	}
	.sec-exhibition .pager-wrap a {
		width: 12vw;
		height: 12vw;
		margin: 0 5vw;
	}
	.sec-exhibition .pager-wrap a.pager-prev {
		background-image: url("../../img/common/icon_arrow_prev.svg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 5vw;
	}
	.sec-exhibition .pager-wrap a.pager-next {
		background-image: url("../../img/common/icon_arrow_next.svg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 5vw;
	}
    
}

/*---------- 詳細 ----------*/
.sec-exhibition-detail {
	padding: 20px 0 75px;
}
.sec-exhibition-detail .sec-inn {
	max-width: 1100px;
}

.sec-exhibition-detail .exhibition-detail-ttl {
	margin-bottom: 30px;
	color: #002060;
	font-size: 30px;
	font-weight: bold;
}
.sec-exhibition-detail .exhibition-detail-date {
	display: inline-block;
	margin-right: 40px;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 500;
}
.sec-exhibition-detail .exhibition-detail-place {
	display: inline-block;
	font-size: 18px;
}
.sec-exhibition-detail .exhibition-detail-cont {
	margin-top: 50px;
}
.sec-exhibition-detail .exhibition-detail-cont img {
	width: auto;
	max-width: 100%;
	display: inline-block;
}
.sec-exhibition-detail .exhibition-detail-cont > p {
	margin-bottom: 60px;
	line-height: 1.8;
}

.sec-exhibition-detail p.btn-navy {
	margin: 90px auto 0;
}

.sec-exhibition-detail .exhibition-detail-cont p a {
	color: #5caac7;
	text-decoration: underline;
}


@media (max-width: 768px) {
	.sec-exhibition-detail {
		padding: 2vw 0 12vw;
	}

	.sec-exhibition-detail .exhibition-detail-ttl {
		margin-bottom: 5vw;
		font-size: 5.2vw;
	}
	.sec-exhibition-detail .exhibition-detail-date {
		display: block;
		margin-right: 0;
		margin-bottom: 4vw;
		font-size: 3.6vw;
	}
	.sec-exhibition-detail .exhibition-detail-place {
		display: block;
		font-size: 3.6vw;
	}
	.sec-exhibition-detail .exhibition-detail-cont {
		margin-top: 8vw;
	}
	.sec-exhibition-detail .exhibition-detail-cont img {
		width: auto;
		max-width: 100%;
		display: inline-block;
	}
	.sec-exhibition-detail .exhibition-detail-cont > p {
		margin-bottom: 8vw;
	}

	.sec-exhibition-detail p.btn-navy {
		margin: 16vw auto 0;
	}
}