@charset "UTF-8";
/* CSS Document */
/*------------------------------------------------------------------------------------------------
    base Style
--------------------------------------------------------------------------------------------------*/

.link_b{background: #0078A3}
.link_a{background: #3E8369}

.col-g{color:#3E8369}
.col-b{color:#0078A3}

.col-red{color:#E60012}
.col-gray{color:#898989}

/* 大枠
 --------------------------------*/

/* テキスト
 --------------------------------*/
.indent{
	padding-left:1em;
	text-indent:-1em;
}
.indent2{
	padding-left:1.2em;
	text-indent:-1.2em;
}
.txt-bot{
	display: inline;
    position: relative;
    bottom:0;
    font-size:0.5em;
}
/*------------------------------------------------------------------------------------------------
    header
--------------------------------------------------------------------------------------------------*/

header {
    width: 100%;
	height:80px;
	box-sizing: border-box;
    z-index: 1000;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	background: #c0e2c8;
}


.header-inn {
    width: 100%;
	height:100%;
	margin: 0  auto;
	padding:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-inn .logo {
	width:20%;
	height:100%;
	min-width:200px;
	max-width:300px;
	padding-right:10px;
	background: rgba(255,255,255,0.85);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px
}
.header-inn .logo a{
	border-radius: 40px;
	width:90%;
	height:80%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-inn .logo img{
	width:80%
}



.header-inn .gnavi-wrap{
	height:100%;
	width:100%;
	max-width:calc(100% - 200px);
	padding-right: 2%;
}

.header-inn .gnavi-wrap ul.nav{
	height:100%;
	width:100%;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-end!important;
	
}

.header-inn .gnavi-wrap ul.nav > li {
	height:100%;
	position: relative;
}
.header-inn .gnavi-wrap ul.nav > li:not(:last-child){
	padding: 0 6px;
}
.header-inn .gnavi-wrap  ul.nav > li:not(:last-child)::before{
	position: absolute;
	content:"";
	width:1px;
	height:60px;
	top:0;
	bottom:0;
	left:0;
	margin: auto;
	background: #fff
}

.header-inn .gnavi-wrap  ul.nav > li > a {
	height: 60px;
	padding: 0 10px;
	margin-top: 10px;
	border-radius: 30px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	line-height: 1.1;
	text-align: center;
	background: rgba(255,255,255,0.0);
	transition: .3s ease-in-out;
}
.header-inn .gnavi-wrap  ul.nav > li > a.is-active,
.header-inn .gnavi-wrap  ul.nav > li > a.is-now,
.header-inn .gnavi-wrap  ul.nav > li > a:hover,
.header-inn .gnavi-wrap  ul.nav > li > a.now{
	background: rgba(255,255,255,0.85);
}
.header-inn .gnavi-wrap ul.nav > li a.col-btn{
	outline-offset:-4px;
	outline-color:none;
	color:#fff;
}
.header-inn .gnavi-wrap ul.nav >  li a.dl{
	background:rgba(62,131,105,1.00);
}
.header-inn .gnavi-wrap ul.nav >  li a.co{
	background:rgba(0,120,163,1.00);
}

.header-inn  .nav-ja{
	font-size:1.3rem;
	font-weight: 500;
	margin-bottom: 0.2em
}
.header-inn  .nav-ja.nowrap{
	white-space: nowrap
}
.header-inn  .nav-en{
	font-size:1rem;
	white-space: nowrap
}
.header-inn .gnavi-wrap ul.nav >  li a span{
	display: inline-block
}

.header-inn .gnavi-wrap ul.nav .dropdown-btn{
	position: relative
	}
.header-inn .gnavi-wrap ul.nav  .dropdown {
	z-index: 1001;
	background:rgba(194,222,200,0.9);
	position: absolute;
	/*left:calc(50% - 150px);*/
	left:0;
	top: 80px;
	width: 280px;
	padding: 0 0.5em 0.5em;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: none;
	}

.header-inn .gnavi-wrap ul.nav .dropdown a{
	text-align: left;
	display: block;
	width:100%;
	padding: 0.8em;
	font-size:1.5rem;
	font-weight: 500;
	transition: .3s ease-in-out;
	background-image: url("../../images/common/arrow-b.svg");
	background-repeat: no-repeat;
	background-position: center right 1em;
	background-size:1em;
}

.header-inn .gnavi-wrap ul.nav .dropdown li:not(:first-child){
	border-top:1px solid #fff;
}




@media screen and (max-width: 1200px) {
	.header-inn .logo a{
		width:95%
	}
	.header-inn .logo  a img{
		width:85%
	}

	.header-inn .gnavi-wrap  ul.nav > li > a {
		padding: 0.5vw
	}
	.header-inn .nav-ja{
		font-size:1.0vw;
		font-weight: 500;
		margin-bottom: 0.2em
	}
	.header-inn .nav-en{
		font-size:0.8vw;
		white-space: nowrap
	}
	.header-inn .gnavi-wrap ul.nav .dropdown a{
		font-size:1.0vw;
	}

}

@media screen and (max-width:1023px) {
	.header-inn .logo {
		width:300px;
		height:100%;
		min-width:inherit;
		max-width:inherit;
	}
	.header-inn .logo img{
		width:90%
	}

	.header-inn .gnavi-wrap{
		display: flex;
		align-items: center;
		justify-content: flex-end
	}
	.header-inn .gnavi-wrap ul.nav{display: none}
	
	.is-narrow {
		display: none;
	}
	.header-inn .navi-ja{
		margin-bottom: 0;
		height: auto;
		display: block;
		font-size:2.0rem;
		text-align: left;
	}
	.header-inn .navi-en{
		font-size:1.2rem
	}


}

@media screen and (max-width: 768px) {
	header {
		width: 100%;
		height:16vw;
    }
	.header-inn .logo {
		width:50%;
		border-top-right-radius: 8vw;
		border-bottom-right-radius: 8vw

	}
	.header-inn .gnavi-wrap{
		width:30%
	}

	.header-inn   .navi-ja{
		font-size:4.2vw;
		margin-right: 0;
		text-align: left;
		width:80%;
		line-height: 1
	}
	.header-inn  .navi-en{
		font-size:2.8vw;
		line-height: 2
	}

	
}


/*------------------------------------------------------------------------------------------------
    ハンバーガー
--------------------------------------------------------------------------------------------------*/

#nav_toggle{
	display: none;
}
nav{display: none}

/*スマホ・タブレット用の設定*/
@media screen and (max-width:1023px){
	/*開閉ボタン*/
	#nav_toggle{
		display: block!important;
		width: 13.3vw;
		height: 13.3vw;
		border-radius: 50%;
		max-width: 60px;
		max-height: 60px;
		z-index: 2001;
		background: #0078A3;
	}
	#nav_toggle div {
		margin: 0 auto ;
		width:100%;
		height:100%;
		position: relative;
	}
	#nav_toggle span{
		display: block;
		height: 2px;
		background: #fff;
		position:absolute;
		width: 55%;
		left: 0;
		right:0;
		margin: auto;
		-webkit-transition: 0.5s ease-in-out;
		-moz-transition: 0.5s ease-in-out;
		transition: 0.5s ease-in-out;	
	}
	#nav_toggle span:nth-child(1){
		top:calc(50% - 15%);
	}
	#nav_toggle span:nth-child(2){
		top:calc(50%);
	}
	#nav_toggle span:nth-child(3){
		top:calc(50% + 15%);
	}

	
	/*開閉ボタンopen時*/
	.open #nav_toggle span:nth-child(1) {
			top:50%;
		   -webkit-transform: rotate(135deg);
			-moz-transform: rotate(135deg);
			transform: rotate(135deg);
			background: #fff;
		}
	.open #nav_toggle span:nth-child(2) {
			width:0
		}
	.open #nav_toggle span:nth-child(3) {
			top:50%;
			-webkit-transform: rotate(-135deg);
			-moz-transform: rotate(-135deg);
			transform: rotate(-135deg);
			background: #fff;
		}
	
	/*メニュー部分*/
	nav{
		display: none;
		position: absolute;
		width: 100%;
		/*height:100vh;*/
		background:rgba(194,222,200,0.9);
		left: 0;
		top:80px;
		z-index: 2000;
	}

	header nav ul.nav{
		display: block;
		margin: 0 auto ;
		width: 100%;
		padding: 1em 15%
	}
	
	header nav ul.nav > li{
		padding: 0 1em;
		margin: 0 auto;
		text-align: left;
		color:#333;
		display: block;
		width:100%;
		position: relative;
	}
	header nav ul.nav >  li:not(:first-child){
		border-top:rgba(255,255,255,0.50) 1px solid;
	}
	header nav ul.nav >  li.accordion{
		border:none;
		display: none;
		padding-bottom: 1em
	}
	header nav ul.nav >  li a{
		display: block;
		padding: 0.5em 0;
		white-space: nowrap;
		height:100%;
		width:85%;
		color:#333;
	}
	header nav ul.nav li.accordion a{
		border:none;
		font-size:1.6rem;
		padding: 0 2em ;
		margin: 0.5em 0;
		width:85%;
		background-image: url("../../images/common/arrow-b.svg");
		background-repeat: no-repeat;
		background-position: center right 1em;
		background-size:1em;
	}

	header nav ul.nav   li .accordion-btn{
		position: absolute;
		width:4vw;
		height:4vw;
		top:0;
		bottom:0;
		right:1em;
		margin: auto;
		border-radius: 50%;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center
	}
	header nav ul.nav   li .accordion-btn span{
		display: block;
		width:45%;
		height:2px;
		background: #0078A3;
		position: relative;

	}
	header nav ul.nav   li .accordion-btn span::after{
		content:'';
		position: absolute;
		width:100%;
		height:100%;
		background: #0078A3;
		top:0;
		bottom:0;
		right:0;
		left:0;
		margin: auto;
		transform: rotate(90deg);
		transition: .3s ease-in-out;
	}
	header nav ul.nav   li .accordion-btn.is-active span::after{
		transform: rotate(0)
	}
	
}

@media screen and (max-width: 768px) {
	nav{
		top:16vw;
	}
	#nav_toggle{
		display: block!important;
		max-width: 13.3vw;
		max-height: 13.3vw;
	}
	header nav ul.nav{
		display: block;
		margin: 0 auto ;
		width: 100%;
		padding: 1em 5%;
	}
	header nav ul.nav   li.accordion a{
		border:none;
		font-size:3.4vw;
		padding: 0 2em ;
		width:90%;
	}
	header nav ul.nav   li .accordion-btn{
		position: absolute;
		width:7vw;
		height:7vw;
	}
	


}

/*------------------------------------------------------------------------------------------------
    Footer
--------------------------------------------------------------------------------------------------*/
footer{
	width:100%;
	padding: 0;
		background: #3E8369;
	position: relative;
	z-index: 3
}
.l-footer-inner{
	width:90%;
	margin: 0 auto
}

@media screen and (max-width: 768px) {	
	footer{
		width:100%;
		padding: 0;
	}

}


/* footer link sitemap */
.l-footer-inner.top{
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 40px 0
	
}

.logo-box{
	width:250px;
}
.p-footer-logo{
	padding-bottom: 15px
		
}
.p-footer-link-btn a{
	display: block;
	text-align: center;
	margin-top: 1.5em;
	background: #fff;
	color:#3E8369;
	font-size:1.5rem;
	font-weight: 700;
	padding: 0.8em;
	border-radius: 3em
}

.list-box{
	width:calc(100% - 250px - 10%);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.p-footer-link-sitemap{
	width:calc((100% - 40px) / 2);
}
.p-footer-link-sitemap a{
	color:#fff;
	line-height: 1.6
}
.p-footer-link-sitemap .parent{
	font-size:1.5rem;
	font-weight: 700;
	margin-bottom: 1em
}
.p-footer-link-sitemap .parent:not(:first-child){
	margin-top: 2em
}
.p-footer-link-sitemap .child,
.p-footer-link-sitemap .grandchild{
	font-size:1.3rem;

}
.p-footer-link-sitemap .child{
	margin-left: 1.5em;
	position: relative
}
.p-footer-link-sitemap .child::before{
	position: absolute;
	content:"";
	width:1em;
	height:1px;
	background: #fff;
	left:-1.5em;
	top:0.8em;
	margin: auto
}

.p-footer-link-sitemap .grandchild{
	margin-left: 3em;
	position: relative
}
.p-footer-link-sitemap .grandchild::before{
	position: absolute;
	content:"・";
	font-weight: 700;
	color:#fff;
	left:-1.5em;
	top:0.0em;
	margin: auto
}
.p-footer-link-sitemap .grandchild span{
	display: inline-block
}
@media screen and (max-width: 1023px) {
	.logo-box{
		width:70%;
		display: flex;
		justify-content: space-between;
		align-items: center
	}

	.p-footer-logo{
		padding-bottom: 0;
		width:40%
	}
	.p-footer-link-btn {
		width:55%;
	}
	.p-footer-link-btn a{
		margin-top: 15px;

	}
	.list-box{
		width:100%;
		margin-top: 40px
	}
}
@media screen and (max-width: 768px) {
	.logo-box{
		width:100%;
	}
	.p-footer-link-btn a{
		font-size:3.2vw;
	}
	.p-footer-link-sitemap{
		width:100%
	}
	.p-footer-link-sitemap + .p-footer-link-sitemap{
		margin-top: 6vw
	}
	.p-footer-link-sitemap .parent{
		font-size:3.2vw;
	}

	.p-footer-link-sitemap .child,
	.p-footer-link-sitemap .grandchild{
		font-size:2.6vw;
	}
}






/* footer link 外部 */
.footer-link-external{
	width: 100%;
	padding: 20px 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}
.footer-link-external li {
	padding: 0;
	margin-top: 15px;
	display: flex;
	align-items: center;
	border-right: 1px solid #fff;
}
.footer-link-external li:first-child {
	border-left: 1px solid #fff;
}
.footer-link-external li a {
	padding: 0;
	margin: 0 10px;
	display: inline-block;
	color: #fff;
	font-size: 1.2rem;
}
.footer-link-external li:nth-child(n+4){
	white-space: nowrap;
}
@media screen and (max-width: 768px) {
	.l-footer-inner.top{
		padding: 5vw 0

	}

	.footer-link-external{
		padding: 4vw 0 2vw;
	}
	.footer-link-external li {
		margin-top: 2vw;
	}
	.footer-link-external li a {
		padding: 0 2vw;
		font-size:2.6vw;
	}
	.footer-link-external li:nth-child(n+4){
		border-left: 1px solid #fff;
	}
}


/* footer copy */
.footer-copy{
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	font-size: 1.2rem;
}

@media screen and (max-width: 768px) {	
	.footer-copy{
		height: 10vw;
		font-size: 2.6vw;
		padding: 2vw 0
	}

}

/*------------------------------------------------------------------------------------------------
    pagetop
--------------------------------------------------------------------------------------------------*/
.pagetop .btn-pagetop{
	position: fixed;
	bottom:4.5vw;
	right:2vw;
	margin: auto;
	width:60px;
	height:60px;
	z-index: 5

}
.pagetop .btn-pagetop a{
	display: block;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.40);
	position: relative;
	border-radius: 50%
}
.pagetop .btn-pagetop a::after{
	position: absolute;
	content:'';
	width:30%;
	height:30%;
	border-top:2px solid #fff;
	border-right:2px solid #fff;	
	transform: rotate(-45deg);
	top:15%;
	bottom:0;
	left:0;
	right:0;
	margin: auto
}

@media screen and (max-width: 768px) {	
	.pagetop .btn-pagetop{
		position: fixed;
		bottom:15vw;
		right:2vw;
		margin: auto;
		width:12vw;
		height:12vw;

	}

}

/*------------------------------------------------------------------------------------------------
     レイアウト
--------------------------------------------------------------------------------------------------*/
main {
    width: 100%;
	padding-top: 80px;
	overflow: hidden
}

.inner-l{
    width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.inner-m{
    width: 80%;
	max-width: 960px;
	margin: 0 auto;
}

.inner-s{
    width: 66.66%;
	max-width: 800px;
	margin: 0 auto;
}


@media screen and (max-width: 1023px) {
	.inner-s{
		width: 92%;
		max-width: inherit;
	}
}

@media screen and (max-width: 768px) {
main {
	padding-top: 16vw;
   overflow: hidden;
}
.inner-l{
    width: 100%;
	max-width: inherit;
	margin: 0 auto;
}	
.inner-m{
    width: 94%;
	max-width: inherit;
	margin: 0 auto;
	}
.inner-s{
		width: 92%;
		max-width: inherit;
		margin: 0 auto;
}

	
}

.flex-box{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}


/*------------------------------------------------------------------------------------------------
   btn
--------------------------------------------------------------------------------------------------*/
.btn_link-area{
	width:480px;
	height:60px;
	margin: 0 auto;
}

.btn_link-area a {
	width:100%;
	height:100%;
	background: #1D4A79;
	padding-right:1em;
	color:#fff;
	border-radius: 30px;
	font-size: 2.0rem;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	position: relative;
	outline-offset: -4px;
	outline-color: #fff
}
.btn_link-area a::after{
	position: absolute;
	content: '外部リンク';
	font-size:9px;
	color:#1D4A79;
	width: 80px;
	height:20px;
	top: 0;
	bottom:0;
	right: 20px;
	margin: auto;
	background: #fff;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 2em;
	box-sizing: border-box;
	background-image: url("../../images/common/link-icon-n.svg");
	background-position: right 0.8em center;
	background-repeat: no-repeat;
	background-size: 10px 10px
}

.btn-b a{
	width:100%;
	height:100%;
	background: #0078A3;
	padding:0.8em 2em 0.8em 0.8em;
	color:#fff;
	border-radius: 30px;
	font-size: 1.7rem;
	font-weight: 700;
	line-height: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	position: relative;
	outline-offset: -4px;
	outline-color: #0078A3;
	background-image: url("../../images/common/arrow-w.svg");
	background-position: right 0.8em center;
	background-repeat: no-repeat;
	background-size: 16px 8px
}

.btn-b.g a{
	background-color: #3E8369
}
.btn-b.external a{
	background-image:none;
		padding-right: 5em;
}
.btn-b.external a::after{
	position: absolute;
	content: '外部リンク';
	font-size:9px;
	color:#0078A3;
	width: 80px;
	height:20px;
	top: 0;
	bottom:0;
	right: 10px;
	margin: auto;
	background: #fff;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 2em;
	box-sizing: border-box;
	background-image: url("../../images/common/link-icon-b.svg");
	background-position: right 0.8em center;
	background-repeat: no-repeat;
	background-size: 10px 10px
}
.btn-wrap{
	width:50%;
	margin: 40px 0 40px auto
}

@media screen and (max-width: 768px) {
	.btn_link-area{
		width:90%;
		height:12vw;
		margin: 0 auto;
	}
	.btn_link-area a {
		border-radius: 6vw;
		font-size: 3.6vw;

	}
	.btn_link-area a::after{
		position: absolute;
		content: '外部リンク';
		font-size:2vw;
		width: 16vw;
		height:4vw;
		right: 2vw;
		border-radius: 4vw;
		background-size: 2vw 2vw
	}
	
	.btn-b a{
		border-radius: 6vw;
		font-size: 3.6vw;
		background-size: 4vw 2vw
	}
	.btn-b.external a::after{
		position: absolute;
		content: '外部リンク';
		padding-left: 1vw;
		font-size:2vw;
		width: 16vw;
		height:4vw;
		right: 2vw;	
		border-radius: 4vw;
		background-size: 2vw 2vw
	}

	.btn-wrap{
		width:90%;
		margin: 4vw 0 4vw auto
	}

}





/*------------------------------------------------------------------------------------------------
    link area
--------------------------------------------------------------------------------------------------*/
#link-area {
	background: #EDF5EF;
	padding: 70px 0 80px;
	text-align: center;
	position: relative;
	z-index: 3
}


#link-area img{
	max-width:345px;
	margin: 0  auto 35px
}


@media screen and (max-width: 768px) {
	#link-area {
		padding: 8vw 0 
	}


	#link-area img{
		max-width:70%;
		margin: 0  auto 5vw
	}
}




