@charset "UTF-8";
* {
  word-break: normal;
}

/* MV
---------------------------------------------------------------------------- */
.p-sec-mv {
  width: 100%;
  padding: 6rem 0 30rem;
  background: url("../../../../assets/images/rooms/img_mv_pc.jpg") center center no-repeat;
  background-size: cover;
}

.p-mv-inn {
  width: auto;
  display: inline-block;
  padding: 3rem 8rem;
  position: relative;
  color: #fff;
}
.p-mv-inn::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(43, 38, 36);
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.p-mv-ttl {
  width: 100%;
  color: #fff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -ms-flex-align: end;
  -webkit-box-align: end;
          align-items: flex-end;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-line-pack: center;
  align-content: center;
  position: relative;
  z-index: 2;
}

.p-mv-ttl-en {
  display: inline-block;
  font-size: 3.5rem;
  line-height: 1;
  letter-spacing: 0.2em;
  font-weight: 400;
}

.p-mv-txt {
  margin-top: 2.3rem;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .p-sec-mv {
    width: 100%;
    padding: 16vw 0 66.6666666667vw;
    background: url("../../../../assets/images/rooms/img_mv_sp.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
  }
  .p-mv-inn {
    width: 55%;
    display: inline-block;
    padding: 5.3333333333vw 6.6666666667vw;
    position: relative;
    color: #fff;
  }
  .p-mv-inn::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(43, 38, 36, 0.6);
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .p-mv-ttl {
    width: 100%;
    color: #fff;
    opacity: 0.85;
    display: block;
    position: relative;
    z-index: 2;
  }
  .p-mv-ttl-en {
    display: block;
    font-size: 5.3333333333vw;
  }
  .p-mv-sp-txt-wrap {
    width: max-contents;
    padding: 3.2vw 6.6666666667vw 3.2vw 9.3333333333vw;
    position: absolute;
    bottom: 10.6666666667vw;
    right: 0;
  }
  .p-mv-sp-txt-wrap::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(43, 38, 36, 0.8);
    mix-blend-mode: multiply;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  .p-mv-sp-txt {
    color: #fff;
    text-align: right;
    font-size: 2.9333333333vw;
    line-height: 1.5;
    letter-spacing: 0.1;
    position: relative;
    z-index: 2;
  }
}
/* メインコンテンツ 
---------------------------------------------------------------------------- */
.p-sec-rooms {
  width: 100%;
  padding: 7rem 0 0;
}

.p-lead-box {
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-bottom: 7rem;
}

.p-lead-img {
  width: 20.9%;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.p-lead-txt {
  width: 73%;
  font-size: 1.6rem;
  line-height: 1.75;
  font-weight: 400;
  text-align: left;
}

.p-rooms-box {
  width: 100%;
  margin-bottom: 6rem;
}
.p-rooms-box.last {
  margin-bottom: 0;
}

.p-rooms-ttl {
  width: 100%;
  margin-bottom: 3rem;
  padding: 2rem 3rem;
  background: #000;
  color: #fff;
}

.p-rooms-ttl-en {
  display: inline-block;
  font-size: 1.8rem;
  line-height: 1.3888888889;
  font-weight: 700;
}

.p-rooms-txt {
  margin-top: 2.2rem;
  font-size: 1.6rem;
  line-height: 1.75;
  font-weight: 400;
}

.p-amenity-box {
  width: 90%;
  max-width: 700px;
  margin: 10rem auto 3rem;
  border: 1px solid #707070;
}

.p-amenity-ttl {
  width: 100%;
  padding: 1rem;
  text-align: center;
  background: #707070;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.25;
  font-weight: 700;
}

.p-amenity-txt {
  width: 100%;
  padding: 3rem 5rem 4rem;
  font-size: 1.5rem;
  line-height: 2;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .p-sec-rooms {
    width: 100%;
    padding: 9.3333333333vw 0 0;
  }
  .p-sec-rooms .m-sec-inn {
    width: 100%;
    max-width: initial;
  }
  .p-lead-box {
    width: 90%;
    margin: 0 auto 12vw;
    display: block;
  }
  .p-lead-img {
    display: none;
  }
  .p-lead-txt {
    width: 100%;
    font-size: 4vw;
  }
  .p-rooms-box {
    width: 100%;
    margin-bottom: 10.6666666667vw;
  }
  .p-rooms-box.last {
    margin-bottom: 0;
  }
  .p-rooms-ttl {
    width: 100%;
    margin-bottom: 2.6666666667vw;
    padding: 2.6666666667vw 4vw;
  }
  .p-rooms-ttl-en {
    margin-left: 8vw;
    font-size: 4vw;
  }
  .p-rooms-txt {
    width: 100%;
    padding: 0 8vw;
    margin-top: 5.3333333333vw;
    font-size: 3.7333333333vw;
  }
  .p-amenity-box {
    width: 85%;
    max-width: 700px;
    margin: 13.3333333333vw auto 4vw;
    border: 1px solid #707070;
  }
  .p-amenity-ttl {
    width: 100%;
    padding: 2.6666666667vw;
    font-size: 4vw;
  }
  .p-amenity-txt {
    width: 100%;
    padding: 5.3333333333vw;
    font-size: 3.4666666667vw;
  }
}
/* slide
---------------------------------------------------------------------------- */
.slide-arrow {
  width: 35px;
  height: 35px;
  position: absolute;
  top: calc(50% - 17.5px);
  z-index: 5;
  cursor: pointer;
}

.arrow-prev {
  background: url("../../../../assets/images/rooms/icn_arrow_prev.svg") center center no-repeat;
  background-size: 100%;
  left: 10px;
}

.arrow-next {
  background: url("../../../../assets/images/rooms/icn_arrow_next.svg") center center no-repeat;
  background-size: 100%;
  right: 10px;
}

@media screen and (max-width: 767px) {
  .slide-arrow {
    width: 7vw;
    height: 7vw;
    position: absolute;
    z-index: 5;
  }
  .arrow-prev {
    left: 2vw;
  }
  .arrow-next {
    right: 2vw;
  }
}
/* 下層ページ導線 3column 
---------------------------------------------------------------------------- */
@media screen and (max-width: 767px) {
  .m-footer-pagelinks {
    width: 100%;
    padding: 10.6666666667vw 0 2.6666666667vw;
  }
  /* 下層ページ導線 3column */
  .m-footer-pagelink-wrap {
    width: 75%;
    margin: 0 auto;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    -ms-flex-align: start;
    -webkit-box-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .m-footer-pagelink {
    width: 100%;
    margin: 0 auto;
  }
  .m-footer-pagelink a {
    width: 100%;
    display: block;
    position: relative;
  }
  .m-footer-pagelink-access {
    margin-bottom: 6.6666666667vw;
    background: url("../../../../assets/images/common/bg_underpage_link_01.jpg") center center no-repeat;
    background-size: cover;
  }
  .m-footer-pagelink-sightseeing {
    margin-bottom: 6.6666666667vw;
    background: url("../../../../assets/images/common/bg_underpage_link_02.jpg") center center no-repeat;
    background-size: cover;
  }
  .m-footer-pagelink-reserve {
    background: url("../../../../assets/images/common/bg_underpage_link_03.jpg") center center no-repeat;
    background-size: cover;
  }
  .m-footer-pagelink-ttl {
    width: 35%;
    padding: 6.9333333333vw 2.6666666667vw;
    text-align: left;
    font-size: 3.2vw;
    font-weight: 700;
    letter-spacing: 0.01em;
    line-height: 1;
    background: rgba(0, 0, 0, 0.72);
    position: relative;
    z-index: 2;
  }
}