 /*-- reset.CSS --*/
 html,
 body {
     width: 100%;
     height: auto;
     margin: 0;
     padding: 0;
 }

 html {
     font-size: 100%;
     color: #1C1C1C;
     background: #ffffff;
 }

 dl,
 dt,
 dd,
 ul,
 ol,
 li,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 pre,
 form,
 input,
 p,
 blockquote,
 fieldset,
 div,
 section,
 a {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 h3,
 h4 {
     font-weight: bold;
 }

 ul li,
 ol li {
     list-style: none;
 }

 table {
     margin: 0;
     padding: 0;
     font-size: 100%;
 }

 caption {
     text-align: left;
 }

 table,
 pre,
 code,
 select,
 textarea,
 kbd,
 var,
 ins,
 del,
 samp {
     font-size: 100%;
 }

 address,
 cite,
 dfn,
 em,
 strong,
 var,
 th,
 ins,
 del,
 samp {
     font-weight: normal;
     font-style: normal;
 }

 img {
     border: none;
     display: block;
     width: 100%;
 }

 a,
 a:visited {
     color: #1C1C1C;
     text-decoration: none;
 }

 a:hover {
     text-decoration: none;
 }

 body {
     -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
     -ms-text-size-adjust: 100%;
     -o-text-size-adjust: 100%;
     text-size-adjust: 100%;
     color: #1C1C1C;
     font-size: 62.5%;
     font-size: 14px;
     line-height: 1.5;
     font-family: "Roboto", "Noto Sans JP", sans-serif;
 }

 .pc {
     display: block !important;
 }

 .pc_inline {
     display: inline-block !important;
 }

 .sp {
     display: none !important;
 }

 .sp_inline {
     display: none !important;
 }

 @media (max-width: 768px) {
     .pc {
         display: none !important;
     }

     .pc_inline {
         display: none !important;
     }

     .sp {
         display: block !important;
     }

     .sp_inline {
         display: inline-block !important;
     }
 }

 /*-- style.CSS --*/
 .bg-sfblue {
     background: #0d9dda;
 }

 .txt-sfblue {
     color: #0d9dda;
 }

 .bg-gray {
     background: #F2F6FB;
 }

 .bg-blue {
     background: #0D7EDA;
 }

 .bg-green {
     color: #0BAD83;
 }

 .bg-gray-grade {
     background: linear-gradient(180deg, rgba(243, 248, 254, 1) 0%, rgba(230, 243, 247, 1) 100%);
 }

 .bg-blue-grade {
     background: linear-gradient(180deg, rgba(13, 126, 218, 1) 0%, rgba(0, 188, 196, 1) 100%);
 }

 .bg-round {
     border-radius: 20px;
 }

 @media (max-width: 1280px) {
     .bg-round {
         border-radius: 0px;
     }
 }

 .txt-white {
     color: #FFF;
 }

 .txt-gray {
     color: #D0D7E0;
 }

 .txt-navy {
     color: #042D4E;
 }

 .txt-blue {
     color: #0D7EDA;
 }

 .txt-green {
     color: #03BE75;
 }

 .txt-yellow {
     color: #F6FF79;
 }

 .txt-serif {
     font-family: "Libre Baskerville", serif;
 }

 .txt-bold {
     font-weight: bold;
 }

 .txt-bold-ex {
     font-weight: 900;
 }

 .marker {
     background: linear-gradient(transparent 50%, #F6FF79 50%);
 }

 .lp-wrap {
     width: 100%;
     max-width: 1280px;
     margin: 0 auto;
     background-size: auto auto;
     background-color: rgba(255, 255, 255, 1);
     background-image: repeating-linear-gradient(90deg, transparent, transparent 260px, rgba(244, 246, 249, 1) 260px, rgba(244, 246, 249, 1) 261px);
 }

 .pc-wrap {
     width: 100%;
     margin: 0 auto;
 }

 .header-in {
     width: 90%;
     margin: 0 auto;
     padding: 20px 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 h1.h1-logo {
     width: 20%;
     max-width: 170px;
 }

 p.header-btn {
     width: 44%;
     max-width: 280px;
 }

 p.header-btn a {
     width: 100%;
     padding: 14px 5px 12px;
     display: block;
     font-size: 14px;
     text-align: center;
     color: #FFF;
     background: #F0861B url("images/icon_mail_w.svg") no-repeat;
     background-size: 18px;
     background-position: center right 8px;
     border-radius: 200px;
 }

 .footer-in {
     width: 90%;
     margin: 0 auto;
     padding: 40px 0;
 }

 .footer-in p.copyright {
     color: #A9B3BA;
     font-size: 12px;
     text-align: center;
 }

 @media (max-width: 768px) {
     .lp-wrap {
         max-width: 100%;
         background-image: repeating-linear-gradient(90deg, transparent, transparent 160px, rgba(244, 246, 249, 1) 160px, rgba(244, 246, 249, 1) 161px);
     }

     h1.h1-logo {
         width: 30%;
         max-width: 30%;
     }

     p.header-btn {
         width: 50%;
         max-width: 50%;
     }

     .footer-in p.copyright {
         font-size: 3.0vw;
     }
 }

 /*-- CTA style --*/
 .sec-cta {
     width: 100%;
     margin: 0 auto;
     padding: 40px 5% 40px;
     border-radius: 20px;
     color: #FFF;
     background: #0BAD83 url("images/bg_contact.jpg") no-repeat;
     background-size: cover;
     background-position: top left;
 }

 h2.h2-common.h2-cta {
     margin-bottom: 30px;
 }

 h2.h2-common.h2-cta,
 h2.h2-common.h2-cta span {
     color: #FFF;
 }

 h2.h2-common.h2-cta::after {
     background: #F6FF79;
 }

 .sec-cta .sec-in-flex {
     align-items: flex-start;
 }

 .sec-cta p.sec-cta-ttl {
     width: 90%;
     margin: 0 auto 20px;
     padding: 10px;
     font-size: 16px;
     font-weight: bold;
     text-align: center;
     border-top: 1px solid #FFF;
     border-bottom: 1px solid #FFF;
 }

 .sec-cta p.sec-cta-tel {
     color: #F6FF79;
     font-size: 40px;
     text-align: center;
 }

 .sec-cta p.sec-cta-tel span {
     display: block;
     color: #FFF;
     font-size: 14px;
 }

 .sec-cta p.sec-cta-tel::before {
     width: 35px;
     height: 35px;
     margin-top: -5px;
     margin-right: 10px;
     background: url("images/icon_tel_y.svg") no-repeat;
     content: "";
     display: inline-block;
     vertical-align: middle;
 }

 @media (max-width: 1280px) {
     .sec-cta {
         border-radius: 0px;
     }
 }

 @media (max-width: 768px) {
     .sec-cta {
         background-position: top left 12%;
     }

     .sec-cta p.sec-cta-ttl {
         font-size: 4vw;
     }

     .sec-cta .sec-in-box:first-child {
         margin-bottom: 8%;
     }
 }


 /*-- common style --*/
 .sec-common {
     width: 100%;
     margin: 0 auto;
     padding: 60px 5% 60px;
 }

 h2.h2-common {
     margin-bottom: 40px;
     font-size: 38px;
     font-weight: bold;
     text-align: center;
 }

 h2.h2-common span {
     margin-bottom: 10px;
     display: block;
     color: #AEB5BF;
     font-size: 22px;
     font-weight: 400;
 }

 h2.h2-common::after {
     content: "";
     width: 40px;
     height: 1px;
     margin: 20px auto 0;
     display: block;
     background: #0BAD83;
 }

 p.maintxt-common {
     margin: 0 auto 60px;
     font-size: 16px;
     font-weight: 500;
     text-align: center;
     line-height: 2;
 }

 p.contact-btn {
     width: 100%;
     max-width: 380px;
     margin: 30px auto 0;
 }

 p.contact-btn.l-left {
     margin: 30px auto 0 0;
 }

 p.contact-btn a {
     width: 100%;
     padding: 12px 5px 10px;
     display: block;
     font-size: 19px;
     font-weight: bold;
     text-align: center;
     color: #FFF;
     background: #F0861B url("images/icon_arrow_w.svg") no-repeat;
     background-size: 10px;
     background-position: center right 15px;
     border-radius: 200px;
     transition: 0.3s;
 }

 p.contact-btn a:hover {
     opacity: 0.7;
 }

 @media (max-width: 768px) {
     h2.h2-common {
         font-size: 7.2vw;
     }

     h2.h2-common span {
         font-size: 5.0vw;
     }

     p.maintxt-common {
         font-size: 3.6vw;
     }

     p.contact-btn {
         max-width: 100%;
     }

     p.contact-btn a {
         padding: 5% 1% 4%;
         font-size: 3.2vw;
     }
 }


 /*-- pattern1 style --*/
 .sec-in-flex {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .sec-in-box {
     width: 48%;
 }

 p.copy-common {
     margin: 0 auto 40px;
     font-size: 40px;
     font-weight: 900;
 }

 p.copy-common span.copy-common-sub {
     margin-bottom: 15px;
     display: block;
     font-size: 32px;
     font-weight: 700;
 }

 p.txt-common {
     margin: 0 auto;
     font-size: 16px;
     font-weight: 500;
     line-height: 1.8;
 }

 @media (max-width: 768px) {
     .sec-in-flex {
         flex-direction: column;
     }

     .sec-in-box {
         width: 100%;
         margin-top: 8%;
     }

     .sec-in-box:first-child {
         margin-top: 0;
     }

     p.copy-common {
         margin: 0 auto 5%;
         font-size: 6.8vw;
     }

     p.txt-common {
         font-size: 3.6vw;
     }
 }

 /*-- pattern2 style --*/
 ul.box-list {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }

 ul.box-list li {
     width: calc((100% - 60px)/3);
     margin-right: 30px;
     padding: 20px 20px 30px;
     background: #FFF;
     border-radius: 10px;
     box-shadow: 0px 0px 14px 0px rgba(127, 130, 132, 0.25);
     text-align: center;
 }

 ul.box-list li:nth-child(3n),
 ul.box-list li:last-child {
     margin-right: 0;
 }

 ul.box-list li .box-list-img {
     width: 90%;
     margin: 0 auto 30px;
 }

 ul.box-list li p.box-list-ttl {
     margin-bottom: 10px;
     font-size: 24px;
     font-weight: bold;
 }

 ul.box-list li p.box-list-txt {
     font-size: 15px;
 }

 @media (max-width: 768px) {
     ul.box-list {
         display: block;
     }

     ul.box-list li {
         width: 100%;
         margin-right: 0;
         margin-bottom: 5%;
     }

     ul.box-list li:last-child {
         margin-bottom: 0;
     }
 }

 /*-- pattern3 style --*/
 .sec-in-txtbox {
     width: 52%;
 }

 .sec-in-imgbox {
     width: 42%;
 }

 p.ttl-common {
     margin: 0 auto 20px;
     font-size: 78px;
     font-weight: 500;
 }

 p.ttl-sub-common {
     display: inline-block;
     margin: 0 auto 30px;
     padding: 10px 20px;
     color: #FFF;
     font-size: 18px;
     font-weight: bold;
     background: #0BAD83;
     border-radius: 200px;
 }

 ul.div-list li {
     margin: 0 auto 100px;
 }

 @media (max-width: 768px) {
     ul.div-list li {
         margin: 0 auto 10%;
     }

     ul.div-list .sec-in-flex {
         flex-direction: column;
     }

     ul.div-list .sec-in-flex:nth-child(even) {
         flex-direction: column-reverse;
     }

     .sec-in-txtbox {
         width: 100%;
     }

     .sec-in-imgbox {
         width: 100%;
         margin-top: 5%;
     }

     p.ttl-common {
         font-size: 12vw;
     }

     p.ttl-sub-common {
         font-size: 4.2vw;
         text-align: center;
     }
 }

 ul.txt-list {
     width: 100%;
     margin: 15px auto;
 }

 ul.txt-list li {
     margin-bottom: 5px;
     padding-left: 28px;
     font-size: 16px;
 }

 ul.txt-list li::before {
     width: 20px;
     height: 20px;
     margin-top: -4px;
     margin-left: -28px;
     margin-right: 8px;
     background: url("images/icon_check.svg") no-repeat;
     background-size: 20px;
     content: '';
     display: inline-block;
     vertical-align: middle;
 }

 /*-- MV style --*/
 .mv {
     margin: 0 auto 100px;
     background: #0BAD83 url("images/bg_mv.jpg") no-repeat;
     background-size: cover;
     background-position: top left;
     border-radius: 20px;
     position: relative;
 }

 .mv-in {
     width: 90%;
     margin: 0 auto;
     padding: 60px 0;
     display: flex;
     align-items: center;
     position: relative;
 }

 .mv-img {
     width: 50%;
     margin: 0 auto;
 }

 .mv-copy-box {
     width: 50%;
 }

 p.mv-copy {
     margin-bottom: 10px;
     font-size: 78px;
     font-weight: 800;
     line-height: 1.3;
     position: relative;
 }

 p.mv-copy-sub {
     margin-bottom: 20px;
     font-size: 30px;
     font-weight: 800;
     text-shadow: #F6FF79 0 0 20px;
 }

 p.mv-txt {
     color: #FFF;
     font-size: 17px;
     font-weight: 500;
 }

 @media (max-width: 1480px) {
     p.mv-copy {
         font-size: 5.2vw;
     }
 }

 .mv p.contact-btn {
     width: 100%;
     margin: 30px auto 0 0;
 }

 ul.mv-label {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     left: 0;
     bottom: -85px;
 }

 ul.mv-label li {
     width: 170px;
     height: 170px;
     padding: 30px 0 0;
     margin-right: 30px;
     border-radius: 200px;
     background: linear-gradient(315deg, rgba(214, 219, 227, 1) 0%, rgba(241, 245, 250, 1) 50%, rgba(214, 219, 227, 1) 100%);
     position: relative;
 }

 ul.mv-label li:last-child {
     margin-right: 0;
 }

 ul.mv-label li::after {
     border: 1px solid #fff;
     border-radius: 200px;
     content: "";
     position: absolute;
     top: 4px;
     bottom: 4px;
     left: 4px;
     right: 4px;
 }

 ul.mv-label li p {
     width: 100%;
     font-size: 20px;
     font-weight: 500;
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     -webkit- transform: translateY(-50%) translateX(-50%);
     transform: translateY(-50%) translateX(-50%);
 }

 @media (max-width: 1280px) {
     .mv {
         border-radius: 0px;
     }

     .mv-in {
         display: block;
     }

     .mv-img {
         width: 90%;
         margin-top: 5%;
     }

     .mv-copy-box {
         width: 100%;
     }

     p.mv-copy {
         font-size: 12vw;
         text-align: center;
     }

     p.mv-copy-sub {
         font-size: 7vw;
         text-align: center;
     }

     p.mv-txt {
         font-size: 3.6vw;
         text-align: center;
     }

     ul.mv-label li {
         width: 25vw;
         height: 25vw;
         margin-right: 3%;
     }

     ul.mv-label li p {
         font-size: 3.2vw;
     }
 }