@charset "UTF-8";

/* ------------------------------------------------
                     CONTACT
--------------------------------------------------- */


/* お見積り */
.sec-pagettl.estimate {
	background: url("../../img/estimate/bg_headttl_pc.png") left center no-repeat;
	background-size: cover;
}


.sec-form {
	padding: 20px 0 90px;
}
.sec-form .sec-inn {
	max-width: 1100px;
	padding: 50px;
	background: #F0F2F5;
}

.sec-form .form-txt {
	margin-bottom: 40px;
	text-align: center;
	color: #002060;
	font-weight: bold;
	font-size: 30px;
}
.sec-form .form-sub-txt {
	margin-bottom: 45px;
	text-align: center;
}

.sec-form .form-wrap {
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
}

.sec-form .required {
	color: #AC453F;
	font-weight: bold;
}
.sec-form .form-wrap dl {
	width: 100%;
	margin: 20px auto 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.sec-form .form-wrap dl dt {
	width: 180px;
	font-weight: bold;
	line-height: 1;
}
.sec-form .form-wrap dl dd {
	width: calc(100% - 180px);
}

@media (max-width: 768px) {
	.sec-form {
		padding: 0 0 12vw;
	}
	.sec-form .sec-inn {
		max-width: 1100px;
		padding: 8vw 5vw;
	}

	.sec-form .form-txt {
		margin-bottom: 6vw;
		font-size: 5.2vw;
	}
	.sec-form .form-sub-txt {
		margin-bottom: 8vw;
	}
	
	
	.sec-form .form-wrap dl {
		width: 100%;
		margin: 6vw auto 0;
		display: block;
	}
	.sec-form .form-wrap dl dt {
		width: 100%;
		font-weight: bold;
		line-height: 1;
	}
	.sec-form .form-wrap dl dd {
		width: 100%;
		margin-top: 2vw;
	}
    
}


/*--- form reset ---*/
input[type="text"],input[type="email"],input[type="number"],input[type="email"],textarea,select {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input[type="submit"],
input[type="button"] {
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -webkit-appearance: button;
    appearance: button;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}
input[type="radio"], 
input[type="checkbox"] {
	opacity: 0;
	position: absolute;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
    display: none;
}

/*--- form input共通 ---*/
.sec-form .form-wrap input[type="text"],
.sec-form .form-wrap input[type="email"],
.sec-form .form-wrap input[type="tel"],
.sec-form .form-wrap input[type="number"],
.sec-form .form-wrap textarea,
.sec-form .form-wrap select{
    box-sizing: border-box;
    width: 100%;
	display: block;
    padding: 15px 10px;
    background: #FFF;
    border: none;
}
.sec-form .form-wrap select{
    color: #000;
}
.sec-form .form-wrap input[type="text"]::placeholder,
.sec-form .form-wrap input[type="email"]::placeholder,
.sec-form .form-wrap input[type="tel"]::placeholder,
.sec-form .form-wrap input[type="number"]::placeholder,
.sec-form .form-wrap textarea::placeholder{
    color: #ccc;
}
.sec-form .form-wrap textarea{
    height: 200px;
}

/*--- select ---*/
.sec-form .form-wrap .select-wrap{
    position: relative;
}
.sec-form .form-wrap .select-wrap::after{
	content: '';
	width: 10px;
	height: 6px;
	background: url("../../img/common/gnav_arrow_gray.svg") center center no-repeat;
	background-size: 100%;
	position: absolute;
	top: calc(50% - 3px);
	right: 20px;
}

/*--- ppチェックボックス ---*/
.sec-form .check-wrap {
    width: 100%;
	position: relative;
}
.sec-form .check-wrap span {
    position: relative;
    padding-top: 2px;
    padding-left: 32px;
}

.sec-form .check-wrap span::before {
    position: absolute;
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    background: #fff;
    top: 0;
    left: 0;
}
.sec-form .check-wrap span::after {
    position: absolute;
    content: '';
    display: block;
    width: 12px;
    height: 8px;
    border-left: 3px solid #002060;
    border-bottom: 3px solid #002060;
    transform: rotate(-45deg);
    top: 3px;
    left: 4px;
    opacity: 0;
    transition: .3s;
}

.check-wrap input:checked + span::after {
    opacity: 1;
}

/*--- submitボタン ---*/
.sec-form .btn-area {
	display: flex;
	margin: 50px auto 0;
	justify-content: center;
	align-items: center;
}
.sec-form .btn-submit {
	width: 320px;
	margin: 0 auto;
	padding: 20px;
	display: block;
	text-align: center;
	background: #002060;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	transition: .3s;
}
.sec-form .btn-submit:hover{
    opacity: 0.5;
}
.sec-form .btn-submit:disabled{
    opacity: 0.5;
	pointer-events: none;
}
.sec-form .btn-back {
	width: 320px;
	margin: 0 auto;
	padding: 20px;
	display: block;
	text-align: center;
    background: #fff;
	border: 1px solid #002060;
    color: #002060;
	font-size: 20px;
	font-weight: bold;
	transition: .3s;
}


@media (max-width: 768px) {
	.sec-form .form-wrap input[type="text"],
	.sec-form .form-wrap input[type="email"],
	.sec-form .form-wrap input[type="tel"],
	.sec-form .form-wrap input[type="number"],
	.sec-form .form-wrap textarea,
	.sec-form .form-wrap select{
		padding: 3vw;
	}
	.sec-form .form-wrap textarea{
		height: 40vw;
	}

	/*--- ppチェックボックス ---*/
	.sec-form .check-wrap {
		width: 100%;
		margin-top: 2vw;
		position: relative;
	}
	.sec-form .check-wrap span {
		position: relative;
		padding-top: 0.5vw;
		padding-left: 7vw;
	}

	.sec-form .check-wrap span::before {
		width: 5vw;
		height: 5vw;
	}
	.sec-form .check-wrap span::after {
		width: 3vw;
		height: 2vw;
		top: 0.8vw;
		left: 0.8vw;
	}

	/*--- select ---*/
	.sec-form .form-wrap .select-wrap::after{
		right: 3vw;
	}

	/*--- submitボタン ---*/
	.sec-form .btn-area {
		display: block;
		margin: 10vw auto 0;
	}
	.sec-form .btn-submit {
		width: 90%;
		max-width: 320px;
		margin: 0 auto;
		padding: 4vw;
		font-size: 3.6vw;
	}
	.sec-form .btn-back {
		width: 90%;
		max-width: 320px;
		margin: 0 auto;
		padding: 4vw;
		font-size: 3.6vw;
	}
	
}


.sec-tel {
	width: 90%;
	max-width: 988px;
	margin: -50px auto 0;
	padding: 50px;
	background: url("../../img/contact/bg_tel.png") center center no-repeat;
	background-size: cover;
	position: relative;
	z-index: 2;
	text-align: center;
	color: #fff;
}
.sec-tel h2 {
	font-size: 30px;
	font-weight: bold;
}
.sec-tel a.btn-sec-tel {
	width: 90%;
	max-width: 440px;
	margin: 40px auto 0;
	padding: 10px;
	display: block;
	border: 1px solid #fff;
	color: #fff;
}
.sec-tel a.btn-sec-tel p {
	display: inline-block;
	position: relative;
	font-weight: bold;
}
.sec-tel a.btn-sec-tel p::before {
	content: '';
	width: 30px;
	height: 40px;
	background: url("../../img/contact/icon_tel.svg") center center no-repeat;
	background-size: 100%;
	position: absolute;
	top: calc(50% - 20px);
	left: -45px;
}
.sec-tel a.btn-sec-tel p span {
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-weight: 700;
}

@media (max-width: 768px) {
	.sec-tel {
		width: 80%;
		max-width: 988px;
		margin: -10vw auto 0;
		padding: 8vw 5vw;
	}
	.sec-tel h2 {
		font-size: 5.2vw;
	}
	.sec-tel a.btn-sec-tel {
		width: 90%;
		max-width: 440px;
		margin: 8vw auto 0;
		padding: 2vw;
	}
	.sec-tel a.btn-sec-tel p::before {
		content: '';
		width: 6vw;
		height: 8vw;
		top: calc(50% - 4vw);
		left: -8vw;
	}
	.sec-tel a.btn-sec-tel p span {
		font-size: 4.6vw;
	}
	
}
