@charset "UTF-8";

/* DMTJ top
-----------------------------*/
ul#top-backnumber-list > li{
    width: 490px;
    margin-bottom: 30px;
    display: inline-block;
    color: #322f2d;
}
ul#top-backnumber-list > li:nth-child(2n){
    margin-left: 40px;
}
ul#top-backnumber-list > li img{
    width: 220px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
}
ul#top-backnumber-list > li .right{
    width: 255px;
    display: inline-block;
    vertical-align: top;
}
ul#top-backnumber-list > li .right p.magazine_number{
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
    /* 31号 */
    ul#top-backnumber-list > li#vol31 .right p.magazine_number{
        border-top: 8px solid #58b531;
        border-bottom: 1px solid #58b531;
    }
    /* 32号 */
    ul#top-backnumber-list > li#vol32 .right p.magazine_number{
        border-top: 8px solid #00693e;
        border-bottom: 1px solid #00693e;
    }
    /* 33号 */
    ul#top-backnumber-list > li#vol33 .right p.magazine_number{
        border-top: 8px solid #ea6176;
        border-bottom: 1px solid #ea6176;
    }
    /* 36号 */
    ul#top-backnumber-list > li#vol36 .right p.magazine_number{
        border-top: 8px solid #7c4697;
        border-bottom: 1px solid #7c4697;
    }
    /* 37号 */
    ul#top-backnumber-list > li#vol37 .right p.magazine_number{
        border-top: 8px solid #ea615a;
        border-bottom: 1px solid #ea615a;
    }
    /* 39号 */
    ul#top-backnumber-list > li#vol39 .right p.magazine_number{
        border-top: 8px solid #714f9d;
        border-bottom: 1px solid #714f9d;
    }

ul#top-backnumber-list > li .right ul.contents-list{
    display: block;
    border-top: 1px solid #cccccd;
}
ul#top-backnumber-list > li .right ul.contents-list li{
    padding: 5px;
    box-sizing: border-box;
    display: block;
    background: #edeceb;
}
ul#top-backnumber-list > li .right ul.contents-list li:nth-child(2n){
    background: #fff;
}
ul#top-backnumber-list > li .right ul.contents-list li a{
    padding: 0 0 0 10px;
    color: #322f2d;
    display: block;
    position: relative;
}
ul#top-backnumber-list > li .right ul.contents-list li a:before{
    content: "";
    position: absolute;
    background: url(../img/arrow_gray.png) center center no-repeat;
    background-size: 100%;
    width: 5px;
    height: 7px;
    top: 5px;
    left: 0;
}
ul#top-backnumber-list > li .right ul.contents-list li a p{
    font-size: 12px;
}

/* DMTJ page
-----------------------------*/

#sideR{
    width: 670px;
    float: right;
    color: #545454;
}

/*------タイトルカラー------*/
/* vol31 */
.vol31 #sideR p.contents-title{
    padding: 5px;
    display: block;
    background: rgba(88,181,49,0.3);
}

/* vol32 */
.vol32 #sideR p.contents-title{
    padding: 5px;
    display: block;
    background: rgba(0,105,62,0.3);
}

/* vol33 */
.vol33 #sideR p.contents-title{
    padding: 5px;
    display: block;
    background: rgba(234,97,118,0.3);
}

/* vol36 */
.vol36 #sideR p.contents-title{
    padding: 5px;
    display: block;
    background: rgba(124,70,151,0.3);
}

/* vol37 */
.vol37 #sideR p.contents-title{
    padding: 5px;
    display: block;
    background: rgba(234,97,90,0.3);
}

/* vol39 */
.vol39 #sideR p.contents-title{
    padding: 5px;
    display: block;
    background: rgba(113,79,157,0.3);
}


#sideR .inner{
    padding: 15px 5px;
}
#sideR .inner .tokushu{
    margin-bottom: 8px;
    padding: 3px 6px;
    display: inline-block;
    background: #e50316;
    color: #fff;
}
#sideR .inner h3{
    margin-bottom: 30px;
    color: #00479d;
    font-size: 20px;
    font-weight: normal;
}
#sideR .inner h3 span{
    display: block;
    color: #545454;
    font-size: 16px;
}
#sideR .inner img{
    width: 100%;
}

#sideR .inner .doctor-photo{
    width: 155px;
    margin-bottom: 70px;
    display: inline-block;
    float: left;
}
#sideR .inner .doctor-photo img{
    width: 142px;
}
#sideR .inner .doctor-photo p{
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.6;
}
#sideR .inner .doctor-photo p span{
    font-size: 14px;
}

#sideR .inner .doctor-photo2{
    width: 300px;
    margin-bottom: 50px;
    display: inline-block;
    float: left;
}
#sideR .inner .doctor-photo2 img{
    width: 280px;
}
#sideR .inner .doctor-photo2 p{
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.6;
	float: left;
}
#sideR .inner .doctor-photo2  .R{
    margin-top: 10px;
    margin-right: 20px;
    font-size: 12px;
    line-height: 1.6;
	float: right;
}
#sideR .inner .doctor-photo2 p span{
    font-size: 14px;
}
#sideR .inner .top-text2{
    width: 350px;
    display: inline-block;
    float: left;
    line-height: 1.6;
}


#sideR .inner .top-text{
    width: 505px;
    display: inline-block;
    float: left;
    line-height: 1.6;
}

#sideR .inner h4{
    margin: 10px auto 20px;
    color: #00479d;
    font-size: 16px;
    font-weight: normal;
}
.col-1{
    margin: 0 auto 20px !important;
    line-height: 1.7;
}
.col-1 > img{
    width: 40% !important;
    margin: 0 10px 10px 0;
    float: left;
}
.col-1 .img_caption{
    width: 40% !important;
    margin: 0 10px 10px 0;
    float: left;
}
.col-1 .img_caption p{
    font-size: 12px;
}
.col-1 .caption{
    margin: 0;
    font-size: 10px;
    padding-left:2em;
    text-indent:-2em;
}
.col-1 .caption2{
    margin: 0;
    font-size: 10px;
}
.col-1  p span.indent{
    margin: 10px 0 14px;
    padding-left:1em;
    text-indent:-1em;
    display: block;
    line-height: 1.6;
}

.col-2{
    margin: 20px auto 20px !important;
    line-height: 1.7;
}
.col-2 > img{
    width: 40% !important;
    margin: 0 2% 10px 0;
    float: left;
}
.col-2 h4{
    width: 58% !important;
    margin: 0 auto 20px !important;
    display: inline-block;
    float: right;
}
.col-2 .img_caption{
    width: 40% !important;
    margin: 5px 2% 14px 0;
    float: left;
}
.col-2 .img_caption p{
    font-size: 12px;
}
.col-2 .img_caption .up{
    margin-top: -25px;
    font-size: 12px;
    line-height: 1.2;
}
.col-2 .img_caption span{
 font-size: 14px;
}

.col-3{
    margin: 30px auto !important;
    line-height: 1.7;
    text-align: center;
}
.col-3 .img_caption{
    width: 25% !important;
    margin: 0 2%;
    display: inline-block;
    vertical-align: top;
}
.col-3 .img_caption p{
    margin-top: 10px;
    padding: 0 15px;
    font-size: 12px;
    text-align: left;
}
.col-3 .img_caption p span{
    font-size: 14px;
}

.col-4{
    margin: 30px auto 50px !important;
    line-height: 1.7;
    text-align: center;
}
.col-4 h5{
    margin: 0 auto 10px !important;
    display: inline-block;
    color: #00479d;
    font-size: 16px;
    margin: 0 2%;
    font-weight: normal;
}
.col-4 .img_caption{
    width: 100% !important;
    display: inline-block;
    vertical-align: top;
}
.col-4 .img_caption p{
    margin-top: 10px;
    font-size: 12px;
}

.col-5{
    margin: 30px auto !important;
    }	

.col-5 .img_caption1{
    width: 60% !important;
    display: inline-block;
    vertical-align: top;
}
.col-5 .img_caption2{
    width: 36% !important;
	margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}
.col-5 .img_caption2 .bg{
padding:10px;
background: #fef4df;
}

.col-5 .img_caption1 p {
    margin-bottom: 5px;
    text-align: left;
    font-size: 14px;
}
.col-5 .img_caption2 p {
    margin-bottom: 5px;
    text-align: left;
    font-size: 14px;
}

.col-5 .img_caption2 .caption{
    margin-top: 10px;
    font-size: 10px;
    text-align: right;
}

.col-6{
    margin: 30px auto !important;
    }
	
.col-6 .img_caption{
    width: 48% !important;
    margin: 0 10px 10px 0;
    display: inline-block;
    vertical-align: top;
}
.col-6 .img_caption .bg{
padding:10px;
background: #fef4df;
}
.col-6 .img_caption p{
    margin-bottom: 5px;
    text-align: left;
    font-size: 12px;
}

.col-6 .img_caption .caption{
    margin-top: 10px;
    font-size: 10px;
    text-align: right;
}

.col-7{
    margin: 30px auto !important;
    }
.col-7  p{
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
}
.col-7 .caption{
    margin-top: 5px;
    font-size: 10px;
    text-align: right;
}
.col-7 .bg{
padding:10px;
background: #fef4df;
}
 	
.col-7 .img_caption{
    width: 45% !important;
    margin: 0 10px 10px 15px;
    display: inline-block;
    vertical-align: top;
}

.col-7 .img_caption p{
    margin: 5px 0px;
    text-align: center;
    font-size: 14px;
}

.col-8{
    margin: 30px auto !important;
    }
	
.col-8 .img_caption{
    width: 40% !important;
    margin: 0 4% 10px 4%;
    display: inline-block;
    vertical-align: top;
}
.col-8 .img_caption p{
    margin-bottom: 5px;
    text-align: center;
    font-size: 12px;
}
.col-8 .img_caption p .tc{
    text-align: center;
}


.col-9{
    margin: 30px auto 60px !important;
    line-height: 1.7;
}
.col-9 .img_caption{
    width: 60% !important;
    margin: 5px 2% 14px 0;
    float: left;
}
.col-9 .img_caption .up{
    margin-top: -30px;
    font-size: 12px;
    line-height: 1.2;
}


.pinksquare{
margin:0 5px;
width:20px;
height:10px;
background: #ef888f;
color: #ef888f;
}

.answerer{
    margin-bottom: 40px !important;
}
.answerer p{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    line-height: 1.7;
}
.answerer p .name{
    font-size: 18px;
}


.notes-area{
    margin: 0 auto 30px !important;
}
.notes-area > p{
    margin-bottom: 18px;
    padding-left:2.6em;
    text-indent:-2.6em;
}
.notes-area .figure-area{
    padding: 10px;
    background: #fef4df;
    font-size: 12px;
}
.notes-area .figure-area img{
    margin-bottom: 10px;
}
.notes-area .figure-area p span.indent{
    margin: 10px 0 14px;
    padding-left:2.6em;
    text-indent:-2.6em;
    display: block;
}
.notes-area .figure-area p span.indent2{
    margin: 10px 0 14px;
    padding-left:1em;
    text-indent:-1em;
    display: block;
    line-height: 1.6;
}
.notes-area .figure-area p span.indent3{
    margin: 3px  5px ;
    padding-left:1em;
    text-indent:-1em;
    display: block;
    line-height: 1.6;
	    font-size: 12px;
}
.notes-area .figure-area p span.indent4{
    margin: 5px 0px 10px 20px ;
    padding-left:1em;
    text-indent:-1em;
    display: block;
    line-height: 1.6;
	    font-size: 12px;
}
.bgarr{
	    font-size: 36px !important;
    margin: 0px 0px 0px 20px !important;
	}

.notes-area .figure-area p span.indent{
    margin: 10px 0 14px;
    padding-left:2.6em;
    text-indent:-2.6em;
    display: block;
}
.notes-area .figure-area p.caption{
    margin: 0;
    text-align: right;
    font-size: 10px;
}
.notes-area .figure-area2{
	border: 1px solid #000;
    padding: 15px;
    font-size: 12px;
}
.notes-area .figure-area2 p span.indent3{
    margin: 2px 0 ;
    padding-left:6.6em;
    text-indent:-6.6em;
    display: block;
}
.notes-area .figure-area2 p span.indent4{
    margin: 2px 0 ;
    padding-left:1em;
    text-indent:-1em;
    display: block;
    line-height: 1.6;
}

.notes-area .figure-area3{
	border: 1px solid #000;
    margin-top: 10px ;
	padding: 0px;
    font-size: 12px;
text-align:center;
}
.notes-area .figure-area4{
	border: 1px solid #000;
    background: #fff;
    margin: 3px ;
	padding:5px;
    font-size: 12px;
	border-radius: 5px;	
}
.notes-area .figure-area4 p span.indent{
    margin: 2px 0 ;
    padding-left:8.1em;
    text-indent:-8.1em;
    display: block;
}
.notes-area .figure-area4 p span.indent2{
    margin: 2px 0 ;
    padding-left:5.1em;
    text-indent:-5.1em;
    display: block;
}

.notes-area .figure-area5{
width:100%;
    margin-top: 0px ;
	padding-top:5px;
    font-size: 12px;
	}
.notes-area .figure-area5  .box1 {
	width:15% !important;
text-align:center;
	vertical-align:bottom;
	display:table-cell;
    font-size: 55px;
	}
.notes-area .figure-area5  .box2 {
	width:85% !important;
	vertical-align:middle;
	display:table-cell;
}

.notes-area .figure-area5 p span.indent{
    margin: 2px 0 ;
    padding-left:1em;
    text-indent:-1em;
display:block;
}
.figure-area5:after {
    content: "";
    clear: both;
    display: block;
}



.notes-area2{
    margin: 0 auto 30px !important;
}
.notes-area2 > p{
    margin: 30px 0 5px 0;
}
.notes-area2 .figure-area{
    padding: 10px 30px;
    background: #fef4df;
	    line-height: 1.6;
    font-size: 14px;
 text-indent:-1em;
}
.notes-area3{
clear:both;
}
.notes
.notes-area3 > p{
    margin: 30px 0 5px 0;
        font-weight: bold;
}
.notes-area3 .figure-area{
    font-size: 14px;
    line-height: 1.6;
	    margin-bottom:40px;
}
.notes-area3 .figure-area p span.indent2{
    margin:0px;
    padding-left:1em;
    text-indent:-1em;
    display: block;
    line-height: 1.6;
}

#pager{
    margin: 40px auto 0;
    display: block;
    text-align: center;
    color: #867b74;
    font-size: 12px;
}
#pager .pager_box{
    width: 46px;
    height: 20px;
    float: left;
}
#pager p{
    margin: 0 auto;
    display: inline-block;
}
#pager a.prev{
    padding-left: 20px;
    float: left;
    position: relative;
    color: #867b74;
}
#pager .prev_blank{
    width: 46px;
    height: 20px;
    float: left;
}
#pager a.prev::before{
    content: "";
    width: 15px;
    height: 15px;
    background: url(../img/arrow_prev.png) 0 0 no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2px;
    -webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	transition: opacity .2s;
}
#pager a.next{
    padding-right: 20px;
    float: right;
    position: relative;
    color: #867b74;
}
#pager .next_blank{
    width: 46px;
    height: 20px;
    float: right;
}
#pager a.next::before{
    content: "";
    width: 15px;
    height: 15px;
    background: url(../img/arrow_next.png) 0 0 no-repeat;
    background-size: 100%;
    position: absolute;
    right: 0;
    margin-top: 2px;
    -webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	transition: opacity .2s;
}
#pager a.prev:hover::before, 
#pager a.next:hover::before{
    opacity: 0.6;
}


/* side navi*/
#sideL{
    width: 300px;
    margin-right: 50px;
    float: left;
    color: #867b74;
}

#sideL #mokuji{
    margin-bottom: 24px;
}
#sideL #mokuji img.magazine_h1{
    width: 30%;
    float: left;
}
#sideL #mokuji img.DMTJ_logo{
    width: 67%;
    margin-bottom: 21px;
    float: right;
}
#sideL #mokuji p{
    width: 67%;
    float: right;
    font-size: 18px;
}
#sideL ul.contents-list{
    margin-bottom: 46px;
    display: block;
    border-top: 1px solid #cccccd;
}
#sideL ul.contents-list li{
    padding: 16px 10px 16px 28px;
    display: block;
    border-bottom: 1px solid #cccccd;
}
#sideL ul.contents-list li a{
    color: #867b74;
}
#sideL ul.contents-list li a p{
    font-size: 16px;
}
#sideL ul.contents-list li a p span{
    display: block;
    font-size: 12px;
}

/*------current------*/

/* vol31 */
.vol31 #sideL ul.contents-list li.current{
    position: relative;
}
.vol31 #sideL ul.contents-list li.current::before{
    content: "";
    width: 17px;
    height: 67px;
    background: url(../img/vol31/arrow_contents.png) 0 0 no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -34px;
}

/* vol32 */
.vol32 #sideL ul.contents-list li.current{
    position: relative;
}
.vol32 #sideL ul.contents-list li.current::before{
    content: "";
    width: 17px;
    height: 67px;
    background: url(../img/vol32/arrow_contents.png) 0 0 no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -34px;
}

/* vol33 */
.vol33 #sideL ul.contents-list li.current{
    position: relative;
}
.vol33 #sideL ul.contents-list li.current::before{
    content: "";
    width: 17px;
    height: 67px;
    background: url(../img/vol33/arrow_contents.png) 0 0 no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -34px;
}

/* vol36 */
.vol36 #sideL ul.contents-list li.current{
    position: relative;
}
.vol36 #sideL ul.contents-list li.current::before{
    content: "";
    width: 17px;
    height: 67px;
    background: url(../img/vol36/arrow_contents.png) 0 0 no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -34px;
}

/* vol37 */
.vol37 #sideL ul.contents-list li.current{
    position: relative;
}
.vol37 #sideL ul.contents-list li.current::before{
    content: "";
    width: 17px;
    height: 67px;
    background: url(../img/vol37/arrow_contents.png) 0 0 no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -34px;
}

/* vol39*/
.vol39 #sideL ul.contents-list li.current{
    position: relative;
}
.vol39 #sideL ul.contents-list li.current::before{
    content: "";
    width: 17px;
    height: 67px;
    background: url(../img/vol39/arrow_contents.png) 0 0 no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -34px;
}

#sideL #backnumber{
    margin-bottom: 21px;
    position: relative;
    font-size: 18px;
}

#sideL ul#backnumber-list{
    padding: 0 10px;
    display: block;
}
#sideL ul#backnumber-list li{
    width: 135px;
    margin-bottom: 14px;
    display: inline-block;
}
#sideL ul#backnumber-list li:nth-child(2n){
    margin-left: 10px;
}
#sideL ul#backnumber-list li a{
    display: inline-block;
}
#sideL ul#backnumber-list li a img{
    width: 100%;
    -webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
#sideL ul#backnumber-list li a:hover img{
    opacity: 0.5;
}
#sideL ul#backnumber-list li p{
    margin-top: 5px;
    text-align: center;
}




@media screen and (max-width: 750px){
    /* #sec-contents
    -----------------------------*/
    #sec-contents{
        width: 94%;
        margin: 0 3%;
        padding: 15px 15px 50px;
        background: #fff;
        border-top: 10px solid #e50316;
        border-bottom: 10px solid #cec9c5;
    }
    /* DMTJ top
    -----------------------------*/
    ul#top-backnumber-list > li{
        width: 100%;
        margin-bottom: 30px;
        display: inline-block;
        color: #322f2d;
    }
    ul#top-backnumber-list > li:nth-child(2n){
        margin-left: 0;
    }
    ul#top-backnumber-list > li img{
        width: 27%;
        margin-right: 3%;
        display: inline-block;
        vertical-align: top;
    }
    ul#top-backnumber-list > li .right{
        width: 70%;
        display: inline-block;
        vertical-align: top;
    }
    ul#top-backnumber-list > li .right p.magazine_number{
        padding: 5px;
        box-sizing: border-box;
        font-size: 16px;
    }
        /* 31号 */
        ul#top-backnumber-list > li#vol31 .right p.magazine_number{
            border-top: 8px solid #58b531;
            border-bottom: 1px solid #58b531;
        }
        /* 32号 */
        ul#top-backnumber-list > li#vol32 .right p.magazine_number{
            border-top: 8px solid #00693e;
            border-bottom: 1px solid #00693e;
        }
        /* 33号 */
        ul#top-backnumber-list > li#vol33 .right p.magazine_number{
            border-top: 8px solid #ea6176;
            border-bottom: 1px solid #ea6176;
        }
        /* 36号 */
        ul#top-backnumber-list > li#vol36 .right p.magazine_number{
            border-top: 8px solid #7c4697;
            border-bottom: 1px solid #7c4697;
        }
        /* 37号 */
        ul#top-backnumber-list > li#vol37 .right p.magazine_number{
            border-top: 8px solid #ea615a;
            border-bottom: 1px solid #ea615a;
        }
        /* 39号 */
        ul#top-backnumber-list > li#vol39 .right p.magazine_number{
            border-top: 8px solid #714f9d;
            border-bottom: 1px solid #714f9d;
        }

    ul#top-backnumber-list > li .right ul.contents-list{
        display: block;
        border-top: 1px solid #cccccd;
    }
    ul#top-backnumber-list > li .right ul.contents-list li{
        padding: 5px;
        box-sizing: border-box;
        display: block;
        background: #edeceb;
    }
    ul#top-backnumber-list > li .right ul.contents-list li:nth-child(2n){
        background: #fff;
    }
    ul#top-backnumber-list > li .right ul.contents-list li a{
        padding: 0 0 0 10px;
        color: #322f2d;
        display: block;
        position: relative;
    }
    ul#top-backnumber-list > li .right ul.contents-list li a:before{
        content: "";
        position: absolute;
        background: url(../img/arrow_gray.png) center center no-repeat;
        background-size: 100%;
        width: 5px;
        height: 7px;
        top: 5px;
        left: 0;
    }
    ul#top-backnumber-list > li .right ul.contents-list li a p{
        font-size: 12px;
    }

    
    
    #sideR{
        width: 100%;
        margin-bottom: 50px;
        float: none;
        color: #545454;
    }

    
    #sideR #mokuji{
        margin-bottom: 24px;
    }
    #sideR #mokuji img.magazine_h1{
        width: 30%;
        float: left;
    }
    #sideR #mokuji img.DMTJ_logo{
        width: 67%;
        margin-bottom: 21px;
        float: right;
    }
    #sideR #mokuji p{
        width: 67%;
        float: right;
        font-size: 18px;
    }
    
    #sideR .inner{
        padding: 15px 5px;
    }
    #sideR .inner .tokushu{
        margin-bottom: 8px;
        padding: 3px 6px;
        display: inline-block;
        background: #e50316;
        color: #fff;
    }
    #sideR .inner h3{
        margin-bottom: 30px;
        color: #00479d;
        font-size: 20px;
        font-weight: normal;
    }
    #sideR .inner h3 span{
        display: block;
        color: #545454;
        font-size: 16px;
    }
    #sideR .inner img{
        width: 100%;
    }

    #sideR .inner .doctor-photo{
        width: 155px;
        margin-bottom: 14px;
        display: inline;
        float: left;
    }
    #sideR .inner .doctor-photo img{
        width: 142px;
    }
    #sideR .inner .doctor-photo p{
        margin-top: 10px;
        font-size: 12px;
        line-height: 1.6;
    }
    #sideR .inner .doctor-photo p span{
        font-size: 14px;
    }

    #sideR .inner .doctor-photo2{
        width: 100%;
        margin-bottom: 14px;
        display: inline;

    }
    #sideR .inner .doctor-photo2 img{
        width: 100%;
    }


	#sideR .inner .top-text2{
        width: auto;
        margin-bottom: 70px;
        display: inline-block;
        line-height: 1.8 !important;
    }


    #sideR .inner .top-text{
        width: auto;
        margin-bottom: 70px;
        display: inline-block;
        float: left;
        line-height: 1.8 !important;
    }

    #sideR .inner h4{
        margin: 10px auto 20px;
        color: #00479d;
        font-size: 16px;
        font-weight: normal;
    }
    
    .col-1{
        margin: 0 auto 20px !important;
        line-height: 1.7;
    }
    .col-1 .img_caption{
        width: 75% !important;
        margin: 10px 10% 20px;
        float: none;
    }
    .col-1 .img_caption p{
        font-size: 12px;
    }

    .col-2{
        margin: 20px auto 20px !important;
        line-height: 1.7;
    }
    .col-2.bold{
        font-weight: bold;
    }
    .col-2 > img{
        width: 96% !important;
        margin: 0 2% 10px;
        float: none;
    }
    .col-2 h4{
        width: 100% !important;
        margin: 0 auto 20px !important;
        display: inline-block;
        float: right;
    }
    .col-2 .img_caption{
        width: 96% !important;
        margin: 0 2% 20px;
        float: none;
    }
    .col-2 .img_caption p{
        font-size: 12px;
    }
   .col-2 .img_caption .up{
    margin-top: -35px;
    font-size: 12px;
}
    
    
    .col-3{
        margin: 30px auto !important;
        line-height: 1.7;
        text-align: center;
    }
    .col-3 .img_caption{
        width: 80% !important;
        margin: 0 10%;
        display: inline-block;
        vertical-align: top;
    }
    .col-3 .img_caption p{
        margin-top: 10px;
        padding: 0 10%;
        font-size: 12px;
        text-align: left;
    }

    .col-4{
        margin: 0 auto 50px !important;
        line-height: 1.7;
        text-align: left;
    }
    .col-4 h5{
        margin: 0 auto 10px !important;
        display: inline-block;
        color: #00479d;
        font-size: 16px;
        font-weight: normal;
    }
    .col-4 .img_caption{
        width: 100% !important;
        margin: 0 2%;
        display: inline-block;
        vertical-align: top;
    }
    .col-4 .img_caption p{
        margin-top: 10px;
        font-size: 12px;
    }
	
.col-5{
    margin: 30px auto !important;
    }	

.col-5 .img_caption1{
    width: 98% !important;
    display: inline-block;
    vertical-align: top;
}
.col-5   .img_caption2{
    width: 98% !important;
	margin-top: 10px;
	margin-left: 0px;
	display: inline-block;
    vertical-align: top;
}
.col-5 .img_caption2 .bg{
padding:10px;
background: #fef4df;
}

.col-5 .img_caption1 .img_caption2 p{
    text-align: left;
    font-size: 14px;
}

.col-5 .img_caption2 .caption{
    margin-top: 10px;
    font-size: 10px;
    text-align: right;
}

.col-6{
    margin: 30px auto !important;
    }
	
.col-6 .img_caption{
    width: 98% !important;
    margin: 0 10px 10px 0;
    display: inline-block;
    vertical-align: top;
}
.col-6 .img_caption .bg{
padding:10px;
margin-bottom:10px;
background: #fef4df;
}
.col-6 .img_caption p{
    text-align: left;
    font-size: 14px;
}

.col-6 .img_caption .caption{
    margin-top: 10px;
    font-size: 10px;
    text-align: right;
}
	
.col-7{
    margin: 30px auto !important;
    }
.col-7  p{
    text-align: left;
    font-size: 14px;
}
.col-7 .caption{
    margin-top: 5px;
    font-size: 10px;
    text-align: right;
}
.col-7 .bg{
padding:10px;
background: #fef4df;
}
 	
.col-7 .img_caption{
    width: 95% !important;
    margin: 0 10px 10px 10px;
    display: inline-block;
    vertical-align: top;
}

.col-7 .img_caption p{
    margin: 5px 0px;
    text-align: center;
    font-size: 14px;
}

.col-8{
    margin: 30px auto !important;
    }
	
.col-8 .img_caption{
        width: 96% !important;
        margin: 0 2% 10px;
        float: none;
}
.col-8 .img_caption p{
    margin-bottom: 5px;
    text-align: center;
    font-size: 12px;
}

 
.col-9{
    margin: 10px auto 40px !important;
    line-height: 1.7;
}
.col-9 .img_caption{
    width: 96% !important;
        margin: 30px 2% 10px;
        float: none;
}
.col-9 .img_caption .up{
    margin-top: -30px;
    font-size: 12px;
    line-height: 1.2;
}

    .answerer{
        margin-bottom: 40px !important;
    }
    .answerer p{
        width: 100%;
        margin-bottom: 30px !important;
        display: inline-block;
        vertical-align: top;
        line-height: 1.7;
    }
    
    
    .notes-area{
        margin: 0 auto 30px !important;
    }
    .notes-area > p{
        margin-bottom: 14px;
        padding-left:2.6em;
        text-indent:-2.6em;
    }
    .notes-area .figure-area{
        padding: 10px;
        background: #fef4df;
        font-size: 12px;
    }
    .notes-area .figure-area img{
        margin-bottom: 10px;
    }
    .notes-area .figure-area p.caption{
        margin: 0;
        text-align: right;
        font-size: 10px;
    }
	
 .notes-area2{
        margin: 0 auto 30px !important;
    }

.notes-area2 .figure-area{
    padding: 30px;
    background: #fef4df;
    font-size: 14px;
    line-height: 1.6;
}
    .notes-area2 > p{
        margin-bottom: 14px;
        padding-left:2.6em;
        text-indent:-2.6em;
    }

    #pager{
        margin: 40px auto 0;
        display: block;
        text-align: center;
        color: #867b74;
        font-size: 12px;
    }
    #pager p{
        display: inline-block;
    }
    #pager a.prev{
        padding-left: 20px;
        float: left;
        position: relative;
        color: #867b74;
    }
    #pager a.prev::before{
        content: "";
        width: 15px;
        height: 15px;
        background: url(../img/arrow_prev.png) 0 0 no-repeat;
        background-size: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 2px;
        -webkit-transition: opacity .2s;
        -moz-transition: opacity .2s;
        transition: opacity .2s;
    }
    #pager a.next{
        padding-right: 20px;
        float: right;
        position: relative;
        color: #867b74;
    }
    #pager a.next::before{
        content: "";
        width: 15px;
        height: 15px;
        background: url(../img/arrow_next.png) 0 0 no-repeat;
        background-size: 100%;
        position: absolute;
        right: 0;
        margin-top: 2px;
        -webkit-transition: opacity .2s;
        -moz-transition: opacity .2s;
        transition: opacity .2s;
    }
    #pager a.prev:hover::before, 
    #pager a.next:hover::before{
        opacity: 0.6;
    }


    /* side navi*/
    #sideL{
        width: 100%;
        margin-right: 0;
        float: none;
        color: #867b74;
    }
    #sideL #mokuji{
        margin-bottom: 24px;
        padding-left: 0;
        position: relative;
        font-size: 18px;
    }
    #sideL #mokuji img.magazine_h1{
        display: none;
    }
    #sideL #mokuji img.DMTJ_logo{
        display: none;
    }
    #sideL #mokuji p{
        width: 100%;
        float: left;
        font-size: 18px;
    }
    
    #sideL ul#contents-list{
        margin-bottom: 46px;
        display: block;
        border-top: 1px solid #cccccd;
    }
    #sideL ul#contents-list li{
        padding: 16px 10px 16px 28px;
        display: block;
        border-bottom: 1px solid #cccccd;
    }
    #sideL ul#contents-list li a{
        color: #867b74;
    }
    #sideL ul#contents-list li a p{
        font-size: 16px;
    }
    #sideL ul#contents-list li a p span{
        display: block;
        font-size: 12px;
    }

    #sideL ul#contents-list li.current{
        position: relative;
    }
    #sideL ul#contents-list li.current::before{
        content: "";
        width: 17px;
        height: 67px;
        background: url(../img/arrow_contents.png) 0 0 no-repeat;
        background-size: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -34px;
    }


    #sideL #backnumber{
        margin-bottom: 21px;
        position: relative;
        font-size: 18px;
    }

    #sideL ul#backnumber-list{
        padding: 0 10px;
        display: block;
    }
    #sideL ul#backnumber-list li{
        width: 48%;
        margin-bottom: 14px;
        display: inline-block;
    }
    #sideL ul#backnumber-list li:nth-child(2n){
        margin-left: 4%;
    }
    #sideL ul#backnumber-list li a img{
        width: 100%;
        -webkit-transition: opacity .2s;
        -moz-transition: opacity .2s;
        transition: opacity .2s;
    }
    #sideL ul#backnumber-list li:hover a img{
        opacity: 1;
    }
    #sideL ul#backnumber-list li p{
        margin-top: 5px;
        text-align: center;
    }
}



