@charset "UTF-8";
/* CSS Document */
/* reset
---------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
#d1-d{display: none}
* {
    box-sizing: border-box;
}

body {
    line-height: 1;
    -webkit-text-size-adjust: 100%;
	background: #fff
}

img {
    border: 0;
    vertical-align: bottom;
	width:100%
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
sub {vertical-align: sub;}
sup {vertical-align: super;}

ol, ul {list-style: none;}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

pre {
  white-space: pre-wrap;
}

/* base
---------------------------------------------------------------------------- */
/*------------- General Elements -------------*/

html{font-size: 62.5%; }
body{
	-webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size:1.5rem;
	line-height:1.5;
	font-family: 'Zen Kaku Gothic New', sans-serif;
	font-weight: 400;
	color: #333;
}
@media screen and (max-width: 768px){
		body{font-size:3.2vw;}
}

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, input, p, blockquote, fieldset, div{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul li, ol li{list-style: none;}
table{ margin: 0; padding: 0; font-size: 100%; border-collapse: collapse; border-spacing: 0;}
caption{ text-align: left;}
table, pre, code, select, textarea, kbd, var, ins, del, samp{font-size: 100%;}
address,cite,dfn,em,strong,var,th,ins,del,samp{font-weight: normal;font-style: normal;}
img{ border:none; display: block; margin: 0; padding: 0;}
a, a:visited{
	color: #333;
	text-decoration:none;
	outline-color:#1F644A;
	box-sizing: border-box
}
button{
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	appearance: none;
	outline-color:#1F644A;
	outline-offset:-4px;
}

fieldset{border: none;}
header,section,nav,aside,footer,article{ display: block;}



.pc{ display:block;}
.tb{ display:none !important;}
.sp{ display:none !important;}
.pctb{ display:block!important;}
.tbsp{ display:none!important;}


@media screen and (max-width: 1023px){
	.pc{ display:none !important;}
	.tb{ display:block!important;}
	.sp{ display:none !important;}
	.pctb{ display:block!important;}
	.tbsp{ display:block!important;}
}
@media screen and (max-width: 768px){
	.pc{ display:none !important;}
	.tb{ display:none !important;}
	.sp{ display:block !important;}
	.pctb{ display:none !important;}
	.tbsp{ display:block!important;}
}

/*--- PCで電話リンク無効 ---*/
@media(min-width: 768px){
  a[href^="tel:"]{
    pointer-events: none;
  }
}

@media screen and (min-width: 768px) {
    .is-imghover {
        transition: opacity .3s ease-in-out;
    }
    .is-imghover:hover {
        opacity: .6;
    }
}

/*------------------------------------------------------------------------------------------------
    common Style
--------------------------------------------------------------------------------------------------*/
.clearfix{ clear:both;}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}


.mb0 {margin-bottom: 0px !important; }
.mb5 {margin-bottom: 5px !important; }
.mb10 {margin-bottom: 10px !important; }
.mb15 {margin-bottom: 15px !important; }
.mb20 {margin-bottom: 20px !important; }
.mb25 {margin-bottom: 25px !important; }
.mb30 {margin-bottom: 30px !important; }
.mb35 {margin-bottom: 35px !important; }
.mb40 {margin-bottom: 40px !important; }
.mb45 {margin-bottom: 45px !important; }
.mb50 {margin-bottom: 50px !important; }
.mb55 {margin-bottom: 55px !important; }
.mb60 {margin-bottom: 60px !important; }
.mb70 {margin-bottom: 70px !important; }
.mb80 {margin-bottom: 80px !important; }
.mb90 {margin-bottom: 90px !important; }
.mb100 {margin-bottom: 100px !important; }


.mt1p{margin-top:1% !important;}
.mt2p{margin-top:2% !important;}
.mt3p{margin-top:3% !important;}
.mt4p{margin-top:4% !important;}
.mt5p{margin-top:5% !important;}
.mt10p{margin-top:10% !important;}
.mt15p{margin-top:15% !important;}
.mt20p{margin-top:20% !important;}
.mt25p{margin-top:25% !important;}
.mt30p{margin-top:30% !important;}
.mt35p{margin-top:35% !important;}
.mt40p{margin-top:40% !important;}
.mt45p{margin-top:45% !important;}
.mt50p{margin-top:50% !important;}

.mt0 {margin-top: 0px !important; }
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;}
.mt40{margin-top:40px !important;}
.mt45{margin-top:45px !important;}
.mt50{margin-top:50px !important;}
.mt55{margin-top:55px !important;}
.mt60{margin-top:60px !important;}
.mt65{margin-top:65px !important;}
.mt70{margin-top:70px !important;}
.mt75{margin-top:75px !important;}
.mt80{margin-top:80px !important;}
.mt85{margin-top:85px !important;}
.mt90{margin-top:90px !important;}
.mt100{margin-top:100px !important;}


.mr0{margin-right:0px !important;}
.mr5{margin-right:5px !important;}
.mr10{margin-right:10px !important;}
.mr15{margin-right:15px !important;}
.mr18{margin-right:18px !important;}
.mr20{margin-right:20px !important;}
.mr25{margin-right:25px !important;}
.mr30{margin-right:30px !important;}
.mr35{margin-right:35px !important;}
.mr40{margin-right:40px !important;}
.mr45{margin-right:45px !important;}
.mr50{margin-right:50px !important;}

.ml0{margin-left:0px !important;}
.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml20{margin-left:20px !important;}
.ml25{margin-left:25px !important;}
.ml30{margin-left:30px !important;}
.ml35{margin-left:35px !important;}
.ml40{margin-left:40px !important;}
.ml45{margin-left:45px !important;}
.ml50{margin-left:50px !important;}

.pb0{ padding-bottom: 0px!important;}

.tac { text-align: center !important; }
.tar { text-align: right !important; }
.tal { text-align: left !important; }


.fL{ float:left;}
.fR{ float:right;}
.bold{ font-weight: bold;}
.underline{ text-decoration:underline;}
