@charset "UTF-8";

@use 'config' as *;


/* モーダル
---------------------------------------------------------------------------- */

.modaal-inner-wrapper {
    padding: 80px 80px;
}

.modaal-wrapper .modaal-close {
    border: none;
    background: #B1B1B1;
    padding: 0;
    -webkit-appearance: none;
}

.modaal-close {
    position: absolute;
    right: -60px;
    top: -60px;
    color: #2B2624;
    cursor: pointer;
    opacity: 1;
    width: 40px;
    height: 40px;
    background: #B1B1B1;
    border-radius: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.modaal-close:focus,.modaal-close:hover {
    outline: 0;
    background: #B1B1B1;
}

.modaal-close:focus:after,.modaal-close:focus:before,.modaal-close:hover:after,.modaal-close:hover:before {
    background: #2B2624;
}

.modaal-close span {
    position: absolute!important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    padding: 0!important;
    border: 0!important;
    height: 1px!important;
    width: 1px!important;
    overflow: hidden
}

.modaal-close:after,.modaal-close:before {
    display: block;
    content: " ";
    position: absolute;
    top: 8px;
    left: 19px;
    width: 3px;
    height: 26px;
    border-radius: 0;
    background: #2B2624;
    -webkit-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out
}

.modaal-container {
	background: transparent;
}

.modaal-content-container {
    padding: 0;
}



@media screen and (max-width: #{$breakpoint}px){

	.modaal-inner-wrapper {
		padding: 80px 25px;
	}
	.modaal-close {
		right: 0;
	}
	
}

/* 宿泊予約モーダル
---------------------------------------------------------------------------- */
.l-reservation-wrap {
	width: 100%;
	padding: rem(60) 0;
	text-align: center;
	background: #fff;
}

.l-reservation-ttl {
	margin-bottom: rem(30);
	@include fz(22,22,0,700);
}

.l-reservation-txt {
	margin-bottom: rem(30);
	@include fz(16,22,0,400);
}

.l-reservation-tel {
	margin-bottom: rem(20);
	@include fz(32,42,0,700);
}

.l-reservation-email {
	@include fz(18,22,0,700);
}


@media screen and (max-width: #{$breakpoint}px){
	.l-reservation-wrap {
		width: 100%;
		padding: vw(80) 0;
	}

	.l-reservation-ttl {
		margin-bottom: vw(60);
		@include spfz(40);
	}

	.l-reservation-txt {
		margin-bottom: vw(60);
		@include spfz(30);
	}

	.l-reservation-tel {
		margin-bottom: vw(40);
		@include spfz(40);
	}

	.l-reservation-email {
		@include spfz(30);
	}
	
}

/* パーツ系
---------------------------------------------------------------------------- */
.m-sec-inn {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.m-flex-box {
	@include flex;
}

/* ページ下部 写真 */
.m-footer-img {
	width: 100%;
	position: relative;
}
.m-footer-img-caption {
	padding: 0 rem(4);
	display: inline-block;
	@include fz(10,22,0,500);
	color: #fff;
	background: #2B2624;
	position: absolute;
	bottom: 10px;
	right: 3%;
}

/* テキスト系
---------------------------------------------------------------------------- */
.is-serif {
	font-family: "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho",serif;
}
.is-vertical {
    writing-mode: vertical-rl;
}


/* スクロールエフェクト
---------------------------------------------------------------------------- */
.is-effect {
    opacity: 0;
    -webkit-transform: translate(0, 50px);
    -moz-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
    -webkit-transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
}
.is-effect.is-effect-on {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}