@charset "UTF-8";

@use  "config" as *;

/* RWD表示切り替え
---------------------------------------------------------------------------- */
@media all and (min-width: #{$breakpoint+1}px){
	.nopc{
		display: none !important;
	}
}
@media all and (max-width: #{$breakpoint}px){
	.nosp{
		display: none !important;
	}
}

/* フォントサイズ
---------------------------------------------------------------------------- */
$i: 50;
@while $i > 5 {
	.fs#{$i} {
		font-size: calc($i / 10)+rem !important;
	}
	$i: $i - 1;
}
@media screen and (max-width: #{$breakpoint}px){
	$i: 50;
	@while $i > 5 {
		.spfs#{$i} {
			font-size: calc($i / 750 * 100)+vw !important;
		}
		$i: $i - 1;
	}
}

/* clearfix
---------------------------------------------------------------------------- */
.clearfix{
	zoom: 1;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}

/* テキスト
---------------------------------------------------------------------------- */
.tal{
	text-align: left !important;
}
.tac{
	text-align: center !important;
}
.tar{
	text-align: right !important;
}
.fwb{
	font-weight: bold !important;
}
@media screen and (max-width: #{$breakpoint}px){
	.sptal{
		text-align: left !important;
	}
	.sptac{
		text-align: center !important;
	}
	.sptar{
		text-align: right !important;
	}
	.spfwb{
		font-weight: bold !important;
	}
}

/* マージン
---------------------------------------------------------------------------- */
$i: 100;
@while $i > -5 {
	.mt#{$i} {
		margin-top: calc($i / 10)+rem !important;
	}
	.mb#{$i} {
		margin-bottom: calc($i / 10)+rem !important;
	}
	.ml#{$i} {
		margin-left: calc($i / 10)+rem !important;
	}
	.mr#{$i} {
		margin-right: calc($i / 10)+rem !important;
	}
	$i: $i - 5;
}
@media screen and (max-width: #{$breakpoint}px){
	$i: 100;
	@while $i > -5 {
		.spmt#{$i} {
			margin-top: calc($i / 750 * 100)+vw !important;
		}
		.spmb#{$i} {
			margin-bottom: calc($i / 750 * 100)+vw !important;
		}
		.spml#{$i} {
			margin-left: calc($i / 750 * 100)+vw !important;
		}
		.spmr#{$i} {
			margin-right: calc($i / 750 * 100)+vw !important;
		}
		$i: $i - 5;
	}
}

/* パディング
---------------------------------------------------------------------------- */
$i: 100;
@while $i > -5 {
	.pt#{$i} {
		padding-top: calc($i / 10)+rem !important;
	}
	.pb#{$i} {
		padding-bottom: calc($i / 10)+rem !important;
	}
	.pl#{$i} {
		padding-left: calc($i / 10)+rem !important;
	}
	.pr#{$i} {
		padding-right: calc($i / 10)+rem !important;
	}
	$i: $i - 5;
}
@media screen and (max-width: #{$breakpoint}px){
	$i: 100;
	@while $i > -5 {
		.sppt#{$i} {
			padding-top: calc($i / 750 * 100)+vw !important;
		}
		.sppb#{$i} {
			padding-bottom: calc($i / 750 * 100)+vw !important;
		}
		.sppl#{$i} {
			padding-left: calc($i / 750 * 100)+vw !important;
		}
		.sppr#{$i} {
			padding-right: calc($i / 750 * 100)+vw !important;
		}
		$i: $i - 5;
	}
}