@charset "UTF-8";
/* MV
---------------------------------------------------------------------------- */
.p-sec-mv {
  width: 100%;
  padding: 6rem 0 30rem;
  background: url("../../images/destinations/img_mv_pc.jpg") center center no-repeat;
  background-size: cover;
}

.p-mv-inn {
  width: auto;
  display: inline-block;
  padding: 3rem 8rem;
  position: relative;
  color: #fff;
}
.p-mv-inn::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(43, 38, 36);
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.p-mv-ttl {
  width: 100%;
  color: #fff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -ms-flex-align: end;
  -webkit-box-align: end;
          align-items: flex-end;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-line-pack: center;
  align-content: center;
  position: relative;
  z-index: 2;
}

.p-mv-ttl-ja {
  display: inline-block;
  margin-right: 1.7rem;
  font-size: 5rem;
  line-height: 1;
  letter-spacing: 0.2em;
  font-weight: 600;
}

.p-mv-ttl-en {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: 0.2em;
  font-weight: 400;
}

.p-mv-txt {
  margin-top: 3.2rem;
  font-size: 1.4rem;
  line-height: 1.4285714286;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .p-sec-mv {
    width: 100%;
    padding: 12vw 0 56vw;
    background: url("../../images/destinations/img_mv_sp.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
  }
  .p-mv-inn {
    width: auto;
    display: inline-block;
    padding: 8vw 6.6666666667vw 4vw;
    position: relative;
    color: #fff;
  }
  .p-mv-inn::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(43, 38, 36, 0.8);
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .p-mv-ttl {
    width: 100%;
    color: #fff;
    opacity: 0.85;
    display: block;
    position: relative;
    z-index: 2;
  }
  .p-mv-ttl-ja {
    display: block;
    margin-right: 0;
    margin-bottom: 3.2vw;
    font-size: 8vw;
  }
  .p-mv-ttl-en {
    display: block;
    font-size: 2.6666666667vw;
  }
  .p-mv-sp-txt-wrap {
    width: max-contents;
    padding: 3.2vw 6.6666666667vw 3.2vw 3.4666666667vw;
    position: absolute;
    bottom: 10.6666666667vw;
    right: 0;
  }
  .p-mv-sp-txt-wrap::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(43, 38, 36, 0.8);
    mix-blend-mode: multiply;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  .p-mv-sp-txt {
    color: #fff;
    text-align: right;
    font-size: 2.6666666667vw;
    line-height: 1.5;
    letter-spacing: 0.1;
    position: relative;
    z-index: 2;
  }
}
/* メインコンテンツ
---------------------------------------------------------------------------- */
.p-sec-destinations {
  width: 100%;
  padding: 7rem 0 0;
}

.p-lead-box {
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-bottom: 7rem;
}

.p-lead-txt {
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.7857142857;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-align: justify;
}

.p-contents-box {
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-bottom: 5rem;
}
.p-contents-box.last {
  margin-bottom: 0;
}

.p-contents-img {
  width: 35%;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.p-contents-img:hover {
  opacity: 0.5;
}

.p-contents-txtwrap {
  width: 60%;
  font-size: 1.4rem;
  line-height: 1.7857142857;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-align: justify;
}

.p-contents-ttl {
  width: 17rem;
  margin-bottom: 4rem;
  padding: 0.8rem 0;
  border: 1px solid #707070;
  text-align: center;
}

.p-gallery-wrap {
  width: 100%;
  margin: 8rem auto 6rem;
}

.p-gallery-ttl {
  width: 100%;
  margin-bottom: 3rem;
  padding: 2rem 3rem;
  background: #000;
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.3888888889;
  letter-spacing: 0.1em;
  font-weight: 400;
}

.p-gallery-list {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
}

.p-gallery-thumb {
  width: calc((100% - 3rem) / 4);
  margin-bottom: 1.7rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.p-gallery-thumb:hover {
  opacity: 0.5;
}

.p-gallery-modal-wrap {
  width: auto;
  height: 100%;
  max-height: 760px;
  margin: 0 auto;
  position: relative;
}

.p-gallery-modal-arrow {
  width: 35px;
  height: 35px;
  position: absolute;
  top: calc(50% - 17.5px);
  z-index: 5;
  cursor: pointer;
}

.p-gallery-modal-prev {
  background: url("../../images/rooms/icn_arrow_prev.svg") center center no-repeat;
  background-size: 100%;
  left: 10px;
}

.p-gallery-modal-next {
  background: url("../../images/rooms/icn_arrow_next.svg") center center no-repeat;
  background-size: 100%;
  right: 10px;
}

.p-gallery-modal-caption {
  margin-top: 2rem;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.4285714286;
  letter-spacing: 0.1em;
  font-weight: 700;
}

.is-gallery .modaal-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.is-gallery .modaal-content-container {
  height: 80vh;
  position: relative;
}
.is-gallery .modaal-content-container img {
  width: auto;
  max-height: 100%;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 1100px) {
  .is-gallery .modaal-container {
    width: 100%;
  }
  .is-gallery .modaal-content-container {
    height: auto;
    max-height: 80vh;
  }
}
@media screen and (max-width: 767px) {
  .p-sec-destinations {
    width: 100%;
    padding: 9.3333333333vw 0 0;
  }
  .p-lead-box {
    width: 100%;
    margin: 0 auto 12vw;
    display: block;
  }
  .p-lead-txt {
    width: 100%;
    font-size: 4vw;
  }
  .p-contents-box {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 13.3333333333vw;
  }
  .p-contents-box.last {
    margin-bottom: 0;
  }
  .p-contents-img {
    width: 100%;
  }
  .p-contents-txtwrap {
    width: 100%;
    margin: 8vw auto 0;
    font-size: 3.7333333333vw;
    text-align: justify;
  }
  .p-contents-ttl {
    width: 49.3333333333vw;
    padding: 0.8rem 0;
    margin-bottom: 5.3333333333vw;
  }
  .p-gallery-wrap {
    width: 100%;
    margin: 18.6666666667vw auto 13.3333333333vw;
  }
  .p-gallery-ttl {
    width: 100%;
    margin-bottom: 2.6666666667vw;
    padding: 2.6666666667vw 4vw;
    font-size: 4vw;
  }
  .p-gallery-list {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -ms-flex-align: start;
    -webkit-box-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .p-gallery-thumb {
    width: calc((100% - 2.6666666667vw) / 2);
    margin-bottom: 3.4666666667vw;
  }
  .p-gallery-modal-wrap {
    width: 100%;
    position: relative;
  }
  .p-gallery-modal-arrow {
    width: 7vw;
    height: 7vw;
    position: absolute;
    z-index: 5;
  }
  .p-gallery-modal-prev {
    left: 2vw;
  }
  .p-gallery-modal-next {
    right: 2vw;
  }
  .p-gallery-modal-caption {
    margin-top: 5.3333333333vw;
    font-size: 3.7333333333vw;
  }
  .is-gallery .modaal-content-container {
    height: auto;
    position: relative;
  }
  .is-gallery .modaal-content-container img {
    width: 100%;
    max-height: initial;
    margin: 0 auto;
    display: block;
  }
  .p-gallery-modal-wrap {
    width: auto;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }
}
/* 下層ページ導線 3column 
---------------------------------------------------------------------------- */
@media screen and (max-width: 767px) {
  .m-footer-pagelinks {
    width: 100%;
    padding: 0 0 13.3333333333vw;
  }
  /* 下層ページ導線 3column */
  .m-footer-pagelink-wrap {
    width: 75%;
    margin: 0 auto;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    -ms-flex-align: start;
    -webkit-box-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .m-footer-pagelink {
    width: 100%;
    margin: 0 auto;
  }
  .m-footer-pagelink a {
    width: 100%;
    display: block;
    position: relative;
  }
  .m-footer-pagelink-access {
    margin-bottom: 6.6666666667vw;
    background: url("../../images/common/bg_underpage_link_01.jpg") center center no-repeat;
    background-size: cover;
  }
  .m-footer-pagelink-sightseeing {
    margin-bottom: 6.6666666667vw;
    background: url("../../images/common/bg_underpage_link_02.jpg") center center no-repeat;
    background-size: cover;
  }
  .m-footer-pagelink-reserve {
    background: url("../../images/common/bg_underpage_link_03.jpg") center center no-repeat;
    background-size: cover;
  }
  .m-footer-pagelink-ttl {
    width: 35%;
    padding: 6.9333333333vw 0;
    text-align: center;
    font-size: 4.2666666667vw;
    line-height: 1.8666666667;
    letter-spacing: 0.3em;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.72);
    position: relative;
    z-index: 2;
  }
}