@charset "UTF-8";
/* CSS Document */
.back-number{
    width:100%;
    margin:0 auto;
    padding:130px 0 100px;
    background: url("../img/top/bg-sevice.jpg") no-repeat;
    background-size: cover;
}
.sec-ttl-sub{
    text-align: center;
    font-size:20px;
}
.back-number-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:50px auto 0;
}
.back-number-list li{
    width:48%;
}
.back-number-list li{margin-top:10px;}
.back-number-list li a{
    color:#f5a302;
    text-decoration: underline;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
@media (min-width: 769px){
    .back-number-list li a:hover {
        opacity: 0.7;
    }
}
@media (max-width: 768px){
    .back-number{
        padding:22vw 0 10vw;
    }
    .sec-ttl-sub{
        font-size:4.5vw;
    }
    .back-number-list{
        margin:1vw auto 0;
    }
    .back-number-list li{
        width:100%;
    }
    .back-number-list li{margin-top:4vw;}
}