@charset "UTF-8";
/* CSS Document */

html{font-size: 62.5%;}
body{background-color:#fff;}
img {max-width: 100%;}

* {
  word-break: break-all;
  box-sizing: border-box; }

.con-inner{
	width:90%;
	max-width:1100px;
	margin:0 auto;
}

/* RWD表示切り替え------------------------ */
@media all and (min-width: 769px) {
.nopc {display: none !important; } 
}
@media all and (min-width: 1025px){
.notbsp{display: none !important; } 
}
@media all and (max-width: 768px) {
.nosp {display: none !important; } 
}

 /*font-style
---------------------------------------*/
body {
	font-size:1.6rem; 
	color: #010101;
	line-height: 1.8;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    letter-spacing: 0.1em;
	text-size-adjust:100%;
	 -webkit-text-size-adjust: 100%;
	min-width: 1200px; 
    font-weight: 500;
}

/* SP */
@media screen and (max-width:768px) {
body {
	min-width: 100%;
	width:100%;
	font-size: 3.7vw;
}
}

.bold { font-weight:bold; }
.bold-none { font-weight:normal; }
.bold-600 { font-weight:600; }

.nW{white-space: nowrap;}


/*fontsize-style
---------------------------------------*/
.indent{
	padding-left:1em;
	text-indent:-1em;
}
.f-space{letter-spacing:0.01rem;}

/*LINK
---------------------------------------*/
a {
  text-decoration: none;
  color: #323332;
  outline: none;
}
a:hover, a:active, a:focus {text-decoration: none; }


/*header
---------------------------------------*/
header{
    width:100%;
	z-index: 9999;
    position: fixed;
    top:0;
    left:0;
    background: #fff;
}
.header-in{
    width:90%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    width:180px;
    display: block;
    mix-blend-mode:darken;
}

.gnav-wrap nav{
    display: block;
	height:100%;
}

.gnav-wrap ul#gnav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.gnav-wrap ul#gnav > li{
    margin-left:60px;
    position: relative;
    font-family: 'Chillax', sans-serif;
    font-weight: 500;
    font-size:18px;
}
.gnav-wrap ul#gnav > li > a{
    padding: 27px 0 26px;
    display: block;
    transition: 0.3s ease-in-out;
    position: relative;
    line-height: 1;
}

header .btn-contact {
	width: 200px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background: #010101;*/
	color: #fff;
	position: relative;
	text-align: center;
	line-height: 50px;
    border-radius: 50px;
}
header .btn-contact a{
    color:#fff;
    display: block;
    width:100%;
}

header .btn-contact a span{
    position: relative;
    z-index: 10001;
    display: block;
}
header .btn-contact a:before{
  content:"";
  width:100%;
  height: 50px;
  border-radius: 50px;
  position:absolute;
  z-index: 10000;
  left:0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition:0.5s;
  background: #010101;
}
header .btn-contact a:after{
  content:"";
  width:100%;
  height: 50px;
  border-radius: 50px;
  position:absolute;
  z-index: 9999;
  left:0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: linear-gradient(to left, #f5a302 0%, #f2c426 37%, #57b29e 59%, #57a1b2 100%);
}


#sp-menu-trigger{
	display: none;
}

@media (min-width: 769px) {
    .gnav-wrap ul#gnav > li:hover > a::after{
		opacity: 1;
    }
    .gnav-wrap ul#gnav > li:hover > .dropdown-menu {
		visibility: visible;
		opacity: 1;
	}
    header .btn-contact a:hover:before{
      opacity:0;
    }
}

@media (max-width: 768px) {
    header {
		width: 100%;
    }
    .header-in{
        height: 15vw;
        width:95%;
        margin:0 0 0 auto;
    }
	.header-logo{width:40vw;}
    .gnav-wrap nav{
		display: none;
		position: fixed;
		top:15vw;
		left:0;
		width: 100%;
		height: calc(100vh - 15vw);
		background:#fff;
	}
    .gnav-wrap ul#gnav{
		flex-wrap: wrap;
		height:auto;
        margin-top:5vw;
	}
    .gnav-wrap ul#gnav > li{
        margin:0 auto;
        width:90%;
        text-align: center;
		position: relative;
        font-size:3.7vw;
    }
    .gnav-wrap ul#gnav > li:nth-of-type(1),
    .gnav-wrap ul#gnav > li:nth-of-type(2){
        border-bottom: 1px solid #010101;
    }
    .gnav-wrap ul#gnav > li:nth-of-type(1){ border-top: 1px solid #010101;}
    .gnav-wrap ul#gnav > li:nth-of-type(2){margin-bottom:5vw;}
    .gnav-wrap ul#gnav > li > a{
        padding: 4vw 0;
        color: #010101;
        cursor: default;
    }
    .gnav-wrap ul#gnav > li.btn-contact > a{color:#fff;}
    .gnav-wrap ul#gnav > li:not(.btn-contact) > a:after {
        width: 1px;
        height: 19px;
    }

    header .btn-contact {
        width: 100%;
        height: 11vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #010101;
        color: #fff;
        position: relative;
        text-align: center;
        line-height: 11vw;
    }
    
    /*開閉ボタン*/
	#sp-menu-trigger{
		display: block!important;
		width: 14vw;
		height: 100%;
		z-index: 9999;
	}
	#sp-menu-trigger div {
		margin: 0;
		width:100%;
		height:100%;
		position: relative;
	}
	#sp-menu-trigger span{
		display: block;
		height: 3px;
		background: #000;
		position:absolute;
		width: 50%;
		left: 0;
		right:0;
		margin: auto;
		transition: 0.3s ease-in-out;	
	}
	#sp-menu-trigger span:nth-child(1){
		top:4vw
	}
	#sp-menu-trigger span:nth-child(2){
		top:0;
		bottom:0;
	}
	#sp-menu-trigger span:nth-child(3){
		bottom:4vw;
	}
    
    /*開閉ボタンopen時*/
	.open #sp-menu-trigger span:nth-child(1) {
        top:0;
		bottom:0;
       -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        transform: rotate(135deg);
        /*background: #fff;*/
    }
	.open #sp-menu-trigger span:nth-child(2) {
        width: 0;
        left: 50%;
    }
	.open #sp-menu-trigger span:nth-child(3) {
        top:0;
		bottom:0;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        transform: rotate(-135deg);
        /*background: #fff;*/
    }
   
}

/*---------- footer ----------*/
footer{
    background: #535353;
    color:#fff;
    padding:40px 5vw;
    position: relative;
}
footer:after{
    content:'';
    position: absolute;
    background: url("../img/bg-cv-02.png") repeat;
    background-size: contain;
    width:100%;
    height:100%;
    mix-blend-mode:overlay;
    top:0;
    right:0;
}

.footer-in{
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}
.footer-sdgs{
    width:90px;
    margin-right:30px;
    margin-top:15px;
}
.footer-thanks{
    font-size:20px;
    font-weight: 500;
}
footer .privacy{
    display: block;
    color:#fff;
    font-size:13px;
    margin-top:10px;
}

@media (max-width: 768px) {
    footer{
        padding:10vw 5vw;
        position: relative;
    }
    .footer-in{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer-in > div{
        width:80%;
        width:100%;
    }
    .footer-sdgs{
        width:calc(20% - 3vw);
        width:15vw;
        margin:0 auto 2vw;
    }
    .footer-thanks{font-size:4vw;}
    footer p.s-txt{line-height: 1.4;}
    footer .privacy{
        font-size:3.2vw;
        margin-top:3vw;
    }
}

/*side contact
---------------------------------------*/
/*@media screen and (min-width:769px) {
#contact{
	position:fixed;
	bottom:calc(50% - 117px);
	right:0;
	z-index:1000 !important;
	width:50px;
	opacity: 0;
	pointer-events: none;
	transition: 0.3s all;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.2);
}
#contact.show{
	opacity: 1;
	pointer-events: auto;
}
#contact a{
	text-align: center;
	display: block;
}
#contact .contact-icon{
	background:#E38A46;
	text-align: center;
	padding:10px 0;
	border-top-left-radius: 7px;
}
#contact .contact-icon img{width:30px;}
#contact .contact-txt{
	background: #fff;
	border-bottom-left-radius: 7px;
	padding:30px 10px;}
#contact a .contact-icon:hover {
}
#contact a .contact-txt:hover {
}
#modal03 .modal-con .cv-form{width:500px;}
}*/


/*dl-btn
---------------------------------------*/
a.dl-btn{
    display: inline-block;
    font-family: 'Chillax', sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 50px;
    width:200px;
    margin:0 auto;
    color:#fff;
    text-align: center;
    padding:10px 0;
    position: relative;
    z-index: 2;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    margin-top:36px;
}
a.dl-btn span{
    position: relative;
    z-index: 2;
    display: block;
}
a.dl-btn:before{
  content:"";
  width:100%;
  height:100%;
  border-radius: 50px;
  position:absolute;
  z-index:1;
  left:0;
  top:0;
  transition:0.5s;
  background: #010101;
}
a.dl-btn:after{
  content:"";
  width:100%;
  height:100%;
  border-radius: 50px;
  position:absolute;
  z-index:0;
  left:0;
  top:0;
  background: linear-gradient(to left, #f5a302 0%, #f2c426 37%, #57b29e 59%, #57a1b2 100%);
}
@media (min-width: 768px) {
    a.dl-btn:hover:before{
      opacity:0;
    }
}
@media screen and (max-width:768px) {
a.dl-btn{
	margin-top:3vw;
	width:100%;
    
    }
    
}

/* フォントサイズ
--------------------------------------------- */
.fs50 {
  font-size: 5rem !important; }

.fs49 {
  font-size: 4.9rem !important; }

.fs48 {
  font-size: 4.8rem !important; }

.fs47 {
  font-size: 4.7rem !important; }

.fs46 {
  font-size: 4.6rem !important; }

.fs45 {
  font-size: 4.5rem !important; }

.fs44 {
  font-size: 4.4rem !important; }

.fs43 {
  font-size: 4.3rem !important; }

.fs42 {
  font-size: 4.2rem !important; }

.fs41 {
  font-size: 4.1rem !important; }

.fs40 {
  font-size: 4rem !important; }

.fs39 {
  font-size: 3.9rem !important; }

.fs38 {
  font-size: 3.8rem !important; }

.fs37 {
  font-size: 3.7rem !important; }

.fs36 {
  font-size: 3.6rem !important; }

.fs35 {
  font-size: 3.5rem !important; }

.fs34 {
  font-size: 3.4rem !important; }

.fs33 {
  font-size: 3.3rem !important; }

.fs32 {
  font-size: 3.2rem !important; }

.fs31 {
  font-size: 3.1rem !important; }

.fs30 {
  font-size: 3rem !important; }

.fs29 {
  font-size: 2.9rem !important; }

.fs28 {
  font-size: 2.8rem !important; }

.fs27 {
  font-size: 2.7rem !important; }

.fs26 {
  font-size: 2.6rem !important; }

.fs25 {
  font-size: 2.5rem !important; }

.fs24 {
  font-size: 2.4rem !important; }

.fs23 {
  font-size: 2.3rem !important; }

.fs22 {
  font-size: 2.2rem !important; }

.fs21 {
  font-size: 2.1rem !important; }

.fs20 {
  font-size: 2rem !important; }

.fs19 {
  font-size: 1.9rem !important; }

.fs18 {
  font-size: 1.8rem !important; }

.fs17 {
  font-size: 1.7rem !important; }

.fs16 {
  font-size: 1.6rem !important; }

.fs15 {
  font-size: 1.5rem !important; }

.fs14 {
  font-size: 1.4rem !important; }

.fs13 {
  font-size: 1.3rem !important; }

.fs12 {
  font-size: 1.2rem !important; }

.fs11 {
  font-size: 1.1rem !important; }

.fs10 {
  font-size: 1rem !important; }

.fs9 {
  font-size: 0.9rem !important; }

.fs8 {
  font-size: 0.8rem !important; }

.fs7 {
  font-size: 0.7rem !important; }

.fs6 {
  font-size: 0.6rem !important; }

@media screen and (max-width: 768px) {
  .spfs50 {
    font-size: 13.333vw !important; }

  .spfs49 {
    font-size: 13.067vw !important; }

  .spfs48 {
    font-size: 12.8vw !important; }

  .spfs47 {
    font-size: 12.533vw !important; }

  .spfs46 {
    font-size: 12.267vw !important; }

  .spfs45 {
    font-size: 12vw !important; }

  .spfs44 {
    font-size: 11.733vw !important; }

  .spfs43 {
    font-size: 11.467vw !important; }

  .spfs42 {
    font-size: 11.2vw !important; }

  .spfs41 {
    font-size: 10.933vw !important; }

  .spfs40 {
    font-size: 10.667vw !important; }

  .spfs39 {
    font-size: 10.4vw !important; }

  .spfs38 {
    font-size: 10.133vw !important; }

  .spfs37 {
    font-size: 9.867vw !important; }

  .spfs36 {
    font-size: 9.6vw !important; }

  .spfs35 {
    font-size: 9.333vw !important; }

  .spfs34 {
    font-size: 9.067vw !important; }

  .spfs33 {
    font-size: 8.8vw !important; }

  .spfs32 {
    font-size: 8.533vw !important; }

  .spfs31 {
    font-size: 8.267vw !important; }

  .spfs30 {
    font-size: 8vw !important; }

  .spfs29 {
    font-size: 7.733vw !important; }

  .spfs28 {
    font-size: 7.467vw !important; }

  .spfs27 {
    font-size: 7.2vw !important; }

  .spfs26 {
    font-size: 6.933vw !important; }

  .spfs25 {
    font-size: 6.667vw !important; }

  .spfs24 {
    font-size: 6.4vw !important; }

  .spfs23 {
    font-size: 6.133vw !important; }

  .spfs22 {
    font-size: 5.867vw !important; }

  .spfs21 {
    font-size: 5.6vw !important; }

  .spfs20 {
    font-size: 5.333vw !important; }

  .spfs19 {
    font-size: 5.067vw !important; }

  .spfs18 {
    font-size: 4.8vw !important; }

  .spfs17 {
    font-size: 4.533vw !important; }

  .spfs16 {
    font-size: 4.267vw !important; }

  .spfs15 {
    font-size: 4vw !important; }

  .spfs14 {
    font-size: 3.733vw !important; }

  .spfs13 {
    font-size: 3.467vw !important; }

  .spfs12 {
    font-size: 3.2vw !important; }

  .spfs11 {
    font-size: 2.933vw !important; }

  .spfs10 {
    font-size: 2.667vw !important; }
}

/* clearfix
---------------------------------------------------------------------------- */
.clearfix {
  zoom: 1; }

.clearfix:after {
  content: "";
  clear: both;
  display: block; }

/* テキスト
---------------------------------------------------------------------------- */
.tal {
  text-align: left !important; }

.tac {
  text-align: center !important; }

.tar {
  text-align: right !important; }

.fwb {
  font-weight: bold !important; }

@media screen and (max-width: 768px) {
  .sptal {
    text-align: left !important; }

  .sptac {
    text-align: center !important; }

  .sptar {
    text-align: right !important; }

  .spfwb {
    font-weight: bold !important; } }

/* マージン
---------------------------------------------------------------------------- */
.mt100 {
  margin-top: 100px !important; }

.mb100 {
  margin-bottom: 100px !important; }

.ml100 {
  margin-left: 100px !important; }

.mr100 {
  margin-right: 100px !important; }

.mt95 {
  margin-top: 95px !important; }

.mb95 {
  margin-bottom: 95px !important; }

.ml95 {
  margin-left: 95px !important; }

.mr95 {
  margin-right: 95px !important; }

.mt90 {
  margin-top: 90px !important; }

.mb90 {
  margin-bottom: 90px !important; }

.ml90 {
  margin-left: 90px !important; }

.mr90 {
  margin-right: 90px !important; }

.mt85 {
  margin-top: 85px !important; }

.mb85 {
  margin-bottom: 85px !important; }

.ml85 {
  margin-left: 85px !important; }

.mr85 {
  margin-right: 85px !important; }

.mt80 {
  margin-top: 80px !important; }

.mb80 {
  margin-bottom: 80px !important; }

.ml80 {
  margin-left: 80px !important; }

.mr80 {
  margin-right: 80px !important; }

.mt75 {
  margin-top: 75px !important; }

.mb75 {
  margin-bottom: 75px !important; }

.ml75 {
  margin-left: 75px !important; }

.mr75 {
  margin-right: 75px !important; }

.mt70 {
  margin-top: 70px !important; }

.mb70 {
  margin-bottom: 70px !important; }

.ml70 {
  margin-left: 70px !important; }

.mr70 {
  margin-right: 70px !important; }

.mt65 {
  margin-top: 65px !important; }

.mb65 {
  margin-bottom: 65px !important; }

.ml65 {
  margin-left: 65px !important; }

.mr65 {
  margin-right: 65px !important; }

.mt60 {
  margin-top: 60px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.ml60 {
  margin-left: 60px !important; }

.mr60 {
  margin-right: 60px !important; }

.mt55 {
  margin-top: 55px !important; }

.mb55 {
  margin-bottom: 55px !important; }

.ml55 {
  margin-left: 55px !important; }

.mr55 {
  margin-right: 55px !important; }

.mt50 {
  margin-top: 50px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.ml50 {
  margin-left: 50px !important; }

.mr50 {
  margin-right: 50px !important; }

.mt45 {
  margin-top: 45px !important; }

.mb45 {
  margin-bottom: 45px !important; }

.ml45 {
  margin-left: 45px !important; }

.mr45 {
  margin-right: 45px !important; }

.mt40 {
  margin-top: 40px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.ml40 {
  margin-left: 40px !important; }

.mr40 {
  margin-right: 40px !important; }

.mt35 {
  margin-top: 35px !important; }

.mb35 {
  margin-bottom: 35px !important; }

.ml35 {
  margin-left: 35px !important; }

.mr35 {
  margin-right: 35px !important; }

.mt30 {
  margin-top: 30px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.ml30 {
  margin-left: 30px !important; }

.mr30 {
  margin-right: 30px !important; }

.mt25 {
  margin-top: 25px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.ml25 {
  margin-left: 25px !important; }

.mr25 {
  margin-right: 25px !important; }

.mt20 {
  margin-top: 20px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.ml20 {
  margin-left: 20px !important; }

.mr20 {
  margin-right: 20px !important; }

.mt15 {
  margin-top: 15px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.ml15 {
  margin-left: 15px !important; }

.mr15 {
  margin-right: 15px !important; }

.mt10 {
  margin-top: 10px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.ml10 {
  margin-left: 10px !important; }

.mr10 {
  margin-right: 10px !important; }

.mt5 {
  margin-top: 5px !important; }

.mb5 {
  margin-bottom: 5px !important; }

.ml5 {
  margin-left: 5px !important; }

.mr5 {
  margin-right: 5px !important; }

.mt0 {
  margin-top: 0px !important; }

.mb0 {
  margin-bottom: 0px !important; }

.ml0 {
  margin-left: 0px !important; }

.mr0 {
  margin-right: 0px !important; }

@media screen and (max-width: 768px) {
  .spmt100 {
    margin-top: 13.33333vw !important; }

  .spmb100 {
    margin-bottom: 13.33333vw !important; }

  .spml100 {
    margin-left: 13.33333vw !important; }

  .spmr100 {
    margin-right: 13.33333vw !important; }

  .spmt95 {
    margin-top: 12.66667vw !important; }

  .spmb95 {
    margin-bottom: 12.66667vw !important; }

  .spml95 {
    margin-left: 12.66667vw !important; }

  .spmr95 {
    margin-right: 12.66667vw !important; }

  .spmt90 {
    margin-top: 12vw !important; }

  .spmb90 {
    margin-bottom: 12vw !important; }

  .spml90 {
    margin-left: 12vw !important; }

  .spmr90 {
    margin-right: 12vw !important; }

  .spmt85 {
    margin-top: 11.33333vw !important; }

  .spmb85 {
    margin-bottom: 11.33333vw !important; }

  .spml85 {
    margin-left: 11.33333vw !important; }

  .spmr85 {
    margin-right: 11.33333vw !important; }

  .spmt80 {
    margin-top: 10.66667vw !important; }

  .spmb80 {
    margin-bottom: 10.66667vw !important; }

  .spml80 {
    margin-left: 10.66667vw !important; }

  .spmr80 {
    margin-right: 10.66667vw !important; }

  .spmt75 {
    margin-top: 10vw !important; }

  .spmb75 {
    margin-bottom: 10vw !important; }

  .spml75 {
    margin-left: 10vw !important; }

  .spmr75 {
    margin-right: 10vw !important; }

  .spmt70 {
    margin-top: 9.33333vw !important; }

  .spmb70 {
    margin-bottom: 9.33333vw !important; }

  .spml70 {
    margin-left: 9.33333vw !important; }

  .spmr70 {
    margin-right: 9.33333vw !important; }

  .spmt65 {
    margin-top: 8.66667vw !important; }

  .spmb65 {
    margin-bottom: 8.66667vw !important; }

  .spml65 {
    margin-left: 8.66667vw !important; }

  .spmr65 {
    margin-right: 8.66667vw !important; }

  .spmt60 {
    margin-top: 8vw !important; }

  .spmb60 {
    margin-bottom: 8vw !important; }

  .spml60 {
    margin-left: 8vw !important; }

  .spmr60 {
    margin-right: 8vw !important; }

  .spmt55 {
    margin-top: 7.33333vw !important; }

  .spmb55 {
    margin-bottom: 7.33333vw !important; }

  .spml55 {
    margin-left: 7.33333vw !important; }

  .spmr55 {
    margin-right: 7.33333vw !important; }

  .spmt50 {
    margin-top: 6.66667vw !important; }

  .spmb50 {
    margin-bottom: 6.66667vw !important; }

  .spml50 {
    margin-left: 6.66667vw !important; }

  .spmr50 {
    margin-right: 6.66667vw !important; }

  .spmt45 {
    margin-top: 6vw !important; }

  .spmb45 {
    margin-bottom: 6vw !important; }

  .spml45 {
    margin-left: 6vw !important; }

  .spmr45 {
    margin-right: 6vw !important; }

  .spmt40 {
    margin-top: 5.33333vw !important; }

  .spmb40 {
    margin-bottom: 5.33333vw !important; }

  .spml40 {
    margin-left: 5.33333vw !important; }

  .spmr40 {
    margin-right: 5.33333vw !important; }

  .spmt35 {
    margin-top: 4.66667vw !important; }

  .spmb35 {
    margin-bottom: 4.66667vw !important; }

  .spml35 {
    margin-left: 4.66667vw !important; }

  .spmr35 {
    margin-right: 4.66667vw !important; }

  .spmt30 {
    margin-top: 4vw !important; }

  .spmb30 {
    margin-bottom: 4vw !important; }

  .spml30 {
    margin-left: 4vw !important; }

  .spmr30 {
    margin-right: 4vw !important; }

  .spmt25 {
    margin-top: 3.33333vw !important; }

  .spmb25 {
    margin-bottom: 3.33333vw !important; }

  .spml25 {
    margin-left: 3.33333vw !important; }

  .spmr25 {
    margin-right: 3.33333vw !important; }

  .spmt20 {
    margin-top: 2.66667vw !important; }

  .spmb20 {
    margin-bottom: 2.66667vw !important; }

  .spml20 {
    margin-left: 2.66667vw !important; }

  .spmr20 {
    margin-right: 2.66667vw !important; }

  .spmt15 {
    margin-top: 2vw !important; }

  .spmb15 {
    margin-bottom: 2vw !important; }

  .spml15 {
    margin-left: 2vw !important; }

  .spmr15 {
    margin-right: 2vw !important; }

  .spmt10 {
    margin-top: 1.33333vw !important; }

  .spmb10 {
    margin-bottom: 1.33333vw !important; }

  .spml10 {
    margin-left: 1.33333vw !important; }

  .spmr10 {
    margin-right: 1.33333vw !important; }

  .spmt5 {
    margin-top: 0.66667vw !important; }

  .spmb5 {
    margin-bottom: 0.66667vw !important; }

  .spml5 {
    margin-left: 0.66667vw !important; }

  .spmr5 {
    margin-right: 0.66667vw !important; }

  .spmt0 {
    margin-top: 0vw !important; }

  .spmb0 {
    margin-bottom: 0vw !important; }

  .spml0 {
    margin-left: 0vw !important; }

  .spmr0 {
    margin-right: 0vw !important; } }

/* パディング
---------------------------------------------------------------------------- */
.pt100 {
  padding-top: 100px !important; }

.pb100 {
  padding-bottom: 100px !important; }

.pl100 {
  padding-left: 100px !important; }

.pr100 {
  padding-right: 100px !important; }

.pt95 {
  padding-top: 95px !important; }

.pb95 {
  padding-bottom: 95px !important; }

.pl95 {
  padding-left: 95px !important; }

.pr95 {
  padding-right: 95px !important; }

.pt90 {
  padding-top: 90px !important; }

.pb90 {
  padding-bottom: 90px !important; }

.pl90 {
  padding-left: 90px !important; }

.pr90 {
  padding-right: 90px !important; }

.pt85 {
  padding-top: 85px !important; }

.pb85 {
  padding-bottom: 85px !important; }

.pl85 {
  padding-left: 85px !important; }

.pr85 {
  padding-right: 85px !important; }

.pt80 {
  padding-top: 80px !important; }

.pb80 {
  padding-bottom: 80px !important; }

.pl80 {
  padding-left: 80px !important; }

.pr80 {
  padding-right: 80px !important; }

.pt75 {
  padding-top: 75px !important; }

.pb75 {
  padding-bottom: 75px !important; }

.pl75 {
  padding-left: 75px !important; }

.pr75 {
  padding-right: 75px !important; }

.pt70 {
  padding-top: 70px !important; }

.pb70 {
  padding-bottom: 70px !important; }

.pl70 {
  padding-left: 70px !important; }

.pr70 {
  padding-right: 70px !important; }

.pt65 {
  padding-top: 65px !important; }

.pb65 {
  padding-bottom: 65px !important; }

.pl65 {
  padding-left: 65px !important; }

.pr65 {
  padding-right: 65px !important; }

.pt60 {
  padding-top: 60px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.pl60 {
  padding-left: 60px !important; }

.pr60 {
  padding-right: 60px !important; }

.pt55 {
  padding-top: 55px !important; }

.pb55 {
  padding-bottom: 55px !important; }

.pl55 {
  padding-left: 55px !important; }

.pr55 {
  padding-right: 55px !important; }

.pt50 {
  padding-top: 50px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.pl50 {
  padding-left: 50px !important; }

.pr50 {
  padding-right: 50px !important; }

.pt45 {
  padding-top: 45px !important; }

.pb45 {
  padding-bottom: 45px !important; }

.pl45 {
  padding-left: 45px !important; }

.pr45 {
  padding-right: 45px !important; }

.pt40 {
  padding-top: 40px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pl40 {
  padding-left: 40px !important; }

.pr40 {
  padding-right: 40px !important; }

.pt35 {
  padding-top: 35px !important; }

.pb35 {
  padding-bottom: 35px !important; }

.pl35 {
  padding-left: 35px !important; }

.pr35 {
  padding-right: 35px !important; }

.pt30 {
  padding-top: 30px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pl30 {
  padding-left: 30px !important; }

.pr30 {
  padding-right: 30px !important; }

.pt25 {
  padding-top: 25px !important; }

.pb25 {
  padding-bottom: 25px !important; }

.pl25 {
  padding-left: 25px !important; }

.pr25 {
  padding-right: 25px !important; }

.pt20 {
  padding-top: 20px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pl20 {
  padding-left: 20px !important; }

.pr20 {
  padding-right: 20px !important; }

.pt15 {
  padding-top: 15px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.pl15 {
  padding-left: 15px !important; }

.pr15 {
  padding-right: 15px !important; }

.pt10 {
  padding-top: 10px !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pl10 {
  padding-left: 10px !important; }

.pr10 {
  padding-right: 10px !important; }

.pt5 {
  padding-top: 5px !important; }

.pb5 {
  padding-bottom: 5px !important; }

.pl5 {
  padding-left: 5px !important; }

.pr5 {
  padding-right: 5px !important; }

.pt0 {
  padding-top: 0px !important; }

.pb0 {
  padding-bottom: 0px !important; }

.pl0 {
  padding-left: 0px !important; }

.pr0 {
  padding-right: 0px !important; }

@media screen and (max-width: 768px) {
  .sppt100 {
    padding-top: 13.33333vw !important; }

  .sppb100 {
    padding-bottom: 13.33333vw !important; }

  .sppl100 {
    padding-left: 13.33333vw !important; }

  .sppr100 {
    padding-right: 13.33333vw !important; }

  .sppt95 {
    padding-top: 12.66667vw !important; }

  .sppb95 {
    padding-bottom: 12.66667vw !important; }

  .sppl95 {
    padding-left: 12.66667vw !important; }

  .sppr95 {
    padding-right: 12.66667vw !important; }

  .sppt90 {
    padding-top: 12vw !important; }

  .sppb90 {
    padding-bottom: 12vw !important; }

  .sppl90 {
    padding-left: 12vw !important; }

  .sppr90 {
    padding-right: 12vw !important; }

  .sppt85 {
    padding-top: 11.33333vw !important; }

  .sppb85 {
    padding-bottom: 11.33333vw !important; }

  .sppl85 {
    padding-left: 11.33333vw !important; }

  .sppr85 {
    padding-right: 11.33333vw !important; }

  .sppt80 {
    padding-top: 10.66667vw !important; }

  .sppb80 {
    padding-bottom: 10.66667vw !important; }

  .sppl80 {
    padding-left: 10.66667vw !important; }

  .sppr80 {
    padding-right: 10.66667vw !important; }

  .sppt75 {
    padding-top: 10vw !important; }

  .sppb75 {
    padding-bottom: 10vw !important; }

  .sppl75 {
    padding-left: 10vw !important; }

  .sppr75 {
    padding-right: 10vw !important; }

  .sppt70 {
    padding-top: 9.33333vw !important; }

  .sppb70 {
    padding-bottom: 9.33333vw !important; }

  .sppl70 {
    padding-left: 9.33333vw !important; }

  .sppr70 {
    padding-right: 9.33333vw !important; }

  .sppt65 {
    padding-top: 8.66667vw !important; }

  .sppb65 {
    padding-bottom: 8.66667vw !important; }

  .sppl65 {
    padding-left: 8.66667vw !important; }

  .sppr65 {
    padding-right: 8.66667vw !important; }

  .sppt60 {
    padding-top: 8vw !important; }

  .sppb60 {
    padding-bottom: 8vw !important; }

  .sppl60 {
    padding-left: 8vw !important; }

  .sppr60 {
    padding-right: 8vw !important; }

  .sppt55 {
    padding-top: 7.33333vw !important; }

  .sppb55 {
    padding-bottom: 7.33333vw !important; }

  .sppl55 {
    padding-left: 7.33333vw !important; }

  .sppr55 {
    padding-right: 7.33333vw !important; }

  .sppt50 {
    padding-top: 6.66667vw !important; }

  .sppb50 {
    padding-bottom: 6.66667vw !important; }

  .sppl50 {
    padding-left: 6.66667vw !important; }

  .sppr50 {
    padding-right: 6.66667vw !important; }

  .sppt45 {
    padding-top: 6vw !important; }

  .sppb45 {
    padding-bottom: 6vw !important; }

  .sppl45 {
    padding-left: 6vw !important; }

  .sppr45 {
    padding-right: 6vw !important; }

  .sppt40 {
    padding-top: 5.33333vw !important; }

  .sppb40 {
    padding-bottom: 5.33333vw !important; }

  .sppl40 {
    padding-left: 5.33333vw !important; }

  .sppr40 {
    padding-right: 5.33333vw !important; }

  .sppt35 {
    padding-top: 4.66667vw !important; }

  .sppb35 {
    padding-bottom: 4.66667vw !important; }

  .sppl35 {
    padding-left: 4.66667vw !important; }

  .sppr35 {
    padding-right: 4.66667vw !important; }

  .sppt30 {
    padding-top: 4vw !important; }

  .sppb30 {
    padding-bottom: 4vw !important; }

  .sppl30 {
    padding-left: 4vw !important; }

  .sppr30 {
    padding-right: 4vw !important; }

  .sppt25 {
    padding-top: 3.33333vw !important; }

  .sppb25 {
    padding-bottom: 3.33333vw !important; }

  .sppl25 {
    padding-left: 3.33333vw !important; }

  .sppr25 {
    padding-right: 3.33333vw !important; }

  .sppt20 {
    padding-top: 2.66667vw !important; }

  .sppb20 {
    padding-bottom: 2.66667vw !important; }

  .sppl20 {
    padding-left: 2.66667vw !important; }

  .sppr20 {
    padding-right: 2.66667vw !important; }

  .sppt15 {
    padding-top: 2vw !important; }

  .sppb15 {
    padding-bottom: 2vw !important; }

  .sppl15 {
    padding-left: 2vw !important; }

  .sppr15 {
    padding-right: 2vw !important; }

  .sppt10 {
    padding-top: 1.33333vw !important; }

  .sppb10 {
    padding-bottom: 1.33333vw !important; }

  .sppl10 {
    padding-left: 1.33333vw !important; }

  .sppr10 {
    padding-right: 1.33333vw !important; }

  .sppt5 {
    padding-top: 0.66667vw !important; }

  .sppb5 {
    padding-bottom: 0.66667vw !important; }

  .sppl5 {
    padding-left: 0.66667vw !important; }

  .sppr5 {
    padding-right: 0.66667vw !important; }

  .sppt0 {
    padding-top: 0vw !important; }

  .sppb0 {
    padding-bottom: 0vw !important; }

  .sppl0 {
    padding-left: 0vw !important; }

  .sppr0 {
    padding-right: 0vw !important; } }