@charset "UTF-8";
/* CSS Document */

@media screen and (max-width: 768px) {
	.mv>h1{
		width:30vw;
		max-width: inherit;
		height:30vw;
		max-height:inherit;
		padding-bottom: 0
	}
	.mv>h1 .mv-ja{
		font-size:4.6vw;
		line-height: 1.1;
		letter-spacing: 0em
	}
	.mv>h1 .mv-en{
		font-size:3.2vw;
		letter-spacing: 0.1em;
		margin-top: 1vw
	}
}
/*------------------------------------------------------------------------------------------------
    download
--------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {
	.mv-inn{height:10vw}
}

.main-wrap{
	padding: 5vw 0 30vw;
}

.main-wrap .inner-s{
	display: flex;
	justify-content: space-between;
	align-items: flex-start
}


/*menu*/
.inner-s .menu-ttl{
	margin-bottom: 1em
}
.inner-s .menu-ttl span{
	background: #3E8369;
	color:#fff;
	font-size:1.8rem;
	padding: 0 1em;
	border-radius: 2em;

}

.inner-s .menu-wrap{
	width:15%;
	margin-top: 1em;
}
.inner-s .menu-wrap p{
	font-weight: 500;
	font-size:1.3vw;
	padding-left: 1.6em;
	margin-bottom: 1.5em;
	position: relative
}
.inner-s .menu-wrap p::before{
	position: absolute;
	content:'';
	width:1.4em;
	height:100%;
	top:0;
	left:0;
	background-image: url("../images/common/click.svg");
	background-repeat: no-repeat;
	background-position: top 0.4em left
}
.inner-s .menu-wrap p a{display: block}
.inner-s .menu-wrap.on{
	position: fixed;
	display: none!important;
	top:80px;
	z-index: 2
}
.inner-s .menu-wrap.on.is-active{
	display: block!important
}
@media screen and (min-width: 769px) {.inner-s .menu-wrap_sp{display: none!important}}

@media screen and (min-width:1200px) {
	.inner-s .menu-wrap p{
		font-size:1.6rem;
		}
}
@media screen and (max-width:1023px) {
	.inner-s .menu-wrap p{
			font-size:1.4rem;
			}
}


@media screen and (max-width:768px) {
	.main-wrap .inner-s{
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 0
	}

	.menu-accordion-btn{position: relative;}
	.menu-accordion-btn span{
		position: absolute;
		width:6vw;
		height:6vw;
		top:0;
		bottom:0;
		right:2vw;
		margin: auto;
		border-radius: 50%;
		background: #3E8369;
		display: flex;
		align-items: center;
		justify-content: center
	}
	.menu-accordion-btn span::before{
		content:'';
		position: absolute;
		height:70%;
		width:1px;
		background: #fff;
		top:0;
		bottom:0;
		right:0;
		left:0;
		margin: auto;
		transform: rotate(90deg);
		transition: .3s ease-in-out;
	}
	.menu-accordion-btn span::after{
		content:'';
		position: absolute;
		width:70%;
		height:1px;
		background: #fff;
		top:0;
		bottom:0;
		right:0;
		left:0;
		margin: auto;
		transform: rotate(90deg);
		transition: .3s ease-in-out;
	}
	.menu-accordion-btn.is-active span::after{
		transform: rotate(0)
	}

	
	.inner-s .menu-wrap,
	.inner-s .menu-wrap.on{display: none!important}
	.inner-s .menu-wrap.on.is-active{display: none!important}
	.inner-s .menu-wrap_sp.fix{
		position: fixed;
		top:18vw;
		width:92%;
		display: block!important;
		z-index: 2
	}
	.inner-s .menu-wrap_sp{
		width:100%;
		margin-top: 0;
		background:#E7F1E9;
		border:2px #C2DEC8 solid;
		padding:1vw 2vw 0 0;
		margin: 0;
		border-radius: 3vw;
		display: none
	}
	.inner-s .menu-wrap_sp .menu-inn{
		display: none
	}
	.inner-s .menu-wrap_sp p{
		font-weight: 500;
		font-size:3.4vw;
		padding:1vw 1.5vw 1vw 2em;
		margin-bottom: 1vw;
		margin-left: 1.5em;
		position: relative;
	}
	.inner-s .menu-wrap_sp p::before{
		position: absolute;
		content:'';
		width:1.4em;
		height:100%;
		top:0;
		left:0;
		background-image: url("../images/common/click.svg");
		background-repeat: no-repeat;
		background-position: top 0.7em left
	}
}


/*main*/


.main-wrap .inner-s .download-wrap{
	width:85%;
}

.main-wrap .inner-s .download-wrap h2{
	font-size:2.5rem;
	font-weight: 600;
	line-height: 1.6;
	margin-bottom: 1.5em
}


.main-wrap .inner-s .download-wrap .download-item{
	font-size:1.3rem;
	line-height: 2.5;
	font-weight: 400;
	display: flex;
	justify-content: space-between;
	align-items: center
}
.main-wrap .inner-s .download-wrap .download-item .img-box{
	width:38%
}
.main-wrap .inner-s .download-wrap .download-item .txt-box{
	width:60%
}
.main-wrap .inner-s .download-wrap .download-item:not(:first-child){
	margin-top: 8vw;
}

.main-wrap .inner-s .download-wrap .download-item .txt-box .link-wrap{
	margin-top: 30px;
	display: flex;
	align-items: center
}
.main-wrap .inner-s .download-wrap .download-item .txt-box .link-wrap .btn-b{
	width:40%
}
.main-wrap .inner-s .download-wrap .download-item .txt-box .link-wrap .btn-txt{
	width:6em;
	padding-left: 1em
}
.main-wrap .inner-s .download-wrap .download-item .txt-box .btn-more{
}
@media screen and (max-width:768px) {
	
	
	.main-wrap .inner-s .download-wrap{
		width:100%;
	}
	.main-wrap .inner-s .download-wrap h2{
		font-size:5.6vw;
		font-weight: 600;
		line-height: 1.6;
		margin-top: 3vw;
		margin-bottom: 3vw
	}


.main-wrap .inner-s .download-wrap .download-item{
	font-size:3.2vw;
	line-height: 2;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}
.main-wrap .inner-s .download-wrap .download-item .img-box{
	width:38%
}
.main-wrap .inner-s .download-wrap .download-item .txt-box{
	width:100%
}
.main-wrap .inner-s .download-wrap .download-item:not(:first-child){
	margin-top: 12vw;
}

.main-wrap .inner-s .download-wrap .download-item .txt-box .link-wrap{
	margin-top:5vw;
}
.main-wrap .inner-s .download-wrap .download-item .txt-box .link-wrap .btn-b{
	width:70%;
	margin-left: 5vw
}


}