@charset "UTF-8";
/* CSS Document */


/*------------------------------------------------------------------------------------------------
    editorialpolicy
--------------------------------------------------------------------------------------------------*/


.main-wrap .inner-s  h1{
	font-size:2.8rem;
	font-weight: 600;
	text-align: center;
	margin-bottom: 2em
}

.main-wrap .inner-s p{
	line-height: 2.2
}
.main-wrap .inner-s p.name{
	margin-top: 1em;
	text-align: right
}


@media screen and (max-width:768px) {
.main-wrap .inner-s  h1{
	font-size:4.8vw;
	}


}