@charset "UTF-8";
/* CSS Document */

body{overflow-x: hidden}

/*------------------------------------------------------------------------------------------------
    MV
--------------------------------------------------------------------------------------------------*/
.mv-wrap{
	position: relative;
	background:rgba(194,222,200,0.30);
}
.mv-wrap::after{
	position: absolute;
	content:'';
	width:100%;
	height:5.7vw;
	bottom:0;
	left:0;
	/*background:rgba(194,222,200,0.30);*/
	/*background: #edf5ef;*/
	background-image: url("../images/index/mv-bottom.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}

.slider.mv{
	width:100%;
}

.mv-wrap .inner-m{
	position: absolute;
	left:0;
	right:0;
	bottom:7.8vw;
	margin: auto;
}
.mv-wrap .btn-wrap{
	max-width: 400px;
	margin: 0 0 0 auto
}

@media screen and (max-width: 769px) {
	.mv-wrap .inner-m{
		position: absolute;
		left:0;
		right:0;
		bottom:12vw;
		margin: auto;
	}
	.mv-wrap .btn-wrap{
		max-width: inherit;
		margin: 0 auto
	}
	

}



	
/*------------------------------------------------------------------------------------------------
    Lead
--------------------------------------------------------------------------------------------------*/
#lead{
	background: #edf5ef;
	padding-bottom: 80px
}
.lead-ttl{
	width:100%;
	margin-bottom: 30px;
	font-size:2.4rem;
	font-weight: 700;
	border-bottom:1px solid #333
}
.lead-txt{
	font-size:2.6rem;
	font-weight: 700;
	margin-bottom: 30px
}
.lead-inner-wrap{
	margin-bottom: 60px
}
.lead-inner-wrap .txt-box{
	font-size:2.0rem;
	line-height: 1.8
}
.lead-inner-wrap .txt-box p+p{
	margin-top: 1.5em
}
.lead-inner-wrap.top{
	position: relative
}
.lead-inner-wrap.top .txt-box{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	margin: auto;
	width: 54%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column
}
.lead-inner-wrap.top .img-box{
	margin: 0 0 0 auto;
	width: 52%
}

.lead-inner-wrap.bottom .txt-box{
	width: 58%
}
.lead-inner-wrap.bottom .img-box{
	width: 37%
}

#lead .btn-wrap{
	margin: 40px  auto 0
}
#lead .btn-b a{
	background-image: url("../images/common/arrow-w_y.svg");
	background-position: right 1em center;
	background-repeat: no-repeat;
	background-size: 8px 16px

}
@media screen and (max-width: 1200px) {
	.lead-ttl{
		font-size:2vw;
	}
	.lead-txt{
		font-size:2.16vw;
		margin-bottom: 1.5vw
	}
	.lead-inner-wrap .txt-box{
		font-size:1.67vw;
	}

}
@media screen and (max-width: 768px) {
	#lead{
		background: #edf5ef;
		padding-bottom: 10vw
	}
	.lead-ttl{
		width:100%;
		margin-bottom: 4vw;
		font-size:5vw;
		font-weight: 700;
		border-bottom:1px solid #333
	}
	.lead-txt{
		font-size:4.6vw;
		font-weight: 700;
		margin-bottom: 4vw
	}
	.lead-inner-wrap{
		margin-bottom: 8vw
	}
	.lead-inner-wrap .txt-box{
		font-size:3.6vw;
	}	
	.lead-inner-wrap.top{
		position: static
	}
	.lead-inner-wrap.top .txt-box{
		position: static;
		margin:0;
		padding: 4vw 0;
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
	}
	.lead-inner-wrap.top .img-box{
		margin: 0 auto;
		width: 80%
	}
	.lead-inner-wrap.bottom .txt-box{
		width: 100%
	}
	.lead-inner-wrap.bottom .img-box{
		width: 70%;
		margin: 4vw auto
	}
	
	#lead .btn-wrap{
		margin: 6vw  auto 4vw
	}
	#lead .btn-b a{
		background-size: 2vw 4vw

	}


}




/*------------------------------------------------------------------------------------------------
    specialfeature
--------------------------------------------------------------------------------------------------*/
#specialfeature{
	padding: 0;
	position: relative
}
#specialfeature::after{
	position: absolute;
	content:'';
	width:620px;
	height:240px;
	top:-50px;
	right:-50px;
	background-image: url("../images/index/deco-top.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain
}

.feature-ttl-wrap{
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	max-width: 540px;
	background: #C0E2C8;
	padding: 10px 80px 10px 0 ;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	font-size: 1.8rem;
	font-weight: 500;
	margin-bottom: 60px;
}
.feature-ttl-wrap img{
	width:80px;
	margin:0 20px;
}
.feature-ttl-wrap span{
	font-family: 'Poppins', sans-serif;
	font-size:4.0rem;
	color:#1D4A79;
	line-height: 1
}

.feature-inner{
    width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}
.feature-wrap{
	width:92%;
	max-width: 1300px;
	align-items: center;
	position: relative
}
.feature-wrap.deco1::after{
	position: absolute;
	content:'';
	width:240px;
	height:250px;
	top:60px;
	left:-150px;
	background-image: url("../images/index/deco-mid01.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain
}
.feature-wrap.deco2::after{
	position: absolute;
	content:'';
	width:240px;
	height:250px;
	top:-100px;
	right:-20px;
	background-image: url("../images/index/deco-mid02.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain
}

.feature-wrap.r{
	margin: 0 0 0 auto
}
.feature-wrap .l-box{
	width:60%
}
.feature-wrap .s-box{
	width:38%
}

.feature-ttl{
	font-size:3.4rem;
	font-weight: 700;
	margin-bottom: 20px
}
.feature-wrap.r .feature-ttl{
	text-align: right
}
.feature-wrap .feature-txt{
	font-size:1.8rem;
	line-height: 2;
	max-width: 520px;
	text-align: left
}
.feature-wrap.r .feature-txt{
	margin: 0 0 0 auto
}
.feature-wrap .feature-logo{
	width:45%;
	margin: 0 0 20px auto
}

.feature-wrap .feature-num{
	font-weight: 700;
	fonr-size:2.2rem;
	display: inline-block;
	padding: 0.5em 2em;
	border-radius: 40px;
}
.feature-wrap .feature-num span{
	font-family: 'Poppins', sans-serif;
	font-size:6.0rem;
	line-height: 1
}
.feature-wrap.r .txt-box{
	text-align: right
}
.feature-wrap .feature-num.num1{
	position: relative;
	right:-18%;
	margin-bottom: 20px;
	background:rgba(236,238,199,0.80)
}
.feature-wrap .feature-num.num2{
	position: relative;
	left:-18%;
	margin-bottom: 20px;
	background: rgba(209,229,204,0.80)
}

.feature-wrap .btn-wrap{
	width:100%;
	max-width: 400px;
	margin: 30px 0 0 auto
}
.feature-wrap .feature-dl{
	font-weight: 700;
	display: inline-block;
	padding: 1em 2em;
	border-radius: 40px;

	position: relative;
	right:-18%;
	margin-bottom: 20px;
	font-size:2.0rem;
	background: rgba(246,231,232,0.80)
}


@media screen and (min-width: 1200px) {
	.feature-ttl-wrap{
		max-width: inherit;
		width:calc(((100% - 1200px) / 2 ) + 540px);
		padding-left: calc((100% - 1200px) / 2)
	}
}
@media screen and (max-width: 1200px) {
	#specialfeature::after{
		position: absolute;
		content:'';
		width:38vw;
		height:30vw;
		top:-12vw;
		right:-8vw;
	}
	.feature-wrap.deco1::after{
		position: absolute;
		content:'';
		width:20vw;
		height:20vw;
		top:5vw;
		left:-10vw;
	}
	.feature-wrap.deco2::after{
		position: absolute;
		content:'';
		width:20vw;
		height:15vw;
		top:-8vw;
		right:-2vw;
	}

	.feature-wrap:not(:first-child){
		margin-top: 5vw
	}
	.feature-wrap .l-box{
		width:56%
	}
	.feature-wrap .s-box{
		width:43%
	}
	.feature-wrap .feature-num{
		font-weight: 700;
		fonr-size:1.8vw;
		display: inline-block;
		padding: 0.5em 2em;
		border-radius:5vw;
	}
	.feature-wrap .feature-num span{
		font-family: 'Poppins', sans-serif;
		font-size:4vw;
	}
	.feature-wrap .feature-dl{
		padding: 0.8em 2em;
		border-radius:5vw;
		right:-18%;
		margin-bottom: 1vw;
		font-size:1.8vw;
	}

	.feature-ttl{
		font-size:2.4vw;
		margin-bottom: 1vw
	}
	.feature-wrap .feature-txt{
		font-size:1.7vw;
		line-height: 2;
		max-width: inherit;
		text-align: left
	}
	.feature-wrap .btn-wrap{
		width:80%;
		max-width: inherit;
		margin: 1em 0 0 auto
	}

}


@media screen and (max-width: 768px) {
	#specialfeature::after{
		position: absolute;
		content:'';
		width:40vw;
		height:30vw;
		top:-12vw;
		right:-8vw;
		background-image: url("../images/index/deco-top.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain
	}

	.feature-ttl-wrap{
		width:65vw;
		padding: 2vw 4vw 2vw 0 ;
		border-top-right-radius: 8vw;
		border-bottom-right-radius: 8vw;
		font-size: 3.4vw;
		margin-bottom: 0;
	}
	.feature-ttl-wrap img{
		width:10vw;
		margin:0 2vw;
	}
	.feature-ttl-wrap span{
		font-size:5vw;
	}

	.feature-inner{
		width: 100%;
		max-width: inherit;
	}
	.feature-wrap{
		width:100%;
		max-width: inherit;
		position: relative
	}
	.feature-wrap.deco1::after{
		position: absolute;
		content:'';
		width:30vw;
		height:30vw;
		top:30vw;
		left:-10vw;
	}
	.feature-wrap.deco2::after{
		position: absolute;
		content:'';
		width:30vw;
		height:25vw;
		top:-60vw;
		right:-5vw;
	}


	.feature-wrap .img-box{
		order: 1;
		width:70%;
		padding-top: 10vw
	}
	.feature-wrap.r .img-box{
		margin: 0 0 0 auto
	}
	.feature-wrap .txt-box{
		order: 2;
		width:92%;
		margin: 4vw auto 0;
	}

	.feature-ttl{
		font-size:4.8vw;
		font-weight: 700;
		margin-bottom: 20px
	}
	.feature-wrap.r .feature-ttl{
		text-align: left
	}
	.feature-wrap .feature-txt{
		font-size:3.4vw;
		line-height: 2;
		max-width: inherit;
		text-align: left
	}
	.feature-wrap.r .feature-txt{
		margin: 0 0 0 auto
	}
	.feature-wrap .feature-logo{
		width:45%;
		margin: 0 auto 4vw 0
	}

	.feature-wrap .feature-num{
		fonr-size:3.2vw;
		display: inline-block;
		border-radius: 10vw;
	}
	.feature-wrap .feature-num span{
		font-size:8vw;
		line-height: 1
	}
	.feature-wrap.r .txt-box{
		text-align: inherit
	}
	.feature-wrap .feature-num.num1{
		position: absolute;
		right:auto;
		left:10vw;
		top:12vw;
		margin-bottom: 0;
	}
	.feature-wrap .feature-num.num2{
		position: absolute;
		left:58%;
		top:12vw;
		margin-bottom: 0;
	}

	.feature-wrap .btn-wrap{
		width:75%;
		max-width: inherit;
		margin: 2vw 0 0 auto
	}
	.feature-wrap .feature-dl{
		font-weight: 700;
		display: inline-block;
		padding: 1em 2em;
		border-radius: 40px;

		position: absolute;
		right:auto;
		left:6vw;
		top:14vw;
		margin-bottom: 0;
		font-size:3.2vw;
	}

}




/*------------------------------------------------------------------------------------------------
    information
--------------------------------------------------------------------------------------------------*/
#information_list{
	padding: 140px 0 80px;
	position: relative
}
#information #information_list{
	padding: 80px 0 180px;
}

#information_list::after{
	position: absolute;
	content:'';
	width:470px;
	height:240px;
	bottom:-120px;
	left:-80px;
	background-image: url("../images/index/deco-bottom.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	z-index: 2
}

#information_list .inner-s,
#information_list .inner-m{
	background: #F3F6D7;
	border-radius: 30px;
	padding: 40px 0 60px;
	position: relative
}

#information_list .inner-s::after{
	position: absolute;
	content:'';
	width:160px;
	height:160px;
	top:-100px;
	left:50px;
	background-image: url("../images/index/deco-info.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	z-index: 2
}
.information-ttl-wrap{
	font-size: 1.8rem;
	font-weight: 500;
	margin-bottom: 60px;
	text-align: center
}

.information-ttl-wrap span{
	font-family: 'Poppins', sans-serif;
	font-size:4.0rem;
	color:#0078A3;
	line-height: 1
}


.info-wrap {
	width:85%;
	margin: 0 auto;
}

.info-wrap a{
	display: block;
	position: relative;
	margin-bottom: 1em;
	margin-left: 60px
}
.info-wrap a::before{
	position: absolute;
	content:'';
	width:50px;
	height:50px;
	background: #B3DBB4;
	border-radius: 50%;
	left:-60px
}
.info-wrap a.is-new::before{
	content:'NEW!';
	background: #E6695C;
	color:#fff;
	display: flex;
	align-items: center;
	justify-content: center
}

.info-wrap .info-item{
	border:1px #B3DBB4 solid;
	border-radius: 2em;
	min-height:50px;
	padding:10px 3em 10px 2em;
	font-size:1.6rem;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	position: relative;
	background-color: #fff;
	background-image: url("../images/common/arrow-blue.svg");
	background-position: right 0.8em center;
	background-repeat: no-repeat;
	background-size: 16px 8px

}
.info-wrap .external .info-item{
	background: #fff;
	padding-right: 6em
}
.info-wrap .external .info-item::after{
	position: absolute;
	content: '外部リンク';
	font-size:9px;
	color:#fff;
	width: 80px;
	height:20px;
	top: 0;
	bottom:0;
	right: 10px;
	margin: auto;
	background: #3D8067;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 2em;
	box-sizing: border-box;
	background-image: url("../images/common/link-icon-w.svg");
	background-position: right 0.8em center;
	background-repeat: no-repeat;
	background-size: 10px 10px
}
.info-wrap .info-item .info-date{
	width:12%;
	color:#868687
}
.info-wrap .info-item .info-txt{
	width:calc(100% - 14%)
}


#information_list .btn-wrap{
	margin: 60px auto 0
}


@media screen and (max-width: 768px) {
	#information_list{
		padding: 16vw 0 16vw;
	}
	#information #information_list{
		padding: 8vw 0 24vw;
	}

	#information_list::after{
		width:40vw;
		height:35vw;
		bottom:-10vw;
		left:-5vw;
	}

	#information_list .inner-s,
		#information_list .inner-m{
		border-radius: 4vw;
		padding: 8vw 0 8vw;
	}
	#information_list .inner-s::after{
		width:20vw;
		height:20vw;
		top:-10vw;
		left:2vw;
	}
	.information-ttl-wrap{
		font-size: 3.4vw;
		margin-bottom: 8vw;

	}

	.information-ttl-wrap span{
		font-size:5vw;
	}


	.info-wrap {
		width:90%;
		margin: 0 auto;
	}

	.info-wrap a{
		display: block;
		position: relative;
		margin-bottom: 1em;
		margin-left: 11vw
	}
	.info-wrap a::before{
		width:10vw;
		height:10vw;
		border-radius: 50%;
		top:1vw;
		left:-11vw
	}

.info-wrap .info-item{
	border:1px #B3DBB4 solid;
	border-radius: 1em;
	min-height:inherit;
	padding:2vw 4vw 8vw;
	font-size:3.4vw;
	font-weight: 500;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	background-color: #fff;
	background-image: url("../images/common/arrow-blue.svg");
	background-position: right 0.8em bottom 4vw;
	background-repeat: no-repeat;
	background-size: 1.5em 1em

}
.info-wrap .external .info-item{
	background: #fff;
	padding-right: 4vw;
}
.info-wrap .external .info-item::after{
	position: absolute;
	content: '外部リンク';
	font-size:2.4vw;
	color:#fff;
	width: 20vw;
	height:5vw;
	top: auto;
	bottom:2vw;
	right: 2vw;
	margin: auto;
	background: #3D8067;
	border-radius: 4vw;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 2em;
	box-sizing: border-box;
	background-image: url("../images/common/link-icon-w.svg");
	background-position: right 0.8em center;
	background-repeat: no-repeat;
	background-size: 2vw 2vw
}
	.info-wrap .info-item .info-date{
		width:100%;

	}
	.info-wrap .info-item .info-txt{
		width:100%;
	}


	#information_list .btn-wrap{
		margin: 60px auto 0
	}

}



/*------------------------------------------------------------------------------------------------
    スライド　一時停止
--------------------------------------------------------------------------------------------------*/

.slick_pause{
	width:40px;
	height:40px;
	border:4px solid #0078A3;
	border-radius: 50%;
	position: absolute;
	bottom:1%;
	left:0;
	right:0;
	margin: auto;
	z-index: 5;
	background-image:url("../images/common/pause_add.svg");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center
}

.slick_pause.paused{
	background-image:url("../images/common/pause_remove.svg");

}

@media screen and (max-width: 768px) {
	.slick_pause{
			bottom:0;
		width:5vw;
		height:5vw;
		border:0.6vw solid #0078A3;
	}
}