@charset "UTF-8";
/* CSS Document */
.h-bg span{
	display:inline-block
}
.information-date{
	margin-bottom: 0.5em;
	padding-left: 0.2em;
	border-bottom:2px solid #0078A3;
}
.information-txt{
	line-height: 2
}
.information-txt + .information-txt{
	margin-top: 1em
}
.link-wrap {
	margin-top: 5em
}
.link-wrap .h-icon{
	margin:0 0 1em
}
.flex-box{
	align-items: center
}
.txt-box{
	width:70%
}
.image-box{
	width: 28%
}

.txt-link{
	width:60%;
	margin: 1em 0 1em auto
}

.btn-b + .btn-b{
	margin-top: 1em
}
@media screen and (min-width: 1200px) {


	}

@media screen and (max-width: 768px) {
	.txt-link{
		width:100%
	}
	.txt-box{
		width:100%
	}
	.image-box{
		width: 100%;
		padding: 1em 20%
	}

}





