@charset "UTF-8";
/* CSS Document */
.mv>h1{
	padding-top: 1%;
	padding-bottom: 0
}
.mv>h1 .mv-ja{
	font-size:2.5vw;
	letter-spacing: 0em
}
.mv>h1 .mv-en{
	font-size:2.1vw;
	letter-spacing: 0.1em;
}

@media screen and (min-width:1200px) {
	.mv>h1 .mv-ja{
		font-size:3rem
	}
	.mv>h1 .mv-en{
		font-size:2.52rem
	}
}
@media screen and (max-width: 768px) {
	.mv>h1{
		width:30vw;
		max-width: inherit;
		height:28vw;
		max-height:inherit;
		padding-top: 3vw;
		padding-bottom: 0
	}
	.mv>h1 .mv-ja{
		font-size:3.4vw;
		line-height: 1.1;
		letter-spacing: 0em
	}
	.mv>h1 .mv-en{
		font-size:2.4vw;
		line-height: 1.1;
		letter-spacing: 0;
		margin-top: 1vw
	}
}



/*main*/
.main-wrap .inner-s .policy-wrap .lead-wrap{
	font-size:1.7rem;
	line-height: 3
}
.main-wrap .inner-s .policy-wrap .lead-wrap p+p{
	margin-top: 2em
}

.main-wrap .inner-s .policy-wrap .lead-wrap .lead-txt{
	font-size:2.8rem;
	font-weight: 600;
	line-height: 2;
	margin-bottom:1em;
	color: #00AFEC
}

.h-bg,.h-cat-icon{
	line-height: 1.6
}

.main-wrap .inner-s .policy-wrap .policy-item .list-wrap{
	background:rgba(229,203,204,0.40);
	margin: 40px 0;
	padding:1em
}
.main-wrap .inner-s .policy-wrap .policy-item .list-wrap ul{
	display: flex;
	flex-wrap: wrap;
	line-height: 1.6;
}
.main-wrap .inner-s .policy-wrap .policy-item .list-wrap li:nth-child(odd){
	width:13em;
	font-weight: 700
}
.main-wrap .inner-s .policy-wrap .policy-item .list-wrap li:nth-child(even){
	width:calc(100% - 13em)
}
.main-wrap .inner-s .policy-wrap .policy-item .list-wrap li:nth-child(n+3){
	margin-top: 1em;
	padding-top: 1em;
	border-top:#ccc 1px solid
}




.main-wrap .inner-s .policy-wrap .policy-item{
	margin-top: 70px;
	font-size:1.5rem;
	font-weight: 400;
	line-height: 3
}


.main-wrap .inner-s .policy-wrap .policy-item .modal-btn{
	width:100%;
	margin: 2em auto 0;
	padding:2em 3em;
}

@media screen and (max-width: 768px) {

	.main-wrap .inner-s .policy-wrap .lead-wrap{
		font-size:3.8vw;
		font-weight: 500;
		line-height: 2
	}
	.main-wrap .inner-s .policy-wrap .lead-wrap .lead-txt{
		font-size:4.2vw;
		font-weight: 600;
		color: #00AFEC
	}
	
	.main-wrap .inner-s .policy-wrap .policy-item{
		margin-top: 10vw;
		font-size:3.2vw;
		line-height:2
	}
	.main-wrap .inner-s .policy-wrap .policy-item .list-wrap li:nth-child(odd){
		width:100%;
		
	}
	.main-wrap .inner-s .policy-wrap .policy-item .list-wrap li:nth-child(even){
		width:100%;
		border:none;
		padding-top: 0
	}

	
	
	
}





