@charset "UTF-8";
/* CSS Document */

.mv>h1 .mv-en{
	letter-spacing: 0.05em;
}
.main-wrap .inner-l .map{
	width:95%;
	margin: 0 auto;
	position: relative;
	border:#ccc 1px solid
}
.main-wrap .inner-l .map a{
	position: absolute;
	display: block;
	width:7.2%;
	height:5%;
	background:hsla(0,0%,0%,0.0);
}

.main-wrap .inner-l .map a.link1{top:81.0%;left:21.0%}
.main-wrap .inner-l .map a.link2{top:14.5%;left:87.5%}
.main-wrap .inner-l .map a.link3{top:65.5%;left:65.5%}
.main-wrap .inner-l .map a.link4{top:76.5%;left:65.5%}
.main-wrap .inner-l .map a.link5{top:88.0%;left:65.5%}
.main-wrap .inner-l .map a.link6{top:87.5%;left:74.5%}


.link-wrap {
	width:100%;
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.link-wrap .ttl{
	width:100%;
}


.link-wrap .link-wrap-inn{
	width:47%
}

.link-wrap .btn-b{
	margin-bottom:20px
}
.link-wrap .btn-b a{
	justify-content: flex-start;
	padding-left: 3em
}
.link-wrap .btn-b.sustainability a{background-color:#943436}
.link-wrap .btn-b.specialfeature a{background-color:#2c3768}
.link-wrap .btn-b.environment a{background-color:#66984F}
.link-wrap .btn-b.social a{background-color:#b27346}
.link-wrap .btn-b.governance a{background-color:#58aca0}



@media screen and (max-width: 768px) {
.main-wrap .inner-l .map{
	width:90%;
	margin: 0 auto;
	overflow-x: scroll
}
	.main-wrap .inner-l .map img{
		width:180%
	}
	.link-wrap {
		width:90%;
		margin:8vw auto 0
	}
	.link-wrap .link-wrap-inn{
		width:100%
	}

	.link-wrap .ttl{
		font-size:5vw;
	}
	.link-wrap .btn-b{
		margin-bottom:4vw
	}
}





