@font-face {
   font-family: "NSK-TSR-J B";
   src: url("fonts/NSK-TSR-J B.woff") format("woff"), url("fonts/NSK-TSR-J B.eot") format("embedded-opentype"), url("fonts/NSK-TSR-J B.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}