@charset "UTF-8";

@use '../../common/config' as *;

* {
	word-break: normal;
}


/* MV
---------------------------------------------------------------------------- */
.p-sec-mv { 
	width: 100%;
	padding: rem(60) 0 rem(300);
	background: url("/assets/images/access/img_mv_pc.jpg") center center no-repeat;
	background-size: cover;
}

.p-mv-inn {
	width: auto;
	display: inline-block;
	padding: rem(30) rem(80);
	position: relative;
	color: #fff;
	
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		background: rgba(43,38,36);
		mix-blend-mode: multiply;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
}

.p-mv-ttl {
	width: 100%;
	color: #fff;
	@include flex(start,end,nowrap,center);
	position: relative;
	z-index: 2;
}

.p-mv-ttl-en {
	display: inline-block;
	@include fz(35,35,200,400);
}

.p-mv-txt {
	margin-top: rem(23);
	@include fz(15,20,50,400);
	position: relative;
	z-index: 2;
}

@media screen and (max-width: #{$breakpoint}px){
	
	.p-sec-mv { 
		width: 100%;
		padding: vw(120) 0 vw(500);
		background: url("/assets/images/access/img_mv_sp.jpg") center center no-repeat;
		background-size: cover;
		position: relative;
	}

	.p-mv-inn {
		width: 55%;
		display: inline-block;
		padding: vw(40) vw(50);
		position: relative;
		color: #fff;

		&::before {
			content: '';
			width: 100%;
			height: 100%;
			background: rgba(43,38,36,0.6);
			mix-blend-mode: multiply;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
	}

	.p-mv-ttl {
		width: 100%;
		color: #fff;
		opacity: 0.85;
		display: block;
		position: relative;
		z-index: 2;
	}

	.p-mv-ttl-en {
		display: block;
		@include spfz(40);
	}

	.p-mv-sp-txt-wrap {
		width: 45%;
		padding: vw(24) vw(50) vw(24) vw(60);
		position: absolute;
		bottom: vw(80);
		right: 0;

		&::before {
			content: '';
			width: 100%;
			height: 100%;
			background: rgba(43,38,36,0.8);
			mix-blend-mode: multiply;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 1;
		}
	}
	.p-mv-sp-txt {
		color: #fff;
		text-align: right;
		@include spfz(22);
		line-height: 1.5;
		letter-spacing: 0.1;
		position: relative;
		z-index: 2;
	}
}



/* メインコンテンツ
---------------------------------------------------------------------------- */
.p-sec-access {
	width: 100%;
	padding: rem(70) 0 0;
}

.p-lead-box {
	width: 100%;
	margin-bottom: rem(60);
}

.p-lead-txt {
	width: 100%;
	@include fz(16,28,0,400);
	text-align: center;
}

.p-access-wrap {
	width: 100%;
	margin-bottom: rem(60);
	position: relative;
	flex-direction: column;
	@include flex(end,end,nowrap,center);
}

.p-access-map {
	width: 70%;
	max-width: initial;
	position: absolute;
	top: 0;
	left: 0;
}

.p-access-box {
	@include flex(between,end,wrap,center);
	
	&.p-access-train {
		width: rem(180);
		padding-top: rem(40);

		.p-access-chart {
			width: 100%;
			margin: 0 auto rem(40);
		}
	}
	
	&.p-access-car {
		width: rem(414);
		margin-top: rem(40);

		.p-access-chart {
			width: calc((100% - rem(52)) / 3);
		}
	}
}

.p-access-ttl {
	width: 100%;
	margin-bottom: rem(15);
	padding: rem(5) 0;
	background: #707070;
	text-align: center;
	color: #fff;
	@include fz(16,28,50,700);
}

.p-access-gmap {
	width: 100%;
	height: 490px;
	border: 1px solid #707070;
	position: relative;
	
	iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

@media screen and (max-width: #{$breakpoint}px){
	.p-sec-access {
		width: 100%;
		padding: vw(70) 0 0;
	}

	.p-lead-box {
		width: 100%;
		margin: 0 auto vw(90);
		display: block;
	}
	
	.p-lead-txt {
		width: 100%;
		text-align: left;
		@include spfz(30);
	}
	
	

	.p-access-wrap {
		width: 100%;
		margin-bottom: vw(90);
		position: relative;
		flex-direction: column;
		@include flex(end,end,wrap,center);
	}

	.p-access-map {
		display: none;
	}

	.p-access-box {
		@include flex(between,end,wrap,center);

		&.p-access-train {
			width: 100%;
			margin: 0 auto vw(120);

			.p-access-chart {
				width: 47%;
				margin: 0;
				padding: 0;
				
				img {
					max-width: initial;
				}
			}
		}

		&.p-access-car {
			width: 100%;
			margin-top: 0;

			.p-access-chart {
				width: 42%;
				margin: 0;
				padding: 0;
				
				img {
					max-width: initial;
				}
			}
		}
	}

	.p-access-ttl {
		width: 100%;
		margin-bottom: vw(60);
		padding: vw(14) 0;
		@include spfz(28);
	}

	.p-access-gmap {
		width: 100%;
		height: vw(712);
		margin-bottom: vw(50);
	}
}




/* 下層ページ導線 3column 
---------------------------------------------------------------------------- */

@media screen and (max-width: #{$breakpoint}px){
	
	.m-footer-pagelinks {
		width: 100%;
		padding: vw(80) 0 vw(60);
	}


	/* 下層ページ導線 3column */
	.m-footer-pagelink-wrap {
		width: 75%;
		margin: 0 auto;
		@include flex(center,start,wrap,center);
	}

	.m-footer-pagelink {
		width: 100%;
		margin: 0 auto;

		a {
			width: 100%;
			display: block;
			position: relative;
		}
	}

	.m-footer-pagelink-access {
		margin-bottom: vw(50);
		background: url("/assets/images/common/bg_underpage_link_01.jpg") center center no-repeat;
		background-size: cover;
	}

	.m-footer-pagelink-sightseeing {
		margin-bottom: vw(50);
		background: url("/assets/images/common/bg_underpage_link_02.jpg") center center no-repeat;
		background-size: cover;
	}

	.m-footer-pagelink-reserve {
		background: url("/assets/images/common/bg_underpage_link_03.jpg") center center no-repeat;
		background-size: cover;
	}
	
	.m-footer-pagelink-ttl {
		width: 35%;
		padding: vw(52) vw(20);
		text-align: left;
		@include spfz(24);
		font-weight: 700;
		letter-spacing: 0.01em;
		line-height: 1;
		background: rgba(0,0,0,0.72);
		position: relative;
		z-index: 2;
	}
	
	
}