@charset "UTF-8";
body{
	background:#939393;

}
a, a:visited{color:#fff;cursor: pointer}

.main-wrap{
	padding: 100px 0;
	text-align: center;
	  font-size: 16px;
	font-weight: 700;
	color:#fff
}
.img-wrap{
	width:15%;
	margin: 40px auto
}


@media (max-width: 768px) {
	
	.main-wrap{
		padding: 20vw 0;
		  font-size: 4vw;
	}
	.img-wrap{
		width:30%;
		margin: 5vw auto
	}


}