@charset "UTF-8";
/* reset
---------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

img {
  border: 0;
  vertical-align: bottom;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

pre {
  white-space: pre-wrap;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* common
---------------------------------------------------------------------------- */
/* モーダル
---------------------------------------------------------------------------- */
.modaal-inner-wrapper {
  padding: 80px 80px;
}

.modaal-wrapper .modaal-close {
  border: none;
  background: #B1B1B1;
  padding: 0;
  -webkit-appearance: none;
}

.modaal-close {
  position: absolute;
  right: -60px;
  top: -60px;
  color: #2B2624;
  cursor: pointer;
  opacity: 1;
  width: 40px;
  height: 40px;
  background: #B1B1B1;
  border-radius: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.modaal-close:focus, .modaal-close:hover {
  outline: 0;
  background: #B1B1B1;
}

.modaal-close:focus:after, .modaal-close:focus:before, .modaal-close:hover:after, .modaal-close:hover:before {
  background: #2B2624;
}

.modaal-close span {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.modaal-close:after, .modaal-close:before {
  display: block;
  content: " ";
  position: absolute;
  top: 8px;
  left: 19px;
  width: 3px;
  height: 26px;
  border-radius: 0;
  background: #2B2624;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.modaal-container {
  background: transparent;
}

.modaal-content-container {
  padding: 0;
}

@media screen and (max-width: 767px) {
  .modaal-inner-wrapper {
    padding: 80px 25px;
  }
  .modaal-close {
    right: 0;
  }
}
/* 宿泊予約モーダル
---------------------------------------------------------------------------- */
.l-reservation-wrap {
  width: 100%;
  padding: 6rem 0;
  text-align: center;
  background: #fff;
}

.l-reservation-ttl {
  margin-bottom: 3rem;
  font-size: 2.2rem;
  line-height: 1;
  font-weight: 700;
}

.l-reservation-txt {
  margin-bottom: 3rem;
  font-size: 1.6rem;
  line-height: 1.375;
  font-weight: 400;
}

.l-reservation-tel {
  margin-bottom: 2rem;
  font-size: 3.2rem;
  line-height: 1.3125;
  font-weight: 700;
}

.l-reservation-email {
  font-size: 1.8rem;
  line-height: 1.2222222222;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .l-reservation-wrap {
    width: 100%;
    padding: 10.6666666667vw 0;
  }
  .l-reservation-ttl {
    margin-bottom: 8vw;
    font-size: 5.3333333333vw;
  }
  .l-reservation-txt {
    margin-bottom: 8vw;
    font-size: 4vw;
  }
  .l-reservation-tel {
    margin-bottom: 5.3333333333vw;
    font-size: 5.3333333333vw;
  }
  .l-reservation-email {
    font-size: 4vw;
  }
}
/* パーツ系
---------------------------------------------------------------------------- */
.m-sec-inn {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

.m-flex-box {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

/* ページ下部 写真 */
.m-footer-img {
  width: 100%;
  position: relative;
}

.m-footer-img-caption {
  padding: 0 0.4rem;
  display: inline-block;
  font-size: 1rem;
  line-height: 2.2;
  font-weight: 500;
  color: #fff;
  background: #2B2624;
  position: absolute;
  bottom: 10px;
  right: 3%;
}

/* テキスト系
---------------------------------------------------------------------------- */
.is-serif {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.is-vertical {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

/* スクロールエフェクト
---------------------------------------------------------------------------- */
.is-effect {
  opacity: 0;
  -webkit-transform: translate(0, 50px);
  transform: translate(0, 50px);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.is-effect.is-effect-on {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* layout
-----------------------------------------------------------------------------*/
/*必要なフォントのみ読み込んでください。不要なフォントおよび太さは削除でお願いします。*/
/* 
@font-face {
    font-family: 'Noto Sans JP';
	src: url("../../fonts/Noto_Sans_JP/NotoSansJP-Regular.woff2") format("woff2"),url("../../fonts/Noto_Sans_JP/NotoSansJP-Regular.woff") format("woff");
	font-display: swap;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans JP';
	src: url("../../fonts/Noto_Sans_JP/NotoSansJP-Medium.woff2") format("woff2"),url("../../fonts/Noto_Sans_JP/NotoSansJP-Medium.woff") format("woff");
	font-display: swap;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans JP';
	src: url("../../fonts/Noto_Sans_JP/NotoSansJP-Bold.woff2") format("woff2"),url("../../fonts/Noto_Sans_JP/NotoSansJP-Bold.woff") format("woff");
	font-display: swap;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans JP';
	src: url("../../fonts/Noto_Sans_JP/NotoSansJP-Black.woff2") format("woff2"),url("../../fonts/Noto_Sans_JP/NotoSansJP-Black.woff") format("woff");
	font-display: swap;
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Serif JP';
	src: url("../../fonts/Noto_Serif_JP/NotoSerifJP-Regular.woff2") format("woff2"),url("../../fonts/Noto_Serif_JP/NotoSerifJP-Regular.woff") format("woff");
	font-display: swap;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Serif JP';
	src: url("../../fonts/Noto_Serif_JP/NotoSerifJP-Medium.woff2") format("woff2"),url("../../fonts/Noto_Serif_JP/NotoSerifJP-Medium.woff") format("woff");
	font-display: swap;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Serif JP';
	src: url("../../fonts/Noto_Serif_JP/NotoSerifJP-Bold.woff2") format("woff2"),url("../../fonts/Noto_Serif_JP/NotoSerifJP-Bold.woff") format("woff");
	font-display: swap;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Serif JP';
	src: url("../../fonts/Noto_Serif_JP/NotoSerifJP-Black.woff2") format("woff2"),url("../../fonts/Noto_Serif_JP/NotoSerifJP-Black.woff") format("woff");
	font-display: swap;
    font-weight: 900;
    font-style: normal;
}*/
/* base
---------------------------------------------------------------------------- */
/*------------- General Elements -------------*/
html {
  font-size: 62.5%;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 400;
  color: #2B2624;
  font-size: 1.5rem;
  position: relative;
}

/* English */
body.is-en {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

a {
  text-decoration: none;
  color: #ffffff;
  outline: none;
}
a:hover, a:active, a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
}

* {
  word-break: break-all;
}

@media screen and (max-width: 1080px) and (min-width: 768px) {
  html {
    font-size: 0.9375vw;
  }
}
@media screen and (max-width: 767px) {
  body {
    min-width: inherit;
  }
}
/*------------- .l-pagebody -------------*/
.l-pagebody {
  width: 100%;
  overflow: hidden;
}

/*------------- .l-header -------------*/
.l-header {
  width: 100%;
  padding: 15px 0;
  background: #06038D;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
}

.l-header-inn {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.l-header-ttl {
  width: 12.6rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.l-header-ttl img {
  width: 100%;
  max-width: initial;
}

.l-header.is-fixed .l-header-ttl {
  width: 10rem;
}

.l-gnav {
  width: calc(100% - 12.6rem);
}
.l-gnav ul {
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.l-gnav ul li {
  display: inline-block;
  margin: 0 1.2rem;
}
.l-gnav ul li:last-child {
  margin: 0 0 0 1.2rem;
}
.l-gnav ul li a {
  font-size: 1.5rem;
  line-height: 1.8666666667;
  letter-spacing: 0.2em;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.l-gnav-reserve-btn {
  padding: 0.8rem 1.8rem 0.8rem 2.1rem;
  background: #1E9D32;
}
.l-gnav-reserve-btn:hover {
  background: #E7EEF4;
  color: #2B2624;
}

/* 英語版 */
.is-en .l-gnav ul li {
  display: inline-block;
  margin: 0 1rem;
}
.is-en .l-gnav ul li:last-child {
  margin: 0 0 0 1rem;
}
.is-en .l-gnav ul li a {
  font-size: 1.3rem;
  line-height: 1.6923076923;
  font-weight: 700;
  letter-spacing: 0;
}

/* 英語版 */
@media screen and (max-width: 767px) {
  .l-header {
    width: 100%;
    padding: 4vw 0;
  }
  .l-header-inn {
    width: 84%;
    max-width: 1400px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -ms-flex-align: end;
    -webkit-box-align: end;
            align-items: flex-end;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .l-header-ttl {
    width: 28vw;
  }
  .l-header.is-fixed .l-header-ttl {
    width: 28vw;
  }
  .l-menu-btn {
    width: 8vw;
    height: 8.2666666667vw;
    position: relative;
    z-index: 9999;
    margin-left: auto;
  }
  .is-menu-trigger {
    width: 100%;
    height: 8.2666666667vw;
    display: inline-block;
    position: relative;
    cursor: pointer;
    z-index: 999;
  }
  .is-menu-trigger span {
    width: 7.4666666667vw;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 1px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .is-menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  .is-menu-trigger span:nth-of-type(2) {
    top: 1.8666666667vw;
  }
  .is-menu-trigger span:nth-of-type(3) {
    top: 3.7333333333vw;
  }
  .is-menu-trigger.is-active span:nth-of-type(1) {
    -webkit-transform: translateY(1.8666666667vw) rotate(-45deg);
    transform: translateY(1.8666666667vw) rotate(-45deg);
  }
  .is-menu-trigger.is-active span:nth-of-type(2) {
    opacity: 0;
  }
  .is-menu-trigger.is-active span:nth-of-type(3) {
    -webkit-transform: translateY(-1.8666666667vw) rotate(45deg);
    transform: translateY(-1.8666666667vw) rotate(45deg);
  }
  .is-menu-trigger p {
    width: 100%;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 2.1333333333vw;
  }
  /* l-sp-gnav */
  .l-sp-gnav {
    width: 100%;
    height: 100vh;
    padding: 5.3333333333vw 8% 5.3333333333vw;
    background: rgba(43, 38, 36, 0.9);
    border: 1px solid rgba(112, 112, 112, 0.9);
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 999;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .l-sp-gnav.is-open {
    left: 0;
  }
  .l-sp-gnav ul {
    width: 100%;
    height: 100%;
    padding: 0 16% 0 0;
    margin: 0 auto 0 0;
    overflow: auto;
  }
  .l-sp-gnav ul li {
    margin-bottom: 6.6666666667vw;
    display: block;
  }
  .l-sp-gnav-bordertop {
    padding-top: 4vw;
    border-top: 1px solid #707070;
  }
  .l-sp-gnav-borderbottom {
    padding-bottom: 4vw;
    border-bottom: 1px solid #707070;
  }
  .l-sp-gnav-ttl {
    width: 28vw;
    margin-bottom: 8.5333333333vw;
  }
  .l-sp-gnav-link {
    display: block;
    font-size: 4.2666666667vw;
    font-weight: 700;
  }
  .l-sp-gnav-reserve-btn {
    display: inline-block;
    padding: 2.1333333333vw 5.3333333333vw;
    background: #1E9D32;
    font-size: 4.2666666667vw;
    font-weight: 700;
  }
  .is-en .l-gnav ul li a {
    font-size: 4.2666666667vw;
  }
}
/*------------- .l-gnav -------------*/
/*------------- .l-breadcrumbs -------------*/
.l-breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*------------- .l-sidebar -------------*/
/*------------- .l-pagetop -------------*/
.l-pagetop {
  width: 8rem;
  display: block;
  position: fixed;
  bottom: 8rem;
  right: 2rem;
  z-index: 99;
}
.l-pagetop.is-fix {
  position: absolute;
  bottom: 18rem;
}

@media screen and (max-width: 767px) {
  .l-pagetop {
    width: 10.6666666667vw;
    display: block;
    position: fixed;
    bottom: 16vw;
    right: 5.3333333333vw;
  }
  .l-pagetop.is-fix {
    position: absolute;
    bottom: 77.3333333333vw;
  }
}
/*------------- .l-footer -------------*/
.l-footer {
  width: 100%;
  margin-top: -1px;
  padding: 6.3rem 0 1rem;
  background: rgba(0, 0, 0, 0.8);
}
.l-footer .m-sec-inn {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
}

.l-footer-info {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-bottom: 2.4rem;
}

.l-footer-logo {
  width: 128px;
  margin-right: 2rem;
  display: block;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.l-footer-logo:hover {
  opacity: 1;
}

.l-footer-address {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
}
.l-footer-address span{
	font-size: 1.3em;
	display: block;
	margin-bottom: 0.5em;
}

.l-footer-sns {
  margin-top: 1.4rem;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-line-pack: center;
  align-content: center;
}
.l-footer-sns li:nth-child(1) {
  width: 31px;
  margin-right: 1rem;
}
.l-footer-sns li:nth-child(2) {
  width: 27px;
}

.l-footer-link-wrap {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
}

.l-footer-nav {
  margin: 0 0 0 4rem;
}
.l-footer-nav:first-child {
  margin-left: 0;
}
.l-footer-nav li {
  margin-bottom: 1.5rem;
}
.l-footer-nav li:last-child {
  margin-bottom: 0;
}

.l-footer-link {
  font-size: 1.3rem;
  line-height: 1.5384615385;
  letter-spacing: 0.25em;
  font-weight: 400;
  color: #CEC3C3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.l-footer-link:hover {
  color: #fff;
}

.l-copyright {
  width: 100%;
  padding: 14px 0 12px;
  display: block;
  text-align: center;
  color: #fff;
  background: #000000;
  font-size: 1.1rem;
  line-height: 1.8181818182;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* 英語版 */
.is-en .l-footer-link {
  letter-spacing: 0;
}
.is-en .l-copyright {
  letter-spacing: 0;
}

@media screen and (max-width: 767px) {
  .l-footer {
    width: 100%;
    padding: 11.7333333333vw 0 8vw;
  }
  .l-footer .m-sec-inn {
    width: 80%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -ms-flex-align: start;
    -webkit-box-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .l-footer-info {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
            justify-content: flex-start;
    -ms-flex-align: start;
    -webkit-box-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-bottom: 0;
    position: relative;
  }
  .l-footer-logo {
    width: 28vw;
    margin-right: 0;
    margin-bottom: 4.5333333333vw;
    display: block;
    opacity: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .l-footer-address {
    font-size: 2.6666666667vw;
  }
  .l-footer-sns {
    margin-top: 0;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
            justify-content: flex-end;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-line-pack: center;
    align-content: center;
    position: absolute;
    top: 1vw;
    right: 0;
  }
  .l-footer-sns li:nth-child(1) {
    width: 8.2666666667vw;
    margin-right: 2.6666666667vw;
  }
  .l-footer-sns li:nth-child(2) {
    width: 7.2vw;
    margin-right: 8vw;
  }
  .l-footer-link-wrap {
    width: 100%;
    margin-top: 7.4666666667vw;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -ms-flex-align: start;
    -webkit-box-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .l-footer-nav {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0;
  }
  .l-footer-nav li {
    margin-bottom: 3.7333333333vw;
  }
  .l-footer-nav li:last-child {
    margin-bottom: 0;
  }
  .l-footer-link {
    font-size: 2.9333333333vw;
    letter-spacing: 0;
  }
  .l-copyright {
    width: 100%;
    padding: 4vw 0 3.2vw;
    font-size: 2.6666666667vw;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  /* 英語版 */
  .is-en .l-footer-nav {
    margin: 0;
  }
}
/* module
---------------------------------------------------------------------------- */
/* RWD表示切り替え
---------------------------------------------------------------------------- */
@media all and (min-width: 768px) {
  .nopc {
    display: none !important;
  }
}
@media all and (max-width: 767px) {
  .nosp {
    display: none !important;
  }
}
/* フォントサイズ
---------------------------------------------------------------------------- */
.fs50 {
  font-size: 5rem !important;
}

.fs49 {
  font-size: 4.9rem !important;
}

.fs48 {
  font-size: 4.8rem !important;
}

.fs47 {
  font-size: 4.7rem !important;
}

.fs46 {
  font-size: 4.6rem !important;
}

.fs45 {
  font-size: 4.5rem !important;
}

.fs44 {
  font-size: 4.4rem !important;
}

.fs43 {
  font-size: 4.3rem !important;
}

.fs42 {
  font-size: 4.2rem !important;
}

.fs41 {
  font-size: 4.1rem !important;
}

.fs40 {
  font-size: 4rem !important;
}

.fs39 {
  font-size: 3.9rem !important;
}

.fs38 {
  font-size: 3.8rem !important;
}

.fs37 {
  font-size: 3.7rem !important;
}

.fs36 {
  font-size: 3.6rem !important;
}

.fs35 {
  font-size: 3.5rem !important;
}

.fs34 {
  font-size: 3.4rem !important;
}

.fs33 {
  font-size: 3.3rem !important;
}

.fs32 {
  font-size: 3.2rem !important;
}

.fs31 {
  font-size: 3.1rem !important;
}

.fs30 {
  font-size: 3rem !important;
}

.fs29 {
  font-size: 2.9rem !important;
}

.fs28 {
  font-size: 2.8rem !important;
}

.fs27 {
  font-size: 2.7rem !important;
}

.fs26 {
  font-size: 2.6rem !important;
}

.fs25 {
  font-size: 2.5rem !important;
}

.fs24 {
  font-size: 2.4rem !important;
}

.fs23 {
  font-size: 2.3rem !important;
}

.fs22 {
  font-size: 2.2rem !important;
}

.fs21 {
  font-size: 2.1rem !important;
}

.fs20 {
  font-size: 2rem !important;
}

.fs19 {
  font-size: 1.9rem !important;
}

.fs18 {
  font-size: 1.8rem !important;
}

.fs17 {
  font-size: 1.7rem !important;
}

.fs16 {
  font-size: 1.6rem !important;
}

.fs15 {
  font-size: 1.5rem !important;
}

.fs14 {
  font-size: 1.4rem !important;
}

.fs13 {
  font-size: 1.3rem !important;
}

.fs12 {
  font-size: 1.2rem !important;
}

.fs11 {
  font-size: 1.1rem !important;
}

.fs10 {
  font-size: 1rem !important;
}

.fs9 {
  font-size: 0.9rem !important;
}

.fs8 {
  font-size: 0.8rem !important;
}

.fs7 {
  font-size: 0.7rem !important;
}

.fs6 {
  font-size: 0.6rem !important;
}

@media screen and (max-width: 767px) {
  .spfs50 {
    font-size: 6.6666666667vw !important;
  }
  .spfs49 {
    font-size: 6.5333333333vw !important;
  }
  .spfs48 {
    font-size: 6.4vw !important;
  }
  .spfs47 {
    font-size: 6.2666666667vw !important;
  }
  .spfs46 {
    font-size: 6.1333333333vw !important;
  }
  .spfs45 {
    font-size: 6vw !important;
  }
  .spfs44 {
    font-size: 5.8666666667vw !important;
  }
  .spfs43 {
    font-size: 5.7333333333vw !important;
  }
  .spfs42 {
    font-size: 5.6vw !important;
  }
  .spfs41 {
    font-size: 5.4666666667vw !important;
  }
  .spfs40 {
    font-size: 5.3333333333vw !important;
  }
  .spfs39 {
    font-size: 5.2vw !important;
  }
  .spfs38 {
    font-size: 5.0666666667vw !important;
  }
  .spfs37 {
    font-size: 4.9333333333vw !important;
  }
  .spfs36 {
    font-size: 4.8vw !important;
  }
  .spfs35 {
    font-size: 4.6666666667vw !important;
  }
  .spfs34 {
    font-size: 4.5333333333vw !important;
  }
  .spfs33 {
    font-size: 4.4vw !important;
  }
  .spfs32 {
    font-size: 4.2666666667vw !important;
  }
  .spfs31 {
    font-size: 4.1333333333vw !important;
  }
  .spfs30 {
    font-size: 4vw !important;
  }
  .spfs29 {
    font-size: 3.8666666667vw !important;
  }
  .spfs28 {
    font-size: 3.7333333333vw !important;
  }
  .spfs27 {
    font-size: 3.6vw !important;
  }
  .spfs26 {
    font-size: 3.4666666667vw !important;
  }
  .spfs25 {
    font-size: 3.3333333333vw !important;
  }
  .spfs24 {
    font-size: 3.2vw !important;
  }
  .spfs23 {
    font-size: 3.0666666667vw !important;
  }
  .spfs22 {
    font-size: 2.9333333333vw !important;
  }
  .spfs21 {
    font-size: 2.8vw !important;
  }
  .spfs20 {
    font-size: 2.6666666667vw !important;
  }
  .spfs19 {
    font-size: 2.5333333333vw !important;
  }
  .spfs18 {
    font-size: 2.4vw !important;
  }
  .spfs17 {
    font-size: 2.2666666667vw !important;
  }
  .spfs16 {
    font-size: 2.1333333333vw !important;
  }
  .spfs15 {
    font-size: 2vw !important;
  }
  .spfs14 {
    font-size: 1.8666666667vw !important;
  }
  .spfs13 {
    font-size: 1.7333333333vw !important;
  }
  .spfs12 {
    font-size: 1.6vw !important;
  }
  .spfs11 {
    font-size: 1.4666666667vw !important;
  }
  .spfs10 {
    font-size: 1.3333333333vw !important;
  }
  .spfs9 {
    font-size: 1.2vw !important;
  }
  .spfs8 {
    font-size: 1.0666666667vw !important;
  }
  .spfs7 {
    font-size: 0.9333333333vw !important;
  }
  .spfs6 {
    font-size: 0.8vw !important;
  }
}
/* clearfix
---------------------------------------------------------------------------- */
.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

/* テキスト
---------------------------------------------------------------------------- */
.tal {
  text-align: left !important;
}

.tac {
  text-align: center !important;
}

.tar {
  text-align: right !important;
}

.fwb {
  font-weight: bold !important;
}

@media screen and (max-width: 767px) {
  .sptal {
    text-align: left !important;
  }
  .sptac {
    text-align: center !important;
  }
  .sptar {
    text-align: right !important;
  }
  .spfwb {
    font-weight: bold !important;
  }
}
/* マージン
---------------------------------------------------------------------------- */
.mt100 {
  margin-top: 10rem !important;
}

.mb100 {
  margin-bottom: 10rem !important;
}

.ml100 {
  margin-left: 10rem !important;
}

.mr100 {
  margin-right: 10rem !important;
}

.mt95 {
  margin-top: 9.5rem !important;
}

.mb95 {
  margin-bottom: 9.5rem !important;
}

.ml95 {
  margin-left: 9.5rem !important;
}

.mr95 {
  margin-right: 9.5rem !important;
}

.mt90 {
  margin-top: 9rem !important;
}

.mb90 {
  margin-bottom: 9rem !important;
}

.ml90 {
  margin-left: 9rem !important;
}

.mr90 {
  margin-right: 9rem !important;
}

.mt85 {
  margin-top: 8.5rem !important;
}

.mb85 {
  margin-bottom: 8.5rem !important;
}

.ml85 {
  margin-left: 8.5rem !important;
}

.mr85 {
  margin-right: 8.5rem !important;
}

.mt80 {
  margin-top: 8rem !important;
}

.mb80 {
  margin-bottom: 8rem !important;
}

.ml80 {
  margin-left: 8rem !important;
}

.mr80 {
  margin-right: 8rem !important;
}

.mt75 {
  margin-top: 7.5rem !important;
}

.mb75 {
  margin-bottom: 7.5rem !important;
}

.ml75 {
  margin-left: 7.5rem !important;
}

.mr75 {
  margin-right: 7.5rem !important;
}

.mt70 {
  margin-top: 7rem !important;
}

.mb70 {
  margin-bottom: 7rem !important;
}

.ml70 {
  margin-left: 7rem !important;
}

.mr70 {
  margin-right: 7rem !important;
}

.mt65 {
  margin-top: 6.5rem !important;
}

.mb65 {
  margin-bottom: 6.5rem !important;
}

.ml65 {
  margin-left: 6.5rem !important;
}

.mr65 {
  margin-right: 6.5rem !important;
}

.mt60 {
  margin-top: 6rem !important;
}

.mb60 {
  margin-bottom: 6rem !important;
}

.ml60 {
  margin-left: 6rem !important;
}

.mr60 {
  margin-right: 6rem !important;
}

.mt55 {
  margin-top: 5.5rem !important;
}

.mb55 {
  margin-bottom: 5.5rem !important;
}

.ml55 {
  margin-left: 5.5rem !important;
}

.mr55 {
  margin-right: 5.5rem !important;
}

.mt50 {
  margin-top: 5rem !important;
}

.mb50 {
  margin-bottom: 5rem !important;
}

.ml50 {
  margin-left: 5rem !important;
}

.mr50 {
  margin-right: 5rem !important;
}

.mt45 {
  margin-top: 4.5rem !important;
}

.mb45 {
  margin-bottom: 4.5rem !important;
}

.ml45 {
  margin-left: 4.5rem !important;
}

.mr45 {
  margin-right: 4.5rem !important;
}

.mt40 {
  margin-top: 4rem !important;
}

.mb40 {
  margin-bottom: 4rem !important;
}

.ml40 {
  margin-left: 4rem !important;
}

.mr40 {
  margin-right: 4rem !important;
}

.mt35 {
  margin-top: 3.5rem !important;
}

.mb35 {
  margin-bottom: 3.5rem !important;
}

.ml35 {
  margin-left: 3.5rem !important;
}

.mr35 {
  margin-right: 3.5rem !important;
}

.mt30 {
  margin-top: 3rem !important;
}

.mb30 {
  margin-bottom: 3rem !important;
}

.ml30 {
  margin-left: 3rem !important;
}

.mr30 {
  margin-right: 3rem !important;
}

.mt25 {
  margin-top: 2.5rem !important;
}

.mb25 {
  margin-bottom: 2.5rem !important;
}

.ml25 {
  margin-left: 2.5rem !important;
}

.mr25 {
  margin-right: 2.5rem !important;
}

.mt20 {
  margin-top: 2rem !important;
}

.mb20 {
  margin-bottom: 2rem !important;
}

.ml20 {
  margin-left: 2rem !important;
}

.mr20 {
  margin-right: 2rem !important;
}

.mt15 {
  margin-top: 1.5rem !important;
}

.mb15 {
  margin-bottom: 1.5rem !important;
}

.ml15 {
  margin-left: 1.5rem !important;
}

.mr15 {
  margin-right: 1.5rem !important;
}

.mt10 {
  margin-top: 1rem !important;
}

.mb10 {
  margin-bottom: 1rem !important;
}

.ml10 {
  margin-left: 1rem !important;
}

.mr10 {
  margin-right: 1rem !important;
}

.mt5 {
  margin-top: 0.5rem !important;
}

.mb5 {
  margin-bottom: 0.5rem !important;
}

.ml5 {
  margin-left: 0.5rem !important;
}

.mr5 {
  margin-right: 0.5rem !important;
}

.mt0 {
  margin-top: 0rem !important;
}

.mb0 {
  margin-bottom: 0rem !important;
}

.ml0 {
  margin-left: 0rem !important;
}

.mr0 {
  margin-right: 0rem !important;
}

@media screen and (max-width: 767px) {
  .spmt100 {
    margin-top: 13.3333333333vw !important;
  }
  .spmb100 {
    margin-bottom: 13.3333333333vw !important;
  }
  .spml100 {
    margin-left: 13.3333333333vw !important;
  }
  .spmr100 {
    margin-right: 13.3333333333vw !important;
  }
  .spmt95 {
    margin-top: 12.6666666667vw !important;
  }
  .spmb95 {
    margin-bottom: 12.6666666667vw !important;
  }
  .spml95 {
    margin-left: 12.6666666667vw !important;
  }
  .spmr95 {
    margin-right: 12.6666666667vw !important;
  }
  .spmt90 {
    margin-top: 12vw !important;
  }
  .spmb90 {
    margin-bottom: 12vw !important;
  }
  .spml90 {
    margin-left: 12vw !important;
  }
  .spmr90 {
    margin-right: 12vw !important;
  }
  .spmt85 {
    margin-top: 11.3333333333vw !important;
  }
  .spmb85 {
    margin-bottom: 11.3333333333vw !important;
  }
  .spml85 {
    margin-left: 11.3333333333vw !important;
  }
  .spmr85 {
    margin-right: 11.3333333333vw !important;
  }
  .spmt80 {
    margin-top: 10.6666666667vw !important;
  }
  .spmb80 {
    margin-bottom: 10.6666666667vw !important;
  }
  .spml80 {
    margin-left: 10.6666666667vw !important;
  }
  .spmr80 {
    margin-right: 10.6666666667vw !important;
  }
  .spmt75 {
    margin-top: 10vw !important;
  }
  .spmb75 {
    margin-bottom: 10vw !important;
  }
  .spml75 {
    margin-left: 10vw !important;
  }
  .spmr75 {
    margin-right: 10vw !important;
  }
  .spmt70 {
    margin-top: 9.3333333333vw !important;
  }
  .spmb70 {
    margin-bottom: 9.3333333333vw !important;
  }
  .spml70 {
    margin-left: 9.3333333333vw !important;
  }
  .spmr70 {
    margin-right: 9.3333333333vw !important;
  }
  .spmt65 {
    margin-top: 8.6666666667vw !important;
  }
  .spmb65 {
    margin-bottom: 8.6666666667vw !important;
  }
  .spml65 {
    margin-left: 8.6666666667vw !important;
  }
  .spmr65 {
    margin-right: 8.6666666667vw !important;
  }
  .spmt60 {
    margin-top: 8vw !important;
  }
  .spmb60 {
    margin-bottom: 8vw !important;
  }
  .spml60 {
    margin-left: 8vw !important;
  }
  .spmr60 {
    margin-right: 8vw !important;
  }
  .spmt55 {
    margin-top: 7.3333333333vw !important;
  }
  .spmb55 {
    margin-bottom: 7.3333333333vw !important;
  }
  .spml55 {
    margin-left: 7.3333333333vw !important;
  }
  .spmr55 {
    margin-right: 7.3333333333vw !important;
  }
  .spmt50 {
    margin-top: 6.6666666667vw !important;
  }
  .spmb50 {
    margin-bottom: 6.6666666667vw !important;
  }
  .spml50 {
    margin-left: 6.6666666667vw !important;
  }
  .spmr50 {
    margin-right: 6.6666666667vw !important;
  }
  .spmt45 {
    margin-top: 6vw !important;
  }
  .spmb45 {
    margin-bottom: 6vw !important;
  }
  .spml45 {
    margin-left: 6vw !important;
  }
  .spmr45 {
    margin-right: 6vw !important;
  }
  .spmt40 {
    margin-top: 5.3333333333vw !important;
  }
  .spmb40 {
    margin-bottom: 5.3333333333vw !important;
  }
  .spml40 {
    margin-left: 5.3333333333vw !important;
  }
  .spmr40 {
    margin-right: 5.3333333333vw !important;
  }
  .spmt35 {
    margin-top: 4.6666666667vw !important;
  }
  .spmb35 {
    margin-bottom: 4.6666666667vw !important;
  }
  .spml35 {
    margin-left: 4.6666666667vw !important;
  }
  .spmr35 {
    margin-right: 4.6666666667vw !important;
  }
  .spmt30 {
    margin-top: 4vw !important;
  }
  .spmb30 {
    margin-bottom: 4vw !important;
  }
  .spml30 {
    margin-left: 4vw !important;
  }
  .spmr30 {
    margin-right: 4vw !important;
  }
  .spmt25 {
    margin-top: 3.3333333333vw !important;
  }
  .spmb25 {
    margin-bottom: 3.3333333333vw !important;
  }
  .spml25 {
    margin-left: 3.3333333333vw !important;
  }
  .spmr25 {
    margin-right: 3.3333333333vw !important;
  }
  .spmt20 {
    margin-top: 2.6666666667vw !important;
  }
  .spmb20 {
    margin-bottom: 2.6666666667vw !important;
  }
  .spml20 {
    margin-left: 2.6666666667vw !important;
  }
  .spmr20 {
    margin-right: 2.6666666667vw !important;
  }
  .spmt15 {
    margin-top: 2vw !important;
  }
  .spmb15 {
    margin-bottom: 2vw !important;
  }
  .spml15 {
    margin-left: 2vw !important;
  }
  .spmr15 {
    margin-right: 2vw !important;
  }
  .spmt10 {
    margin-top: 1.3333333333vw !important;
  }
  .spmb10 {
    margin-bottom: 1.3333333333vw !important;
  }
  .spml10 {
    margin-left: 1.3333333333vw !important;
  }
  .spmr10 {
    margin-right: 1.3333333333vw !important;
  }
  .spmt5 {
    margin-top: 0.6666666667vw !important;
  }
  .spmb5 {
    margin-bottom: 0.6666666667vw !important;
  }
  .spml5 {
    margin-left: 0.6666666667vw !important;
  }
  .spmr5 {
    margin-right: 0.6666666667vw !important;
  }
  .spmt0 {
    margin-top: 0vw !important;
  }
  .spmb0 {
    margin-bottom: 0vw !important;
  }
  .spml0 {
    margin-left: 0vw !important;
  }
  .spmr0 {
    margin-right: 0vw !important;
  }
}
/* パディング
---------------------------------------------------------------------------- */
.pt100 {
  padding-top: 10rem !important;
}

.pb100 {
  padding-bottom: 10rem !important;
}

.pl100 {
  padding-left: 10rem !important;
}

.pr100 {
  padding-right: 10rem !important;
}

.pt95 {
  padding-top: 9.5rem !important;
}

.pb95 {
  padding-bottom: 9.5rem !important;
}

.pl95 {
  padding-left: 9.5rem !important;
}

.pr95 {
  padding-right: 9.5rem !important;
}

.pt90 {
  padding-top: 9rem !important;
}

.pb90 {
  padding-bottom: 9rem !important;
}

.pl90 {
  padding-left: 9rem !important;
}

.pr90 {
  padding-right: 9rem !important;
}

.pt85 {
  padding-top: 8.5rem !important;
}

.pb85 {
  padding-bottom: 8.5rem !important;
}

.pl85 {
  padding-left: 8.5rem !important;
}

.pr85 {
  padding-right: 8.5rem !important;
}

.pt80 {
  padding-top: 8rem !important;
}

.pb80 {
  padding-bottom: 8rem !important;
}

.pl80 {
  padding-left: 8rem !important;
}

.pr80 {
  padding-right: 8rem !important;
}

.pt75 {
  padding-top: 7.5rem !important;
}

.pb75 {
  padding-bottom: 7.5rem !important;
}

.pl75 {
  padding-left: 7.5rem !important;
}

.pr75 {
  padding-right: 7.5rem !important;
}

.pt70 {
  padding-top: 7rem !important;
}

.pb70 {
  padding-bottom: 7rem !important;
}

.pl70 {
  padding-left: 7rem !important;
}

.pr70 {
  padding-right: 7rem !important;
}

.pt65 {
  padding-top: 6.5rem !important;
}

.pb65 {
  padding-bottom: 6.5rem !important;
}

.pl65 {
  padding-left: 6.5rem !important;
}

.pr65 {
  padding-right: 6.5rem !important;
}

.pt60 {
  padding-top: 6rem !important;
}

.pb60 {
  padding-bottom: 6rem !important;
}

.pl60 {
  padding-left: 6rem !important;
}

.pr60 {
  padding-right: 6rem !important;
}

.pt55 {
  padding-top: 5.5rem !important;
}

.pb55 {
  padding-bottom: 5.5rem !important;
}

.pl55 {
  padding-left: 5.5rem !important;
}

.pr55 {
  padding-right: 5.5rem !important;
}

.pt50 {
  padding-top: 5rem !important;
}

.pb50 {
  padding-bottom: 5rem !important;
}

.pl50 {
  padding-left: 5rem !important;
}

.pr50 {
  padding-right: 5rem !important;
}

.pt45 {
  padding-top: 4.5rem !important;
}

.pb45 {
  padding-bottom: 4.5rem !important;
}

.pl45 {
  padding-left: 4.5rem !important;
}

.pr45 {
  padding-right: 4.5rem !important;
}

.pt40 {
  padding-top: 4rem !important;
}

.pb40 {
  padding-bottom: 4rem !important;
}

.pl40 {
  padding-left: 4rem !important;
}

.pr40 {
  padding-right: 4rem !important;
}

.pt35 {
  padding-top: 3.5rem !important;
}

.pb35 {
  padding-bottom: 3.5rem !important;
}

.pl35 {
  padding-left: 3.5rem !important;
}

.pr35 {
  padding-right: 3.5rem !important;
}

.pt30 {
  padding-top: 3rem !important;
}

.pb30 {
  padding-bottom: 3rem !important;
}

.pl30 {
  padding-left: 3rem !important;
}

.pr30 {
  padding-right: 3rem !important;
}

.pt25 {
  padding-top: 2.5rem !important;
}

.pb25 {
  padding-bottom: 2.5rem !important;
}

.pl25 {
  padding-left: 2.5rem !important;
}

.pr25 {
  padding-right: 2.5rem !important;
}

.pt20 {
  padding-top: 2rem !important;
}

.pb20 {
  padding-bottom: 2rem !important;
}

.pl20 {
  padding-left: 2rem !important;
}

.pr20 {
  padding-right: 2rem !important;
}

.pt15 {
  padding-top: 1.5rem !important;
}

.pb15 {
  padding-bottom: 1.5rem !important;
}

.pl15 {
  padding-left: 1.5rem !important;
}

.pr15 {
  padding-right: 1.5rem !important;
}

.pt10 {
  padding-top: 1rem !important;
}

.pb10 {
  padding-bottom: 1rem !important;
}

.pl10 {
  padding-left: 1rem !important;
}

.pr10 {
  padding-right: 1rem !important;
}

.pt5 {
  padding-top: 0.5rem !important;
}

.pb5 {
  padding-bottom: 0.5rem !important;
}

.pl5 {
  padding-left: 0.5rem !important;
}

.pr5 {
  padding-right: 0.5rem !important;
}

.pt0 {
  padding-top: 0rem !important;
}

.pb0 {
  padding-bottom: 0rem !important;
}

.pl0 {
  padding-left: 0rem !important;
}

.pr0 {
  padding-right: 0rem !important;
}

@media screen and (max-width: 767px) {
  .sppt100 {
    padding-top: 13.3333333333vw !important;
  }
  .sppb100 {
    padding-bottom: 13.3333333333vw !important;
  }
  .sppl100 {
    padding-left: 13.3333333333vw !important;
  }
  .sppr100 {
    padding-right: 13.3333333333vw !important;
  }
  .sppt95 {
    padding-top: 12.6666666667vw !important;
  }
  .sppb95 {
    padding-bottom: 12.6666666667vw !important;
  }
  .sppl95 {
    padding-left: 12.6666666667vw !important;
  }
  .sppr95 {
    padding-right: 12.6666666667vw !important;
  }
  .sppt90 {
    padding-top: 12vw !important;
  }
  .sppb90 {
    padding-bottom: 12vw !important;
  }
  .sppl90 {
    padding-left: 12vw !important;
  }
  .sppr90 {
    padding-right: 12vw !important;
  }
  .sppt85 {
    padding-top: 11.3333333333vw !important;
  }
  .sppb85 {
    padding-bottom: 11.3333333333vw !important;
  }
  .sppl85 {
    padding-left: 11.3333333333vw !important;
  }
  .sppr85 {
    padding-right: 11.3333333333vw !important;
  }
  .sppt80 {
    padding-top: 10.6666666667vw !important;
  }
  .sppb80 {
    padding-bottom: 10.6666666667vw !important;
  }
  .sppl80 {
    padding-left: 10.6666666667vw !important;
  }
  .sppr80 {
    padding-right: 10.6666666667vw !important;
  }
  .sppt75 {
    padding-top: 10vw !important;
  }
  .sppb75 {
    padding-bottom: 10vw !important;
  }
  .sppl75 {
    padding-left: 10vw !important;
  }
  .sppr75 {
    padding-right: 10vw !important;
  }
  .sppt70 {
    padding-top: 9.3333333333vw !important;
  }
  .sppb70 {
    padding-bottom: 9.3333333333vw !important;
  }
  .sppl70 {
    padding-left: 9.3333333333vw !important;
  }
  .sppr70 {
    padding-right: 9.3333333333vw !important;
  }
  .sppt65 {
    padding-top: 8.6666666667vw !important;
  }
  .sppb65 {
    padding-bottom: 8.6666666667vw !important;
  }
  .sppl65 {
    padding-left: 8.6666666667vw !important;
  }
  .sppr65 {
    padding-right: 8.6666666667vw !important;
  }
  .sppt60 {
    padding-top: 8vw !important;
  }
  .sppb60 {
    padding-bottom: 8vw !important;
  }
  .sppl60 {
    padding-left: 8vw !important;
  }
  .sppr60 {
    padding-right: 8vw !important;
  }
  .sppt55 {
    padding-top: 7.3333333333vw !important;
  }
  .sppb55 {
    padding-bottom: 7.3333333333vw !important;
  }
  .sppl55 {
    padding-left: 7.3333333333vw !important;
  }
  .sppr55 {
    padding-right: 7.3333333333vw !important;
  }
  .sppt50 {
    padding-top: 6.6666666667vw !important;
  }
  .sppb50 {
    padding-bottom: 6.6666666667vw !important;
  }
  .sppl50 {
    padding-left: 6.6666666667vw !important;
  }
  .sppr50 {
    padding-right: 6.6666666667vw !important;
  }
  .sppt45 {
    padding-top: 6vw !important;
  }
  .sppb45 {
    padding-bottom: 6vw !important;
  }
  .sppl45 {
    padding-left: 6vw !important;
  }
  .sppr45 {
    padding-right: 6vw !important;
  }
  .sppt40 {
    padding-top: 5.3333333333vw !important;
  }
  .sppb40 {
    padding-bottom: 5.3333333333vw !important;
  }
  .sppl40 {
    padding-left: 5.3333333333vw !important;
  }
  .sppr40 {
    padding-right: 5.3333333333vw !important;
  }
  .sppt35 {
    padding-top: 4.6666666667vw !important;
  }
  .sppb35 {
    padding-bottom: 4.6666666667vw !important;
  }
  .sppl35 {
    padding-left: 4.6666666667vw !important;
  }
  .sppr35 {
    padding-right: 4.6666666667vw !important;
  }
  .sppt30 {
    padding-top: 4vw !important;
  }
  .sppb30 {
    padding-bottom: 4vw !important;
  }
  .sppl30 {
    padding-left: 4vw !important;
  }
  .sppr30 {
    padding-right: 4vw !important;
  }
  .sppt25 {
    padding-top: 3.3333333333vw !important;
  }
  .sppb25 {
    padding-bottom: 3.3333333333vw !important;
  }
  .sppl25 {
    padding-left: 3.3333333333vw !important;
  }
  .sppr25 {
    padding-right: 3.3333333333vw !important;
  }
  .sppt20 {
    padding-top: 2.6666666667vw !important;
  }
  .sppb20 {
    padding-bottom: 2.6666666667vw !important;
  }
  .sppl20 {
    padding-left: 2.6666666667vw !important;
  }
  .sppr20 {
    padding-right: 2.6666666667vw !important;
  }
  .sppt15 {
    padding-top: 2vw !important;
  }
  .sppb15 {
    padding-bottom: 2vw !important;
  }
  .sppl15 {
    padding-left: 2vw !important;
  }
  .sppr15 {
    padding-right: 2vw !important;
  }
  .sppt10 {
    padding-top: 1.3333333333vw !important;
  }
  .sppb10 {
    padding-bottom: 1.3333333333vw !important;
  }
  .sppl10 {
    padding-left: 1.3333333333vw !important;
  }
  .sppr10 {
    padding-right: 1.3333333333vw !important;
  }
  .sppt5 {
    padding-top: 0.6666666667vw !important;
  }
  .sppb5 {
    padding-bottom: 0.6666666667vw !important;
  }
  .sppl5 {
    padding-left: 0.6666666667vw !important;
  }
  .sppr5 {
    padding-right: 0.6666666667vw !important;
  }
  .sppt0 {
    padding-top: 0vw !important;
  }
  .sppb0 {
    padding-bottom: 0vw !important;
  }
  .sppl0 {
    padding-left: 0vw !important;
  }
  .sppr0 {
    padding-right: 0vw !important;
  }
}
/* print
---------------------------------------------------------------------------- */
/* 印刷設定
---------------------------------------------------------------------------- */
@media print {
  * html body {
    zoom: 70%;
  }
}
/*# sourceMappingURL=base.css.map */