@charset "UTF-8";


/* #sec-visual
-----------------------------*/
#sec-visual{
    width: 100%;
    height: 310px;
    margin: 4px 0; 
    padding: 130px 0 0;
	background: url(../img/top-main-img.png) center center no-repeat;
    background-size: cover;
}
#sec-visual .inner h2 img{
	width: 100%;
    max-width: 702px;
    margin: 0 auto;
    display: block;
}
@media screen and (max-width: 750px){
#sec-visual{
    height: auto;
    padding: 45% 0;
	background: url(../img/sp_top-main-img.png) center center no-repeat;
    background-size: cover;
}
}
	#sec-visual .inner{
		width: 1000px;
		margin: 0 auto;
	}
	@media screen and (max-width: 750px){
        #sec-visual .inner{
            width: 100%;
            margin-top: 0;

            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
		#sec-visual .inner h2 img{
			width: 80%;
            margin: 0 auto;
            display: block;
		}
	}




