@charset "UTF-8";

@use '../common/config' as *;


/* MV
---------------------------------------------------------------------------- */
.p-sec-mv { 
	width: 100%;
	padding: rem(60) 0 rem(300);
	background: url("../../images/destinations/img_mv_pc.jpg") center center no-repeat;
	background-size: cover;
}

.p-mv-inn {
	width: auto;
	display: inline-block;
	padding: rem(30) rem(80);
	position: relative;
	color: #fff;
	
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		background: rgba(43,38,36);
		mix-blend-mode: multiply;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
}

.p-mv-ttl {
	width: 100%;
	color: #fff;
	@include flex(start,end,nowrap,center);
	position: relative;
	z-index: 2;
}

.p-mv-ttl-ja {
	display: inline-block;
	margin-right: rem(17);
	@include fz(50,50,200,600);
}

.p-mv-ttl-en {
	display: inline-block;
	@include fz(14,14,200,400);
}

.p-mv-txt {
	margin-top: rem(32);
	@include fz(14,20,50,400);
	position: relative;
	z-index: 2;
}

@media screen and (max-width: #{$breakpoint}px){
	
	.p-sec-mv { 
		width: 100%;
		padding: vw(90) 0 vw(420);
		background: url("../../images/destinations/img_mv_sp.jpg") center center no-repeat;
		background-size: cover;
		position: relative;
	}

	.p-mv-inn {
		width: auto;
		display: inline-block;
		padding: vw(60) vw(50) vw(30);
		position: relative;
		color: #fff;

		&::before {
			content: '';
			width: 100%;
			height: 100%;
			background: rgba(43,38,36,0.8);
			mix-blend-mode: multiply;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
	}

	.p-mv-ttl {
		width: 100%;
		color: #fff;
		opacity: 0.85;
		display: block;
		position: relative;
		z-index: 2;
	}

	.p-mv-ttl-ja {
		display: block;
		margin-right: 0;
		margin-bottom: vw(24);
		@include spfz(60);
	}

	.p-mv-ttl-en {
		display: block;
		@include spfz(20);
	}

	.p-mv-sp-txt-wrap {
		width: max-contents;
		padding: vw(24) vw(50) vw(24) vw(26);
		position: absolute;
		bottom: vw(80);
		right: 0;

		&::before {
			content: '';
			width: 100%;
			height: 100%;
			background: rgba(43,38,36,0.8);
			mix-blend-mode: multiply;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 1;
		}
	}
	.p-mv-sp-txt {
		color: #fff;
		text-align: right;
		@include spfz(20);
		line-height: 1.5;
		letter-spacing: 0.1;
		position: relative;
		z-index: 2;
	}
}



/* メインコンテンツ
---------------------------------------------------------------------------- */
.p-sec-destinations {
	width: 100%;
	padding: rem(70) 0 0;
}

.p-lead-box {
	width: 100%;
	@include flex(between,start,nowrap,center);
	margin-bottom: rem(70);
}

.p-lead-txt {
	width: 100%;
	@include fz(14,25,100,400);
	text-align: justify;
}

.p-contents-box {
	width: 100%;
	@include flex(between,start,nowrap,center);
	margin-bottom: rem(50);
	
	&.last {
		margin-bottom: 0;
	}
}

.p-contents-img {
	width: 35%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16);
	
	&:hover {
		opacity: 0.5;
	}
}

.p-contents-txtwrap {
	width: 60%;
	@include fz(14,25,100,400);
	text-align: justify;
}
.p-contents-ttl {
	width: rem(170);
	margin-bottom: rem(40);
	padding: rem(8) 0;
	border: 1px solid #707070;
	text-align: center;
}


.p-gallery-wrap {
	width: 100%;
	margin: rem(80) auto rem(60);
}

.p-gallery-ttl {
	width: 100%;
	margin-bottom: rem(30);
	padding: rem(20) rem(30);
	background: #000;
	color: #fff;
	@include fz(18,25,100,400);
}

.p-gallery-list {
	@include flex(between,start,wrap,center);
}
.p-gallery-thumb {
	width: calc((100% - rem(30)) / 4);
	margin-bottom: rem(17);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16);
	
	&:hover {
		opacity: 0.5;
	}
}

.p-gallery-modal-wrap {
	width: auto;
	height: 100%;
	max-height: 760px;
	margin:  0 auto;
	position: relative;
}

.p-gallery-modal-arrow {
	width: 35px;
	height: 35px;
	position: absolute;
	top: calc(50% - 17.5px);
	z-index: 5;
	cursor: pointer;
}

.p-gallery-modal-prev {
	background: url("../../images/rooms/icn_arrow_prev.svg") center center no-repeat;
	background-size: 100%;
	left: 10px;
}

.p-gallery-modal-next {
	background: url("../../images/rooms/icn_arrow_next.svg") center center no-repeat;
	background-size: 100%;
	right: 10px;
}

.p-gallery-modal-caption {
	margin-top: rem(20);
	color: #fff;
	@include fz(14,20,100,700);
}

.is-gallery .modaal-container {
	width: max-content;
	box-shadow: none;
}
.is-gallery .modaal-content-container {
	height: 80vh;
	position: relative;

	img {
		width: auto;
		max-height: 100%;
		margin:  0 auto;
		display: block;
	}
}
@media screen and (max-width: 1100px){
	.is-gallery .modaal-container {
		width: 100%;
	}
	.is-gallery .modaal-content-container {
		height: auto;
		max-height: 80vh;
	}
	
}
@media screen and (max-width: #{$breakpoint}px){
	.p-sec-destinations {
		width: 100%;
		padding: vw(70) 0 0;
	}

	.p-lead-box {
		width: 100%;
		margin: 0 auto vw(90);
		display: block;
	}
	
	.p-lead-txt {
		width: 100%;
		@include spfz(30);
	}

	.p-contents-box {
		width: 100%;
		flex-direction: column;
		margin-bottom: vw(100);

		&.last {
			margin-bottom: 0;
		}
	}

	.p-contents-img {
		width: 100%;
	}

	.p-contents-txtwrap {
		width: 100%;
		margin: vw(60) auto 0;
		@include spfz(28);
		text-align: justify;
	}
	.p-contents-ttl {
		width: vw(370);
		padding: rem(8) 0;
		margin-bottom: vw(40);
	}


	.p-gallery-wrap {
		width: 100%;
		margin: vw(140) auto vw(100);
	}

	.p-gallery-ttl {
		width: 100%;
		margin-bottom: vw(20);
		padding: vw(20) vw(30);
		@include spfz(30);
	}

	.p-gallery-list {
		@include flex(between,start,wrap,center);
	}
	.p-gallery-thumb {
		width: calc((100% - vw(20)) / 2);
		margin-bottom: vw(26);
	}

	.p-gallery-modal-wrap {
		width: 100%;
		position: relative;
	}

	.p-gallery-modal-arrow {
		width: 7vw;
		height: 7vw;
		position: absolute;
		z-index: 5;
	}

	.p-gallery-modal-prev {
		left: 2vw;
	}

	.p-gallery-modal-next {
		right: 2vw;
	}

	.p-gallery-modal-caption {
		margin-top: vw(40);
		@include spfz(28);
	}
	
	.is-gallery .modaal-content-container {
		height: auto;
		position: relative;

		img {
			width: 100%;
			max-height: initial;
			margin:  0 auto;
			display: block;
		}
	}
	
	.p-gallery-modal-wrap {
		width: auto;
		height: 100%;
		margin:  0 auto;
		position: relative;
	}
}



/* 下層ページ導線 3column 
---------------------------------------------------------------------------- */

@media screen and (max-width: #{$breakpoint}px){
	
	.m-footer-pagelinks {
		width: 100%;
		padding: 0 0 vw(100);
	}


	/* 下層ページ導線 3column */
	.m-footer-pagelink-wrap {
		width: 75%;
		margin: 0 auto;
		@include flex(center,start,wrap,center);
	}

	.m-footer-pagelink {
		width: 100%;
		margin: 0 auto;

		a {
			width: 100%;
			display: block;
			position: relative;
		}
	}

	.m-footer-pagelink-access {
		margin-bottom: vw(50);
		background: url("../../images/common/bg_underpage_link_01.jpg") center center no-repeat;
		background-size: cover;
	}

	.m-footer-pagelink-sightseeing {
		margin-bottom: vw(50);
		background: url("../../images/common/bg_underpage_link_02.jpg") center center no-repeat;
		background-size: cover;
	}

	.m-footer-pagelink-reserve {
		background: url("../../images/common/bg_underpage_link_03.jpg") center center no-repeat;
		background-size: cover;
	}
	
	.m-footer-pagelink-ttl {
		width: 35%;
		padding: vw(52) 0;
		text-align: center;
		@include spfz(32);
		line-height: 1.8666666667;
		letter-spacing: 0.3em;
		font-weight: 700;
		background: rgba(0,0,0,0.72);
		position: relative;
		z-index: 2;
	}
	
	
}