@charset "UTF-8";
/*   共通
---------------------------------------------------------------------------- */

.title-wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 40px
}
.title-wrap .img{
	width:150px;
}

.title-wrap .txt{
	width:calc(100% - 190px);
	font-size:1.7rem;
	line-height: 2;
}
.title-wrap .txt h2{
	font-size:3.8rem;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 0.5em
}


@media screen and (max-width: 767px) {
	.title-wrap{
		padding-bottom: 4vw;
		align-items: flex-start
	}
	.title-wrap .img{
		width:20vw;
	}
	.title-wrap .txt{
		width:calc(100% - 24vw);
		font-size:3.8vw;
		line-height: 2;
	}
	
	.title-wrap .txt h2{
		font-size:5.6vw;
		margin-bottom: 2vw;
		margin-top:0
	}

}

/* index1
---------------------------------------------------------------------------- */
#environment1 .title-wrap{
	padding-bottom: 0
}
#environment1 .title-wrap .txt{
	width:52%;
}
#environment1 .title-wrap .img{
	width:48%;
}



#environment1 .fb1 .flex-box-l{
	width:calc(75% - 40px)
}
#environment1 .fb1 .flex-box-r{
	width:25%
}

@media screen and (max-width: 767px) {

	#environment1 .title-wrap .txt{
		width:100%;
	}
	#environment1 .title-wrap .img{
		width:80%;
		margin: 0 auto
	}

	
	#environment1 .fb1 .flex-box-l{
		width:100%
	}
	#environment1 .fb1 .flex-box-r{
		width:40%;
		margin: 4vw auto
	}
	
}

/* index2
---------------------------------------------------------------------------- */
#environment2 table.tbl-1 tbody tr th{
	width:8em;
	vertical-align: top;
}
#environment2 table.tbl-1  tbody tr td{
    text-align: left;

}

#environment2 .fb1 .flex-box-l{
	width:calc(75% - 40px)
}
#environment2 .fb1 .flex-box-r{
	width:25%
}


#environment2 table.tbl-2{
	margin-top: 30px
}

#environment2 .h-col span.line{
	font-size:1.3rem;
	border:1px #ccc solid;
	color:#333;
	font-weight: normal;
	padding: 0 1em
}

#environment2 .fb2{
	padding: 20px 0;
}
#environment2 .fb2 .flex-box-l{
	width:calc(50% - 20px);
	padding: 0 12%;
}
#environment2 .fb2 .flex-box-r{
	width:calc(50% - 20px);
	text-align: center;
	padding: 0 5%;
}

#environment2 .fb3 .flex-box-l,
#environment2 .fb4 .flex-box-l{
	width:calc(50% - 20px);
}
#environment2 .fb3 .flex-box-r,
#environment2 .fb4 .flex-box-r{
	padding-top: 60px;
	width:50%;
}
#environment2 .fb4 .h-col{
	margin-top: 0
}
#environment2 .fb3 .flex-box-r .note-txt{
	text-align: right
}

#environment2 .fb5 .flex-box-l{
	width:50%;
}
#environment2 .fb5 .flex-box-r{	
	width:calc(50% - 20px);
}
#environment2 .fb5 .img-wrap,
#environment2 .fb6 .img-wrap{
	border:1px #ccc solid;
	padding: 5px
}
#environment2 .fb6 .flex-box-l,
#environment2 .fb6 .flex-box-r,
#environment2 .fb7 .flex-box-l,
#environment2 .fb7 .flex-box-r{	
	width:calc(50% - 10px);
}

@media screen and (max-width: 767px) {
	#environment2 table.tbl-1 tbody tr th{
		width:7em;
	}

	#environment2 .fb1 .flex-box-l{
		width:100%;
		order:2
	}
	#environment2 .fb1 .flex-box-r{
		width:100%;
		order:1
	}
	
	#environment2 .fb1 .flex-box-r img{
		width:60%;
		margin:  0 auto
	}


	#environment2 table.tbl-2{
		margin-top: 4vw
	}

	#environment2 .h-col span.line{
		font-size:2.4vw;
	}

	#environment2 .fb2{
		padding: 4vw 0;
	}
	#environment2 .fb2 .flex-box-l{
		width:100%;
		padding: 0 25%;
	}
	#environment2 .fb2 .flex-box-r{
		margin-top: 4vw;
		width:100%;
		text-align: center;
		padding: 0 10%;
	}

	#environment2 .fb3 .flex-box-l,
	#environment2 .fb4 .flex-box-l{
		width:100%;
	}
	#environment2 .fb3 .flex-box-r,
	#environment2 .fb4 .flex-box-r{
		padding-top: 4vw;
		width:100%;
	}

	#environment2 .fb5 .flex-box-l,
	#environment2 .fb5 .flex-box-r,
	#environment2 .fb6 .flex-box-l,
	#environment2 .fb6 .flex-box-r{
		width:100%;
	}
	#environment2 .fb5 .img-wrap,
	#environment2 .fb6 .img-wrap{
		padding: 2vw
	}
	
}

/* index3
---------------------------------------------------------------------------- */

#environment3 .fb1 .flex-box-l{
	width:calc(75% - 40px)
}
#environment3 .fb1 .flex-box-r{
	width:25%
}

#environment3 .fb2 .flex-box-l{
	width:calc(50% - 40px)
}
#environment3 .fb2 .flex-box-r{
	width:50%
}



@media screen and (max-width: 767px) {
	#environment3 .fb1 .flex-box-l{
		width:100%;
	}
	#environment3 .fb1 .flex-box-r{
		width:100%;
	}
	
	#environment3 .fb1 .flex-box-r img{
		width:60%;
		margin:  0 auto
	}

}


/* index4
---------------------------------------------------------------------------- */

#environment4 .fb1 .flex-box-l{
	width:calc(40% - 20px)
}
#environment4 .fb1 .flex-box-r{
	width:60%
}

#environment4 .fb2{
	margin-top: 20px
}
#environment4 .fb2 .flex-box-l,
#environment4 .fb2 .flex-box-r{	
	width:calc(50% - 10px);
}

#environment4 .fb3 .flex-box-l{
	width:calc(50% - 20px)
}
#environment4 .fb3 .flex-box-r{
	width:50%
}

@media screen and (max-width: 767px) {
	#environment4 .fb1 .flex-box-l,
	#environment4 .fb3 .flex-box-l{
		width:100%;
	}
	#environment4 .fb1 .flex-box-r,
	#environment4 .fb3 .flex-box-r{
		margin-top: 4vw;
		width:100%;
	}
}



