@charset "UTF-8";
/* CSS Document */


/*------------------------------------------------------------------------------------------------
    ourinitiatives
--------------------------------------------------------------------------------------------------*/

.main-wrap .inner-s{
	font-size:1.3rem
}

.main-wrap .inner-s .ourinitiatives-wrap > div{
	display: flex;
	border-left:#b5b5b6 0.5px solid;
}
.main-wrap .inner-s .ourinitiatives-wrap > div > div{
	display: flex;
	border-bottom:#b5b5b6 0.5px solid;
		border-right:#b5b5b6 0.5px solid;
}
.main-wrap .inner-s .ourinitiatives-wrap > div > div:first-child{
	width:30%;
	align-items: center;
	justify-content: center;
}
.main-wrap .inner-s .ourinitiatives-wrap > div div.box-r{
	width:70%;
}

.main-wrap .inner-s .ourinitiatives-wrap > div div:last-child div:first-child{
	width:35%;
	border-right:#b5b5b6 0.5px solid;
}
.main-wrap .inner-s .ourinitiatives-wrap > div div:last-child div:last-child{
	width:65%;
}


.main-wrap .inner-s .ourinitiatives-wrap > div.th{
	border-top:#b5b5b6 0.5px solid;
	background: #d9e7e8;
	font-size:1.5rem;
	text-align: center
}
.main-wrap .inner-s .ourinitiatives-wrap > div.th p{
	padding: 0.5em 0;
	display: flex;
	justify-content: center
}
.main-wrap .inner-s .ourinitiatives-wrap > div div.logo{
	flex-direction: column;
	padding: 1em;
	text-align: center
}
.main-wrap .inner-s .ourinitiatives-wrap > div div.logo .img{
	width:60%;
	margin-top: 0.5em

}

.main-wrap .inner-s .ourinitiatives-wrap > div div.esg{
	padding: 1.5em;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.main-wrap .inner-s .ourinitiatives-wrap > div div.esg p:nth-child(n + 2){
	margin-top: 0.5em
}
.main-wrap .inner-s .ourinitiatives-wrap > div div.esg .icon{
	width:35%
}
.main-wrap .inner-s .ourinitiatives-wrap > div div.esg .name{
	font-size:1.5rem;
	padding-left: 0.5em;
	width:65%
}

.main-wrap .inner-s .ourinitiatives-wrap > div div.esg .name.s{color:#ce7828}
.main-wrap .inner-s .ourinitiatives-wrap > div div.esg .name.e{color:#50a135}
.main-wrap .inner-s .ourinitiatives-wrap > div div.esg .name.g{color:#1cb3ac}

.main-wrap .inner-s .ourinitiatives-wrap > div div.txt{
	padding: 3%;
	display: flex;
	align-items: center
}


.main-wrap .inner-s .note-txt{
	text-align: right;
	font-size:0.8em;
	margin-top: 0.5em
}
@media screen and (max-width:768px) {
	.mv>h1 .mv-ja{
		font-size:3.6vw;
		line-height: 1.1;
		letter-spacing: 0em
	}
	.main-wrap .inner-s{
		font-size:3.2vw
	}
	.main-wrap .inner-s .ourinitiatives-wrap > div div.logo{
		flex-direction: column;
		padding: 0;
		text-align: center
	}
	.main-wrap .inner-s .ourinitiatives-wrap > div.th{
		font-size:3.4vw
	}
	.main-wrap .inner-s .ourinitiatives-wrap > div div.box-r{
		flex-wrap: wrap
	}
	.main-wrap .inner-s .ourinitiatives-wrap > div div:last-child div:first-child{
		width:100%;
		border-right:none;
		
	}
	.main-wrap .inner-s .ourinitiatives-wrap > div div:last-child div:last-child{
		border-top:#b5b5b6 0.5px solid;
		width:100%;
	}
	.main-wrap .inner-s .ourinitiatives-wrap > div div.esg{
		padding: 0.5em 1em;

	}
	.main-wrap .inner-s .ourinitiatives-wrap > div div.esg .icon{
		width:15%;
	}
	.main-wrap .inner-s .ourinitiatives-wrap > div div.esg .name{
		font-size:3.2vw;
		line-height: 1;
		padding-left: 0.5em;
		padding-bottom: 0.5em;
		width:85%
	}


}