@charset "UTF-8";
/* common style
---------------------------------------------------------------------------- */


.sec-box-wrap .sec-box{
	width:48%
}
.sec-box .sec-txt:first-child{
	margin-top: 0
}
.sec-txt + .sec-box-wrap{
	margin-top: 40px
}
.sec-image{
	margin-top: 40px
}
.btn-b:not(.btn-lower-index){
	width:48%;
	margin: 20px 0 0 auto
}
@media screen and (max-width: 768px) {
	.sec-txt + .sec-box-wrap{
		margin-top: 5vw
	}
	.sec-image{
		margin-top: 5vw
	}

	.sec-box-wrap .sec-box{
		width:100%
	}
	.sec-box-wrap .sec-box + .sec-box{
		margin-top: 4vw
	}
	.btn-b:not(.btn-lower-index){
		width:90%;
		margin: 2vw 0 0 auto
	}

}

.btn-b.wide{
	width:100%
}


/* 枠付テキスト
---------------------------------------------------------------------------- */
.border-box{
	margin: 40px auto;
	padding: 40px;
    border:1px solid #ce7828;
    line-height: 2.5;
}
.border-box-ttl{
    font-weight: 700;
    text-align: center;
	font-size:1.7rem;
}
.border-box-txt{
    font-size:1.5rem;
}

.border-box-num-txt{
	font-weight: 700;
	font-size:1.5rem;
	margin-top: 2em
}
.border-box-list li + li{
	margin-top: 1em
}
.border-box-list-ttl{
    font-weight: 500;
	 font-size:1.3rem;
}
.border-box-list-txt{
	font-size:1.3rem;
}

.border-box .name-txt{
	font-size:1.3rem;
	text-align: right
}
@media screen and (max-width: 768px) {
	.border-box{
		margin: 5vw auto;
		padding: 5vw;
	}
	.border-box-ttl{
		font-size:3.6vw;
	}
	.border-box-txt,
	.border-box-num-txt{
		font-size:3.2vw;
	}
	.border-box-list-ttl,
	.border-box-list-txt,
	.border-box .name-txt{
		 font-size:3vw;	}
}


/* html5 ステークホルダーとの関わり
---------------------------------------------------------------------------- */
#social5 .mv>h1 .mv-ja{font-size:2.6vw;}
#social5 .main-wrap p{line-height: 2.5;}

#social5 table.tb1 td{
	text-align: left
}
#social5 table.tb1 td:first-child{min-width:9.5em}
#social5 table.tb1 td:nth-child(2){min-width:12.5em}
#social5 table.tb1 span +span{
	display: inline-block
}
#social5 .border-box-txt{
	text-indent: 1em;
	padding-left: 0
}
#social5 .border-box-list{
	margin-top: 2em
}
#social5 .border-box-list li > p:not(:first-child){
	text-indent: 1em;
}
@media screen and (min-width:1200px) {
	#social5 .mv>h1 .mv-ja{
		font-size:3.3rem;
        letter-spacing: -0.2rem;
	}
}
@media screen and (max-width: 768px) {
    #social5 .mv>h1 .mv-ja{font-size:2.7vw;}
    #social5 .sec-box>.sec-txt{width:100%;}
    #social5 .sec-item-image{
    }
#social5 table.tb1 th,
#social5 table.tb1 td{font-size:2.8vw}
#social5 table.tb1 td:first-child{min-width:16vw}
#social5 table.tb1 td:nth-child(2){min-width:26vw}
}

/* html1 公正な事業慣行
---------------------------------------------------------------------------- */
#social1 .border-box-list-ttl{
    border-bottom:1px solid #ccc;
    padding-bottom:0.5em;
    margin-bottom:0.5em;
}

@media screen and (max-width: 768px) {
	#social1 .image1{
		padding: 0 10%
	}

}



/* html2 人権・労働慣行
---------------------------------------------------------------------------- */

#social2 .btn-b.page a{
	background-image: url("../images/common/arrow-w_y.svg");
	background-position: right 1em center;
	background-repeat: no-repeat;
	background-size: 8px 16px
}
#social2 .fb1 .sec-box.txt{
	width:68%
}
#social2 .fb1 .sec-box.img{
	width:30%
}
#social2 .fb2 .sec-box.txt{
	width:80%
}
#social2 .fb2 .sec-box.img{
	width:18%
}
#social2 .table .sec-box:nth-child(1){
	width:43%
}
#social2 .table .sec-box:nth-child(2){
	width:53%
}

#social2 .list-num{
	margin-top: 0
}
#social2 .list-num.flex-box li{
	width:50%
}
#social2 .list-num.flex-box li:nth-child(-n+2){
	margin-top: 0
}

#social2 .list-wrap{
	margin: 40px auto;
	padding: 40px;
    background: #f2e3d1
}
#social2 .list-wrap .list-num li:not(:last-child){
	margin-bottom: 3em;
	position: relative
}
#social2 .list-wrap .list-num li:not(:last-child)::after{
    position: absolute;
    content:'';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17px 15px 0 15px;
    border-color: #ce7828 transparent transparent transparent;
    left:0;
    right:0;
    margin:auto;
    bottom:-2em;
}
#social2 .tb1 th{white-space: nowrap}
#social2 .tb1 td{
	text-align: left
}

#social2 .award-list{
	justify-content: flex-start
}
#social2 .award-list li{
	width:20%;
	padding-bottom: 1em
}

#social2 .sec-img{
	margin-top: 1em
}


@media screen and (max-width: 768px){
    #social2 .mv>h1 .mv-ja{font-size:3.7vw;}
	
	#social2 .btn-b.page a{
		background-size: 2vw 4vw
	}
	
	#social2 .fb1 .sec-box.txt,
	#social2 .fb1 .sec-box.img,
	#social2 .fb2 .sec-box.txt,
	#social2 .fb2 .sec-box.img,
	#social2 .table .sec-box:nth-child(1),
	#social2 .table .sec-box:nth-child(2){
		width:100%
	}
	#social2 .fb1 .sec-box.img{
		padding: 0 15%
	}
	#social2 .fb2 .sec-box.img{
		padding: 0 30%
	}

	#social2 .list-num li span{margin-right: 1.5vw
	}
	
	#social2 .list-wrap{
		margin: 5vw auto;
		padding: 5vw;
	}
	#social2 .list-wrap .list-num li:not(:last-child)::after{
        border-width: 3.2vw 2.933vw 0 2.933vw;
    }

	#social2 .list-wrap .list-num li:not(:last-child){
		margin-bottom: 3em;
		position: relative
	}
	#social2 .list-wrap .list-num li:not(:last-child)::after{
		border-width: 4vw 3vw 0 3vw;
	}
	#social2 .tb2 td{
		padding: 2vw 0.5vw
	}

	#social2 .award-list li{
		width:33%;
	}
	
}



/* html3 消費者課題
---------------------------------------------------------------------------- */
#social3 .flex-box .sec-item{
	width:48%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#social3 .flex-box .sec-item .img{
	padding:20px 20%
}
#social3 .flex-box .sec-item .img img{
	border:#ccc 1px solid
}

#social3 .table .sec-box{
	width:60%
}

#social3 .border-box.mini{
	margin: 0;
	padding: 20px
}
#social3 .border-box.mini .border-box-list li{
		margin-top: 0.5em

}
#social3 .border-box-list li{
    text-indent: -1em;
    padding-left:1em;
}
@media screen and (max-width: 768px){
#social3 .flex-box .sec-item{
	width:100%
	}
	#social3 .table .sec-box{
		width:100%
	}

}

/* html4 コミュニティ
---------------------------------------------------------------------------- */
#social4 .map-box{position: relative;}
#social4 .map-image{
    width:60%;
    position: absolute;
    top:0;
    left:0;
}
#social4 .map-activity{
    width:49%;
    margin:0 0 0 auto;
    padding-top:150px;
}
#social4 .map-activity table{}
#social4 .map-activity table tbody tr td:first-of-type{
    display: flex;
    align-items:baseline;
	text-align: left
}
#social4 .map-activity table tbody tr td p{width:calc(100% - 20px);}
#social4 .map-activity table tbody tr td span{
    background: #e60012;
    color:#fff;
    width:18px;
    height:18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:2px;
    font-weight: bold;
}
#social4 .map-activity table tbody td {
    border-left: none;
    border-bottom: none;
}
#social4 .map-activity table tbody td+td{border-left:1px solid #D0D0DD;}
#social4 .map-activity table tbody tr+tr{border-top:1px solid #D0D0DD;}
#social4 .activity-txt{
    display: flex;
    align-items:baseline;
}
#social4 .activity-txt p{width:calc(100% - 20px);margin-top: 5px}
#social4 .activity-txt span{
    background: #e60012;
    color:#fff;
    width:18px;
    height:18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:2px;
    font-weight: 500;
}
#social4 .activity-image{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#social4 .activity-image>div{
    width:48%;
    margin-top:20px;
}

@media screen and (max-width: 768px) {
    #social4 .mv>h1 .mv-ja{font-size:3.7vw;}
    #social4 .border-box-num{line-height: 2}
    #social4 .map-image{
        width:100%;
        position:relative;
        top:0;
        left:0;
        right:0;
        margin:auto;
    }
    #social4 .map-activity{
        width:100%;
        margin:0 auto;
        padding-top:0;
    }
    #social4 .map-activity table{margin-top:0.5vw;}
    #social4 .map-activity table tbody tr td p{width:calc(100% - 7vw);}
    #social4 .map-activity table tbody tr td span{
        width:4vw;
        height:4vw;
        margin-right:0.5vw;
    }
    #social4 .activity-txt p{width:calc(100% - 7vw);margin-top: 5px}
    #social4 .activity-txt span{
        width:4vw;
        height:4vw;
        margin-right:0.5vw;
    }
    #social4 .activity-image>div.first{width:100%;}
    #social4 .activity-image>div{
        margin-top:4vw;
    }
}





