@charset "UTF-8";
/* CSS Document */


/*------------------------------------------------------------------------------------------------
    feature1
--------------------------------------------------------------------------------------------------*/


/*--layout--*/

.main-wrap{
	padding: 5vw 0 15vw;
}
.main-wrap.inner-l{
	position: relative;
}
.main-wrap.inner-l::before{
	position: absolute;
	content:'';
	height:100%;
	width:230%;
	top:0;
	left:-65%;
	margin: auto;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top center;
	z-index: -1
	
}
.main-wrap .inner-s{
	display: flex;
	justify-content: space-between;
	align-items: flex-start
}



/*--side menu--*/
.inner-s .menu-wrap{
	width:20%;
	max-width: 170px;
	margin-top: 1em;

}
.inner-s .menu-inn{
	width:100%
}
.inner-s .menu-ttl{
	margin-bottom: 1em
}
.inner-s .menu-ttl span{
	background: #3E8369;
	color:#fff;
	font-size:1.8rem;
	padding: 0 1em;
	border-radius: 2em;

}
.inner-s .menu-wrap p{
	font-weight: 500;
	font-size:1.2vw;
	padding-left: 1.6em;
	margin-bottom: 1.4em;
	position: relative;
	line-height: 1.3
}
.inner-s .menu-wrap p::before{
	position: absolute;
	content:'';
	width:1.4em;
	height:100%;
	top:0;
	left:0;
	background-image: url("../images/common/click.svg");
	background-repeat: no-repeat;
	background-position: top 0.4em left
}
.inner-s .menu-wrap p a{display: block}
.inner-s .menu-wrap.on{
	position: fixed;
	display: none!important;
	top:80px;
	z-index: 2;
}
.inner-s .menu-wrap.on.is-active{
	display: block!important
}

@media screen and (min-width: 769px) {
.inner-s .menu-wrap_sp{display: none!important}
}





/*lead*/
.lead-wrap{
	font-size:1.8rem;
	font-weight: 500;
	line-height: 3;
}
.h2-ttl{
	font-size:3.8rem;
	font-weight: 600;
	line-height: 1.5;
	padding-bottom: 0.8em;
	color:#0078A3;
}
.h2-ttl span{display: inline-block}
.lead-wrap .floatRight{float: right;
	margin: 0.9em 0 0.5em 5%;
	width: 45%;}
.lead-wrap > img{
	margin-top: 2em
}

@media screen and (max-width: 768px) {
	.lead-wrap{
		font-size:3.6vw;
		line-height: 2
	}
	.h2-ttl{
		font-size:4.8vw;
	}
	.lead-wrap .floatRight{float: right;
		margin: 0.5em 0 4vw 4vw;
		width: 45%;}

}



/*--main--*/
.main-wrap .inner-s .article-wrap{
	width:75%;
	padding-bottom: 80px
}
.main-wrap .inner-s .article-wrap .article-item p{
	line-height: 2.5;
	font-weight: 400
}

.main-wrap .inner-s .article-wrap .h3-txt{margin-bottom:2em}

.main-wrap .inner-s .article-wrap .article-item .h4-wrap{
	padding-top: 25px
}
.main-wrap .inner-s .article-wrap .article-item .h-icon{
	position: relative;
}
.main-wrap .inner-s .article-wrap .article-item .h-icon .cat{
	position: absolute;
	font-size:1.5rem;
	font-weight: 400;
	top:-1.5em;
	left:0;
}

.floatCenter{
	margin: 2em 0;
	padding: 0.5em;
	border:#ccc 1px solid
}
.floatCenter.top{
	margin: 1em 0 2em;
	padding: 0 20%;
	border:none
}
.floatLeft{
	float: left;
	margin: 0.9em 5% 0.5em 0;
	width: 26%;}
.floatRight{
	float: right;
	margin: 0.9em 0 0.5em 5%;
	width: 26%;}


.main-wrap .inner-s .article-wrap .introduction{
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.main-wrap .inner-s .article-wrap .introduction-wrap{
	margin: 4em 0;
}
.main-wrap .inner-s .article-wrap .introduction .img{
	width:34%;
	position: relative;
}
.main-wrap .inner-s .article-wrap .introduction .img img{
	position: relative;
	z-index: 2
}
.main-wrap .inner-s .article-wrap .introduction .img::before{
	position: absolute;
	content:'';
	width:50%;
	padding-top: 50%;
	border-radius: 50%;
	background:rgba(38,140,177,0.15);
	bottom:-10%;
	right:-40%;
	z-index: 1
}
.main-wrap .inner-s .article-wrap .introduction.v .img::before{
	background:rgba(62,131,105,0.15);
}
.main-wrap .inner-s .article-wrap .introduction.r .img::before{
	left:-40%;
	right:auto
}
.main-wrap .inner-s .article-wrap .introduction .txt{
	width:60%;
	font-size:1.2rem;
	position: relative;
	z-index: 2;
}
.main-wrap .inner-s .article-wrap .introduction .txt p{
	line-height: 1.6
}
.main-wrap .inner-s .article-wrap .introduction.r .txt{
	text-align: right
}
.main-wrap .inner-s .article-wrap .introduction .txt .name{
	font-size:2.2rem;
	font-weight: 500;
}

.main-wrap .inner-s .article-wrap .name-col.v{
	color:#3E8369;
	font-weight: 500
}

.main-wrap .inner-s .article-wrap .name-col{
	color:#0078A3;
	font-weight: 500
}



.main-wrap .inner-s .article-wrap .note-txt{
	font-size:1.0rem;
	margin-top: 2em;
}
.main-wrap .inner-s .article-wrap .note-txt p{
	padding-left:1em;
	text-indent:-1em;
}

.main-wrap .inner-s .article-wrap .article-item .caption_txt{	
	font-size:0.9rem;
	line-height: 1.4;
	font-weight: 400;
	display: block;
	margin-top: 1em;
}
.main-wrap .inner-s .article-wrap .article-item .caption_txt2{	
	font-size:1.2rem;
	line-height: 1.4;
	font-weight: 400;
	display: block;
	margin-top: 1em;
}
.main-wrap .inner-s .article-wrap .article-item .super_txt{	
	vertical-align: super;
	font-size:0.6em
}

.main-wrap .inner-s .article-wrap .conclude{
	background: #e9e8f1;
	margin-bottom: 2em;
	font-size:2.2rem;
	font-weight: 600;
	text-align: center;
	padding:1em;
	line-height: 1;
	border-radius: 2em
}

.main-wrap .inner-s .article-wrap .pager-wrap{
	margin-top: 5vw;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end
}



@media screen and (min-width:1200px) {
	.inner-s .menu-wrap p{
		font-size:1.45rem;
		}
}
@media screen and (max-width:1023px) {
	.inner-s .menu-wrap p{
			font-size:1.4rem;
			}
	.main-wrap.inner-l::before{
		opacity: 0.2
		}
}


@media screen and (max-width:768px) {
	
	.main-wrap .inner-s{
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: flex-start;
	}
	

	.menu-accordion-btn{
		width:100%;
		height:7vw;
		margin: 0 auto;
		position: relative;
		font-size:3.6vw;
		text-align: left;
		padding-left: 1em
	}
	.menu-accordion-btn span{
		position: absolute;
		width:6vw;
		height:6vw;
		top:0;
		bottom:0;
		right:2vw;
		margin: auto;
		border-radius: 50%;
		background: #3E8369;
		display: flex;
		align-items: center;
		justify-content: center
	}
	.menu-accordion-btn span::before{
		content:'';
		position: absolute;
		height:70%;
		width:1px;
		background: #fff;
		top:0;
		bottom:0;
		right:0;
		left:0;
		margin: auto;
		transform: rotate(90deg);
		transition: .3s ease-in-out;
	}
	.menu-accordion-btn span::after{
		content:'';
		position: absolute;
		width:70%;
		height:1px;
		background: #fff;
		top:0;
		bottom:0;
		right:0;
		left:0;
		margin: auto;
		transform: rotate(90deg);
		transition: .3s ease-in-out;
	}
	.menu-accordion-btn.is-active span::after{
		transform: rotate(0)
	}

	
	.inner-s .menu-wrap,
	.inner-s .menu-wrap.on{display: none!important}
	.inner-s .menu-wrap.on.is-active{display: none!important}
	.inner-s .menu-wrap_sp.fix{
		position: fixed;
		top:18vw;
		width:92%;
		display: block!important;
		z-index: 3
	}
	.inner-s .menu-wrap_sp{
		width:100%;
		margin-top: 0;
		background:#E7F1E9;
		border:2px #C2DEC8 solid;
		padding:0 2vw 0 ;
		margin: 0;
		border-radius: 3vw;
		display: none;
		
	}
	.inner-s .menu-wrap_sp .menu-inn{
		display: none
	}
	.inner-s .menu-wrap_sp p{
		font-weight: 500;
		font-size:3.2vw;
		padding:1vw 1.5vw 1vw 2em;
		margin-bottom: 1vw;
		margin-left: 1.5em;
		position: relative;
	}
	.inner-s .menu-wrap_sp p::before{
		position: absolute;
		content:'';
		width:1.4em;
		height:100%;
		top:0;
		left:0;
		background-image: url("../images/common/click.svg");
		background-repeat: no-repeat;
		background-position: top 0.7em left
	}
	.inner-s .menu-wrap_sp p a{
		display: block
	}
	
	
	.main-wrap .inner-s .article-wrap{
		width:100%;
		margin-bottom: 10vw
	}

	.main-wrap .inner-s .article-wrap .article-item p{

		line-height: 2;
		font-weight: 400
	}

	.main-wrap .inner-s .article-wrap .article-item .h4-wrap{
		padding-top: 5vw
	}
	.main-wrap .inner-s .article-wrap .article-item .h-icon .cat{
		font-size:3vw;
	}	

	
	.floatLeft{float: left;
		margin: 0.5em 4vw 4vw 0;
		width: 30%;}
	.floatRight{float: right;
		margin: 0.5em 0 4vw 4vw;
		width: 30%;}

	.main-wrap .inner-s .article-wrap .introduction:not(:first-child){
		margin-top: 5vw
	}
	.main-wrap .inner-s .article-wrap .introduction .txt{
		font-size:2.4vw;;
	}
	.main-wrap .inner-s .article-wrap .introduction .txt .name{
		font-size:5vw;

	}


	.main-wrap .inner-s .article-wrap .article-item .note-txt{
		font-size:2.6vw;
		margin-top: 2em
	}
	.main-wrap .inner-s .article-wrap .article-item .caption_txt{
		font-size:2.4vw;
		line-height: 1.4
	}
	.main-wrap .inner-s .article-wrap .article-item .caption_txt2{
		font-size:2.8vw;
		line-height: 1.4
	}
	.main-wrap .inner-s .article-wrap .pager-wrap{
		margin-top: 10vw;
		display: flex;
		flex-direction: column;
		align-items: flex-start
	}


	.main-wrap .inner-s .article-wrap .conclude{
		font-size:4vw;
	}


}






/*  P3   */


.attendees-list{
	margin-bottom: 0.8em
}
.attendees-list > div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom:#9fa0a0 0.5px solid;
	padding:0.8em 2em;
	
}
.attendees-list .ttl{
	background: #E8E8E8
}
.attendees-list > div p{
	line-height: 1.1!important;
}


.main-wrap .inner-s .article-wrap .profile-wrap{
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
	margin-top: 50px;
	border-top:#000 solid 0.5px;
	border-bottom:#000 solid 0.5px
}
.main-wrap .inner-s .article-wrap .profile-wrap .img-box{
	width:34.5%
}

.main-wrap .inner-s .article-wrap .profile-wrap .txt-box{
	width:62%;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: space-between
}
.main-wrap .inner-s .article-wrap .profile-wrap .txt-box .name{
	font-size:2.2rem;
	font-weight: 600;
}
.main-wrap .inner-s .article-wrap .profile-wrap .txt-box .title{
	font-size:1.3rem;
	font-weight: 500;
	margin-bottom: 1em
}
.main-wrap .inner-s .article-wrap .profile-wrap .txt-box .career{
	font-size:1.2rem;
	font-weight: 400;
	line-height: 2
}

@media screen and (max-width:768px) {
	
	.main-wrap .inner-s .article-wrap .profile-wrap{
		display: flex;
		justify-content: space-between;
		padding: 8vw 0;
		margin-top: 10vw;
		border-top:#000 solid 0.5px;
		border-bottom:#000 solid 0.5px
	}	
	.main-wrap .inner-s .article-wrap .profile-wrap .txt-box .name{
		font-size:4.8vw;
		font-weight: 600
	}
	.main-wrap .inner-s .article-wrap .profile-wrap .txt-box .title{
		font-size:3.4vw;
	}
	.main-wrap .inner-s .article-wrap .profile-wrap .txt-box .career{
		font-size:3.0vw;
		line-height: 2
	}

}




.next-link{
	margin-bottom: 0.5em;
	padding-left: 3em;
}
.next-link a{
	color:#0078A3;
	font-weight: 500;
	font-size:1.5rem;
	position: relative
}
.next-link a::before{
	content:'';
	position: absolute;
	width:2.5em;
	height:1.6em;
	top:0;
	left:-3em;
	margin: auto;
	background-color: #0078A3;
	border-radius: 1em;
	background-image: url( "/../assets/images/common/arrow-w.svg");
	background-repeat:no-repeat;
    background-size:50%;
	background-position: center;

}
.next-link.prev a::before{
	transform: scale(-1, 1);
}

@media screen and (max-width:768px) {
	.next-link a{
	font-size:3.2vw;

	}
}
