@charset "UTF-8";
/* CSS Document */

@media screen and (max-width: 768px) {
	.mv>h1 .mv-ja{
		font-size:4.0vw;
		line-height: 1.1;
		letter-spacing: 0em
	}
}




.main-wrap .inner-s .lead-wrap{
	font-size:1.7rem;
	font-weight: 400;
	line-height: 3;
}
.main-wrap .inner-s .lead-wrap img{
	width:100%;
	margin: 0 auto
}
.main-wrap .inner-s .sec-item {
	margin-top: 80px
}
.main-wrap .inner-s .sec-item .h-icon{
	margin-top: 0
}

.main-wrap .inner-s .sec-item .btn-b{
	width:50%;
	margin: 20px 0 0 auto
}

@media screen and (max-width:1023px) {


}
@media screen and (max-width: 768px) {
.main-wrap .inner-s .lead-wrap{
	font-size:3.8vw;
	font-weight: 400;
	line-height: 2.5;
}
.main-wrap .inner-s .sec-item {
	margin-top: 10vw
}
.main-wrap .inner-s .sec-item .btn-b{
	width:90%;
	margin: 4vw 0 0 auto
}


}


