@charset "UTF-8";

/* ------------------------------------------------
                    TOP
--------------------------------------------------- */
/*---------- 共通 ----------*/
h2 .txt-en {
	margin-bottom: 30px;
	font-family: 'Poppins', sans-serif;
	display: block;
	font-weight: 500;
	font-size: 55px;
	line-height: 1;
}
h2 .txt-ja {
	display: block;
	font-weight: bold;
	font-size: 18px;
	line-height: 1;
}

@media (max-width: 768px) {
	h2 .txt-en {
		margin-bottom: 4vw;
		font-size: 8.2vw;
	}
	h2 .txt-ja {
		font-size: 3.6vw;
	}
    
}



/*---------- MV ----------*/
.sec-mv {
	width: 100%;
	background: url("../../img/top/img_mv_pc.jpg") center center no-repeat;
	background-size: cover;
}
.sec-mv .sec-inn {
	min-height: 600px;
	padding: 30vh 0;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.sec-mv .mv-txt {
	font-size: 55px;
	font-weight: bold;
	line-height: 1.5;
	color: #fff;
}
@media (max-width: 768px) {
	.sec-mv {
		width: 100%;
		background: url("../../img/top/img_mv_pc.jpg") center center no-repeat;
		background-size: cover;
	}
	.sec-mv .sec-inn {
		min-height: initial;
		padding: 40vw 0;
		margin: 0 auto;
		display: flex;
		align-items: center;
	}
	.sec-mv .mv-txt {
		font-size: 6.2vw;
	}
    
}

/*---------- EXHIBITION INFO ----------*/
.sec-exhibition {
	width: 100%;
	padding: 50px 0 0;
	background: #f0f2f5;
}
.sec-exhibition a.exhibition-box {
	width: 90%;
	max-width: 970px;
	margin: 0 auto;
	padding: 20px;
	display: block;
	background: url("../../img/top/bg_exhibition.png") center center no-repeat;
	background-size: cover;
}
.sec-exhibition a .box-inn {
	width: 100%;
	padding: 30px 20px;
	border: 1px solid #fff;
	text-align: center;
	color: #fff;
	background: rgba(0,32,96, 0.3);
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(8px);
	position: relative;
}
.sec-exhibition a .box-inn::after {
	content: '';
	width: 60px;
	height: 10px;
	background: url("../../img/common/icon_arrow.svg") center center no-repeat;
	background-size: 100%;
	position: absolute;
	bottom: calc(50% - 5px);
	right: 30px;
	z-index: 3;
	transition: 0.3s ease-in-out;
}
@media (min-width: 769px) {
	.sec-exhibition a:hover .box-inn::after {
		right: 20px;
	}
}

.sec-exhibition p .txt-en {
	margin-bottom: 20px;
	font-family: 'Poppins', sans-serif;
	display: block;
	font-weight: 500;
	font-size: 55px;
	line-height: 1;
}
.sec-exhibition p .txt-ja {
	display: block;
	font-weight: bold;
	font-size: 18px;
	line-height: 1;
}

@media (max-width: 768px) {
	.sec-exhibition {
		width: 100%;
		padding: 8vw 0 0;
		background: #f0f2f5;
	}
	.sec-exhibition a.exhibition-box {
		padding: 4vw;
	}
	.sec-exhibition a .box-inn {
		width: 100%;
		padding: 5vw 5vw 12vw;
	}
	.sec-exhibition a .box-inn::after {
		content: '';
		width: 12vw;
		height: 2vw;
		background: url("../../img/common/icon_arrow.svg") center center no-repeat;
		background-size: 100%;
		position: absolute;
		bottom: 5vw;
		right: calc(50% - 6vw);
		z-index: 3;
		transition: 0.3s ease-in-out;
	}

	.sec-exhibition p .txt-en {
		margin-bottom: 3vw;
		font-size: 8.2vw;
	}
	.sec-exhibition p .txt-ja {
		font-size: 3.6vw;
	}
    
}


/*---------- NEWS ----------*/
.sec-news {
	padding: 80px 0 70px;
	background: #f0f2f5;
}
.sec-news .flex-box {
	width: 100%;
	margin: 0 auto 40px;
	display: flex;
	align-items: center;
}
.sec-news .box-left {
	width: 230px;
}
.sec-news .box-right {
	width: calc(100% - 230px);
}
.sec-news ul.news-list li {
	border-bottom: 1px solid #d7dadf;
	display: block;
}
.sec-news ul.news-list li a {
	width: 100%;
	padding: 30px;
	display: flex;
	align-items: flex-start;
	background: #fff;
}
.sec-news ul.news-list li .news-date {
	width: 105px;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 500;
}
.sec-news ul.news-list li .news-cat {
	width: 120px;
	padding: 5px;
	margin-right: 20px;
	border-radius: 15px;
	text-align: center;
	line-height: 1;
}
.sec-news ul.news-list li .news-cat.information { border: 1px solid #002060; color: #002060;}
.sec-news ul.news-list li .news-cat.newproduct { border: 1px solid #5caac7; color: #5caac7;}
.sec-news ul.news-list li .news-cat.company { border: 1px solid #ac453f; color: #ac453f;}

.sec-news ul.news-list li .news-ttl{
	width: calc(100% - 245px);
}

@media (max-width: 768px) {
	.sec-news {
		padding: 12vw 0;
	}
	.sec-news .flex-box {
		width: 100%;
		margin: 0 auto 8vw;
		display: block;
	}
	.sec-news .box-left {
		width: 100%;
	}
	.sec-news .box-right {
		width: 100%;
		margin-top: 8vw;
	}
	.sec-news ul.news-list li {
		border-bottom: 1px solid #d7dadf;
		display: block;
	}
	.sec-news ul.news-list li a {
		width: 100%;
		padding: 5vw;
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		background: #fff;
	}
	.sec-news ul.news-list li .news-date {
		width: 20vw;
		font-size: 3.6vw;
	}
	.sec-news ul.news-list li .news-cat {
		width: 30vw;
		padding: 1vw;
		margin-right: 0;
		border-radius: 5vw;
		text-align: center;
		line-height: 1;
	}
	.sec-news ul.news-list li .news-cat.information { border: 1px solid #002060; color: #002060;}
	.sec-news ul.news-list li .news-cat.newproduct { border: 1px solid #5caac7; color: #5caac7;}
	.sec-news ul.news-list li .news-cat.company { border: 1px solid #ac453f; color: #ac453f;}

	.sec-news ul.news-list li .news-ttl{
		width: 100%;
		margin-top: 2vw;
	}
    
}

/*---------- ピックアップ プロダクト ----------*/
.sec-pickup-product {
	width: 100%;
}
.sec-pickup-product ul.pickup-product-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.sec-pickup-product ul.pickup-product-list li {
	width: calc(100% / 3);
	border-bottom: 1px solid #fff;
	position: relative;
}
.sec-pickup-product ul.pickup-product-list li::after {
	content: '';
	width: 1px;
	height: 100%;
	background: #fff;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 4;
}
.sec-pickup-product ul.pickup-product-list li:nth-child(3n)::after {
	content: none;
}

.sec-pickup-product ul.pickup-product-list li a {
	width: 100%;
	padding: 0;
	display: block;
	color: #fff;
	background: linear-gradient(#0f1f3e, #050505);
	position: relative;
	overflow: hidden;
}
.sec-pickup-product ul.pickup-product-list li a::after {
	content: '';
	width: 55px;
	height: 55px;
	background: url("../../img/common/btn_arrow.svg") 0 0 no-repeat;
	background-size: 100%;
	position: absolute;
	bottom: -1px;
	right: 0;
	z-index: 3;
}
.sec-pickup-product ul.pickup-product-list li a img.product-img {
	height: auto;
	transition: 0.3s ease-in-out;
}
@media (min-width: 769px) {
	.sec-pickup-product ul.pickup-product-list li a:hover img.product-img {
		transform:scale(1.05);
	}
}
.sec-pickup-product ul.pickup-product-list li .box-inn {
	width: 100%;
	padding: 40px 10% 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.sec-pickup-product ul.pickup-product-list li .box-ttl-sub {
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.2;
}
.sec-pickup-product ul.pickup-product-list li .box-ttl {
	margin-bottom: 30px;
	font-family: 'Poppins', sans-serif;
	font-size: 36px;
	font-weight: 400;
	line-height: 1.2;
}

@media (max-width: 768px) {
	.sec-pickup-product {
		width: 100%;
	}
	.sec-pickup-product ul.pickup-product-list {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.sec-pickup-product ul.pickup-product-list li {
		width: 50%;
		border-bottom: 1px solid #fff;
		position: relative;
	}
	.sec-pickup-product ul.pickup-product-list li::after, 
	.sec-pickup-product ul.pickup-product-list li:nth-child(3n)::after {
		content: '';
		width: 1px;
		height: 100%;
		background: #fff;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 4;
	}
	.sec-pickup-product ul.pickup-product-list li:nth-child(2n)::after {
		content: none;
	}

	.sec-pickup-product ul.pickup-product-list li a {
		width: 100%;
		padding: 10vw 0 0;
		display: block;
		color: #fff;
		position: relative;
		overflow: hidden;
	}
	.sec-pickup-product ul.pickup-product-list li a::after {
		content: '';
		width: 10vw;
		height: 10vw;
		background: url("../../img/common/btn_arrow.svg") 0 0 no-repeat;
		background-size: 100%;
		position: absolute;
		bottom: -1px;
		right: 0;
		z-index: 3;
	}
	.sec-pickup-product ul.pickup-product-list li a img.product-img {
		height: auto;
		transition: 0.3s ease-in-out;
	}
	.sec-pickup-product ul.pickup-product-list li .box-inn {
		width: 100%;
		padding: 4vw 4vw 0;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}
	.sec-pickup-product ul.pickup-product-list li .box-ttl-sub {
		margin-bottom: 3vw;
		font-size: 3.0vw;
	}
	.sec-pickup-product ul.pickup-product-list li .box-ttl {
		margin-bottom: 3vw;
		font-size: 4.2vw;
	}
	.sec-pickup-product ul.pickup-product-list li .box-txt {
		font-size: 3.0vw;
	}
    
}

/*---------- PRODUCT INFO ----------*/
.sec-product {
	padding: 120px 0 80px;
	background: url("../../img/top/bg_productinfo.jpg") center center no-repeat;
	background-size: cover;
	text-align: center;
}
.sec-product ul.product-list {
	width: 100%;
	margin: 60px auto 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.sec-product ul.product-list li {
	width: 33%;
	margin: 0 0 30px;
}
.sec-product ul.product-list li a {
	max-width: 315px;
	margin: 0 auto;
	display: block;
}
.sec-product ul.product-list li a .box-ttl {
	width: calc(100% - 25px);
	height: 65px;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #fff;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.2;
}


@media (max-width: 768px) {
	.sec-product {
		padding: 16vw 0 6vw;
		background: url("../../img/top/bg_productinfo.jpg") center center no-repeat;
		background-size: cover;
		text-align: center;
	}
	.sec-product ul.product-list {
		width: 100%;
		margin: 10vw auto 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.sec-product ul.product-list li {
		width: 48%;
		margin: 0 0 6vw;
	}
	.sec-product ul.product-list li a {
		max-width: 315px;
		margin: 0 auto;
		display: block;
	}
	.sec-product ul.product-list li a .box-ttl {
		width: calc(100% - 5vw);
		height: auto;
		padding: 2vw 1vw;
		margin-top: 2vw;
		display: block;
		font-size: 3.6vw;
	}
    
}

/*---------- DEMO MACHINE ----------*/
.sec-product a.demo-box {
	width: 90%;
	max-width: 970px;
	margin: 50px auto 0;
	padding: 20px;
	display: block;
	background: url("../../img/top/bg_demo.png") center center no-repeat;
	background-size: cover;
}
.sec-product a.demo-box .box-inn {
	width: 100%;
	padding: 30px 20px;
	border: 1px solid #002060;
	text-align: center;
	color: #002060;
	background: rgba(255,255,255, 0.2);
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(8px);
	position: relative;
}
.sec-product a.demo-box .box-inn::after {
	content: '';
	width: 60px;
	height: 10px;
	background: url("../../img/common/icon_arrow_navy.svg") center center no-repeat;
	background-size: 100%;
	position: absolute;
	bottom: calc(50% - 5px);
	right: 30px;
	z-index: 3;
	transition: 0.3s ease-in-out;
}
@media (min-width: 769px) {
	.sec-product a.demo-box:hover .box-inn::after {
		right: 20px;
	}
}

.sec-product a.demo-box p .txt-en {
	margin-bottom: 20px;
	font-family: 'Poppins', sans-serif;
	display: block;
	font-weight: 500;
	font-size: 55px;
	line-height: 1;
}
.sec-product a.demo-box p .txt-ja {
	display: block;
	font-weight: bold;
	font-size: 18px;
	line-height: 1;
}

@media (max-width: 768px) {
	.sec-product a.demo-box {
		margin: 6vw auto 0;
		padding: 4vw;
	}
	.sec-product a.demo-box .box-inn {
		width: 100%;
		padding: 5vw 2vw 12vw;
	}
	.sec-product a.demo-box .box-inn::after {
		content: '';
		width: 12vw;
		height: 2vw;
		background: url("../../img/common/icon_arrow_navy.svg") center center no-repeat;
		background-size: 100%;
		position: absolute;
		bottom: 5vw;
		right: calc(50% - 6vw);
		z-index: 3;
		transition: 0.3s ease-in-out;
	}

	.sec-product a.demo-box p .txt-en {
		margin-bottom: 3vw;
		font-size: 8.2vw;
	}
	.sec-product a.demo-box p .txt-ja {
		font-size: 3.6vw;
	}
    
}



/*---------- リンク ----------*/
.sec-links {
	width: 100%;
	display: flex;
}
.sec-links a.link-box {
	width: 50%;
	padding: 50px;
	display: flex;
	color: #fff;
}
.sec-links a.link-box.company-box {
	background: url("../../img/top/bg_company.png") center center no-repeat;
	background-size: cover;
}
.sec-links a.link-box.recruit-box {
	background: url("../../img/top/bg_recruit.png") center center no-repeat;
	background-size: cover;
}
.sec-links a.link-box .box-inn {
	width: 100%;
	padding: 90px 20px 110px;
	border: 1px solid #fff;
	text-align: center;
	color: #fff;
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(8px);
	position: relative;
}
.sec-links a.link-box .box-inn::after {
	content: '';
	width: 60px;
	height: 10px;
	background: url("../../img/common/icon_arrow.svg") center center no-repeat;
	background-size: 100%;
	position: absolute;
	bottom: 60px;
	right: calc(50% - 30px);
	z-index: 3;
	transition: 0.3s ease-in-out;
}
@media (min-width: 769px) {
	.sec-links a.link-box:hover .box-inn::after {
		right: calc(50% - 40px);
	}
}


.sec-links a.link-box.company-box .box-inn {
	background: rgba(0,32,96, 0.3);
}
.sec-links a.link-box.recruit-box .box-inn {
	background: rgba(92,170,199, 0.3);
}

.sec-links p .txt-en {
	margin-bottom: 30px;
	font-family: 'Poppins', sans-serif;
	display: block;
	font-weight: 500;
	font-size: 55px;
	line-height: 1;
}
.sec-links p .txt-ja {
	display: block;
	font-weight: bold;
	font-size: 18px;
	line-height: 1;
}

@media (max-width: 768px) {
	.sec-links {
		width: 100%;
		display: block;
	}
	.sec-links a.link-box {
		width: 100%;
		padding: 8vw;
		display: flex;
		color: #fff;
	}
	.sec-links a.link-box .box-inn {
		width: 100%;
		padding: 8vw 5vw 16vw;
		border: 1px solid #fff;
		text-align: center;
		color: #fff;
		-webkit-backdrop-filter: blur(12px);
		backdrop-filter: blur(8px);
		position: relative;
	}
	.sec-links a.link-box .box-inn::after {
		content: '';
		width: 12vw;
		height: 2vw;
		background: url("../../img/common/icon_arrow.svg") center center no-repeat;
		background-size: 100%;
		position: absolute;
		bottom: 8vw;
		right: calc(50% - 6vw);
		z-index: 3;
		transition: 0.3s ease-in-out;
	}

	.sec-links p .txt-en {
		margin-bottom: 4vw;
		font-size: 8.2vw;
	}
	.sec-links p .txt-ja {
		font-size: 3.6vw;
	}
    
}

/*---------- ACCESS ----------*/
.sec-access {
	padding: 120px 0;
	background: url("../../img/top/bg_access.png") center center no-repeat;
	background-size: cover;
	text-align: center;
}
.sec-access .flex-box {
	width: 100%;
	margin: 60px auto 0;
	align-items: flex-end;
}
.sec-access .box-left {
	width: 40%;
}
.sec-access .txt-parallelogram {
	width: 180px;
	margin: 0 70px 45px auto;
	padding: 5px;
    text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	position: relative;
    z-index: 1;
}
.sec-access .txt-parallelogram::before{
    content: '';
    background: #5caac7;
    transform: skewX(-20deg);
    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    z-index: -1;
}
.sec-access .access-address {
	width: 100%;
	padding: 0 70px 30px 0;
    text-align: right;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid #393939;
}
.sec-access .access-tel {
	width: 100%;
	padding: 30px 70px 20px 0;
    text-align: right;
	font-size: 18px;
	font-weight: bold;
}


.sec-access .box-right {
	width: 60%;
	height: 420px;
	overflow: hidden;
	position: relative;
}
.sec-access .box-right iframe {
	width: 100%;
	height: 720px;
	position: absolute;
	top: -150px;
	left: 0;
}


@media (max-width: 768px) {
	.sec-access {
		padding: 12vw 0;
		background: url("../../img/top/bg_access.png") center center no-repeat;
		background-size: cover;
		text-align: center;
	}
	.sec-access .flex-box {
		width: 100%;
		margin: 10vw auto 0;
		display: block;
	}
	.sec-access .box-left {
		width: 100%;
		margin-bottom: 5vw
	}
	.sec-access .txt-parallelogram {
		width: 40vw;
		margin: 0 auto 8vw 5vw;
		padding: 1vw;
		font-size: 3.8vw;
	}
	.sec-access .txt-parallelogram::before{
		content: '';
		background: #5caac7;
		transform: skewX(-20deg);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
	}
	.sec-access .access-address {
		width: 100%;
		padding: 0 0 5vw 5vw;
		text-align: left;
		font-size: 3.8vw;
		border-bottom: none;
	}
	.sec-access .access-tel {
		width: 100%;
		padding: 0 0 5vw  5vw;
		text-align: left;
		font-size: 3.6vw;
	}


	.sec-access .box-right {
		width: 100%;
		height: 50vw;
		overflow: hidden;
		position: relative;
	}
	.sec-access .box-right iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
    
}
