@charset "UTF-8";
/* CSS Document */

/*---------- MV ----------*/
.sec-mv{
    margin:0 auto 100px;
}
.mv-bg-fade{
    width : 100%; /* contents-layerと同じ大きさにする */
    height : 100%; /* contents-layerと同じ大きさにする */
    background: url("../img/bg_mv.jpg") no-repeat;
    background-size: 100%;
    background-position: top left;
    position : absolute;
    left : 0; 
    top : 0;
    z-index : -1;
    opacity : 0;
}
.mv-in{
    padding: 6.0vw 5vw 0;
    position: relative;
}
.mv-bgimg{ 
    width: 64%;
    position: absolute;
    top: -20vw;
    right: 0;
    z-index: -1;
}
.mv-bgimg img{border-radius: 20px;}

.text-span {
  overflow: hidden;
  opacity: 0;
}
.mv-copy,.mv-copy2,.mv-copy3,.mv-copy4,.mv-copy5{
    font-family: 'Chillax', sans-serif;
    font-weight: 600;
    line-height: 1.2;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.mv-copy,.mv-copy2{
    font-size: 7.0vw;
}
.mv-copy3{
    margin-top: 2vw;
    font-size: 4.8vw;
}
.text-span.show {opacity: 1;}
.text-span span {
  display: inline-block;
  transform: translate(0, 105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.text-span.show span {
  transform: translate(0, 0);
}
.text-span.show span:nth-child(2) {
  transition-delay: 0.05s;
}
.text-span.show span:nth-child(3) {
  transition-delay: 0.10s;
}
.text-span.show span:nth-child(4) {
  transition-delay: 0.15s;
}
.text-span.show span:nth-child(5) {
  transition-delay: 0.20s;
}
.text-span.show span:nth-child(6) {
  transition-delay: 0.25s;
}
.text-span.show span:nth-child(7) {
  transition-delay: 0.30s;
}
.text-span.show span:nth-child(8) {
  transition-delay: 0.35s;
}
.text-span.show span:nth-child(9) {
  transition-delay: 0.40s;
}
.text-span.show span:nth-child(10) {
  transition-delay: 0.45s;
}
.text-span.show span:nth-child(11) {
  transition-delay: 0.50s;
}
.text-span.show span:nth-child(12) {
  transition-delay: 0.55s;
}
.text-span.show span:nth-child(13) {
  transition-delay: 0.60s;
}
.text-span.show span:nth-child(14) {
  transition-delay: 0.65s;
}
.text-span.show span:nth-child(15) {
  transition-delay: 0.70s;
}
.text-span.show span:nth-child(16) {
  transition-delay: 0.75s;
}
.text-span.show span:nth-child(17) {
  transition-delay: 0.80s;
}
.text-span.show span:nth-child(18) {
  transition-delay: 0.85s;
}
.text-span.show span:nth-child(19) {
  transition-delay: 0.90s;
}
.text-span.show span:nth-child(20) {
  transition-delay: 0.95s;
}
.text-span.show span:nth-child(21) {
  transition-delay: 1.00s;
}
.text-span.show span:nth-child(22) {
  transition-delay: 1.05s;
}
.text-span.show span:nth-child(23) {
  transition-delay: 1.10s;
}
.text-span.show span:nth-child(24) {
  transition-delay: 1.15s;
}
.text-span.show span:nth-child(25) {
  transition-delay: 1.20s;
}
.text-span.show span:nth-child(26) {
  transition-delay: 1.25s;
}
.text-span.show span:nth-child(26) {
  transition-delay: 1.30s;
}
.text-span.show span:nth-child(27) {
  transition-delay: 1.35s;
}
.text-span.show span:nth-child(28) {
  transition-delay: 1.40s;
}
.text-span.show span:nth-child(29) {
  transition-delay: 1.45s;
}
.text-span.show span:nth-child(30) {
  transition-delay: 1.50s;
}
.text-span.show span:nth-child(31) {
  transition-delay: 1.55s;
}
.text-span.show span:nth-child(32) {
  transition-delay: 2.00s;
}
.text-span.show span:nth-child(33) {
  transition-delay: 2.05s;
}
.text-span.show span:nth-child(34) {
  transition-delay: 2.10s;
}
.text-span.show span:nth-child(35) {
  transition-delay: 2.15s;
}
.text-span.show span:nth-child(36) {
  transition-delay: 2.20s;
}
.text-span.show span:nth-child(37) {
  transition-delay: 2.25s;
}
.text-span.show span:nth-child(38) {
  transition-delay: 2.30s;
}
.text-span.show span:nth-child(39) {
  transition-delay: 2.35s;
}
.text-span.show span:nth-child(40) {
  transition-delay: 2.40s;
}
.text-span.show span:nth-child(41) {
  transition-delay: 2.45s;
}
.text-span.show span:nth-child(42) {
  transition-delay: 2.50s;
}
.text-span.show span:nth-child(43) {
  transition-delay: 2.55s;
}


.mv-copy_wrap{
    width: 100%;
    margin: 2.0vw auto 0;
    display: flex;
    justify-content: space-between;
}
.mv-copy_wrap .mv-copy_box{
    width: 54%;
}
.mv-shiro{
    font-family: 'Chillax', sans-serif;
    font-weight: 600;
    line-height: 1.2;
    font-size: 4.8vw;
}
.mv-shiro::after{
    content: '';
    display: block;
    margin-top: 4.4vw;
    border-bottom: 2px solid #f5a302;
    border-image: linear-gradient(to right, #f5a302 0%, #f2c426 37%, #57b29e 59%, #57a1b2 100%);
    border-image-slice: 1;
    animation: border_anim 0.5s linear forwards;
}
.mv-txt{
    margin-top: 4.4vw;
    padding: 0;
    font-size: 16px;
    text-align: left;
    line-height: 2.3;
}
.mv-copy_wrap ul.mv-copy_badge{
    width: 40%;
    margin-top: 15.2vw;
    display: flex;
}
.mv-copy_wrap ul.mv-copy_badge li{
    width: calc((100% - 16%)/4);
    margin-right: 4%;
}


@media (max-width: 1100px) {
    /*.mv-copy,.mv-copy2{
        font-size:122px;
        line-height: 1.2;
    }
    .mv-copy3{
        font-size:122px;
        line-height: 1.2;
    }*/
}

@media (max-width: 768px) {
    .sec-mv{margin: 12vw auto 20vw;}
    .mv-in{padding:0 5vw;}
    .mv-bg-fade{
        width: 100%;
        height: 100%;
        background: url("../img/bg_mv_sp.jpg") no-repeat;
        background-size: 100%;
        background-position: top left;
        position : absolute;
        left : 0; 
        top : 0;
        z-index : -1;
        opacity : 0;
    }
    .mv-bgimg{ 
        width: 84%;
        position: absolute;
        top: -82vw;
        right: 0;
        z-index: -1;
    }
    .mv-copy,.mv-copy2,.mv-copy3,.mv-copy4,.mv-copy5{
        font-weight: 600;
        font-size: 13.0vw;
        line-height: 1.4;
    }
    
    .mv-copy_wrap{
        width: 100%;
        margin: 8vw auto 0;
        display: block;
    }
    .mv-copy_wrap .mv-copy_box{
        width: 100%;
    }
    .mv-shiro{
        line-height: 1.2;
        font-size: 6.8vw;
    }
    .mv-shiro::after{
        margin-top: 7vw;
    }
    .mv-txt{
        margin-top: 7vw;
        padding: 0;
        font-size: 4.2vw;
        text-align: left;
        line-height: 2.3;
    }
    .mv-copy_wrap ul.mv-copy_badge{
        width: 100%;
        margin-bottom: 0;
        margin-top: 7.6vw;
        display: flex;
        justify-content: space-between;
    }
    .mv-copy_wrap ul.mv-copy_badge li{
        width: calc((100% - 8%)/4);
    }
}


/*---------- CV ----------*/
.sec-cv{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.sec-cv:before{
    content:'';
    position: absolute;
    background: url("https://shiro-k.jp/to_pardot_230703/assets/img/bg-cv-01.png") no-repeat center;
    background-size: 100%;
    width: 212px;
    height: 252px;
    right:0;
    left:0;
    margin:auto;
}
.sec-cv:after{
    content:'';
    position: absolute;
    background: url("https://shiro-k.jp/to_pardot_230703/assets/img/bg-cv-02.png") repeat;
    background-size: contain;
    width:100%;
    height:100%;
    mix-blend-mode:overlay;
    top:0;
    right:0;
}
.cv-left{
    width:50%;
    background: #f5a302;
    padding:100px 0;
}
.cv-right{
    width:50%;
    background: #57a1b2;
    padding:100px 0;
}

@media (max-width: 768px) {
    .sec-cv:before{
        width: 45.5vw;
        height: 54.9vw;
    }
    .cv-left{
        padding:21vw 0;
    }
    .cv-right{
        padding:21vw 0;
    }
    .sec-cv a.btn-black{
        width:93%;
        letter-spacing: 0.1vw;
    }
}


/*---------- 共通 ----------*/
.sec-common{
    padding:100px 5vw;
}
h2.lp-common_h2{
    margin-bottom: 60px;
    font-family: 'Chillax', sans-serif;
    font-weight: 600;
    line-height: 1.2;
    font-size: 72px;
    text-align: center;
}
h2.lp-common_h2 span{
    display: block;
    margin-top: 30px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 26px;
    font-weight: 900;
}
p.lp-common_txt{
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    line-height: 2.3;
}
p.lp-common_txt-en{
    padding: 0 2vw;
    font-family: 'Chillax', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.8;
    text-align: center;
    color: #e0eaec;
    position: relative;
    z-index: 2;
}
figure{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}
@media (max-width: 768px) {
    .sec-common{
        padding: 14vw 5vw;
    }
    h2.lp-common_h2{
        margin-bottom: 7vw;
        font-family: 'Chillax', sans-serif;
        font-weight: 600;
        line-height: 1.2;
        font-size: 11.0vw;
        text-align: center;
        letter-spacing: 0;
    }
    h2.lp-common_h2 span{
        display: block;
        margin-top: 4vw;
        font-family: 'Zen Kaku Gothic New', sans-serif;
        font-size: 5.4vw;
        font-weight: 900;
        line-height: 1.6;
    }
    p.lp-common_txt{
        margin-bottom: 20px;
        font-size: 4.2vw;
        text-align: center;
        line-height: 2.3;
    }
    p.lp-common_txt-en{
        padding: 0 3vw;
        font-family: 'Chillax', sans-serif;
        font-size: 4.0vw;
        font-weight: 500;
        line-height: 1.8;
        text-align: center;
        color: #e0eaec;
        position: relative;
        z-index: 2;
    }
}

/*---------- MV下（feature） ----------*/
.sec-feature{
    background: linear-gradient(90deg, rgba(247, 247, 247, 1), rgba(255, 255, 255, 1));
}
.sec-feature.sec-common{
    padding:100px 0 80px 5vw;
}
.sec-feature .sec-cont_main{
    width: 100%;
    margin: 0 auto;
    padding: 0 0 6vw;
    background: url("../img/bg_sec_feature.png") no-repeat;
    background-size: 64%;
    background-position: left 0 bottom 0;
    position: relative;
}
/*.sec-feature .sec-cont_main{
    width: 100%;
    margin: -200px auto 0;
}*/
.sec-feature h2.lp-common_h2{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 58px;
    font-weight: 900;
    text-align: left;
    line-height: 1.6;
    position: relative;
    z-index: 2;
}
.sec-feature h2.lp-common_h2 span.en{
    display: inline;
    font-family: 'Chillax', sans-serif;
    font-size: 60px;
    font-weight: 600;
}
.sec-feature p.lp-common_txt{
    padding-left: 4vw;
    text-align: left;
}
.sec-feature p.lp-common_txt-en{
    padding-left: 4vw;
    font-size: 24px;
    text-align: left;
    color: #aebbbe;
}

.feature-video-wrap{
    width: 55%;
    padding: 0 0 5%;
    background: url("../img/mov_feature_bg.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 2%;
    right: -3%;
    z-index: 0;
}
.video-wrap{
    width: 73%;
	padding-top: 56.25%;
	position: relative;
}
.video-wrap video{
	width: 100%;
	height: 100%;
	position: absolute;
	top: -1.5%;
	left: 18.3%;
}
@media (max-width: 768px) {
    .sec-feature.sec-common{
        padding: 14vw 5vw 8vw 5vw;
    }
    .sec-feature .sec-cont_main{
        width: 100%;
        margin: 0 auto;
        padding: 0 0 7vw;
        background: url("../img/bg_sec_feature.png") no-repeat;
        background-size: 100%;
        background-position: left 0 bottom 21vh;
        position: relative;
    }
    .sec-feature h2.lp-common_h2{
        font-family: 'Zen Kaku Gothic New', sans-serif;
        font-size: 8vw;
        font-weight: 900;
        text-align: left;
        line-height: 1.6;
        position: relative;
        z-index: 2;
    }
    .sec-feature h2.lp-common_h2 span.en{
        display: inline;
        font-family: 'Chillax', sans-serif;
        font-size: 8vw;
        font-weight: 600;
    }
    .sec-feature p.lp-common_txt{
        padding-left: 0;
        text-align: left;
    }
    .sec-feature p.lp-common_txt-en{
        padding-left: 0;
        font-size: 4.6vw;
        text-align: left;
        color: #aebbbe;
    }
    .feature-video-wrap{
        width: 100%;
        padding: 0 0 5%;
        background: url("../img/mov_feature_bg.png") no-repeat;
        background-size: 100%;
        position: static;
        margin: 30vw auto 0;
    }
    .video-wrap{
        width: 73%;
        padding-top: 56.25%;
        position: relative;
    }
    .video-wrap video{
        width: 100%;
        height: 100%;
        position: absolute;
        top: -1.5%;
        left: 18.3%;
    }
}



/*---------- assets ----------*/
.sec-mktassets{
    padding: 100px 5vw 70px;
    background: url("../img/bg_mktassets.jpg") no-repeat;
    background-size: 100%;
    background-position: bottom center;
}
.sec-mktassets .sec-cont_main{
    width: 100%;
    margin: -66px auto 0;
    padding: 180px 5vw 0;
    background: url("../img/bg_sec_mktassets.png") no-repeat;
    background-size: 100%;
}
.sec-mktassets ul.sec-cont_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sec-mktassets ul.sec-cont_list li{
    width: calc((100% - 30px)/2);
    margin-right: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.sec-mktassets ul.sec-cont_list li:nth-child(even),
.sec-mktassets ul.sec-cont_list li:last-child{
    margin-right: 0;
}
.sec-mktassets ul.sec-cont_list li p.mktassets-list_ttl{
    font-family: 'Chillax', sans-serif;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    color: #FFF; 
}
.sec-mktassets ul.sec-cont_list li:last-child p.mktassets-list_ttl{
    color: #332815; 
}
.sec-mktassets ul.sec-cont_list li p.mktassets-list_txt{
    padding: 30px;
    font-size: 14px;
    line-height: 2.3;
    color: #FFF;
    display: flex;
    flex: 1 0 auto;
}
.sec-mktassets ul.sec-cont_list li:nth-child(1) p.mktassets-list_txt{
    background-image: linear-gradient(301deg, rgba(186, 164, 112, 1), rgba(244, 158, 0, 1));
}
.sec-mktassets ul.sec-cont_list li:nth-child(2) p.mktassets-list_txt{
    background-image: linear-gradient(301deg, rgba(112, 161, 163, 1), rgba(186, 164, 112, 1));
}
.sec-mktassets ul.sec-cont_list li:nth-child(3) p.mktassets-list_txt{
    background-image: linear-gradient(301deg, rgba(51, 150, 173, 1), rgba(112, 161, 163, 1));
}

@media (max-width: 768px) {
    .sec-mktassets{
        padding: 14vw 5vw 70px;
        background: url("../img/bg_mktassets_sp.jpg") no-repeat;
        background-size: 100%;
        background-position: bottom left;
    }
    .sec-mktassets .sec-cont_main{
        width: 100%;
        margin: -21vw auto 0;
        padding: 38vw 5vw 0;
        background: url("../img/bg_sec_mktassets_sp.png") no-repeat;
        background-size: 100%;
    }
    .sec-mktassets ul.sec-cont_list{
        width: 100%;
        display: block;
    }
    .sec-mktassets ul.sec-cont_list li{
        width: 100%;
        margin-right: 0;
        margin-bottom: 7vw;
    }
    .sec-mktassets ul.sec-cont_list li p.mktassets-list_ttl{
        font-family: 'Chillax', sans-serif;
        font-size: 6.8vw;
        font-weight: 600;
        text-align: center;
        color: #FFF; 
    }
    .sec-mktassets ul.sec-cont_list li:nth-child(2) p.mktassets-list_ttl,
    .sec-mktassets ul.sec-cont_list li:last-child p.mktassets-list_ttl{
        color: #332815; 
    }
    .sec-mktassets ul.sec-cont_list li p.mktassets-list_txt{
        padding: 5vw;
        font-size: 3.8vw;
        text-align: center;
        line-height: 2.0;
        color: #FFF;
    }
}


/*---------- API ----------*/
.sec-api{
    background: linear-gradient(90deg, rgba(247, 247, 247, 1), rgba(255, 255, 255, 1));
}
.sec-api .sec-cont_main{
    width: 100%;
    margin: 50px auto 0;
    background: url("../img/bg_sec_api.png") no-repeat;
    background-size: 64%;
    background-position: top 40px right;
}
.sec-api p.api-read{
    margin: 0 auto 60px 0;
    font-family: 'Chillax', sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.4;
    color: #aebbbe;
}
.sec-api figure{
    width: 96%;
    margin: 0 0 0 auto;
}
@media (max-width: 768px) {
    .sec-api .sec-cont_main{
        width: 100%;
        margin: 8vw auto 0;
        background: url("../img/bg_sec_api.png") no-repeat;
        background-size: 84%;
        background-position: top 26vw right;
    }
    .sec-api p.api-read{
        margin: 0 auto 10vw 0;
        font-family: 'Chillax', sans-serif;
        font-size: 9.0vw;
        font-weight: 600;
        line-height: 1.4;
        color: #aebbbe;
    }
    .sec-api figure{
        width: 100%;
        margin: 0 0 0 auto;
    }
}


/*---------- FLOW ----------*/
.sec-flow{
}
.sec-flow .sec-cont_main{
    width: 100%;
    margin: -36px auto 0;
    padding: 180px 4.5vw 0;
    background: url("../img/bg_sec_flow.png") no-repeat;
    background-size: 100%;
}
.sec-flow ul.sec-cont_list{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sec-flow ul.sec-cont_list li{
    width: calc((100% - 30px)/2);
    /*margin-right: 30px;*/
}
.sec-flow ul.sec-cont_list li:nth-child(even),
.sec-flow ul.sec-cont_list li:last-child{
    margin-right: 0;
}
.sec-flow ul.sec-cont_list li img{
    box-shadow: 7px 7px 5px 0 rgba(174, 187, 190, .5);
}

@media (max-width: 768px) {
    .sec-flow .sec-cont_main{
        width: 100%;
        margin: -21vw auto 0;
        padding: 35vw 4.5vw 0;
        background: url("../img/bg_sec_flow_sp.png") no-repeat;
        background-size: 100%;
    }
    .sec-flow ul.sec-cont_list{
        width: 100%;
        display: block;
    }
    .sec-flow ul.sec-cont_list li{
        width: 100%;
        margin-right: 0;
        margin-top: 8vw;
    }
}


/*---------- Data Visualising ----------*/
.sec-datavisu{ position: relative;}
.sec-datavisu::before{
    display: block;
    content: "";
    width: 100%;
    height: 60vw;
    background: linear-gradient(90deg, #faf4e8, #eef6f8);
    position: absolute;
    top: 0;
    left: 0;
}
.sec-datavisu .sec-cont_main{
    width: 100%;
    margin: 60px auto 0;
    padding: 0 4.5vw;
}
.sec-datavisu ul.sec-cont_list{
    width: 100%;
    display: flex;
}
.sec-datavisu ul.sec-cont_list li:nth-child(1){
    width: calc(50% - 30px);
    margin-right: 30px;
}
.sec-datavisu ul.sec-cont_list li:nth-child(2){
    width: 50%;
}
.sec-datavisu ul.sec-cont_list li img{
    box-shadow: 7px 7px 5px 0 rgba(174, 187, 190, .5);
}

@media (max-width: 768px) {
    .sec-datavisu::before{
        display: block;
        content: "";
        width: 100%;
        height: 128vh;
        background: linear-gradient(90deg, #faf4e8, #eef6f8);
        position: absolute;
        top: 0;
        left: 0;
    }
    .sec-datavisu .sec-cont_main{
        width: 100%;
        margin: 10vw auto 0;
        padding: 0 4.5vw;
    }
    .sec-datavisu ul.sec-cont_list{
        width: 100%;
        display: block;
    }
    .sec-datavisu ul.sec-cont_list li:nth-child(1){
        width: 100%;
        margin-right: 0;
        margin-bottom: 8vw;
    }
    .sec-datavisu ul.sec-cont_list li:nth-child(2){
        width: 100%;
    }
}


/*---------- Lecture Support ----------*/
.sec-lecture{
}
.sec-lecture .sec-cont_main{
    width: 100%;
    margin: -70px auto 0;
}
@media (max-width: 768px) {
    .sec-lecture .sec-cont_main{
        width: 100%;
        margin: -21vw auto 0;
    }
}


/*---------- Note ----------*/
.sec-note{
    background: linear-gradient(90deg, rgba(247, 247, 247, 1), rgba(255, 255, 255, 1));
}

.sec-note_main{
    width: 70%;
    margin: 0 auto;
}
.sec-note_main a{
    width: 100%;
    padding: 50px;
    background: #FFF;
    border: 2px solid #f5a302;
    border-image: linear-gradient(to right, #f5a302 0%, #f2c426 37%, #57b29e 59%, #57a1b2 100%);
    border-image-slice: 1;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}
.sec-note_main a:hover{
    opacity: 0.5;
}
.sec-note_main p.note-logo{
    width: 24%;
    margin-right: 4%;
}

.sec-note_main .note-txt_wrap{
    width: 72%;
}
.sec-note_main p.note-txt_ttl{
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
}
.sec-note_main p.note-txt{
    font-size: 14px;
    color: #333333;
}
.sec-note_main p.note-txt span{
    font-size: 13px;
    color: #A6A6A6;
}


@media (max-width: 768px) {
    .sec-note_main{
        width: 100%;
        padding: 5vw;
        display: block;
    }
    .sec-note_main a{
        width: 100%;
        padding: 8vw 5vw;
        display: block;
        transition: 0.3s ease-in-out;
    }
    .sec-note_main p.note-logo{
        width: 60%;
        margin-right: 0;
        margin: 0 auto 4%;
    }
    .sec-note_main .note-txt_wrap{
        width: 100%;
        text-align: center;
    }
    .sec-note_main p.note-txt_ttl{
        font-size: 5.2vw;
    }
    .sec-note_main p.note-txt{
        font-size: 4.2vw;
        color: #333333;
    }
    .sec-note_main p.note-txt span{
        font-size: 3.6vw;
        color: #A6A6A6;
    }
}













