@charset "UTF-8";

/* 資材一覧
-----------------------------*/

/* ------検索------ */
#file_search{
    width: 100%;
    margin-bottom: 60px;
    padding: 20px;
    border: 1px solid #cec9c5;
    border-radius: 10px;
    box-sizing: border-box;
}
#file_search h3{
    margin: 0 auto 18px;
    color: #545454;
    font-size: 18px;
}
#file_search ul{
    list-style: none;
    position: relative;
}
#file_search > ul > li.dropdown{
    width: 312px;
    margin-right: 20px;
    padding: 14px 10px 12px;
    display: inline-block;
    border: 1px solid #e60213;
    border-bottom: 3px solid #e60213;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    vertical-align: middle;
}
#file_search > ul > li.dropdown:last-child{
    margin-right: 0;
}
#file_search > ul > li.dropdown span.checkbox-icon{
    padding-left: 22px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}


#file_search > ul > li.dropdown:hover{
    background: #e60213;
}
.cat-select:hover > .checkbox-icon, 
.dropdown03:hover > .cat-select .checkbox-icon{
    color: #fff;
}
/* ドロップダウンメニュー*/
#file_search > ul > li.dropdown .g_nav_sub{
	width: 100% !important;
	height: auto;
	padding: 5px 0;
	display: none;
	background-color: #877b74;
    border-top: 10px solid #fff;
	position:absolute;
	top:50px;
	left: 0;
}
#file_search > ul > li.dropdown .g_nav_sub .inner ul{
    display: block;
    text-align: left;
}
#file_search > ul > li.dropdown .g_nav_sub .inner ul li{
    height: 50px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}
#file_search > ul > li.dropdown .g_nav_sub .inner ul li:first-child{
    padding: 0 12px;
}
#file_search > ul > li.dropdown .g_nav_sub .inner ul li p{
    width: 181px;
    height: 50px;
    padding: 0 6px;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    background: #fff;
    border-radius: 5px;
    position: relative;
    vertical-align: middle;
} 
#file_search > ul > li.dropdown .g_nav_sub .inner ul li:hover p{
    color: #fff;
    background: #e60213;
}
#file_search > ul > li.dropdown .g_nav_sub .inner ul li p span.checkbox-icon{
    position: absolute;
    top: 50%;
    left: 6px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* ------check box------ */
.checkbox-icon:before {
    content: "";
    width: 17px;
    height: 17px;
    border: 2px solid #eee;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -9px;
}
.selected .checkbox-icon:before, 
.selected03 .checkbox-icon:before, 
.selected03:hover .g_nav_sub ul li .checkbox-icon:before {
    content: "";
    width: 17px;
    height: 17px;
    background: url(../img/icon_check.png) 0 0 no-repeat;
    background-size: 100%;
    border: none;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -9px;
}
.selected:hover .checkbox-icon:before, 
.dropdown:hover .selected03 .checkbox-icon:before, 
.selected03:hover .g_nav_sub ul li:hover .checkbox-icon:before {
    content: "";
    width: 17px;
    height: 17px;
    background: url(../img/icon_check_white.png) 0 0 no-repeat;
    background-size: 100%;
    border: none;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -9px;
}

/* ------資材リスト------ */
.file_contents{
    width: 100%;
}

.file_contents h4.category_title{
    margin-bottom: 50px;
    padding: 0 4px 12px;
    box-sizing: border-box;
    border-bottom: 4px solid #e50316;
    color: #545454;
    font-family: "游明朝体", "Yu Mincho", YuMincho, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
    font-size: 22px;
}

.file_contents #category_03 h4.category_title{
    display: none;
}
.file_contents h5.category_name{
    margin-bottom: 50px;
    padding: 0 4px 12px;
    display: block;
    box-sizing: border-box;
    border-bottom: 4px solid #877b74;
    color: #545454;
    font-family: "游明朝体", "Yu Mincho", YuMincho, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
    font-size: 22px;
    
    margin-top:-132px;
    padding-top:132px;
}
.file_contents ul.file_list{
    margin: 0 auto 50px;
    display: inline-block;
}
.file_contents ul.file_list li{
    margin-bottom: 30px;
    margin-right: 37px;
    display: inline-block;
    position: relative;
}
.file_contents ul.file_list li:nth-child(3n){
    margin-right: 0;
}

.file_contents ul.file_list li img{
    width: 110px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
}
.file_contents ul.file_list li .right{
    width: 190px;
    display: inline-block;
    vertical-align: top;
}
.file_contents ul.file_list li .right p{
    margin-bottom: 51px;
    color: #545454;
    font-size: 12px;
}
.file_contents ul.file_list li .right .file_title{
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 9px;
    border-bottom: 4px solid #eeeeee;
    font-size: 15px;
}
.file_contents ul.file_list li .right a{
    width: 190px;
    padding: 4px 0;
    display: block;
    border: 2px solid #ed1d24;
    text-align: center;
    color: #ed1d24;
    position: absolute;
    bottom: 0;
    right: 0;
}
.cat-01, .cat-02, .cat-03, .cat-03-01, .cat-03-02, .cat-03-03, .cat-03-04, .cat-03-05{
    display: none;
}
.show{
    display: block !important;
}



@media screen and (max-width: 750px){
    /* #sec-contents
    -----------------------------*/
    #sec-contents{
        width: 94%;
        margin: 0 3%;
        padding: 15px 15px 50px;
        background: #fff;
        border-top: 10px solid #e50316;
        border-bottom: 10px solid #cec9c5;
    }
    
    /* 資材一覧
    -----------------------------*/

    /* ------検索------ */
    #file_search{
        width: 100%;
        margin-bottom: 60px;
        padding: 20px;
        border: 1px solid #cec9c5;
        border-radius: 10px;
        box-sizing: border-box;
    }
    #file_search h3{
        margin: 0 auto 18px;
        color: #545454;
        font-size: 18px;
    }
    #file_search ul{
        list-style: none;
        position: relative;
    }
    #file_search > ul > li.dropdown{
        width: 100%;
        margin-right: 0;
        margin-bottom: 5px;
        padding: 14px 10px 12px;
        display: inline-block;
        border: 1px solid #e60213;
        border-bottom: 3px solid #e60213;
        border-radius: 5px 5px 0 0;
        box-sizing: border-box;
        vertical-align: middle;
    }
    #file_search > ul > li.dropdown:last-child{
        margin-right: 0;
    }
    #file_search > ul > li.dropdown:hover {
        background: #fff;
    }
    #file_search > ul > li.dropdown a{
        display: block;
    }
    #file_search > ul > li.dropdown a .check{
        width: 17px;
        height: 17px;
        margin-right: 10px;
        margin-bottom: 2px;
        display: inline-block;
        vertical-align: middle;
        background: url(../img/icon_check.png) 0 0 no-repeat;
        background-size: 100%;
    }
    /* ドロップダウンメニュー*/
    #file_search > ul > li.dropdown .g_nav_sub{
        width: 100% !important;
        height: auto;
        padding: 10px 0 0;
        background-color: #fff;;
        border-top: none;
        display: block;
        position: relative;
        top:0px;
        left: 0;
    }
    #file_search > ul > li.dropdown .g_nav_sub .inner ul{
        display: block;
        text-align: center;
    }
    #file_search > ul > li.dropdown .g_nav_sub .inner ul li{
        height: 50px;
        margin: 0 auto 5px;
        padding: 0 12px;
        box-sizing: border-box;
        display: block;
        vertical-align: middle;
    }
    #file_search > ul > li.dropdown .g_nav_sub .inner ul li p{
        width: 100%;
        height: 50px;
        margin: 0 auto;
        padding: 0 10px;
        box-sizing: border-box;
        border: 1px solid #e60213;
        border-radius: 5px;
        display: block;
        text-align: left;
        background: #fff;
        border-radius: 5px;
        position: relative;
        vertical-align: middle;
    }
    .cat-select:hover > .checkbox-icon, .dropdown03:hover > .cat-select .checkbox-icon {
        color: #333;
    }
    #file_search > ul > li.dropdown .g_nav_sub .inner ul li:hover p{
        color: #333;
        background: #fff;
    }
    .selected:hover .checkbox-icon:before, 
    .dropdown:hover .selected03 .checkbox-icon:before, 
    .selected03:hover .g_nav_sub ul li:hover .checkbox-icon:before {
        content: "";
        width: 17px;
        height: 17px;
        background: url(../img/icon_check.png) 0 0 no-repeat;
        background-size: 100%;
        border: none;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -9px;
    }

    /* ------資材リスト------ */
    .file_contents{
        width: 100%;
    }
    .file_contents h4.category_title{
        padding: 0 4px 12px;
        display: block;
        box-sizing: border-box;
        border-bottom: 4px solid #e50316;
        color: #545454;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
        font-size: 22px;
    }

    .file_contents h5.category_name{
        padding: 0 4px 12px;
        display: block;
        box-sizing: border-box;
        border-bottom: 4px solid #877b74;
        color: #545454;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
        font-size: 22px;

        margin-top:-56px;
        padding-top:56px;
    }
    .file_contents ul.file_list{
        margin: 50px auto;
        display: inline-block;
    }
    .file_contents ul.file_list li{
        margin-bottom: 50px;
        margin-right: 0;
        display: inline-block;
    }
    .file_contents ul.file_list li:nth-child(3n){
        margin-right: 0;
    }

    .file_contents ul.file_list li img{
        width: 30%;
        margin-right: 5%;
        display: inline-block;
        vertical-align: top;
    }
    .file_contents ul.file_list li .right{
        width: 65%;
        display: inline-block;
        vertical-align: top;
    }
    .file_contents ul.file_list li .right p{
        color: #545454;
        font-size: 12px;
    }
    .file_contents ul.file_list li .right .file_title{
        width: 100%;
        margin-bottom: 15px;
        padding-bottom: 9px;
        border-bottom: 4px solid #eeeeee;
        font-family: "游明朝体", "Yu Mincho", YuMincho, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
        font-size: 15px;
    }
    .file_contents ul.file_list li .right a{
        width: 65%;
        margin-top: 20px;
        padding: 4px 0;
        display: block;
        border: 2px solid #ed1d24;
        text-align: center;
        color: #ed1d24;
    }
}


