@use "../config" as *;

/*必要なフォントのみ読み込んでください。不要なフォントおよび太さは削除でお願いします。*/

/* 
@font-face {
    font-family: 'Noto Sans JP';
	src: url("../../fonts/Noto_Sans_JP/NotoSansJP-Regular.woff2") format("woff2"),url("../../fonts/Noto_Sans_JP/NotoSansJP-Regular.woff") format("woff");
	font-display: swap;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans JP';
	src: url("../../fonts/Noto_Sans_JP/NotoSansJP-Medium.woff2") format("woff2"),url("../../fonts/Noto_Sans_JP/NotoSansJP-Medium.woff") format("woff");
	font-display: swap;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans JP';
	src: url("../../fonts/Noto_Sans_JP/NotoSansJP-Bold.woff2") format("woff2"),url("../../fonts/Noto_Sans_JP/NotoSansJP-Bold.woff") format("woff");
	font-display: swap;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans JP';
	src: url("../../fonts/Noto_Sans_JP/NotoSansJP-Black.woff2") format("woff2"),url("../../fonts/Noto_Sans_JP/NotoSansJP-Black.woff") format("woff");
	font-display: swap;
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Serif JP';
	src: url("../../fonts/Noto_Serif_JP/NotoSerifJP-Regular.woff2") format("woff2"),url("../../fonts/Noto_Serif_JP/NotoSerifJP-Regular.woff") format("woff");
	font-display: swap;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Serif JP';
	src: url("../../fonts/Noto_Serif_JP/NotoSerifJP-Medium.woff2") format("woff2"),url("../../fonts/Noto_Serif_JP/NotoSerifJP-Medium.woff") format("woff");
	font-display: swap;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Serif JP';
	src: url("../../fonts/Noto_Serif_JP/NotoSerifJP-Bold.woff2") format("woff2"),url("../../fonts/Noto_Serif_JP/NotoSerifJP-Bold.woff") format("woff");
	font-display: swap;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Serif JP';
	src: url("../../fonts/Noto_Serif_JP/NotoSerifJP-Black.woff2") format("woff2"),url("../../fonts/Noto_Serif_JP/NotoSerifJP-Black.woff") format("woff");
	font-display: swap;
    font-weight: 900;
    font-style: normal;
}*/

/* base
---------------------------------------------------------------------------- */
/*------------- General Elements -------------*/
html {
	font-size: 62.5%;
}

body {
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-weight: 400;
	color: $base_color;
	@include fz(15);
	position: relative;
}

/* English */
body.is-en {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
}

a {
	text-decoration: none;
	color: #ffffff;
	outline: none;
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
}

img {
	max-width: 100%;
}

*{
	word-break: break-all;
}

@media screen and (max-width: #{$breakpoint_l}px) and (min-width: #{$breakpoint+1}px){
	html {
		font-size: tbvw(12); //default 10
	}
}

@media screen and (max-width: #{$breakpoint}px){
	body{
		min-width: inherit;
	}
}

/*------------- .l-pagebody -------------*/
.l-pagebody {
	width: 100%;
	overflow: hidden;
}

.l-content{
	
}