@use "../config" as *;

/*------------- .l-header -------------*/
.l-header {
	width: 100%;
	padding: 15px 0;
	background: #06038D;
	box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 998;
}
.l-header-inn {
	width: 90%;
	max-width: 1400px;
	margin: 0 auto;
	@include flex(between,center);
}
.l-header-ttl {
	width: rem(126);
	transition: .3s;
	
	img {
		width: 100%;
		max-width: initial;
	}
}
	
.l-header.is-fixed {
	
	.l-header-ttl {
		width: rem(100);
	}
}
	
.l-gnav {
	width: calc(100% - rem(126));

	ul {
		width: 100%;
		@include flex(end,center,wrap);
		
		li {
			display: inline-block;
			margin: 0 rem(12);
			
			&:last-child {
				margin: 0 0 0 rem(12);
			}
			
			a {
				@include fz(15,28,200,700);
				transition: .3s;
			}
		}
	}
}

.l-gnav-reserve-btn {
	padding: rem(8) rem(18) rem(8) rem(21);
	background: #1E9D32;

	&:hover {
		background: #E7EEF4;
		color: $base_color;

	}

}

/* 英語版 */
.is-en {
	.l-gnav {

		ul {

			li {
				display: inline-block;
				margin: 0 rem(10);

				&:last-child {
					margin: 0 0 0 rem(10);
				}

				a {
					@include fz(13,22,0,700);
					letter-spacing: 0;
				}
			}
		}
	}
}

/* 英語版 */

@media screen and (max-width: #{$breakpoint}px){
	.l-header {
		width: 100%;
		padding: 4vw 0;
	}
	.l-header-inn {
		width: 84%;
		max-width: 1400px;
		margin: 0 auto;
		@include flex(between,end,nowrap,center);
	}

	.l-header-ttl {
		width: 28vw;
	}
	
	.l-header.is-fixed {

		.l-header-ttl {
			width: 28vw;
		}
	}
	

	.l-menu-btn {
        width: vw(60);
        height: vw(62);
		position: relative;
		z-index: 9999;
		margin-left: auto;
    }
	.is-menu-trigger {
        width: 100%;
        height: vw(62);
        display: inline-block;
        position: relative;
        cursor: pointer;
        z-index: 999;
    }
	.is-menu-trigger span {
        width: vw(56);
        height: 2px;
        background: #fff;
        position: absolute;
        left: 1px;
		transition: .3s;
    }
	.is-menu-trigger span:nth-of-type(1) {
        top: 0;
    }
	.is-menu-trigger span:nth-of-type(2) {
        top: vw(14);
    }
	.is-menu-trigger span:nth-of-type(3) {
        top: vw(28);
    }
	.is-menu-trigger.is-active span:nth-of-type(1) {
        -webkit-transform: translateY(vw(14)) rotate(-45deg);
        transform: translateY(vw(14)) rotate(-45deg);
    }
	.is-menu-trigger.is-active span:nth-of-type(2) {
        opacity: 0;
    }
	.is-menu-trigger.is-active span:nth-of-type(3) {
        -webkit-transform: translateY(- vw(14)) rotate(45deg);
        transform: translateY(- vw(14)) rotate(45deg);
    }
	
	
	.is-menu-trigger p {
		width: 100%;
		text-align: center;
		color: #fff;
        position: absolute;
        left: 0;
		bottom: 0;
		transition: .3s;
		@include spfz(16);
	}
	
	
	/* l-sp-gnav */
	.l-sp-gnav {
		width: 100%;
		height: 100vh;
		padding: vw(40) 8% vw(40);
		background: rgba(43,38,36,0.9);
		border: 1px solid rgba(112,112,112,0.9);
		position: fixed;
		top: 0;
		left: 100%;
		z-index: 999;
		transition: .3s;
		
		&.is-open {
			left: 0;
		}

		ul {
			width: 100%;
			height: 100%;
			padding:  0 16% 0 0;
			margin: 0 auto 0 0;
			overflow: auto;

			li {
				margin-bottom: vw(50);
				display: block;
			}
		}
	}
	.l-sp-gnav-bordertop {
		padding-top: vw(30);
		border-top: 1px solid #707070;
	}
	.l-sp-gnav-borderbottom {
		padding-bottom: vw(30);
		border-bottom: 1px solid #707070;
	}
	.l-sp-gnav-ttl {
		width: 28vw;
		margin-bottom: vw(64);
	}
	.l-sp-gnav-link {
		display: block;
		@include spfz(32);
		font-weight: 700;
	}
	.l-sp-gnav-reserve-btn {
		display: inline-block;
		padding: vw(16) vw(40);
		background: #1E9D32;
		@include spfz(32);
		font-weight: 700;
	}

	.is-en {
		.l-gnav {

			ul {

				li {

					a {
						@include spfz(32);
					}
				}
			}
		}
	}
}