@charset "UTF-8";




/* #sec-visual
-----------------------------*/
#sec-visual{
	visibility: hidden;
	/*background: url(/hcp/top/img/visual-bg.png) repeat-x;*/
	background: url(../img/visual-bg.png) repeat-x;
}


@media screen and (max-width: 750px){
#sec-visual{
	background: none;
	padding-top: 0;
}
}
#sec-visual.is-active{
	visibility: visible;
}
	#sec-visual .inner{
		width: 1200px;
		margin: 0 auto;
        position: relative;
	}
	@media screen and (max-width: 750px){
	#sec-visual .inner{
		width: 100%;
		margin-top: 0;

		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
        #sec-visual .inner ul.list{
        }
		#sec-visual .inner img{
			width: 100%;
		}
	}

		#sec-visual .inner li{
			outline: none;
		}


    /* #sec-visual  banner */
    #sec-visual .category{
        width: 170px;
        position: absolute;
        top: 0;
        right: 0;
        background: #fff;
    }
    #sec-visual .category .logo{
        position: relative;
    }
    #sec-visual .category--ldt .logo::after{
	    border-color: #fff transparent transparent transparent;
	}
    #sec-visual .category .logo::after{
	    content: "";
        position: absolute;
		bottom: -12px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
        display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 10px 0 10px;
    }
	@media screen and (max-width: 750px){
	    #sec-visual .category .logo::after{
		    display: none;
        }
    }

    #sec-visual .category .logo a{
        height: 105px;
        display: block;
        position: relative;
        -webkit-border-radius: 0 0 3px 3px;
		-moz-border-radius: 0 0 3px 3px;
		border-radius: 0 0 3px 3px;
		background-color: #ec4e58;
        text-align: center;
    }
    #sec-visual .category .logo a img{
        margin-top: 28px;
    }
    #sec-visual .category--ldt .logo a{
    }

    #sec-visual .item-list{
        margin-top: 3px;
        padding-top: 13px;
        background: #ec4e58;
    }
    #sec-visual .item-list .item + .item{
		margin-top: -1px;
	}
    #sec-visual .item-list .item a{
        display: block;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
		border-radius: 3px;
		background-color: #fff;
		border: solid 1px #ec4e58;
    }
    #sec-visual .item-list .item a:hover img, 
    #sec-visual .item-list .item a:hover .text, 
    #sec-visual .item-list .item a:hover::after{
		text-decoration: none;
		opacity: 0.8;
    }

    a.unlink:hover, 
    a.unlink:hover img, 
    a.unlink:hover .icon, 
    a.unlink:hover .text, 
    a.unlink:hover::after{
		text-decoration: none;
		opacity: 1 !important;
    }
    #sec-visual .item--icon a{
    	position: relative;
		height: 67px;
	}
    /* Coming Soon */
    #sec-visual .item--icon a.unlink .comingsoon{
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: right;
        box-sizing: border-box;
        font-size: 20px;
        z-index: 2;
    }

	@media screen and (max-width: 750px){
		#sec-visual .item--icon a{
	    	height: 40px;
		}
    }
    #sec-visual .item--icon a::after,
    #sec-visual .item--top a::after{
		content: "";
		display: inline-block;
        width: 10px;
        height: 10px;
		background: url(../../common/img/icon-arrow.png) no-repeat center center;
		background-size: auto 10px;
		position: absolute;
		right: 10px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
    #sec-visual .item--icon .icon{
	    display: table;
		width: 44px;
		height: auto;

		position: absolute;
		top: 50%;
		left: 0;

		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
    }
	#sec-visual .item--icon .icon span{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	#sec-visual .item--icon .icon img{
		width: 32px;
	}
	@media screen and (max-width: 750px){
		#sec-visual .item--icon .icon img{
	        width: 36px;
		}
    }

	#sec-visual .item--icon--patient .icon img{
		width: 24px;
		position: relative;
		left: 3px;
	}
	#sec-visual .item--icon--magazine .icon img{
		position: relative;
		left: 2px;
	}
    #sec-visual .item--icon--seminar .icon img{
		position: relative;
		left: 2px;
	}
	@media screen and (max-width: 750px){
	    #sec-visual .item--icon--patient .icon img{
		    width: 30px;
        }
    }
    #sec-visual .item--icon .text{
		position: absolute;
        top: 50%;
		left: 54px;

		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
        color: #867b74;
        font-size: 12px;
    }

/* #sec-info
-----------------------------*/
#sec-info{
	visibility: hidden;
}
#sec-info.is-active{
	visibility: visible;
}

	#sec-info .wrap{
		display: table;
		width: 100%;
		margin: 15px 0;
	}
	@media screen and (max-width: 750px){
	#sec-info .wrap{
		display: block;
	}
	}

	#sec-info .title,
	#sec-info .list-wrap,
	#sec-info .btn-list,
	#sec-info .btn-detail{
		display: table-cell;
		vertical-align: middle;
	}
	@media screen and (max-width: 750px){
	#sec-info .title,
	#sec-info .list-wrap,
	#sec-info .btn-list,
	#sec-info .btn-detail{
		display: block;
		vertical-align: middle;
	}
	}

	#sec-info .title{
		width: 103px;
		font-size: 18px;
		font-weight: bold;

		border-right: 1px solid #ccc;
	}
	@media screen and (max-width: 750px){
	#sec-info .title{
		width: 100%;
		font-size: 16px;

		border-right: none;
		padding-bottom: 10px;

		position: relative;
	}
		#sec-info .title span{
			background: #fff;
			display: inline-block;
			padding-right: 10px;
			position: relative;
			z-index: 10;
		}
		#sec-info .title::after{
			content: "";
			position: absolute;
			display: inline-block;
			width: 100%;
			top: 12px;
			left: 0;

			height: 1px;
			background: #ccc;
		}
	}

	/* .list
	-----------------------------*/
	#sec-info .list-wrap{
		padding: 0  0 0 30px;
	}
	@media screen and (max-width: 750px){
	#sec-info .list-wrap{
		padding: 0;
	}
	}
		#sec-info .slick-arrow{
			display: none !important;
		}
		#sec-info .list-wrap .inner{
			width: 840px;
		}
		#sec-info .list-wrap .list{
			position: relative;
			top: 2px;
		}

			/* .item
			-----------------------------*/
			#sec-info .list-wrap .item{
				width: 100%;
			}
			@media screen and (max-width: 750px){
			#sec-info .list-wrap .item{
				position: relative;
			}
			}

			#sec-info .list-wrap .item a{
				display: block;
			}
				#sec-info .list-wrap .date{
					font-size: 15px;
					font-weight: bold;

					padding-right: 30px;
					float: left;
				}
				@media screen and (max-width: 750px){
				#sec-info .list-wrap .date{
					font-size: 12px;
					padding-right: 0;
					float: none;
					position: relative;
					top: 2px;
				}
				}
					#sec-info .list-wrap .text-wrap{
						display: table;
						overflow: hidden;
					}
					@media screen and (max-width: 750px){
					#sec-info .list-wrap .text-wrap{
						display: block
					}
					}

					#sec-info .list-wrap .text-wrap .category{
						display: table-cell;
						vertical-align: middle;

						width: 110px;
						text-align: center;
					}
					@media screen and (max-width: 750px){
					#sec-info .list-wrap .text-wrap .category{
						display: block;
						position: absolute;
						top: 0;
						left: 70px;
					}
					}

						#sec-info .list-wrap .text-wrap .category span{
							display: inline-block;
							width: 100%;
							font-size: 10px;

							-webkit-border-radius: 3px;
							-moz-border-radius: 3px;
							border-radius: 3px;

							padding: 3px;
							color: #fff;
						}

						#sec-info .list-wrap .text-wrap .category--humalog span{
							background: #a31b53;
						}
						#sec-info .list-wrap .text-wrap .category--glargine span{
							background: #666;
						}
						#sec-info .list-wrap .text-wrap .category--trulicity span{
							background: #77b239;
						}
						#sec-info .list-wrap .text-wrap .category--trazenta span{
							background: #364789;
						}
						#sec-info .list-wrap .text-wrap .category--jardiance span{
							background: #168686;
						}
						#sec-info .list-wrap .text-wrap .category--lilly span{
							background: #d21c23;
						}

					#sec-info .list-wrap .text-wrap .text{
						display: table-cell;
						padding-left: 10px;
					}
					@media screen and (max-width: 750px){
					#sec-info .list-wrap .text-wrap .text{
						display: block;
						padding-left: 0;
						padding-top: 10px;
					}
					}



	/* .btn-list
	-----------------------------*/
	#sec-info  .btn-list{
		overflow: hidden;
		width: 62px;

		line-height: 1;
	}
	@media screen and (max-width: 750px){
	#sec-info  .btn-list{
		display: none;
	}
	}
		#sec-info  .btn-list .btn{
			float: left;
			width: 30px;
			height: 24px;

			-webkit-transition: opacity .2s;
			-moz-transition: opacity .2s;
			transition: opacity .2s;
		}
		#sec-info  .btn-list .btn:hover{
			opacity: 0.6;
		}
			#sec-info  .btn-list .btn span{
				display: inline-block;
				width: 24px;
				height: 24px;

				cursor: pointer;
			}

		#sec-info  .btn-list .btn-prev{
			float: left;
			/*background: url(/hcp/common/img/icon-arrow-rev.png) no-repeat center center;*/
			background: url(../../common/img/icon-arrow-rev.png) no-repeat center center;
			background-size: auto 10px;
		}
		#sec-info  .btn-list .btn-next{
			float: right;
			/*background: url(/hcp/common/img/icon-arrow.png) no-repeat center center;*/
			background: url(../../common/img/icon-arrow.png) no-repeat center center;
			background-size: auto 10px;

			text-align: right;

			border-left: 1px solid #ccc;
		}


	/* .btn-detail
	-----------------------------*/
	#sec-info .btn-detail{
		padding-left: 10px;
	}
	@media screen and (max-width: 750px){
	#sec-info .btn-detail{
		position: static;
		padding-left: 0;
		text-align: center;
		margin-top: 20px;
	}
	}
		#sec-info .btn-detail a{
			color: #d21c23;
			font-size: 15px;

			display: inline-block;
			width: 160px;
			height: 35px;

			text-align: center;
			line-height: 32px;

			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			border: solid 1px #d21c23;

			position: relative;
		}
		@media screen and (max-width: 750px){
		#sec-info .btn-detail a{
			display: inline-block;
			width: 59.42028985507246%;/* 410/690 */
			height: auto;

			line-height: 1;

			padding: 15px;
		}
		}
			#sec-info .btn-detail a::after{
				content: "";
				display: inline-block;

				width: 10px;
				height: 10px;

				/*background: url(/hcp/common/img/icon-arrow-red.png) no-repeat center center;*/
				background: url(../../common/img/icon-arrow-red.png) no-repeat center center;
				background-size: auto 10px;

				position: absolute;
				right: 5px;
				top: 50%;

				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
			}


		#sec-info .btn-detail a:hover{
			text-decoration: none;
			background: #d21c23;
			color: #fff;
		}
			#sec-info .btn-detail a:hover::after{
				/*background: url(/hcp/common/img/icon-arrow-white.png) no-repeat center center;*/
				background: url(../../common/img/icon-arrow-white.png) no-repeat center center;
				background-size: auto 10px;
			}




/* #sec-contents
-----------------------------*/
#sec-contents{
	background: #f7f7f6;
	padding: 25px 0 40px;
}
@media screen and (max-width: 750px){
#sec-contents{
	padding: 30px 0;
}
}
	#sec-contents .title{
		position: relative;
		display: inline-block;
		vertical-align: middle;

		padding-right: 20px;
		margin-right: 20px;
		border-right: 1px solid #ccc;
	}
	@media screen and (max-width: 750px){
	#sec-contents .title{
		display: block;
		text-align: center;

		padding-right: 0;
		margin-right: 0;
		border-right: none;
	}
	}


		@media screen and (max-width: 750px){
		#sec-contents .title::before{
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background: #ddd;
			border-bottom: 1px solid #fff;

			position: absolute;
			z-index: 1;
			top: 50%;
			left: 0;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		}
		}

		#sec-contents .title span{
			display: inline-block;
			position: relative;
			z-index: 100;

			font-size: 24px;
			font-weight: 700;
			line-height: 1;

			background: #f7f7f6;
		}
		@media screen and (max-width: 750px){
		#sec-contents .title span{
			font-size: 18px;
			padding: 0 13px;
		}
		}


	#sec-contents .lead{
		font-size: 14px;
		display: inline-block;
		vertical-align: middle;
	}
	@media screen and (max-width: 750px){
	#sec-contents .lead{
		font-size: 11px;
		padding: 20px 0;
		text-align: left;
	}
	}



	/* .category-wrap
	-----------------------------*/
	#sec-contents .category-wrap{
		overflow: hidden;
		margin-top: 23px;
	}
	@media screen and (max-width: 750px){
	#sec-contents .category-wrap{
		margin-top: 0;
	}
	}
		#sec-contents .category{
			width: 224px;
			float: left;
		}
        #sec-contents .category--ldt{
            display: none;
        }

		@media screen and (max-width: 750px){
		#sec-contents .category{
			width: 100%;
			float: none;
			padding: 10px;

			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;

			background: #fff;
		}

		#sec-contents .category--ldt{
			border: solid 1px #ec4e58;
			border-bottom: 3px solid #ec4e58;
            display: block;
		}

		#sec-contents .category--humalog{
			border: solid 1px #a31b53;
			border-bottom: 3px solid #a31b53;
		}
		#sec-contents .category--glargine{
			border: solid 1px #666;
			border-bottom: 3px solid #666;
		}
		#sec-contents .category--trulicity{
			border: solid 1px #77b239;
			border-bottom: 3px solid #77b239;
		}
		#sec-contents .category--trazenta{
			border: solid 1px #364789;
			border-bottom: 3px solid #364789;
		}
		#sec-contents .category--jardiance{
			border: solid 1px #168686;
			border-bottom: 3px solid #168686;
		}
		}

		#sec-contents .category + .category{
			margin-left: 20px;
		}
        #sec-contents .category--trulicity{
            margin-left: 0 !important;
        }
		@media screen and (max-width: 750px){
		#sec-contents .category + .category{
			margin-left: 0;
			margin-top: 10px;
		}
		}

			/* .logo
			-----------------------------*/
			#sec-contents .category .logo{
				position: relative;
				padding-bottom: 10px;
				margin-bottom: 10px;
			}
			@media screen and (max-width: 750px){
			#sec-contents .category .logo{
				padding-bottom: 0;
				margin-bottom: 0;

				margin:  -10px;
			}
			}
				#sec-contents .category .logo::after{
					content: "";

					position: absolute;
					bottom: 0;
					left: 50%;
					-webkit-transform: translateX(-50%);
					-ms-transform: translateX(-50%);
					transform: translateX(-50%);

					display: block;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 10px 10px 0 10px;
				}
				@media screen and (max-width: 750px){
				#sec-contents .category .logo::after{
					display: none;
				}
				}

				#sec-contents .category--humalog .logo::after{
					border-color: #a31b53 transparent transparent transparent;
				}
				#sec-contents .category--glargine .logo::after{
					border-color: #666 transparent transparent transparent;
				}
				#sec-contents .category--trulicity .logo::after{
					border-color: #77b239 transparent transparent transparent;
				}
				#sec-contents .category--trazenta .logo::after{
					border-color: #364789 transparent transparent transparent;
				}
				#sec-contents .category--jardiance .logo::after{
					border-color: #168686 transparent transparent transparent;
				}


				#sec-contents .category .logo a{
					height: 92px;
					position: relative;

					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
					background-color: #fff;
				}
				@media screen and (max-width: 750px){
				#sec-contents .category .logo a{
					height: auto;
					position: relative;

					padding: 0;
				}
				}

				#sec-contents .category--humalog .logo a{
					border: solid 1px #a31b53;
					border-bottom: 3px solid #a31b53;
				}
				#sec-contents .category--glargine .logo a{
					border: solid 1px #666;
					border-bottom: 3px solid #666;
				}
				#sec-contents .category--trulicity .logo a{
					border: solid 1px #77b239;
					border-bottom: 3px solid #77b239;
				}
				#sec-contents .category--trazenta .logo a{
					border: solid 1px #364789;
					border-bottom: 3px solid #364789;
				}
				#sec-contents .category--jardiance .logo a{
					border: solid 1px #168686;
					border-bottom: 3px solid #168686;
				}

				@media screen and (max-width: 750px){
				#sec-contents .category .logo a{
					border: none;
				}
				}



					#sec-contents .category .logo a::after{
						content: "";
						position: absolute;
						top: 50%;
						right: 15px;
						-webkit-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						transform: translateY(-50%);

						/*background: url(/hcp/common/img/icon-arrow.png) no-repeat;*/
						background: url(../../common/img/icon-arrow.png) no-repeat;
						background-size: auto 10px;

						display: block;
						width: 6px;
						height: 10px;
					}

					#sec-contents .category .logo a[target="_blank"]::after{
						/*background: url(/hcp/common/img/icon-blank.png) no-repeat;*/
						background: url(../../common/img/icon-blank.png) no-repeat;
						background-size: auto 9px;

						display: block;
						width: 9px;
						height: 10px;
					}

					@media screen and (max-width: 750px){
					#sec-contents .category .logo a::after{
						right: 10px;
						position: absolute;
						/*background: url(/hcp/common/img/icon-toggle-sprite.png) no-repeat !important;*/
						background: url(../../common/img/icon-toggle-sprite.png) no-repeat !important;
						background-size: 25px auto !important;
						width: 25px !important;
						height: 25px !important;
					}
					#sec-contents .category .logo a.is-open::after{
						background-position: 0 -25px !important;
					}
					}



				/* [ ロゴ画像位置調整 ]
				-----------------------------*/
				#sec-contents .category .logo span{
					display: block;
					width: 100%;
					overflow: hidden;
					text-align: center;

					position: absolute;
					left: 0;
					top: 50%;
					-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);
				}
				@media screen and (max-width: 750px){
				#sec-contents .category .logo span{
					position: static;
					-webkit-transform: translateY(0);
					-ms-transform: translateY(0);
					transform: translateY(0);
				}
				}

				#sec-contents .category--humalog .logo img{
					height: 64px;
				}
				#sec-contents .category--glargine .logo img{
					height: 82px;
					position: relative;
					left: -24px;
				}
				#sec-contents .category--trulicity .logo img{
					height: 57px;
					position: relative;
					left: -5px;
					top: -3px;

				}
				#sec-contents .category--trazenta .logo img{
					height: 62px;
					position: relative;
					left: 5px;
				}
				#sec-contents .category--jardiance .logo img{
					height: 55px;
					position: relative;
					left: -10px;
				}

				@media screen and (max-width: 750px){
				#sec-contents .category .logo img{
					height: 55px;
					position: static;
				}
				}


	/* .item-list
	-----------------------------*/
	#sec-contents .item-list{
	}
	@media screen and (max-width: 750px){
	#sec-contents .item-list{
		margin-top: 15px;

		display: none;
	}
	}
		#sec-contents .item-list .item{
		}
		#sec-contents .item-list .item + .item{
			margin-top: 10px;
		}


			#sec-contents .item-list .item a{
				display: block;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				background-color: #fff;
				border: solid 1px;
			}
			#sec-contents .category--ldt .item-list .item a{
				border-color: #ec4e58;
			}
			#sec-contents .category--humalog .item-list .item a{
				border-color: #e8cddc;
			}
			#sec-contents .category--glargine .item-list .item a{
				border-color: #ccc;
			}
			#sec-contents .category--trulicity .item-list .item a{
				border-color: #c3e49b;
			}
			#sec-contents .category--trazenta .item-list .item a{
				border-color: #bdc6e0;
			}
			#sec-contents .category--jardiance .item-list .item a{
				border-color: #b6d8d5;
			}

			#sec-contents .item-list .item a:hover{
				text-decoration: none;
				opacity: 0.8;
			}

            /* ldt coming soom*/     
			#sec-contents .category--ldt .item-list .item a.unlink{
                position: relative;
                background: #eeeeee;
			}
			#sec-contents .category--ldt .item-list .item a.unlink .comingsoon{
				position: absolute;
                width: 100%;
                height: 100%;
                text-align: right;
                z-index: 2;
			}

			/* .item--top
			-----------------------------*/
			#sec-contents .item-list .item--top{
				display: none;
			}
			@media screen and (max-width: 750px){
			#sec-contents .item-list .item--top{
				display: block;
			}
				#sec-contents .item-list .item--top .text{
					display: block;
					padding: 0 14px;

					position: absolute;
					top: 50%;
					left: 0;

					-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);
				}

			}

			/* .item--photo
			-----------------------------*/
			#sec-contents .item--photo{
			}
				#sec-contents .item--photo .photo img{
					width: 100%;

					-webkit-border-radius: 3px 3px 0 0;
					-moz-border-radius: 3px 3px 0 0;
					border-radius: 3px 3px 0 0;
				}
				#sec-contents .item--photo .text{
					-webkit-border-radius: 0  0 3px 3px;
					-moz-border-radius: 0  0 3px 3px;
					border-radius: 0  0 3px 3px;
					margin: 0 -1px -1px;

					color: #fff;

					padding: 14px;
					position: relative;
				}

				#sec-contents .category--humalog .item--photo .text{
					background: #a31b53;
				}
				#sec-contents .category--glargine .item--photo .text{
					background: #666;
				}
				#sec-contents .category--trulicity .item--photo .text{
					background: #77b239;
				}

					#sec-contents .item--photo .text::after{
						content: "";
						content: "";
						display: inline-block;

						width: 10px;
						height: 10px;

						/*background: url(/hcp/common/img/icon-arrow-white.png) no-repeat center center;*/
						background: url(../../common/img/icon-arrow-white.png) no-repeat center center;
						background-size: auto 10px;

						position: absolute;
						right: 5px;
						top: 50%;

						-webkit-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						transform: translateY(-50%);
					}


			/* .item--icon
			-----------------------------*/
			#sec-contents .item--icon{
			}
				#sec-contents .item--icon a,
				#sec-contents .item--top a{
					position: relative;
					height: 90px;
				}
				@media screen and (max-width: 750px){
				#sec-contents .item--icon a,
				#sec-contents .item--top a{
					height: 60px;
				}
				}
					#sec-contents .item--icon a::after,
					#sec-contents .item--top a::after{
						content: "";
						display: inline-block;

						width: 10px;
						height: 10px;

						/*background: url(/hcp/common/img/icon-arrow.png) no-repeat center center;*/
						background: url(../../common/img/icon-arrow.png) no-repeat center center;
						background-size: auto 10px;

						position: absolute;
						right: 10px;
						top: 50%;

						-webkit-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						transform: translateY(-50%);
					}
					#sec-contents .item--icon a[target="_blank"]::after,
					#sec-contents .item--top a[target="_blank"]::after{
						/*background: url(/hcp/common/img/icon-blank.png) no-repeat;*/
						background: url(../../common/img/icon-blank.png) no-repeat;
						background-size: auto 9px;

						display: block;
						width: 9px;
						height: 10px;
					}


				#sec-contents .item--icon .icon{
					display: table;
					width: 94px;
					height: 90px;

					position: absolute;
					top: 50%;
					left: 0;

					-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);
				}
					#sec-contents .item--icon .icon span{
						display: table-cell;
						vertical-align: middle;
						text-align: center;
					}
					#sec-contents .item--icon .icon img{
						width: 46px;
					}
					@media screen and (max-width: 750px){
					#sec-contents .item--icon .icon img{
						width: 36px;
					}
					}

					#sec-contents .item--icon--product .icon img{
						position: relative;
						left: 5px;
					}
					#sec-contents .item--icon--basic .icon img{
						position: relative;
						left: 2px;
					}
					#sec-contents .item--icon--patient .icon img{
						width: 37px;
					}
					@media screen and (max-width: 750px){
					#sec-contents .item--icon--patient .icon img{
						width: 30px;
					}
					}


				#sec-contents .item--icon .text{
					position: absolute;
					top: 50%;
					left: 94px;

					-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);
				}

				#sec-contents .category--humalog .item--icon .text,
				#sec-contents .category--humalog .item--top .text{
					color: #a31b53
				}
				#sec-contents .category--glargine .item--icon .text,
				#sec-contents .category--glargine .item--top .text{
					color: #333
				}
				#sec-contents .category--trulicity .item--icon .text,
				#sec-contents .category--trulicity .item--top .text{
					color: #77b239
				}
				#sec-contents .category--trazenta .item--icon .text,
				#sec-contents .category--trazenta .item--top .text{
					color: #364789
				}
				#sec-contents .category--jardiance .item--icon .text,
				#sec-contents .category--jardiance .item--top .text{
					color: #168686
				}



	/* .btn-q
	-----------------------------*/
	#sec-contents .btn-q{
		text-align: center;
		padding: 40px 0 0;
	}
	@media screen and (max-width: 750px){
	#sec-contents .btn-q{
		padding: 30px 0 0;
	}
	}
		#sec-contents .btn-q .btn{
			width: 630px;
			margin: 0 auto;
		}
		@media screen and (max-width: 750px){
		#sec-contents .btn-q .btn{
			width: 100%;
		}
		}

		#sec-contents .btn-q .btn a{
			background: #fff;
			display: block;

			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			border: solid 1px #d21c23;

			line-height: 1;
			font-size: 16px;
			color: #d21c23;

			padding: 20px 0;

			position: relative;
		}
		@media screen and (max-width: 750px){
		#sec-contents .btn-q .btn a{
			font-size: 15px;
			line-height: 1.3;
			padding: 20px 40px 20px 20px
		}
		}


		#sec-contents .btn-q .btn a:hover{
			text-decoration: none;
			background: #d21c23;
			color: #fff;
		}


		#sec-contents .btn-q .btn a::after{
			content: "";
			display: inline-block;

			width: 10px;
			height: 10px;

			background: url(/hcp/common/img/icon-arrow-red.png) no-repeat center center;
			background-size: auto 10px;

			position: absolute;
			right: 19px;
			top: 50%;

			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		}
		@media screen and (max-width: 750px){
		#sec-contents .btn-q .btn a::after{
			right: 14px;
		}
		}
			#sec-contents .btn-q .btn a:hover::after{
				background: url(/hcp/common/img/icon-arrow-white.png) no-repeat center center;
				background-size: auto 10px;
			}
