/*======================================================================
# mixin
======================================================================*/
/*======================================================================
# color
======================================================================*/
/*======================================================================
# font
======================================================================*/
::placeholder {
  color: #B8B8B8;
}

/* IE */
:-ms-input-placeholder {
  color: #B8B8B8;
}

/* Edge */
::-ms-input-placeholder {
  color: #B8B8B8;
}

/*======================================================================
# common
======================================================================*/

.inner {
  max-width: 960px;
  width: 95%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .inner {
    width: 87%;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*======================================================================
# parts
======================================================================*/
.acc {
  position: relative;
}

.acc::before {
  height: 0;
  display: block;
  position: absolute;
  right: 0;
  content: "";
  border-top: solid 30px #dee3ec;
  border-left: solid 30px transparent;
  top: 0;
}

.acc::after {
  height: 0;
  display: block;
  position: absolute;
  right: 0;
  content: "";
  border-bottom: solid 30px #9cabc7;
  border-right: solid 30px transparent;
  top: 0;
}

/* sec05
----------------------------------------------------------------------*/
.sec05 {
  background: #F0F6FC;
  padding: 180px 0 50px;
}
.sec05 .sec-ttl {
	font-size: 35px;
	font-weight: 700;
	text-align: center;
}
.sec05 .inner .contact {
  margin-top: 75px;
}

.sec05 .inner .contact > .flex {
  margin-bottom: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec05 .inner .contact > .flex:last-child {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sec05 .inner .contact > .flex:last-child dt {
  margin-top: 25px;
}

@media screen and (max-width: 768px) {
	.sec05 {
	  padding: 22vw 0 10vw;
	}
  .sec05 .inner .contact > .flex:last-child dt {
    margin-top: 0;
  }
}

.sec05 .inner .contact > .flex dt {
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec05 .inner .contact > .flex dt .name {
  margin-right: 10px;
}

.sec05 .inner .contact > .flex dt .required {
  font-size: 14px;
  letter-spacing: 0.02em;
  width: 42px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #BF0B2F;
  color: #fff;
}

.sec05 .inner .contact > .flex dd {
  width: calc(100% - 260px);
}

.sec05 .inner .contact > .flex dd select {
  width: 100%;
  height: 80px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff;
  padding: 0 15px;
  font-size: 18px;
  border: none;
  outline: none;
  color: #234583;
}

.sec05 .inner .contact > .flex dd select:hover {
  cursor: pointer;
}

.sec05 .inner .contact > .flex dd input {
  width: 100%;
  height: 80px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff;
  padding: 0 15px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0;
  box-sizing: border-box;
}

.sec05 .inner .contact > .flex dd textarea {
  width: 100%;
  resize: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff;
  padding: 15px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .sec05 .inner .contact > .flex dd {
    width: 100%;
    margin-top: 10px;
  }
  .sec05 .inner .contact > .flex dd select {
    height: 40px;
    font-size: 16px;
  }
  .sec05 .inner .contact > .flex dd input {
    height: 40px;
    padding: 0 5px;
    font-size: 16px;
  }
  .sec05 .inner .contact > .flex dd textarea {
    padding: 5px;
    font-size: 16px;
  }
}

.sec05 .inner .btn-area {
  margin: 70px 0 100px;
}

.sec05 .inner .btn-area .flex {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 0;
}

.sec05 .inner .btn-area .flex .contact-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
}

.sec05 .inner .btn-area .flex .contact-btn::after {
  display: none;
}

.sec05 .inner .btn-area .flex .contact-btn:hover {
  opacity: .7;
  cursor: pointer;
}
/*
.sec-confirm .inner .contact {
  margin-top: 0;
}
*/
.sec-confirm .inner .contact > .flex:last-child dt {
  margin-top: 0;
}

.sec-confirm .inner .btn-area .flex .contact-btn + .contact-btn {
  margin-left: 4%;
}

.sec-thanks .inner {
  padding-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .sec-thanks .inner {
    padding-bottom: 50px;
  }
}

/*
.sec-thanks .inner p {
  line-height: 1.6;
  font-size: 1.2em;
}
*/

#error_message {
  margin-top: 2em;
  font-size: 1.5em;
  text-align: center;
}

.cRed {
  color: #FF0000;
}

form dd .cRed {
  margin-top: 1em;
}

.btn-area .flex .contact-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	  -ms-flex-align: center;
		  align-items: center;
	-webkit-box-pack: center;
	  -ms-flex-pack: center;
		  justify-content: center;
	background: #2EA7E0;
	width: 500px;
	height: 60px;
	margin: 0 auto;
	border-radius: 30px;
	font-size: 18px;
	-webkit-font-feature-settings: "palt";
		  font-feature-settings: "palt";
	letter-spacing: 0.02em;
	color: #fff;
	font-weight: 500;
	position: relative;
}
.btn-area .flex .contact-btn.btn-back {
	background: #CCC;
}

.pp-wrap {
	margin: 0 auto;
}
.pp-note {
    margin: 0 auto 20px;
    text-align: center;
}
.pp-txt {
    margin: 0 auto;
    overflow-y: scroll;
    border: 1px solid #022662;
    padding: 15px 10px;
    width: 100%;
    height: 160px;
	background: #fff;
    text-align: left;
    line-height: 1.5;
    font-size: 14px;
}
.pp-txt h3 {
    margin: 0 auto 20px;
    text-align: center;
    font-size: 20px;
	font-weight: 700;
}
.pp-txt h4 {
    margin: 10px auto 10px;
    font-size: 16px;
	font-weight: 700;
}
.pp-txt a {
	text-decoration: underline;
}

@media screen and (max-width: 768px) {
	
	.sec05 .inner .btn-area {
	  margin: 12vw 0 6vw;
	}
	.pp-wrap {
		margin: 0 auto;
	}
	.pp-note {
		margin: 0 auto 4vw;
		text-align: left;
	}
	.pp-txt {
		margin: 0 auto;
		overflow-y: scroll;
		border: 1px solid #022662;
		padding: 3vw 2vw;
		width: 100%;
		height: 40vw;
		font-size: 3.0vw;
	}
	.pp-txt h3 {
		margin: 0 auto 4vw;
		font-size: 3.6vw;
	}
	.pp-txt h4 {
		margin: 2vw auto;
		font-size: 3.4vw;
	}
	.btn-area .flex .contact-btn {
		width: 100%;
		max-width: 440px;
		height: 12vw;
		font-size: 3.4vw;
	}
}


.txt-note {
	margin: 20px auto 40px;
	text-align: center;
}
.download-materials {
	width: 100%;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
}
.download-materials .box-left {
	width: 300px;
}
.download-materials .box-right {
	width: calc(100% - 350px);
}
.download-materials .box-right .material-ttl {
	margin-bottom: 20px;
	font-size: 23px;
	font-weight: 700;
}
.download-materials .box-right .material-txt {
	word-break: break-all;
}

@media screen and (max-width: 768px) {
	.txt-note {
		margin: 4vw auto 8vw;
		text-align: left;
	}
	.download-materials {
		width: 100%;
		padding: 5vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background: #fff;
	}
	.download-materials .box-left {
		width: 70%;
	}
	.download-materials .box-right {
		width: 100%;
		margin-top: 2vw;
	}
	.download-materials .box-right .material-ttl {
		margin-bottom: 2vw;
		font-size: 4.2vw;
		text-align: center;
	}
}


.thanks-ttl {
	margin: 20px auto 50px;
	text-align: center;
	font-size: 30px;
	font-weight: 900;
}
.thanks-txt {
	text-align: center;
	line-height: 2;
}
.thanks-tel {
	margin: 60px auto 0;
	text-align: center;
	font-weight: 700;
}
.thanks-tel a {
	font-size: 30px;
}

@media screen and (max-width: 768px) {
	.thanks-ttl {
		margin: 0 auto 10vw;
		text-align: center;
		font-size: 5.4vw;
	}
	.thanks-txt {
		text-align: left;
		line-height: 2;
	}
	.thanks-tel {
		margin: 10vw auto 0;
		text-align: center;
		font-weight: 700;
	}
	.thanks-tel a {
		font-size: 5.4vw;
	}
	
}

