@charset "UTF-8";

/* ------------------------------------------------
                  下層
--------------------------------------------------- */

/*---------- 共通 ----------*/
body {
	background: #d7e6fc;
}
.sec-ttl {
	margin-bottom: 50px;
	padding: 0 25px;
	display: inline-block;
	border-left: 1px solid #00031f;
	border-right: 1px solid #00031f;
	position: relative;
	font-size: 40px;
	font-weight: 600;
	line-height: 1;
}

@media (max-width: 768px) {
	.sec-ttl {
		margin-bottom: 10vw;
		padding: 0 5vw;
		font-size: 5.2vw;
	}
}

/*---------- float btn ----------*/
.float-btn {
	width: 140px;
	display: block;
	position: fixed;
	bottom: 30vh;
	right: 0;
	z-index: 100;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.float-btn a {
	width: 100%;
	height: 140px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.float-btn .btn-float-download {
    background: #193760;
}
.float-btn .btn-float-contact {
    background: #274d83;
}
.float-btn a img {
	width: 80%;
	max-width: 50px;
	margin: 0 auto 10px;
}
.float-btn a p {
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
}
@media (max-width: 1400px) {
	.float-btn {
		bottom: 40vh;
	}
}

@media (max-width: 768px) {
	body {
		padding-bottom: 12vw;
	}
	.float-btn {
		width: 100%;
		display: flex;
		top: auto;
		bottom: 0;
		right: 0;
	}
	.float-btn.is-fixed {
		top: auto;
		bottom: 0;
	}
	.float-btn a {
		width: 50%;
		height: 12vw;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
	}
	.float-btn a img {
		width: 6vw;
		margin: 0 3vw 0 0;
	}
	.float-btn a p {
		font-size: 3.0vw;
	}
}



/*---------- 資料ダウンロード ----------*/
.sec-download {
	width: 100%;
	padding: 200px 0 100px;
	text-align: center;
}
.sec-download .lead-txt {
	font-size: 15px;
	text-align: left;
}
.sec-download .download-box-wrap {
	width: 100%;
	margin: 40px auto 0;
	padding: 50px 60px;
	justify-content: space-between;
	background: #fff;
}
.sec-download .download-box-wrap .download-img-box {
	width: 300px;
}
.sec-download .download-box-wrap .download-txt-box {
	width: calc(100% - 340px);
	text-align: left;
}
.sec-download .download-box-wrap .download-txt-box h3 {
	font-size: 23px;
	font-weight: 600;
}
.sec-download .download-box-wrap .download-txt-box .download-txt {
	font-size: 15px;
}


@media (max-width: 768px) {
	.sec-download {
		width: 100%;
		padding: 18vw 0 12vw;
	}
	.sec-download .lead-txt {
		font-size: 3.4vw;
	}
	.sec-download .download-box-wrap {
		width: 100%;
		margin: 8vw auto 0;
		padding: 6vw;
	}
	.sec-download .download-box-wrap .download-img-box {
		width: 100%;
		margin-bottom: 5vw;
	}
	.sec-download .download-box-wrap .download-txt-box {
		width: 100%;
	}
	.sec-download .download-box-wrap .download-txt-box h3 {
		font-size: 4.4vw;
	}
	.sec-download .download-box-wrap .download-txt-box .download-txt {
		font-size: 3.4vw;
	}
}



/*---------- フォーム埋め込み ※仮なので埋め込み時適宜調整お願いします ----------*/
.form-area-wrap {
	width: 100%;
	margin-top: 50px;
	padding: 20px;
	background: #fff
	/*border: 1px solid #00031f;*/
}

@media (max-width: 768px) {
	.form-area-wrap {
		width: 100%;
		margin-top: 8vw;
		padding: 2vw;
	}
}