#MCACP0050B0000_form div.p-customsearch__box {
    position: absolute;
    width: 60%;
    right: 10px;
    background: rgba(255,0,0,0.0);
    top: 52px;
    padding: 3px;
    box-shadow: 0 0 5px #f7f7f7;
}

#MCACP0050B0000_form .ui-menu-item-wrapper {
    padding: 0 20px;
    background-color: #FFFFFF;
    z-index: 2;
    text-align: left;
}

#MCACP0050B0000_form .ui-menu-item-wrapper p {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
}

#MCACP0050B0000_form .ui-menu-item-wrapper:hover {
    background-color: #F7EE4D;
}

.ui-menu-item-wrapper p big {
    font-size: 0.8571428571em;
}
@media (max-width: 768px) {
    .p-productsearch__box_freeword input[type="text"] {
        width: 100%;
        height: 30px;
    }

    #MCACP0050B0000_form div.p-productsearch__box_freeword {
        width: 86%;
    }
}

@media screen and (min-width: 768px) {
    .MCACP0050B0001_sp {
        display: none;
    }
}