@charset "UTF-8";

/* ------------------------------------------------
                   DEMO MACHINE
--------------------------------------------------- */
.read-txt {
	margin: 30px auto 70px;
	font-weight: bold;
	text-align: center;
}

/*---------- 一覧 ----------*/
ul.demo-list {
	width: 100%;
	margin: 0 auto;
	padding: 0 0 45px;
	display: flex;
	flex-wrap: wrap;
}
ul.demo-list li {
	width: 23.5%;
	margin: 0 2% 30px 0;
}
ul.demo-list li:nth-child(4n) { margin-right: 0;}

ul.demo-list li .img-wrap {
	width: 100%;
	padding-bottom: 10px;
	background: #fff;
}
ul.demo-list li .img-wrap img {
	width: 80%;
	margin: 0 auto;
}

ul.demo-list li .product-ttl {
	width: 90%;
	height: 60px;
	margin: -15px auto 0;
	padding: 0 5px;
	display: flex;
	align-items: center;
	justify-content: center;
    text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.2;
	position: relative;
    z-index: 1;
}
ul.demo-list li .product-ttl::before{
    content: '';
    background: #002060;
    transform: skewX(-10deg);
    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    z-index: -1;
}

@media (max-width: 768px) {
	.read-txt {
		margin: 4vw auto 10vw;
		font-weight: bold;
		text-align: center;
	}

	ul.demo-list {
		width: 100%;
		margin: 0 auto;
		padding: 0 0 10vw;
		display: flex;
		flex-wrap: wrap;
	}
	ul.demo-list li {
		width: 48%;
		margin: 0 4% 6vw 0;
	}
	ul.demo-list li:nth-child(2n) { margin-right: 0;}

	ul.demo-list li .img-wrap {
		width: 100%;
		padding-bottom: 2vw;
		background: #fff;
	}
	ul.demo-list li .img-wrap img {
		width: 90%;
		margin: 0 auto;
	}

	ul.demo-list li .product-ttl {
		width: 90%;
		height: 13vw;
		margin: -3vw auto 0;
		padding: 0 1vw;
		font-size: 3.4vw;
	}
}



/*---------- 詳細ページ ----------*/
.sec-product-detail {
	width: 100%;
	margin: 0 auto;
	padding: 20px 0 80px;
}
.sec-product-detail .product-detail-name {
	width: 100%;
	margin-bottom: 20px;
	padding: 12px 20px;
	background: #002060;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	line-height: 1;
}
.sec-product-detail .product-detail-box {
	width: 100%;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.sec-product-detail .product-detail-box .box-left {
	width: 500px;
}
.sec-product-detail .product-detail-box .product-feature-ttl {
	width: 100%;
	margin: 20px auto 15px;
	padding: 5px 10px;
	border-left: 6px solid #002060;
	border-bottom: 1px solid #002060;
	font-size: 20px;
	font-weight: bold;
	line-height: 1;
}
.sec-product-detail ul.product-feature-list li {
	margin-bottom: 20px;
	display: block;
}
.sec-product-detail ul.product-feature-list li .ttl {
	padding-left: 24px;
	display: block;
	position: relative;
	font-size: 18px;
	font-weight: bold;
}
.sec-product-detail ul.product-feature-list li .ttl::before {
	content: '';
	width: 16px;
	height: 16px;
	display: block;
	background: #5CAAC7;
	position: absolute;
	top: 7px;
	left: 0;
}
.sec-product-detail ul.product-feature-list li .ttl {
	margin-top: 8px;
}
.sec-product-detail .product-detail-box .box-right {
	width: calc(100% - 550px);
}
.sec-product-detail .product-detail-box .product-desc-txt {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
}
.sec-product-detail .product-detail-box .product-desc-detail-txt {
	margin-bottom: 20px;
}
.sec-product-detail .product-detail-box .table-wrap {
	height: 800px;
	overflow: hidden;
	transition: 0.3s ease-in-out;
}
.sec-product-detail .product-detail-box .btn-more {
	width: 90%;
	max-width: 280px;
	margin: 20px auto 0;
	padding: 15px;
	display: block;
	text-align: center;
	background: #002060;
	color: #fff;
	font-weight: bold;
}
.sec-product-detail .product-detail-box .product-detail-table {
	width: 100%;
}
.sec-product-detail .product-detail-box .product-detail-tr {
	width: 100%;
	display: flex;
	align-items: center;
	background: #fff;
	border-bottom: 1px solid #D8DADF;
}
.sec-product-detail .product-detail-box .product-detail-tr:last-child { border-bottom: none;}
.sec-product-detail .product-detail-box .product-detail-th {
	padding: 10px 10px;
	text-align: center;
	background: #5CAAC7;
	color: #fff;
	font-weight: bold;
}
.sec-product-detail .product-detail-box .product-detail-td {
	padding: 10px 20px;
}
.sec-product-detail .product-detail-box .table-left {
	width: 40%;
}
.sec-product-detail .product-detail-box .table-right {
	width: 60%;
	border-left: 1px solid #D8DADF;
}
.sec-product-detail .product-detail-box .product-detail-table.is-3column .table-left {
	width: 32%;
}
.sec-product-detail .product-detail-box .product-detail-table.is-3column .table-right {
	width: 68%;
	border-left: 1px solid #D8DADF;
}
.sec-product-detail .product-detail-box .product-detail-table.is-3column .table-right-02 {
	width: 34%;
	border-left: 1px solid #D8DADF;
}


.sec-product-detail .btn-wrap {
	width: 100%;
	margin: 40px auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sec-product-detail .btn-wrap p {
	width: 320px;
}
.sec-product-detail .btn-wrap input {
	width: 90%;
	max-width: 320px;
	margin: 0 auto;
	padding: 20px;
	display: block;
	text-align: center;
	background: #5caac7;
	border: none;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

@media (max-width: 768px) {
	.sec-product-detail {
		width: 100%;
		margin: 0 auto;
		padding: 4vw 0 12vw;
	}
	.sec-product-detail .product-detail-name {
		width: 100%;
		margin-bottom: 4vw;
		padding: 2vw 3vw;
		font-size: 4.0vw;
		line-height: 1.4;
	}
	.sec-product-detail .product-detail-box {
		width: 100%;
		margin-bottom: 50px;
		display: block;
	}
	.sec-product-detail .product-detail-box .box-left {
		width: 100%;
		margin-bottom: 10vw;
	}
	.sec-product-detail .product-detail-box .product-feature-ttl {
		width: 100%;
		margin: 4vw auto 3vw;
		padding: 1vw 2vw;
		border-left: 6px solid #002060;
		border-bottom: 1px solid #002060;
		font-size: 3.8vw;
		font-weight: bold;
		line-height: 1;
	}
	.sec-product-detail ul.product-feature-list li {
		margin-bottom: 3vw;
	}
	.sec-product-detail ul.product-feature-list li .ttl {
		padding-left: 5vw;
		display: block;
		position: relative;
		font-size: 3.6vw;
		font-weight: bold;
	}
	.sec-product-detail ul.product-feature-list li .ttl::before {
		content: '';
		width: 3vw;
		height: 3vw;
		display: block;
		background: #5CAAC7;
		position: absolute;
		top: 1.4vw;
		left: 0;
	}
	.sec-product-detail ul.product-feature-list li .ttl {
		margin-top: 2vw;
	}
	.sec-product-detail .product-detail-box .box-right {
		width: 100%;
	}
	.sec-product-detail .product-detail-box .product-desc-txt {
		margin-bottom: 4vw;
		font-size: 4.4vw;
		font-weight: bold;
	}
	.sec-product-detail .product-detail-box .table-wrap {
		height: auto !important;
	}
	.sec-product-detail .product-detail-box .btn-more {
		display: none;
	}
	.sec-product-detail .product-detail-box .product-detail-table {
		width: 100%;
	}
	.sec-product-detail .product-detail-box .product-detail-tr {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		background: #fff;
		border-bottom: 1px solid #D8DADF;
	}
	.sec-product-detail .product-detail-box .product-detail-tr:last-child { border-bottom: none;}
	.sec-product-detail .product-detail-box .product-detail-th {
		display: none;
	}
	.sec-product-detail .product-detail-box .product-detail-td {
		padding: 2vw 3vw;
	}
	.sec-product-detail .product-detail-box .table-left {
		width: 100%;
		background: rgba(92,170,199,0.3);
		font-weight: bold;
	}
	.sec-product-detail .product-detail-box .table-right {
		width: 100%;
		border-left: 1px solid #D8DADF;
	}
	.sec-product-detail .product-detail-box .product-detail-table.is-3column .table-left {
		width: 100%;
	}
	.sec-product-detail .product-detail-box .product-detail-table.is-3column .table-right {
		width: 100%;
		border-left: none;
	}
	.sec-product-detail .product-detail-box .product-detail-table.is-3column .table-right-02 {
		width: 50%;
		border-left: 1px solid #D8DADF;
	}
	
	.sec-product-detail .btn-wrap {
		width: 100%;
		margin: 8vw auto 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.sec-product-detail .btn-wrap p {
		width: 50%;
	}
	.sec-product-detail .btn-wrap input {
		width: 90%;
		max-width: 320px;
		margin: 0 auto;
		padding: 4vw;
		font-size: 3.6vw;
	}
}



