@charset "UTF-8";

/* Web講演会
-----------------------------*/
h3{
    text-align: center;
}


@media screen and (max-width: 750px){
    /* #sec-contents
    -----------------------------*/
    #sec-contents{
        width: 94%;
        margin: 0 3%;
        padding: 45px 15px 50px;
        background: #fff;
        border-top: 10px solid #e50316;
        border-bottom: 10px solid #cec9c5;
    }
    
}


