@charset "UTF-8";
/* CSS Document */
/*------------------------------------------------------------------------------------------------
    base Style
--------------------------------------------------------------------------------------------------*/
.col1{color:#477740}
.col2{color:#9dc138}

.bg1{background:#477740}
.bg2{background:#9dc138}

/*------------------------------------------------------------------------------------------------
    パンくず
--------------------------------------------------------------------------------------------------*/
.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumb li {
  display: inline;/*横に並ぶように*/
  list-style: none;
	font-size:1.0rem
}

.breadcrumb li:after {/* >を表示*/
  content: '>';
  padding: 0 0.2em;
}

.breadcrumb li:last-child:after {
  content: '';
}

.breadcrumb li a {
  text-decoration: none;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
	.breadcrumb{display: none}
}


/*------------------------------------------------------------------------------------------------
    下層 MV bg
--------------------------------------------------------------------------------------------------*/
.mv{
	width:100%;
	max-width: 1200px;
	height:33vw;
	margin: 0 auto;
	max-height: 400px;
	background:#fff ;
	position: relative;
	margin-bottom: 1.6vw;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #fff
}
.mv::after{
	position: absolute;
	content:'';
	top:0;
	left:0;
	margin: auto;
	background-image: url("../../img/common/mv-cover.svg");
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	width:100%;
	height:calc(100% + 0.8vw);
}
.mv::before{
	position: absolute;
	content:'「本特集は2022年公開のアーカイブです」';
	top:0px;
	left:0;
	right:0;
	margin: auto;
	text-align: center;
	background: hsla(76,55%,49%,0.70);
	color:#fff;
	/*background: rgba(255,255,255,0.70);*/
	padding: 0.4em 0
}


#feature .mv{background-image: url("../../img/feature/mv.jpg");}
#feature1 .mv{background-image: url("../../img/feature/feature1/mv.jpg");}
#feature2 .mv{background-image: url("../../img/feature/feature2/mv.jpg");}
#feature3 .mv{background-image: url("../../img/feature/feature3/mv.jpg");}
#message .mv{background-image: url("../../img/message/mv.jpg");}
#policy .mv{background-image: url("../../img/policy/mv.jpg");}
#information .mv{background-image: url("../../img/information/mv.jpg");}
#materiality .mv{background-image: url("../../img/materiality/mv.jpg");}
#company .mv{background-image: url("../../img/company/mv.jpg");}
#download .mv{background-image: url("../../img/download/mv.jpg");}
#environment .mv{background-image: url("../../img/environment/mv.jpg");}


/* 見出し
 --------------------------------*/
.mv {
	display: flex;
	align-items: center;
	justify-content: center

}
.mv>h2{
	width:23vw;
	max-width: 280px;
	height:23vw;
	max-height:280px;
	border-radius: 50%;
	color:#fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	text-align: center;
	line-height: 1.4;
	
}
.mv>h2 .mv-ja{
	font-size:3vw;
	letter-spacing: 0.01em
}
.mv>h2 .mv-en{
	font-size:2.1vw;
	letter-spacing: 0.1em;
}

@media screen and (min-width:1200px) {
	
	.mv>h2 .mv-ja{
		font-size:3.64rem
	}
	.mv>h2 .mv-en{
		font-size:2.52rem
	}

}

@media screen and (max-width: 768px) {
	.mv>h2{
		width:30vw;
		max-width: inherit;
		height:30vw;
		max-height:inherit;
		padding-bottom: 0
	}
	.mv>h2 .mv-ja{
		font-size:5.8vw;
		line-height: 1.1;
		letter-spacing: 0em
	}
	.mv>h2 .mv-en{
		font-size:3.2vw;
		letter-spacing: 0.1em;
		margin-top: 1vw
	}
}


/* 大枠
 --------------------------------*/
.main-wrap{
	padding: 7.5vw 0 15vw;

}
@media screen and (min-width:1200px) {
	.main-wrap{
			padding: 90px 0 160px
	}

}




/* ボタン
 --------------------------------*/
.btn-more{
	max-width:185px;
	margin: 0 0 0 auto
	
}
.btn-more a{
	cursor: pointer;
	background: #9dc138;
	display: block;
	padding: 1em 2em;
	width:100%;
	text-align: center;;
	font-size:1.7rem;
	line-height: 1;
	color:#fff;
	border-radius: 2em;
	position: relative
}	
.btn-more a::before{
	position: absolute;
	content:'';
	height:100%;
	width:50px;
	top:0;
	bottom:0;
	left:-55px;
	background-image: url("../../img/common/click.svg");
	background-repeat: no-repeat;
	background-size: 98%;
	background-position: center right
}


@media screen and (max-width: 768px) {
.btn-more{
	width:60%;
	max-width:inherit;
	margin: 0 0 0 auto
	
}
.btn-more a{
	background: #9dc138;
	display: block;
	padding: 1em 2em;
	width:100%;
	text-align: center;;
	font-size:4vw;
	line-height: 1;
	color:#fff;
	border-radius: 2em;
	position: relative
}
.btn-more a::before{
	position: absolute;
	content:'';
	height:100%;
	width:13vw;
	top:0;
	bottom:0;
	left:-14vw;
	background-image: url("../../img/common/click.svg");
	background-repeat: no-repeat;
	background-size: 98%;
	background-position: center right
}

}


/*---------------------モーダル --------------------*/

.modal-content {
	display: none;/* 初期状態 */
	position: fixed;
	top: 0;
	left:0;
	width: 100%;/* モーダルは画面いっぱいに */
	height: 100%;/* モーダルは画面いっぱいに */
	z-index:1001;
}

.modal{position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
.modal-close{
    cursor: pointer;
	border: 0;
	width:100%;
	height:100%;
	margin:0;
	z-index: 1002;

}
.modal-inn{
	width:100%;
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-close-wrap{
	position: relative;
	max-width:90%;
	margin: 0 auto;
	background: #fff;
	padding:20px ;

}

.modal-img-wrap{

	overflow-x: scroll
}

@media screen and (min-width: 1200px) {
	.modal-img-wrap{
		overflow-x: auto
	}
}
#policy .modal-img-wrap img{
	width:100%;
	min-width: 1100px;
	padding: 3vw 0;
}
#feature2 .modal-img-wrap img{
	width:auto;
	max-height: 70vh;
}


.modal-img-wrap::before{
	position: absolute;
	content:'';
	width:20px;
	height:2px;
	background: #fff;
	top:-20px;
	right:5px;
	transform: rotate(45deg)
}
.modal-img-wrap::after{
	position: absolute;
	content:'';
	width:20px;
	height:2px;
	background: #fff;
	top:-20px;
	right:5px;
	transform: rotate(-45deg)
}

@media screen and (max-width: 769px) {
.modal-img-wrap{
	width:100%;
	font-size:3.2vw
}

#policy .modal-img-wrap img{
	width:100%;
	min-width: 200vw
}
#feature2 .modal-img-wrap img{
	width:100%;
	min-width: 150vw;
	padding-bottom: 3vw
}	
.modal-img-wrap::before{
	position: absolute;
	content:'';
	width:5vw;
	height:0.5vw;
	background: #fff;
	top:-4vw;
	right:1vw;
	transform: rotate(45deg)
}
.modal-img-wrap::after{
	position: absolute;
	content:'';
	width:5vw;
	height:0.5vw;
	background: #fff;
	top:-4vw;
	right:1vw;
	transform: rotate(-45deg)
}
	
}
