@charset "UTF-8";
body{
	background-image:url("../img/common/bg.svg");
	background-size:100%;
}


/* ------------------------------------------------
   header                
--------------------------------------------------- */
.header-wrap{
	width:100%;
	margin: 0 auto;
	padding: 0 2%;
	height:120px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	position: fixed;
	top:0;
	left:0;
	z-index:5;
}
.header-wrap::before{
	position: absolute;
	content:'';
	width:100%;
	height:160%;
	background: linear-gradient(to bottom, rgba(255,255,255,0.80), rgba(255,255,255,0.00));
	top:0;
	left:0;
}
.header-wrap .logo{
	position: absolute;
	width:150px;
	top:10px;
	left:10px
}
.header-wrap h1{
  font-family: 'Chillax', sans-serif;
  font-weight: 500;
  font-size: 100px;
	line-height: 1;
	position: relative;
	z-index: 5
}

.menu-cat ul{
	padding-left: 160px;
	position: relative;
	display: flex;
}
.menu-cat ul::after{
	position: absolute;
	content:'';
	width:calc(100% - 80px);
	height:2px;
	background: #8D8D8D;
	top:0;
	bottom:0;
	left:80px;
	margin: auto
}
.menu-cat ul::before{
	position: absolute;
	content:'';
	width:10px;
	height:10px;
	background: #8D8D8D;
	border-radius: 50%;
	top:0;
	bottom:0;
	left:80px;
	margin: auto	
}

.menu-cat ul li{
	padding:0.2em 1em;
	color:#fff;
	font-family: 'Chillax', sans-serif;
	font-size: 28px;
	border-radius: 30px;
	line-height: 1;
	background: #3A96A5;
	position: relative;
	z-index: 2
}
.menu-cat ul li:not(:first-child){
	margin-left: 0.5em
}
.menu-cat ul li.active{
	background: #F49C00
}


@media (max-width: 1200px) {
	.header-wrap .logo{
		width:12.5vw;
	}
	.header-wrap h1{
	  font-size: 8.3vw;
	}

	.menu-cat ul{
		padding-left: 14vw;
	}
	.menu-cat ul::after{
		width:calc(100% - 7vw);
		left:7vw;
	}
	.menu-cat ul::before{
		width:1vw;
		height:1vw;
		left:7vw;
	}

	.menu-cat ul li{
		font-size: 2.4vw;
		border-radius: 4vw;
	}

}

@media (max-width: 768px) {
	.header-wrap{
		height:16vw;
	}
	.header-wrap .logo{
		width:25vw;
		top:1vw;
		left:2vw
	}
	.header-wrap h1{
	  font-size: 8.8vw;
		line-height:0.9
	}
	.menu-cat ul{
		padding-left: 18vw;
	}
	.menu-cat ul::after{
		width:calc(100% - 9vw);
		left:9vw;
	}
	.menu-cat ul::before{
		width:2vw;
		height:2vw;
		left:7vw;
	}

	.menu-cat ul li{
		font-size: 3.4vw;
		border-radius: 4vw;
	}
	
}


/* ------------------------------------------------
   side menu        
--------------------------------------------------- */
.menu-year{
	width:150px;
	height:100%;
	text-align: right;
	padding-right: 20px;
	border-right:2px solid #8D8D8D;
	position: fixed;
	top:60px;
	left:0;
	padding-top: 70px;
	z-index: 100
}
.menu-year::before{
	position: absolute;
	content:'';
	width:10px;
	height:10px;
	background: #8D8D8D;
	border-radius: 50%;
	right:-6px;
	top:0;
	margin: auto
	
}
.menu-year li{
	font-family: 'Chillax', sans-serif;
	font-size: 28px;
	position: relative;
	margin-bottom: 20px
}
.menu-year li::after{
	position: absolute;
	content:'';
	width:20px;
	height:20px;
	background: #3A96A5;
	border-radius: 50%;
	right:-30px;
	top:0;
	bottom:2px;
	margin: auto
}
.menu-year li.is-now{
	font-size: 36px;	
}
.menu-year li.is-now::after{
	width:30px;
	height:30px;
	background: #F49C00;
	right:-35px;
}
@media (max-width: 1200px) {
	.menu-year{
		width:12.5vw;
		padding-right: 2vw;
		border-right:2px solid #8D8D8D;
	}
	.menu-year::before{
		width:1vw;
		height:1vw;
		right:-0.6vw;
	}
	.menu-year li{
		font-size: 2.4vw;
		position: relative;
		margin-bottom: 2.4vw;
	}
	.menu-year li::after{
		width:2vw;
		height:2vw;
		background: #3A96A5;
		right:-3.1vw;
		bottom:0.2vw;
		margin: auto
	}
	.menu-year li.is-now{
		font-size: 3.2vw;	
	}
	.menu-year li.is-now::after{
		width:3vw;
		height:3vw;
		background: #F49C00;
		right:-3.6vw;
	}
}

@media (max-width: 768px) {
	.menu-year{
		width:16.5vw;
		padding-right: 2.5vw;
		top:9vw;
		left:0;
		padding-top: 12vw;
	}
	.menu-year::before{
		width:2vw;
		height:2vw;
		right:-1.3vw;
	}
	.menu-year li{
		font-size: 3.8vw;
		position: relative;
		margin-bottom: 2.4vw;
	}
	.menu-year li::after{
		width:3vw;
		height:3vw;
		background: #3A96A5;
		right:-4.3vw;
		bottom:0.2vw;
		margin: auto
	}
	.menu-year li.is-now{
		font-size: 4.4vw;	
	}
	.menu-year li.is-now::after{
		width:4vw;
		height:4vw;
		background: #F49C00;
		right:-4.7vw;
	}

}
/* ------------------------------------------------
   main                
--------------------------------------------------- */
.main-container{
/*	display: flex;*/
	width:100%;
	margin-top: 150px;
	padding-left: 180px;
}

@media (max-width: 1200px) {
	.main-container{
		padding-left: 15vw;
		margin-top: 160px;
	}
}
@media (max-width: 768px) {
	.main-container{
		padding-left: 20vw;
		margin-top: 22vw;
	}
	
}

/* ------------------------------------------------
   制作範囲 menu        
--------------------------------------------------- */

.main-container .range-wrap{
	position: fixed;
	top:140px;
	left:200px;
	display: flex;
	align-items: center;
	width:100%;
	font-size:11px;
	z-index: 5;
}
.main-container .range-wrap p{
	display: flex;
	align-items: center;
}
.main-container .range-wrap p:not(:last-child){
	margin-right: 1em
}
.main-container .range-wrap img{
	width:16px
}
@media (max-width: 1200px) {
	.main-container .range-wrap{
		left:16vw
	}
}
@media (max-width: 768px) {
	.main-container .range-wrap{
		top:18vw;
		left:20vw;
		font-size:2.0vw
	}
	.main-container .range-wrap img{
		width:2.8vw
	}

}

/* ------------------------------------------------
  Muuriのレイアウトのための調整               
--------------------------------------------------- */
.grid {
  position: relative;/*並び替えの基準点を指定*/
	width:100%;
	margin: 0 auto 120px;
}

/*各画像の横幅などの設定*/
.item {
  display: block;
  position: absolute;
  width: 300px;
  z-index: 1;
	padding: 20px
}
.item a{
	display: block;
	width:100%;
	height:100%;
	position: relative;
}
.item a:not(.modal-open)::after{
	position: absolute;
	content:'';
	width:20px;
	height:20px;
	top:6px;
	right:6px;
	background-image: url("../img/common/link-icon.svg");
	background-repeat: no-repeat
}

/*内側のボックスの高さが崩れないように維持*/
.item-content {
	position: relative;
	width: 100%;
	height: 100%;
	border:1px solid #8D8D8D;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

/*画像の横幅を100%にしてレスポンシブ化*/
.grid img{
	width:100%;
	height:auto;
	vertical-align: bottom;/*画像の下にできる余白を削除*/
}



/*item-説明*/
.item-content .item-info{
	width:100%;
	background: rgba(255,255,255,0.85);
	position: absolute;
	bottom:0;
	padding: 5px;
	font-size:11px;
}
.item-content .item-info .name{
	line-height: 1.4;
	/*min-height:50px;*/
	font-size:16px;
	margin-top: 2px
}
.item-content .item-info .name span{
	font-size:0.9em;
}

/*item-制作範囲*/
.item-content .item-info .item-range{
	width:100%;
	position: absolute;
	top:-20px;
	left:0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.item-content .item-info .item-range p{
	width:20px;
	height:20px;
	background-repeat: no-repeat;
	background-size: 80%;
}
.item-content .item-info .item-range p.c{
	background-image: url("../img/common/icon-c.svg")
}
.item-content .item-info .item-range p.d{
	background-image: url("../img/common/icon-d.svg")
}
.item-content .item-info .item-range p.s{
	background-image: url("../img/common/icon-s.svg")
}
.item-content .item-info .item-range p.sf{
	background-image: url("../img/common/icon-sf.svg")
}




/*横幅が1200px以下になった際の指定*/
@media only screen and (max-width: 1200px) {
	.item {
	  width: 33%;/*横並びで3つ表示*/
		padding: 1vw
		
	}
		/*item-説明*/
		.item-content .item-info{
			padding: 1vw;
			font-size:1.2vw;

		}
		.item-content .item-info .name{
			line-height: 1.4;
			font-size:1.8vw;
			margin-top: 2px
		}

}

/*横幅が768px以下になった際の指定*/
@media only screen and (max-width: 768px) {
	.grid {
		margin: 0 auto 10vw;
	}

	.item {
	  /*width: 49.5%;横並びで2つ表示*/
		width: 90%;/*横並びなし1つ表示*/
		padding: 2vw 4vw
	}
	.item a:not(.modal-open)::after{
		width:4vw;
		height:4vw;
		top:2vw;
		right:2vw;
	}
	/*item-説明*/
	.item-content .item-info{
		padding: 1vw;
		font-size:2.8vw;

	}
	.item-content .item-info .name{
		line-height: 1.4;
		font-size:4vw;
		margin-top: 2px
	}
	/*item-制作範囲*/
	.item-content .item-info .item-range{
		top:-4.5vw;
	}
	.item-content .item-info .item-range p{
		width:4vw;
		height:4vw;
	}
}


/* ------------------------------------------------
  footer            
--------------------------------------------------- */
footer {
  background-color: #535353;
	background-image: url("../img/common/bg-cv-02.jpg");
	background-size: 10%;
  color: #fff;
  padding: 40px 5vw;
  position: relative;
	z-index: 101
}

/*footer:after {
  content: '';
  position: absolute;
  background: url("../img/common/bg-cv-02.png") repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
  top: 0;
  right: 0;
}*/

.footer-in {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.footer-sdgs {
  width: 90px;
  margin-right: 30px;
  margin-top: 15px;
}

.footer-thanks {
  font-size: 20px;
  font-weight: 500;
}

footer .privacy {
  display: block;
  color: #fff;
  font-size: 13px;
  margin-top: 10px;
}
@media (max-width: 1000px) {
	.footer-sdgs {
	  width: 10vw;
	  margin-right: 2vw;
	  margin-top: 1vw;
	}

	.footer-thanks {
	  font-size: 2.0vw;
	  font-weight: 500;
	}
  footer p.s-txt {
	  font-size: 1.6vw;
  }

}

@media (max-width: 768px) {
  footer {
    padding:  5vw;

  }

  .footer-in>div {
    width: 80%;
  }

  .footer-sdgs {
    width: calc(20% - 3vw);
    width: 14vw;
    /*margin: 0 auto 2vw;*/
	  margin:0 auto 2vw 0
  }

  .footer-thanks {
    font-size: 3.4vw;
	  margin-bottom: 2vw
  }

  footer p.s-txt {
    line-height: 1.4;
	  font-size: 2.6vw;
  }

}



/* ------------------------------------------------
  modal            
--------------------------------------------------- */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100%;
}

.modal-overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

#modalCont {
	width:80vw;
	height:auto;
	max-width: 1000px;
	max-height: 80vh;
	  background: #fff;
	  padding: 20px;
	  text-align: center;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  -webkit-transform: translateY(-50%) translateX(-50%);
	  transform: translateY(-50%) translateX(-50%);
}
#modalCont .item-content{
	padding: 20px 0 100px;
}
#modalCont .item-content img{
	max-width: 65%;
	max-height: calc(70vh - 100px);
	margin: 0 auto;
	object-fit: contain!important;
	position: relative;
	z-index: 101;

}
#modalCont .item-content .item-info{
	height:100%;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: space-between
}
#modalCont .item-content .item-info .item-range{
	position: static
}
#modalCont .item-content .item-info .cat{
	display: inline-block;
}

.modal .close_btn {
  position: absolute;
	top:20px;
	right:20px;
  width: 30px;
  height: 30px;
}

.modal .close_btn::before,
.modal .close_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #fff;
}

.modal .close_btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.modal .close_btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}


/*modalでlpをスクロール表示（マツキヨ）*/
.modal-lp{
	display: none
}
.list-img{
	display: block
}
#modalCont .modal-lp{
	display: block;
	margin: 0 auto;
	max-width: 35%;
	max-height: calc(70vh - 100px);
	overflow-y: scroll;
	position: relative;
	z-index: 101;
	
}
#modalCont .modal-lp img{
	max-width: 100%!important;
	max-height:100%!important;
	margin: 0 auto;
}
#modalCont .list-img{
	display: none
}


@media (max-width: 768px) {
	#modalCont {
		width:90vw;
		height:auto;
		max-width: inherit;
		max-height: 90vh;
		padding: 4vw;
	}
	#modalCont .item-content{
		padding: 2vw 0 20vw;
		box-sizing: border-box;
	}
	#modalCont .item-content img{
		max-width: 96%;
		max-height: 65vh;
		margin: 4vw auto 0;
	}
	#modalCont .modal-lp{
		max-width: 55%;
		max-height: 65vh;
		margin: 4vw auto 0;
	}
	#modalCont .modal-lp img{
	margin: 0 auto;
	}

	.modal .close_btn {
		top:2vw;
		right:2vw;
	  width: 5vw;
	  height: 5vw;
	}

}