/*------------------------------------------------------------------------------------------------
    パンくず
--------------------------------------------------------------------------------------------------*/
.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumb li {
  display: inline;/*横に並ぶように*/
  list-style: none;
	font-size:1.0rem
}

.breadcrumb li:after {/* >を表示*/
  content: '>';
  padding: 0 0.2em;
}

.breadcrumb li:last-child:after {
  content: '';
}

.breadcrumb li a {
  text-decoration: none;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
	.breadcrumb{display: none}
}


/*------------------------------------------------------------------------------------------------
    下層 MV bg
--------------------------------------------------------------------------------------------------*/
.mv{
	width:100%;
	max-width: 1200px;
	height:33vw;
	margin: 0 auto;
	max-height: 400px;
	background:#fff ;
	position: relative;
	margin-bottom: 1.6vw;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #fff
}
.mv::after{
	position: absolute;
	content:'';
	top:0;
	left:0;
	margin: auto;
	background-image: url("../../img/common/mv-cover.svg");
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	width:100%;
	height:calc(100% + 0.8vw);
}
.mv::before{
	position: absolute;
	content:'「本特集は2023年公開のアーカイブです」';
	top:0px;
	left:0;
	right:0;
	margin: auto;
	text-align: center;
	background: rgba(0,175,236,0.70);
	color:#fff;
	/*background: rgba(255,255,255,0.70);*/
	padding: 0.4em 0
}

#sustainability .mv{background-image: url("../../img/sustainability/sustainability/mv.jpg");}
#sustainability2 .mv{background-image: url("../../img/sustainability/sustainability2/mv.jpg");}
#sustainability3 .mv{background-image: url("../../img/sustainability/sustainability3/mv.jpg");}
#sustainability4 .mv{background-image: url("../../img/sustainability/sustainability4/mv.jpg");}
#sustainability5 .mv{background-image: url("../../img/sustainability/sustainability5/mv.jpg");}

#specialfeature .mv{background-image: url("../../img/specialfeature/mv.jpg");}
#specialfeature1 .mv{background-image: url("../../img/specialfeature/feature1/mv.jpg");}
#specialfeature2 .mv{background-image: url("../../img/specialfeature/feature2/mv.jpg");}

#environment .mv{background-image: url("../../img/environment/environment/mv.jpg");}
#environment2 .mv{background-image: url("../../img/environment/environment2/mv.jpg");}

#social .mv{background-image: url("../../img/social/social/mv.jpg");}
#social2 .mv{background-image: url("../../img/social/social2/mv.jpg");}
#social3 .mv{background-image: url("../../img/social/social3/mv.jpg");}
#social4 .mv{background-image: url("../../img/social/social4/mv.jpg");}
#social5 .mv{background-image: url("../../img/social/social5/mv.jpg");}

#governance .mv{background-image: url("../../img/governance/governance/mv.jpg");}
#governance2 .mv{background-image: url("../../img/governance/governance2/mv.jpg");}
#governance3 .mv{background-image: url("../../img/governance/governance3/mv.jpg");}


#information .mv{background-image: url("../../img/information/mv.jpg");}
#company .mv{background-image: url("../../img/company/mv.jpg");}
#download .mv{background-image: url("../../img/download/mv.jpg");}
#editorialpolicy .mv{background-image: url("../../img/editorialpolicy/mv.jpg");}
#ourinitiatives .mv{background-image: url("../../img/ourinitiatives/mv.jpg");}



/* 見出し
 --------------------------------*/
.mv {
	display: flex;
	align-items: center;
	justify-content: center

}
.mv>h2{
	width:23vw;
	max-width: 280px;
	height:23vw;
	max-height:280px;
	border-top-left-radius:  50%;
	border-bottom-right-radius:  50%;
	color:#fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	text-align: center;
	line-height: 1.4;
	
}
.mv>h2 .mv-ja{
	font-size:3vw;
	letter-spacing: 0.01em
}
.mv>h2 .mv-en{
	font-size:2.1vw;
	letter-spacing: 0.1em;
}

@media screen and (min-width:1200px) {
	
	.mv>h2 .mv-ja{
		font-size:3.64rem
	}
	.mv>h2 .mv-en{
		font-size:2.52rem
	}

}

@media screen and (max-width: 768px) {
	.mv>h2{
		width:28vw;
		max-width: inherit;
		height:28vw;
		max-height:inherit;
		padding-bottom: 0;
		line-height: 1.1;
	}
	.mv>h2 .mv-ja{
		font-size:4.8vw;
		line-height: 1.1;
		letter-spacing: 0em
	}
	.mv>h2 .mv-en{
		font-size:2.4vw;
		letter-spacing: 0.1em;
		margin-top: 1vw
	}
}


/* 大枠
 --------------------------------*/
.main-wrap{
	padding: 7.5vw 0 15vw;

}
@media screen and (min-width:1200px) {
	.main-wrap{
			padding: 90px 0 100px
	}

}

@media screen and (max-width: 768px) {
	.main-wrap{
			padding: 8vw 0 8vw
	}
	
}

/* フッター上　デコレーション
 --------------------------------*/
.footer-decoration{
	height:100px;
	background-repeat: no-repeat;
	background-position: left 7.15% bottom;
	background-size: contain
}
#sustainability .footer-decoration,
#sustainability2 .footer-decoration,
#sustainability3 .footer-decoration,
#sustainability4 .footer-decoration,
#sustainability5 .footer-decoration{
	background-image: url("../../img/sustainability/footer-decoration.svg");
}

#specialfeature .footer-decoration,
#specialfeature1 .footer-decoration,
#specialfeature2 .footer-decoration{
	background-image: url("../../img/specialfeature/footer-decoration.svg");
	background-position: center  bottom
}

#environment .footer-decoration,
#environment2 .footer-decoration{
	background-image: url("../../img/environment/footer-decoration.svg");
}
#social .footer-decoration,
#social2 .footer-decoration,
#social3 .footer-decoration,
#social4 .footer-decoration,
#social5 .footer-decoration{
	background-image: url("../../img/social/footer-decoration.svg");
}

#governance .footer-decoration,
#governance2 .footer-decoration,
#governance3 .footer-decoration{
	background-image: url("../../img/governance/footer-decoration.svg");
}

/*#information .footer-decoration{
	background-image: url("../../img/information/footer-decoration.svg");
}
#company .footer-decoration{
	background-image: url("../../img/company/footer-decoration.svg");
}

#editorialpolicy .footer-decoration{
	background-image: url("../../img/editorialpolicy/footer-decoration.svg");
}
#download .footer-decoration{
	background-image: url("../../img/download/footer-decoration.svg");
}
#ourinitiatives .footer-decoration{
	background-image: url("../../img/ourinitiatives/footer-decoration.svg");
}
*/

@media screen and (max-width: 768px) {
	.footer-decoration{
	height:15vw;
}
}


/* ボタン
 --------------------------------*/
.btn-more{
	max-width:185px;
	margin: 0 0 0 auto
	
}
.btn-more a{
	background: #00AFEC;
	display: block;
	padding: 1em 2em;
	width:100%;
	text-align: center;;
	font-size:1.7rem;
	line-height: 1;
	color:#fff;
	border-radius: 2em;
	position: relative
}	
.btn-more a::before{
	position: absolute;
	content:'';
	height:100%;
	width:50px;
	top:0;
	bottom:0;
	left:-55px;
	background-image: url("../../img/common/click.svg");
	background-repeat: no-repeat;
	background-size: 98%;
	background-position: center right
}


@media screen and (max-width: 768px) {
.btn-more{
	width:60%;
	max-width:inherit;
	margin: 0 0 0 auto
	
}
.btn-more a{
	background: #00AFEC;
	display: block;
	padding: 1em 2em;
	width:100%;
	text-align: center;;
	font-size:4vw;
	line-height: 1;
	color:#fff;
	border-radius: 2em;
	position: relative
}
.btn-more a::before{
	position: absolute;
	content:'';
	height:100%;
	width:13vw;
	top:0;
	bottom:0;
	left:-14vw;
	background-image: url("../../img/common/click.svg");
	background-repeat: no-repeat;
	background-size: 98%;
	background-position: center right
}

}


/*---------------------モーダル --------------------*/

.modal-content {
	display: none;/* 初期状態 */
	position: fixed;
	top: 0;
	left:0;
	width: 100%;/* モーダルは画面いっぱいに */
	height: 100%;/* モーダルは画面いっぱいに */
	z-index:1001;
}

.modal{position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
.modal-close{
    cursor: pointer;
	border: 0;
	width:100%;
	height:100%;
	margin:0;
	z-index: 1002;

}
.modal-inn{
	width:100%;
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-close-wrap{
	position: relative;
	max-width:90%;
	margin: 0 auto;
	background: #fff;
	padding:20px ;

}

.modal-img-wrap{

	overflow-x: scroll
}

@media screen and (min-width: 1200px) {
	.modal-img-wrap{
		overflow-x: auto
	}
}
#sustainability3 .modal-img-wrap img{
	width:100%;
	min-width: 1100px;
	padding: 3vw 0;
}
#social3 .modal-img-wrap img,
#social2 .modal-img-wrap img,
#environment .modal-img-wrap img{
	width:auto;
	max-height: 70vh;
}


.modal-img-wrap::before{
	position: absolute;
	content:'';
	width:20px;
	height:2px;
	background: #fff;
	top:-20px;
	right:5px;
	transform: rotate(45deg)
}
.modal-img-wrap::after{
	position: absolute;
	content:'';
	width:20px;
	height:2px;
	background: #fff;
	top:-20px;
	right:5px;
	transform: rotate(-45deg)
}

.zoom-icon{
	position: relative;
	display: block
}
.zoom-icon::after{
	position: absolute;
	content:'';
	width:30px;
	height:30px;
	bottom:0;
	right:0;
	margin: auto;
	background-color:hsla(0,0%,100%,0.80);
	background-image: url("../../img/common/zoom.svg");
	background-position: center;
	background-size: 70%;
	background-repeat: no-repeat;
}
.zoom-icon.w::after{
	background-color:rgba(229,229,229,0.70)
}
@media screen and (max-width: 769px) {
.modal-img-wrap{
	width:100%;
	font-size:3.2vw
}

#sustainability3 .modal-img-wrap img{
	width:100%;
	min-width: 200vw
}

	
.modal-img-wrap::before{
	position: absolute;
	content:'';
	width:5vw;
	height:0.5vw;
	background: #fff;
	top:-4vw;
	right:1vw;
	transform: rotate(45deg)
}
.modal-img-wrap::after{
	position: absolute;
	content:'';
	width:5vw;
	height:0.5vw;
	background: #fff;
	top:-4vw;
	right:1vw;
	transform: rotate(-45deg)
}
	.zoom-icon::after{
		position: absolute;
		content:'';
		width:6vw;
		height:6vw;
	}
	
}
