@charset "UTF-8";

@use '../../common/config' as *;

* {
	word-break: normal;
}


/* MV
---------------------------------------------------------------------------- */
.p-sec-mv { 
	width: 100%;
	padding: rem(60) 0 rem(300);
	background: url("/assets/images/facilities/img_mv_pc.jpg") center center no-repeat;
	background-size: cover;
}

.p-mv-inn {
	width: auto;
	display: inline-block;
	padding: rem(30) rem(80);
	position: relative;
	color: #fff;
	
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		background: rgba(43,38,36);
		mix-blend-mode: multiply;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
}

.p-mv-ttl {
	width: 100%;
	color: #fff;
	@include flex(start,end,nowrap,center);
	position: relative;
	z-index: 2;
}

.p-mv-ttl-en {
	display: inline-block;
	@include fz(35,35,200,400);
}

.p-mv-txt {
	margin-top: rem(23);
	@include fz(15,20,50,400);
	position: relative;
	z-index: 2;
}

@media screen and (max-width: #{$breakpoint}px){
	
	.p-sec-mv { 
		width: 100%;
		padding: vw(120) 0 vw(500);
		background: url("/assets/images/facilities/img_mv_sp.jpg") center center no-repeat;
		background-size: cover;
		position: relative;
	}

	.p-mv-inn {
		width: 55%;
		display: inline-block;
		padding: vw(40) vw(50);
		position: relative;
		color: #fff;

		&::before {
			content: '';
			width: 100%;
			height: 100%;
			background: rgba(43,38,36,0.6);
			mix-blend-mode: multiply;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
	}

	.p-mv-ttl {
		width: 100%;
		color: #fff;
		opacity: 0.85;
		display: block;
		position: relative;
		z-index: 2;
	}

	.p-mv-ttl-en {
		display: block;
		@include spfz(40);
	}

	.p-mv-sp-txt-wrap {
		width: max-contents;
		padding: vw(24) vw(50) vw(24) vw(90);
		position: absolute;
		bottom: vw(22);
		right: 0;

		&::before {
			content: '';
			width: 100%;
			height: 100%;
			background: rgba(43,38,36,0.8);
			mix-blend-mode: multiply;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 1;
		}
	}
	.p-mv-sp-txt {
		color: #fff;
		text-align: right;
		@include spfz(22);
		line-height: 1.5;
		letter-spacing: 0.1;
		position: relative;
		z-index: 2;
	}
}



/* メインコンテンツ 
---------------------------------------------------------------------------- */
.p-sec-facilities {
	width: 100%;
	padding: rem(70) 0 0;
}

.p-lead-box {
	width: 100%;
	@include flex(between,start,nowrap,center);
	margin-bottom: rem(70);
}

.p-lead-img {
	width: 20.9%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.p-lead-txt {
	width: 73%;
	@include fz(16,28,0,400);
	text-align: justify;
}

.p-contents-box-wrap {
	@include flex(between,start,wrap,center);
}

.p-contents-box {
	width: 46%;
	margin-bottom: rem(36);
}

.p-contents-img {
	width: 100%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.p-contents-ttl {
	width: rem(300);
	margin: rem(20) auto rem(20) 0;
	padding: rem(8) 0;
	border: 1px solid #707070;
	text-align: center;
}

.p-contents-txt {
	@include fz(16,28,0,400);
}

@media screen and (max-width: #{$breakpoint}px){
	.p-sec-facilities {
		width: 100%;
		padding: vw(70) 0 0;
		
		.m-sec-inn {
			width: 100%;
			max-width: initial;
		}
	}

	.p-lead-box {
		width: 90%;
		margin: 0 auto vw(90);
		display: block;
	}

	.p-lead-img {
		display: none;
	}

	.p-lead-txt {
		width: 100%;
		@include spfz(30);
	}


	.p-contents-box-wrap {
		width: 90%;
		margin: 0 auto;
	}

	.p-contents-box {
		width: 100%;
		margin-bottom: vw(80);
	}

	.p-contents-img {
		width: 100%;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16);
	}

	.p-contents-ttl {
		width: vw(500);
		margin: vw(40) auto vw(40) 0;
		padding: vw(8) 0;
		border: 1px solid #707070;
		text-align: center;
	}

	.p-contents-txt {
		@include spfz(28);
	}
}




/* 下層ページ導線 3column 
---------------------------------------------------------------------------- */

@media screen and (max-width: #{$breakpoint}px){
	
	.m-footer-pagelinks {
		width: 100%;
		padding: vw(80) 0 vw(20);
	}


	/* 下層ページ導線 3column */
	.m-footer-pagelink-wrap {
		width: 75%;
		margin: 0 auto;
		@include flex(center,start,wrap,center);
	}

	.m-footer-pagelink {
		width: 100%;
		margin: 0 auto;

		a {
			width: 100%;
			display: block;
			position: relative;
		}
	}

	.m-footer-pagelink-access {
		margin-bottom: vw(50);
		background: url("/assets/images/common/bg_underpage_link_01.jpg") center center no-repeat;
		background-size: cover;
	}

	.m-footer-pagelink-sightseeing {
		margin-bottom: vw(50);
		background: url("/assets/images/common/bg_underpage_link_02.jpg") center center no-repeat;
		background-size: cover;
	}

	.m-footer-pagelink-reserve {
		background: url("/assets/images/common/bg_underpage_link_03.jpg") center center no-repeat;
		background-size: cover;
	}
	
	.m-footer-pagelink-ttl {
		width: 35%;
		padding: vw(52) vw(20);
		text-align: left;
		@include spfz(24);
		font-weight: 700;
		letter-spacing: 0.01em;
		line-height: 1;
		background: rgba(0,0,0,0.72);
		position: relative;
		z-index: 2;
	}
	
	
}