@charset "UTF-8";
/* CSS Document */


.feature-ttl-txt{
	width:8.3vw;
	max-width: 100px;
	height:8.3vw;
	max-height:  100px;
	/*background: #477740;
	border-radius: 50%;*/
	background-image: url("../img/specialfeature/title-decoration2.svg");
	background-repeat: no-repeat;
	background-size: cover;

	color:#fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center
}

.feature-list-wrap:first-child .feature-ttl-txt{
	background-image: url("../img/specialfeature/title-decoration1.svg");
	
}
.feature-ttl-txt .txt-ja{font-size:1.08vw;font-weight: 500}
.feature-ttl-txt .txt-en{font-size:0.7vw;font-weight: 500;letter-spacing: 0.1em}
.feature-ttl-txt .txt-no{font-size:3.08vw;line-height: 1}

@media screen and (min-width:1200px) {
.feature-ttl-txt .txt-ja{font-size:1.3rem;font-weight: 500}
.feature-ttl-txt .txt-en{font-size:0.9rem;font-weight: 500;letter-spacing: 0.1em}
.feature-ttl-txt .txt-no{font-size:3.7rem;line-height: 1}
}
@media screen and (max-width: 768px) {
	.feature-ttl-txt{
	width:20vw;
	max-width: inherit;
	height:20vw;
	max-height:  inherit;
}
.feature-ttl-txt .txt-ja{font-size:3.2vw;font-weight: 500}
.feature-ttl-txt .txt-en{font-size:2.0vw;font-weight: 500;letter-spacing: 0.1em}
.feature-ttl-txt .txt-no{font-size:8vw;line-height: 1}

}
/*------------------------------------------------------------------------------------------------
    index
--------------------------------------------------------------------------------------------------*/

.feature-list-wrap{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap
}

.feature-list-wrap:not(:last-child){
	margin-bottom:  7.5vw
}

.feature-list-wrap >div{
	width:46%
}

.feature-list-wrap .img-box{
	position: relative
}

.feature-list-wrap .l-box .feature-ttl-txt{
	position: absolute;
	top:5%;
	right:-10%
}
.feature-list-wrap .r-box .feature-ttl-txt{
	position: absolute;
	top:5%;
	left:-10%
}

.feature-list-wrap .txt-box{
	padding-top: 5%
}
.feature-list-wrap .txt-box .ttl-txt{
	font-size:2.8rem;
	font-weight: 600;
	padding-bottom: 5%
}
.feature-list-wrap .txt-box .normal-txt{
	line-height: 2.5;
	padding-bottom: 5%
}

.feature-list-wrap .btn_01{
	margin-top: 3em;
}
.feature-list-wrap .btn_01 a{
	background: #00AFEC
}

@media screen and (min-width:1200px) {

	.feature-wrap:not(:last-child){
		margin-bottom:  90px
	}


}

@media screen and (max-width: 768px) {
	.feature-list-wrap{
		flex-direction: column
	}

.feature-list-wrap:not(:last-child){
	margin-bottom:  16vw
}

	.feature-list-wrap >div{
		width:100%
	}

	.feature-list-wrap .img-box{
		order: 1
	}
	.feature-list-wrap .img-box img{
		width:75%;
		margin: 0 auto
	}

	.feature-list-wrap .l-box .feature-ttl-txt{
		position: absolute;
		top:auto;
		bottom:0.5vw;
		right:8vw;

	}
	.feature-list-wrap .r-box .feature-ttl-txt{
		position: absolute;
		top:auto;
		bottom:0.5vw;
		left:8vw;

	}

	.feature-list-wrap .txt-box{
		order: 2;
		padding-top: 8vw
	}
	
	.feature-list-wrap .txt-box .ttl-txt{
		font-size:6vw;
		font-weight: 600;
		padding-bottom: 5vw
	}
	.feature-list-wrap .txt-box .normal-txt{
		line-height: 2;
		padding-bottom: 5vw;
		font-size:3.6vw
	}
.feature-list-wrap .btn_01{
	order: 3;
	width:80vw
}

}
/*------------------------------------------------------------------------------------------------
    上付き下付き

--------------------------------------------------------------------------------------------------*/

.super_txt{	
	vertical-align: super;
	font-size:0.6em
}
.baseline_txt{	
	vertical-align: baseline;
	font-size:0.6em
}

[data-ruby] {
    position: relative;
}
[data-ruby]::before {
    content: attr(data-ruby);
    position: absolute;
    top: -1.6em;
	left: calc(50% - 3em);
	margin: auto;
	width:6em;
	text-align: center;
	white-space: nowrap;
	-webkit-transform:scale(0.5);
	transform:scale(0.5);
}

/*------------------------------------------------------------------------------------------------
    下層 共通
--------------------------------------------------------------------------------------------------*/

.h2-wrap{
	display: flex;
	align-items: center;
	justify-content: flex-start
}
.h2-wrap h2{
	font-size:3.3vw;
	font-weight: 700;
	padding-left:2%;
	white-space: nowrap;
	line-height: 1.2
}
.h2-wrap h2 span{
	font-size:2.0vw;
}

.h2-wrap .feature-ttl-txt{
	width:8.3vw;
	max-width: 100px;
	height:8.3vw;
	max-height:  100px;
	/*background: #477740;
	border-radius: 50%;*/
	background-image: url("../img/specialfeature/title-decoration1.svg");
	background-repeat: no-repeat;
	background-size: cover;
	color:#fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center
}
.h2-wrap .feature-ttl-txt .txt-ja{font-size:1.08vw;font-weight: 500}
.h2-wrap .feature-ttl-txt .txt-en{font-size:0.7vw;font-weight: 500;letter-spacing: 0.1em}
.h2-wrap .feature-ttl-txt .txt-no{font-size:3.08vw;line-height: 1}


h3{
	font-weight: 600;
	font-size:2.8rem;
	line-height: 1.6;
}

.main-wrap .sec-inn-s .article-wrap .article-item h3{
	padding:0.5em 0 0.5em 22%;
	margin-bottom: 1.0em;
	position: relative;
}
.main-wrap .sec-inn-s .article-wrap .article-item h3::before{
	position: absolute;
	content:'';
	width:20%;
	height:100%;
	top:0;
	left:0;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url("../img/specialfeature/title-icon.svg")
}

.main-wrap .sec-inn-s .article-wrap .article-item h4{
	font-weight: 600;
	font-size:1.8rem;
	line-height: 1.6;
	margin-bottom: 1em;
	padding-left: 7%;
	color:#666464;
	position: relative
}
.main-wrap .sec-inn-s .article-wrap .article-item h4::before{
	position: absolute;
	content:'';
	width:6%;
	height:100%;
	top:0;
	left:0;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url("../img/specialfeature/midashi-icon.svg")
}


 
@media screen and (min-width:1200px) {
.h2-wrap h2{font-size:4.0rem;}
.h2-wrap h2 span{font-size:3.0rem;}
	
.h2-wrap .feature-ttl-txt .txt-ja{font-size:1.3rem;font-weight: 500}
.h2-wrap .feature-ttl-txt .txt-en{font-size:0.9rem;font-weight: 500;letter-spacing: 0.1em}
.h2-wrap .feature-ttl-txt .txt-no{font-size:3.7rem;line-height: 1}
}
@media screen and (max-width: 768px) {
	.h2-wrap{
		display:inline-flex;
		/*flex-direction: column;*/
		align-items: center;
		justify-content: center;
		padding-left: 3vw;
		padding-bottom: 5vw
	}
	.h2-wrap h2{
		font-size:4.8vw;
		padding-left:1vw;
		text-shadow: 1px 1px 3px #fff,-1px -1px 3px #fff,1px 1px 3px #fff,-1px -1px 3px #fff,1px 1px 3px #fff,-1px -1px 3px #fff;

	}
	.h2-wrap h2 span{
		padding-left:1vw;
		font-size:3.8vw;
	}

	.h2-wrap .feature-ttl-txt{
		width:14vw;
		max-width: inherit;
		height:14vw;
		max-height:  inherit;
	}
	.h2-wrap .feature-ttl-txt .txt-ja{font-size:2.6vw;font-weight: 500}
	.h2-wrap .feature-ttl-txt .txt-en{font-size:1.8vw;font-weight: 500;letter-spacing: 0em}
	.h2-wrap .feature-ttl-txt .txt-no{font-size:4.6vw;line-height: 1}
	
	h3{
		font-size:4.2vw
	}
	.main-wrap .sec-inn-s .article-wrap .article-item h3{
		line-height: 1.2;
	} 

	.main-wrap .sec-inn-s .article-wrap .article-item h4{
		font-size:3.4vw;
	}
}





