@charset "UTF-8";

/* ------------------------------------------------
                    COMPANY
--------------------------------------------------- */


/*---------- COMPANY ----------*/
.sec-company-link {
	padding: 20px 0 70px;
}
.sec-company-link .company-link-txt {
	text-align: center;
}
.sec-company-link ul.company-link-list {
	width: 100%;
	margin: 50px auto 0;
	display: flex;
	justify-content: space-between;
}
.sec-company-link ul.company-link-list li {
	width: 31%;
}
.sec-company-link ul.company-link-list li a.link-box {
	width: 100%;
	padding: 10px;
	display: flex;
	color: #fff;
}
.sec-company-link ul.company-link-list li a.link-box.overview-box {
	background: url("../../img/company/bg_btn_overview.png") center center no-repeat;
	background-size: cover;
}
.sec-company-link ul.company-link-list li a.link-box.policy-box {
	background: url("../../img/company/bg_btn_policy.png") center center no-repeat;
	background-size: cover;
}
.sec-company-link ul.company-link-list li a.link-box.history-box {
	background: url("../../img/company/bg_btn_history.png") center center no-repeat;
	background-size: cover;
}
.sec-company-link ul.company-link-list li a.link-box .box-inn {
	width: 100%;
	padding: 90px 20px;
	border: 1px solid #fff;
	text-align: center;
	color: #fff;
	position: relative;
}
.sec-company-link ul.company-link-list li a.link-box .box-inn::after {
	content: '';
	width: 40px;
	height: 8px;
	background: url("../../img/common/icon_arrow.svg") center center no-repeat;
	background-size: 100%;
	position: absolute;
	bottom: 55px;
	right: calc(50% - 20px);
	z-index: 3;
	transition: 0.3s ease-in-out;
}
@media (min-width: 769px) {
	.sec-company-link ul.company-link-list li a.link-box:hover .box-inn::after {
		right: calc(50% - 30px);
	}
}

.sec-company-link ul.company-link-list li p .txt-en {
	margin-bottom: 25px;
	font-family: 'Poppins', sans-serif;
	display: block;
	font-weight: 500;
	font-size: 45px;
	line-height: 1;
}
.sec-company-link ul.company-link-list li p .txt-ja {
	display: block;
	font-weight: bold;
	font-size: 18px;
	line-height: 1;
}


@media (max-width: 768px) {
	.sec-company-link {
		padding: 4vw 0 12vw;
	}
	.sec-company-link .company-link-txt {
		text-align: center;
	}
	.sec-company-link ul.company-link-list {
		width: 100%;
		margin: 10vw auto 0;
		display: block;
	}
	.sec-company-link ul.company-link-list li {
		width: 100%;
		margin-bottom: 5vw;
	}
	.sec-company-link ul.company-link-list li:last-child { margin-bottom: 0;}
	.sec-company-link ul.company-link-list li a.link-box {
		width: 100%;
		padding: 2vw;
		display: flex;
		color: #fff;
	}
	.sec-company-link ul.company-link-list li a.link-box .box-inn {
		width: 100%;
		padding: 8vw 5vw 10vw;
		border: 1px solid #fff;
		text-align: center;
		color: #fff;
		position: relative;
	}
	.sec-company-link ul.company-link-list li a.link-box .box-inn::after {
		content: '';
		width: 8vw;
		height: 2vw;
		background: url("../../img/common/icon_arrow.svg") center center no-repeat;
		background-size: 100%;
		position: absolute;
		bottom: 5vw;
		right: calc(50% - 4vw);
		z-index: 3;
		transition: 0.3s ease-in-out;
	}

	.sec-company-link ul.company-link-list li p .txt-en {
		margin-bottom: 4vw;
		font-size: 7.8vw;
	}
	.sec-company-link ul.company-link-list li p .txt-ja {
		font-size: 3.4vw;
	}
    
}


/*---------- リンク ----------*/
.sec-links {
	width: 100%;
	display: flex;
}
.sec-links a.link-box {
	width: 50%;
	padding: 50px;
	display: flex;
	color: #fff;
}
.sec-links a.link-box.product-box {
	background: url("../../img/company/bg_product.png") center center no-repeat;
	background-size: cover;
}
.sec-links a.link-box.recruit-box {
	background: url("../../img/company/bg_recruit.png") center center no-repeat;
	background-size: cover;
}
.sec-links a.link-box .box-inn {
	width: 100%;
	padding: 90px 20px 110px;
	border: 1px solid #fff;
	text-align: center;
	color: #fff;
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(8px);
	position: relative;
}
.sec-links a.link-box .box-inn::after {
	content: '';
	width: 60px;
	height: 10px;
	background: url("../../img/common/icon_arrow.svg") center center no-repeat;
	background-size: 100%;
	position: absolute;
	bottom: 60px;
	right: calc(50% - 30px);
	z-index: 3;
	transition: 0.3s ease-in-out;
}
@media (min-width: 769px) {
	.sec-links a.link-box:hover .box-inn::after {
		right: calc(50% - 40px);
	}
}


.sec-links a.link-box.product-box .box-inn {
	background: rgba(0,32,96, 0.3);
}
.sec-links a.link-box.recruit-box .box-inn {
	background: rgba(92,170,199, 0.3);
}

.sec-links p .txt-en {
	margin-bottom: 30px;
	font-family: 'Poppins', sans-serif;
	display: block;
	font-weight: 500;
	font-size: 55px;
	line-height: 1;
}
.sec-links p .txt-ja {
	display: block;
	font-weight: bold;
	font-size: 18px;
	line-height: 1;
}

@media (max-width: 768px) {
	.sec-links {
		width: 100%;
		display: block;
	}
	.sec-links a.link-box {
		width: 100%;
		padding: 8vw;
		display: flex;
		color: #fff;
	}
	.sec-links a.link-box .box-inn {
		width: 100%;
		padding: 8vw 5vw 16vw;
		border: 1px solid #fff;
		text-align: center;
		color: #fff;
		-webkit-backdrop-filter: blur(12px);
		backdrop-filter: blur(8px);
		position: relative;
	}
	.sec-links a.link-box .box-inn::after {
		content: '';
		width: 12vw;
		height: 2vw;
		background: url("../../img/common/icon_arrow.svg") center center no-repeat;
		background-size: 100%;
		position: absolute;
		bottom: 8vw;
		right: calc(50% - 6vw);
		z-index: 3;
		transition: 0.3s ease-in-out;
	}

	.sec-links p .txt-en {
		margin-bottom: 4vw;
		font-size: 8.2vw;
	}
	.sec-links p .txt-ja {
		font-size: 3.6vw;
	}
    
}
