@charset "UTF-8";

/* ------------------------------------------------
                     沿革
--------------------------------------------------- */
.sec-history {
	padding: 20px 0 75px;
}
.sec-history .history-wrap {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 30px 60px;
	display: flex;
	justify-content: space-between;
	background: #F0F2F5;
}
.sec-history .history-wrap .box-left {
	width: calc(100% - 250px);
	position: relative;
	z-index: 1;
}
.sec-history .history-wrap dl {
	width: 100%;
	padding-bottom: 40px;
	display: flex;
	align-items: flex-start;
	position: relative;
}
.sec-history .history-wrap dl.last { padding-bottom: 0;}
.sec-history .history-wrap dl::after {
	content: '';
	width: 1px;
	height: 100%;
	background: #6FA8C4;
	position: absolute;
	top: 5px;
	left: 129px;
}
.sec-history .history-wrap dl.last::after {
	content: none;
}
.sec-history .history-wrap dl dt {
	width: 130px;
	font-weight: bold;
	position: relative;
}
.sec-history .history-wrap dl dt::after {
	content: '';
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #6FA8C4;
	position: absolute;
	top: 5px;
	right: -6px;
}
.sec-history .history-wrap dl dd {
	width: calc(100% - 130px);
	padding-left: 45px;
}

.sec-history .history-wrap .history-current-txt {
	width: 100%;
	margin-top: 35px;
	padding-left: 175px;
}

.sec-history .history-wrap .box-right {
	width: 290px;
}


@media (max-width: 768px) {
	.sec-history {
		padding: 4vw 0 12vw;
	}
	
	.sec-history .history-wrap {
		width: 100%;
		padding: 4vw 5vw;
		display: block;
	}
	.sec-history .history-wrap .box-left {
		width: 100%;
		position: relative;
		z-index: 1;
	}
	.sec-history .history-wrap dl {
		width: 100%;
		padding-bottom: 8vw;
		display: flex;
		align-items: flex-start;
		position: relative;
	}
	.sec-history .history-wrap dl.last { padding-bottom: 0;}
	.sec-history .history-wrap dl::after {
		content: '';
		width: 1px;
		height: 100%;
		background: #6FA8C4;
		position: absolute;
		top: 5px;
		left: calc(24vw - 1px);
	}
	.sec-history .history-wrap dl.last::after {
		content: none;
	}
	.sec-history .history-wrap dl dt {
		width: 24vw;
		font-weight: bold;
		position: relative;
	}
	.sec-history .history-wrap dl dt::after {
		content: '';
		width: 3vw;
		height: 3vw;
		border-radius: 50%;
		background: #6FA8C4;
		position: absolute;
		top: 1vw;
		right: -1.5vw;
	}
	.sec-history .history-wrap dl dd {
		width: calc(100% - 24vw);
		padding-left: 5vw;
	}

	.sec-history .history-wrap .history-current-txt {
		width: 100%;
		margin-top: 8vw;
		padding-left: 0;
		text-align: center;
	}

	.sec-history .history-wrap .box-right {
		width: 100%;
		margin-top: 8vw;
	}
    
}