@charset "UTF-8";

/* ------------------------------------------------
                   会社方針
--------------------------------------------------- */


/*---------- 会社方針 ----------*/
.sec-policy {
	padding: 20px 0 70px;
}
.sec-policy .policy-txt-wrap {
	width: 90%;
	margin: -50px auto 60px;
	padding: 40px;
	background: #002060;
	color: #fff;
	text-align: center;
}
.sec-policy .policy-ttl {
	margin-bottom: 35px;
	font-size: 30px;
	font-weight: bold;
}
.sec-policy .policy-txt {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.8;
}

@media (max-width: 768px) {
	.sec-policy {
		padding: 4vw 0 12vw;
	}
	.sec-policy .policy-txt-wrap {
		width: 90%;
		margin: -8vw auto 8vw;
		padding: 5vw;
		background: #002060;
		color: #fff;
		text-align: center;
	}
	.sec-policy .policy-ttl {
		margin-bottom: 6vw;
		font-size: 5.2vw;
	}
	.sec-policy .policy-txt {
		font-size: 3.6vw;
	}
    
}
