@use "../config" as *;

/*------------- .l-pagetop -------------*/
.l-pagetop {
	width: rem(80);
	display: block;
	position: fixed;
	bottom: rem(80);
	right: rem(20);
	z-index: 99;
	
	&.is-fix {
		position: absolute;
		bottom: rem(180);
	}
}

@media screen and (max-width: #{$breakpoint}px){
	.l-pagetop {
		width: vw(80);
		display: block;
		position: fixed;
		bottom: vw(120);
		right: vw(40);
	
		&.is-fix {
			position: absolute;
			bottom: vw(580);
		}
	}
	
}
/*------------- .l-footer -------------*/
.l-footer {
	width: 100%;
	margin-top: -1px;
	padding: rem(63) 0 rem(10);
	background: rgba(0,0,0,0.8);
	
	.m-sec-inn {
		@include flex(between,start,wrap,center);
	}
}

.l-footer-info {
	@include flex(start,start,wrap,center);
	margin-bottom: rem(24);
}

.l-footer-logo {
	width: 128px;
	margin-right: rem(20);
	display: block;
	opacity: 0.5;
	transition: .3s;
	
	&:hover {
		opacity: 1;
	}
}

.l-footer-address {
	color: #fff;
	@include fz(12,18,0,400);
}

.l-footer-sns {
	margin-top: rem(14);
	@include flex(start,center,nowrap,center);
	
	li:nth-child(1) {
		width: 31px;
		margin-right: rem(10);
	}
	li:nth-child(2) {
		width: 27px;
	}
}

.l-footer-link-wrap {
	@include flex(end,start,wrap,center);
}

.l-footer-nav {
	margin: 0 0 0 rem(40);
	
	&:first-child {
		margin-left: 0;
	}
	
	li {
		margin-bottom: rem(15);
		
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.l-footer-link {
	@include fz(13,20,250,400);
	color: #CEC3C3;
	transition: .3s;
	
	&:hover {
		color: #fff;
	}
}

.l-copyright {
	width: 100%;
	padding: 14px 0 12px;
	display: block;
	text-align: center;
	color: #fff;
	background: #000000;
	@include fz(11,20,50,400);
	position: fixed;
	bottom: 0;
	left: 0;
}

/* 英語版 */
.is-en {

	.l-footer-link {
		letter-spacing: 0;
	}
	
	.l-copyright {
		letter-spacing: 0;
	}
	
}

@media screen and (max-width: #{$breakpoint}px){
	.l-footer {
		width: 100%;
		padding: vw(88) 0 vw(60);

		.m-sec-inn {
			width: 80%;
			@include flex(between,start,wrap,center);
		}
	}

	.l-footer-info {
		@include flex(start,start,wrap,center);
		margin-bottom: 0;
		position: relative;
	}

	.l-footer-logo {
		width: 28vw;
		margin-right: 0;
		margin-bottom: vw(34);
		display: block;
		opacity: 1;
		transition: .3s;
	}

	.l-footer-address {
		@include spfz(20);
	}

	.l-footer-sns {
		margin-top: 0;
		@include flex(end,center,nowrap,center);
		position: absolute;
		top: 1vw;
		right: 0;

		li:nth-child(1) {
			width: vw(62);
			margin-right: vw(20);
		}
		li:nth-child(2) {
			width: vw(54);
			margin-right: vw(60);
		}
	}

	.l-footer-link-wrap {
		width: 100%;
		margin-top: vw(56);
		@include flex(between,start,wrap,center);
	}

	.l-footer-nav {
		width: max-content;
		margin: 0;

		li {
			margin-bottom: vw(28);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.l-footer-link {
		@include spfz(22);
		letter-spacing: 0;
	}

	.l-copyright {
		width: 100%;
		padding: vw(30) 0 vw(24);
		@include spfz(20);
		position: fixed;
		bottom: 0;
		left: 0;
	}

	/* 英語版 */
	.is-en {

		.l-footer-nav {
			margin: 0;
		}

	}
	
}