@charset "UTF-8";

/* ------------------------------------------------
                     RECRUIT
--------------------------------------------------- */

.sec-recruit {
	padding: 20px 0 90px;
}
.sec-recruit .sec-inn {
	max-width: 1100px;
	padding: 50px 50px 65px;
	background: #fff;
}

.sec-recruit .recruit-txt {
	margin-bottom: 40px;
	text-align: center;
	color: #002060;
	font-weight: bold;
	font-size: 30px;
}
.sec-recruit .recruit-sub-txt {
	margin-bottom: 45px;
	text-align: center;
}

.sec-recruit .recruit-outline-wrap {
	width: 100%;
	max-width: 900px;
	margin: 0 auto 50px;
	border-top: 1px solid #D8DADF;
}
.sec-recruit .recruit-outline-wrap dl {
	width: 100%;
	margin: 0 auto;
	padding: 15px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	border-bottom: 1px solid #D8DADF;
}
.sec-recruit .recruit-outline-wrap dl dt {
	width: 100px;
	padding: 8px 10px;
	background: #5CAAC7;
	color: #fff;
	text-align: center;
	font-weight: bold;
	line-height: 1;
}
.sec-recruit .recruit-outline-wrap dl dd {
	width: calc(100% - 140px);
	padding: 4px 0;
}

@media (max-width: 768px) {
	.sec-recruit {
		padding: 0 0 12vw;
	}
	.sec-recruit .sec-inn {
		max-width: 1100px;
		padding: 8vw 5vw;
	}

	.sec-recruit .recruit-txt {
		margin-bottom: 6vw;
		font-size: 5.2vw;
	}
	.sec-recruit .recruit-sub-txt {
		margin-bottom: 8vw;
	}

	.sec-recruit .recruit-outline-wrap {
		width: 100%;
		max-width: 900px;
		margin: 0 auto 8vw;
	}
	.sec-recruit .recruit-outline-wrap dl {
		width: 100%;
		margin: 0 auto;
		padding: 0 0 3vw;
		display: block;
	}
	.sec-recruit .recruit-outline-wrap dl dt {
		width: 100%;
		padding: 2vw 2vw;
	}
	.sec-recruit .recruit-outline-wrap dl dd {
		width: 100%;
		padding: 2vw 3vw;
	}
    
}
