@charset "UTF-8";
/* CSS Document */
/*------------------------------------------------------------------------------------------------
    base Style
--------------------------------------------------------------------------------------------------*/
.col1{color:#00AFEC}
.col2{color:#174E9D}

.bg1{background:#00AFEC}
.bg2{background:#174E9D}

/* 大枠
 --------------------------------*/

#top .wrap {
    width: 100%;
	padding-top: 0;
	overflow: hidden
}


/*下層用*/
.wrap {
    width: 100%;
	padding-top: 80px;
	overflow: hidden
}

.sec-inn-l{
    width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.sec-inn-m{
    width: 80%;
	max-width: 960px;
	margin: 0 auto;
}

.sec-inn-s{
    width: 66.66%;
	max-width: 800px;
	margin: 0 auto;
}


@media screen and (max-width: 1023px) {
	.sec-inn-s{
		width: 92%;
		max-width: inherit;
	}
}

@media screen and (max-width: 768px) {
.wrap {
	padding-top: 16vw;
   overflow: hidden;
}
.sec-inn-l{
    width: 100%;
	max-width: inherit;
	margin: 0 auto;
}	
.sec-inn-m{
    width: 96%;
	max-width: inherit;
	margin: 0 auto;
	}
.sec-inn-s{
		width: 92%;
		max-width: inherit;
		margin: 0 auto;
}

	
}

/* テキスト
 --------------------------------*/
.indent{
	padding-left:1em;
	text-indent:-1em;
}

/*------------------------------------------------------------------------------------------------
   btn
--------------------------------------------------------------------------------------------------*/
.btn_01{
	width:366px;
	height:58px;
	margin: 0 auto;
}

.btn_01 a {
	width:100%;
	height:100%;
	background: #174E9D;
	padding-right:1em;
	color:#fff;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	font-size: 2.0rem;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	position: relative;
}
.btn_01 a::before{
	position: absolute;
	content: '';
	width: 15px;
	height:1px;
	top: 5px;
	bottom:0;
	right: 30px;
	margin: auto;
	background: #fff;
}
.btn_01 a::after{
	position: absolute;
	content: '';
	width: 5px;
	height: 1px;
	top: 50%;
	right: 30px;
	background: #fff;
	transform: rotate(45deg)
}

@media screen and (max-width: 768px) {
	.btn_01{
		width:80%;
		height:12vw;
		margin: 0 auto;
	}

.btn_01 a {
	border-top-right-radius: 5vw;
	border-bottom-left-radius: 5vw;
	font-size: 3.6vw;
}
.btn_01 a::before{
	position: absolute;
	content: '';
	width:4vw;
	height:1px;
	top: 1.5vw;
	bottom:0;
	right: 5vw;
	margin: auto;
	background: #fff;
}
.btn_01 a::after{
	position: absolute;
	content: '';
	width: 1.5vw;
	height: 1px;
	top: 50%;
	right: 5vw;
	background: #fff;
	transform: rotate(45deg)
}

}
