@charset "UTF-8";

/* ------------------------------------------------
             DESCRIPTION BASED ON LAW
--------------------------------------------------- */

.sec-tokusho {
	padding: 20px 0 80px;
}
.sec-tokusho .sec-inn {
	max-width: 1100px;
	padding: 50px 50px 65px;
	background: #fff;
}
.sec-tokusho .tokusho-outline-wrap {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	border-top: 1px solid #D8DADF;
}
.sec-tokusho .tokusho-outline-wrap dl {
	width: 100%;
	margin: 0 auto;
	padding: 20px 0;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	border-bottom: 1px solid #D8DADF;
}
.sec-tokusho .tokusho-outline-wrap dl dt {
	width: 145px;
	padding: 0 10px;
	font-weight: bold;
}
.sec-tokusho .tokusho-outline-wrap dl dd {
	width: calc(100% - 145px);
	padding: 0 10px;
}

@media (max-width: 768px) {
	.sec-tokusho {
		padding: 0 0 12vw;
	}
	.sec-tokusho .sec-inn {
		max-width: 1100px;
		padding: 8vw 5vw;
	}

	.sec-tokusho .tokusho-outline-wrap {
		width: 100%;
		max-width: 900px;
		margin: 0 auto;
	}
	.sec-tokusho .tokusho-outline-wrap dl {
		width: 100%;
		margin: 0 auto;
		padding: 4vw 0;
		display: block;
	}
	.sec-tokusho .tokusho-outline-wrap dl dt {
		width: 100%;
		padding: 0 2vw;
	}
	.sec-tokusho .tokusho-outline-wrap dl dd {
		width: 100%;
		padding: 2vw 2vw 0;
	}
    
}
