@charset "UTF-8";

/* ------------------------------------------------
                    
--------------------------------------------------- */

/* 見出しまわり */
.logo-track {
	width: 80%;
	max-width: 560px;
	margin: 60px auto 20px;
	text-align: center;
}
.txt-main {
	font-size: 34px;
	text-align: center;
}
.txt-sub {
	font-size: 12px;
	text-align: center;
}
ul.top-type-select {
	width: 100%;
	margin: 30px auto 60px;
	display: flex;
	justify-content: space-between;
}
ul.top-type-select li {
	width: 31%;
}
ul.top-type-select li a {
	width: 100%;
	display: block;
	transition: 0.3s ease-in-out;
}
ul.top-type-select li a p {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	display: block;
	border: 1px solid #666;
	border-radius: 8px;
	color: #000;
	text-align: center;
}
ul.top-type-select li a p span {
	font-size: 24px;
}


footer {
	display: block;
}
footer .copyright {
	margin-top: 100px;
	text-align: center;
	font-size: 10px;
	color: #959ea4;
}

@media (min-width: 769px) {

	ul.top-type-select li a:hover {
		opacity: 0.6;
	}
}


@media (max-width: 768px) {
	/* 見出しまわり */
	.logo-track {
		margin-bottom: 5vw;
	}
	.txt-main {
		font-size: 6vw;
	}
	.txt-sub {
		font-size: 3.8vw;
	}
	ul.top-type-select {
		width: 100%;
		margin: 0 auto 10vw;
		display: block;
	}
	ul.top-type-select li {
		width: 100%;
		margin: 16vw auto 0;
	}
	ul.top-type-select li:first-child {
		margin: 4vw auto 0;
	}
	ul.top-type-select li a p {
		width: 100%;
		padding: 2vw;
		margin-top: 2vw;
		display: block;
		border: 1px solid #666;
		border-radius: 5px;
		color: #000;
		text-align: center;
	}
	ul.top-type-select li a p span {
		font-size: 4vw;
	}
	footer .copyright {
		display: block;
		margin-top: 16vw;
		text-align: center;
		font-size: 2.6vw;
		color: #959ea4;
	}
}
